<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="ColloSysParams" type="ColloSys.Shared.ConfigSectionReader.ColloSysParamsSection, ColloSys.Shared" />
    <sectionGroup name="mailSettings">
      <section name="smtp_release" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_testing" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_debug" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!--<connectionStrings>
    <add name="harishr" connectionString="Data Source=AST003\EXPRESS;Initial Catalog=testcollosys;Persist Security Info=True;User ID=ColloSys;Password=C0ll0Sys" />
    <add name="mayurd" connectionString="Data Source=AST007-PC\SQLEXPRESS;Initial Catalog=ColloSys_NewDB;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="mahendrap" connectionString="Data Source=AST011-PC\SQLEXPRESS;Initial Catalog=CollosysDBVnew4;Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
    <add name="amols" connectionString="Data Source=AST001-PC\SQLEXPRESS;Initial Catalog=ColloSysDb;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="surajp" connectionString="Data Source=AST008\SQLEXPRESS;Initial Catalog=testcollosys;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="AST010" connectionString="Data Source=AST010-PC\EXPRESS;Initial Catalog=ColloSys;User ID=sa;Password=da" />
    <add name="Administrator" connectionString="Data Source=AST002\SQLEXPRESS;Initial Catalog=Collosys_NewDevDB;Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
  <add name="collosys" connectionString="Data Source=INWPDSSQL07\EUC_SQL01;Initial Catalog=ColloSys;Persist Security Info=True;User ID=appinstall;Password=Appins@123" />
  </connectionStrings>-->
  <!--<ColloSysParams>
    <release>
      <add name="LogPath" value="E:\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="AllocationDate" value="2013/11/11" />
      <add name="ConnectionStringName" value="collosys" />
      <add name="Smtp" value="smtp_release" />
    </release>
    <testing>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="UseInmemory" value="true" />
      <add name="AllocationDate" value="2013/03/11" />
      <add name="Smtp" value="smtp_testing" />
    </testing>
    <debug>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="UseInmemory" value="false" />
      <add name="AllocationDate" value="2013/03/11" />
      <add name="ConnectionStringName" value="mahendrap" />
      <add name="Smtp" value="smtp_debug" />
    </debug>
  </ColloSysParams>-->
  
  <!--<mailSettings>
    <smtp_release deliveryMethod="Network" from="collosys@sc.com">
      <network host="10.134.27.90"/>
    </smtp_release>
    <smtp_testing deliveryMethod="Network" from="collosys@sc.com">
      <network host="192.168.0.100"/>
    </smtp_testing>
    <smtp_debug deliveryMethod="Network" from="collosys@sc.com">
      <network host="192.168.0.100"/>
    </smtp_debug>
  </mailSettings>-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
