<cs-form layout="5.4.8">
    <form name="formulaMain" novalidate="">
        <div class="row">
                <cs-field data-ng-model="selParams.selectedProduct"
                          field="Formula.Products"
                          data-ng-change="initFormulaList(selParams.selectedProduct)"></cs-field>

            <div class="col-md-2 text-left" style="margin-left: 0;" data-ng-show="selParams.selectedProduct">
                <button class="btn alert-info btn-default" data-ng-click="addformula(selParams.selectedProduct)">
                    Add Formula
                </button>
            </div>
        </div>
        <div>
            <div class="col-md-3" data-ng-show="selParams.selectedProduct">
                <!-- <div class="box-sub">
                         <div class="box-heading">Formula List</div>
                         <div class="box-body">
                             <div class="sub-name" data-ng-repeat="sformula in formulaList | orderBy : 'Name'">
                                 <a class="btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
                             </div>
                         </div>
                     </div>-->
                <cs-list list-heading="Formula List" value-list="formulaList" text-field="Name"
                       data-ng-model="sformula" data-ng-click="selectFormula(sformula)"></cs-list>
          
            </div>
            


            <div class="col-md-9 form-horizontal" data-ng-show="selParams.selectedProduct">
                <div data-ng-include="baseUrl + 'Billing/formula2/formula-details.html'">load formula details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/condition.html'">load condition details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/output.html'">load condition details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/multi-if-else.html'">load condition details</div>
            </div>
            <div class="text-right" data-ng-show="showDiv">
                <input type="button"
                       class="btn btn-default"
                       value="Save"
                       data-ng-disabled="formulaMain.$invalid"
                       data-ng-click="saveFormula(formula,groupTokens)" />
            </div>

        </div>
    </form>
</cs-form>

<!--<div class="row">
    <div class="row form-horizontal" id="row1">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-medium"
                        data-ng-model="dldata.formula.Products"
                        data-ng-change="changeProductCategory(dldata.formula.Products);datalayer.changeProductCategory()" required>
                        <option></option>
                        <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
                    </select>

                    <button class="btn alert-info"
                        data-ng-show="dldata.formula.Products"
                        data-ng-click="addformula(dldata.formula.Products);setFormulaList('Formula')">
                        Add Formula
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="col-md-3" data-ng-show="dldata.formula.Products">
            <div class="box-sub">
                <div class="box-heading">Formula List</div>
                <div class="box-body">
                    <div class="sub-name" data-ng-repeat="sformula in dldata.formulaList | orderBy : 'Name'">
                        <a class="btn-link" data-ng-click="selectFormula(sformula);setFormulaList('Formula')">{{sformula.Name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" data-ng-show="showDiv">
            <div class="row">
                <div class="row" data-ng-form="formulaForm">
                    <div class="row" data-ng-include="baseUrl + 'Billing/formula/formula-details.html'">load formula details</div>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered">
                    <tr data-ng-hide="dldata.formula.OutputType==='Number'">
                        <td>Condition</td>
                        <td>
                            <div class="row" data-ng-include="baseUrl + 'Billing/formula/formula-condition.html'">load condition</div>
                        </td>
                    </tr>

                    <tr data-ng-hide="dldata.formula.OutputType==='Boolean'">
                        <td data-ng-hide="dldata.formula.OutputType==='IfElse'">Output</td>
                        <td data-ng-show="dldata.formula.OutputType==='IfElse'">IfOutput</td>
                        <td>
                            <div class="row" data-ng-include="baseUrl + 'Billing/formula/formula-output.html'">load output/ifoutput</div>
                        </td>
                    </tr>

                    <tr data-ng-show="dldata.formula.OutputType==='IfElse'">
                        <td>ElseOutput</td>
                        <td>
                            <div class="row" data-ng-include="baseUrl + 'Billing/formula/formula-output2.html'">load elseoutput</div>
                        </td>
                    </tr>

                    <tr data-ng-show="dldata.outputWithFunction">
                        <td>Group By</td>
                        <td>
                            <div class="row" data-ng-include="baseUrl + 'Billing/formula/formula-group-by.html'">load group by</div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-default" data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" data-ng-click="datalayer.saveFormula(dldata.formula)">Save</button>
                            <button class="btn btn-default" data-ng-click="datalayer.resetFormula(dldata.formula.Products)">Reset</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!--data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" -->
