<cs-form layout="5.4.8">
    <div data-ng-form="formulaMain">
        <div class="row">
            <cs-field data-ng-model="selParams.selectedProduct"
                      field="Formula.Products"
                      data-ng-change="initFormulaList(selParams.selectedProduct)"></cs-field>

            <div class="col-md-2 text-left" style="margin-left: 0;" data-ng-show="selParams.selectedProduct">
                <cs-button2 type="add" text="Add Formula" permission="BillingFormulaAddEdit" on-click="addformula(selParams.selectedProduct,formulaMain)"></cs-button2>
            </div>
        </div>
        <div>
            <div class="col-md-3" data-ng-show="selParams.selectedProduct">
                <!--<div class="box-sub">
                        <div class="box-heading">Formula List</div>
                        <div class="box-body">
                            <div class="sub-name" data-ng-repeat="sformula in formulaList | orderBy : 'Name'">
                                <a class="btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
                            </div>
                        </div>
                    </div>-->
                <cs-list2 list-heading="Formula List" value-list="formulaList" text-field="Name"
                          data-ng-model="sformula" data-ng-click="selectFormula(sformula)"></cs-list2>
          
            </div>

            <div class="col-md-9 form-horizontal" data-ng-show="selParams.selectedProduct">
                <div data-ng-include="baseUrl + 'Billing/formula2/formula-details.html'">load formula details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/condition.html'">load condition details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/output.html'">load condition details</div>
                <div data-ng-include="baseUrl + 'Billing/formula2/multi-if-else.html'">load condition details</div>
            </div>
            <div class="text-right" data-ng-show="showDiv">
                <cs-button2 type="save" permission="BillingFormulaAddEdit" data-ng-disabled="formulaMain.$invalid"
                           on-click="saveFormula(formula,groupTokens)"></cs-button2>
                <cs-button2 type="reset" permission="BillingFormulaAddEdit"
                           on-click="reset(selParams.selectedProduct,formulaMain)" />
            </div>

        </div>
    </div>
</cs-form>
