<div class="row" id="subpolicy-display" data-ng-show="showDiv">
    <div class="panel panel-info">
        <div class="panel-heading">
            Formula Details
        </div>
        <div class="panel-body">
            <cs-form layout="5.4.8">
             
                <cs-field data-ng-model="formula.Products" field="Formula.Products"
                          data-ng-disabled="true"></cs-field>

                <cs-field data-ng-model="formula.Name"
                          field="Formula.Name"
                          data-ng-disabled="formula.Id"></cs-field>
                   
                <cs-field data-ng-model="formula.OutputType" field="Formula.OutputType"></cs-field>
                   
                <cs-field data-ng-model="formula.Description" field="Formula.Description"></cs-field>
                   
            </cs-form>
        </div>
    </div>
</div>

