/*body {
    color: #232323;
    background-color: #fff;
}*/

header, footer, nav, section {
    display: block;
}

.loginPageLabge {
    color: white;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Styles for validation
    */

input:required, textarea:required, select:required {
    background: #fff url(images/validation/red_asterisk.png) no-repeat 98% center;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty select.ng-invalid.ng-dirty {
    background: #fff url(images/validation/invalid.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #d45252;
    -ms-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    background: #fff url(images/validation/valid.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #5cd053;
    -ms-box-shadow: 0 0 5px #5cd053;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/*div.select2-container {
    background: #fff url(images/validation/red_asterisk.png) no-repeat 88% center;
}

div.select2-container.ng-invalid.ng-dirty {
    background: #fff url(images/validation/invalid.png) no-repeat 88% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

div.select2-container.ng-valid.ng-dirty {
    background: #fff url(images/validation/valid.png) no-repeat 88% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}*/

label {
    display: inline-block;
    padding: 1px 3px;
    font-size: 12.844px;
    line-height: 14px;
    -webkit-text-shadow: 0 1px 0 #000000;
    -ms-text-shadow: 0 1px 0 #000000;
    text-shadow: 0 1px 0 #000000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

.back-image {
    background-image: url(images/stanc/Stan2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.select-working {
    width: 150px;
}

footer {
    background-image: url(images/stanc/footer.png);
    background-repeat: repeat-x;
    height: 20px;
    bottom: 0;
    position: fixed;
    margin-bottom: 0;
    text-align: right;
    color: black;
    font-size: 0.8em;
    width: 100%;
}

hr {
    margin: 7px 0;
}

.align-right {
    text-align: right;
}

.sitemap-bar {
    height: 23px;
    padding: 5px 0 5px 15px;
    margin: 5px 0 5px 0;
    text-align: left;
    -webkit-box-shadow: 0 1px 1px #000000;
    -ms-box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

.table th {
    font-weight: normal;
}

.round-corners {
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

/******************************/
.panel {
    /*background-color: #FFFFFF;*/
    background-color: transparent;
    border: 1px solid #DDDDDD;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 1px #000000;
    -ms-box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 15px;
}

.panel-heading {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    -ms-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -ms-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    margin: -15px -15px 15px;
    padding: 10px 15px;
}

.panel-title {
    font-size: 17.5px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-footer {
    background-color: #F5F5F5;
    -ms-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    margin: 15px -15px -15px;
    padding: 10px 15px;
}

.panel-primary {
    border-color: #428BCA;
}

    .panel-primary .panel-heading {
        background-color: #428BCA;
        border-color: #428BCA;
        color: #FFFFFF;
    }

.panel-success {
    border-color: #D6E9C6;
}

    .panel-success .panel-heading {
        background-color: #DFF0D8;
        border-color: #D6E9C6;
        color: #468847;
    }

.panel-warning {
    border-color: #FBEED5;
}

    .panel-warning .panel-heading {
        background-color: #FCF8E3;
        border-color: #FBEED5;
        color: #C09853;
    }

.panel-danger {
    border-color: #EED3D7;
}

    .panel-danger .panel-heading {
        background-color: #F2DEDE;
        border-color: #EED3D7;
        color: #B94A48;
    }

.panel-info {
    border-color: #BCE8F1;
}

    .panel-info .panel-heading {
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        color: #3A87AD;
    }
/******************************/

input[type="text"], input[type="number"], input[type="email"], select, textarea {
    /*opacity: 0.30;*/
    color: black;
}

.loading-element {
    /**/background-color: black;
    filter: alpha(opacity=70);
    -ms-opacity: 0.7;
    opacity: 0.7;
    width: 100px;
    height: 100px;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 20%;
}

.loading-new-element {
    z-index: 1001;
    padding: 200px 500px;
    position: absolute;
}

/* ReSharper disable UnknownHtmlAttribute */
/* ReSharper disable Html.AttributeNotResolved */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* ReSharper restore Html.AttributeNotResolved */
/* ReSharper restore UnknownHtmlAttribute */

.centered {
    left:50%; 
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%); 
    position:absolute;
}

/* ANIMATIONS  */
div[ng-view].ng-enter, div[data-ng-view].ng-enter {
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

/*.ng-enter {
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

.ng-leave {
    -webkit-animation: fadeOut 1.5s;
    -moz-animation: fadeOut 1.5s;
    -ms-animation: fadeOut 1.5s;
    -o-animation: fadeOut 1.5s;
    animation: fadeOut 1.5s;
}*/

/* ---------- LOGIN ---------- */
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
	outline: 0;
}
.loginform {
	width: 330px;
	margin: 0px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*height: 240px;*/
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
    display: block;
	/*display: inline;*/
	float: none;
}
.loginform li button {
    margin-left: 25px;
}
.loginform input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.forgotPassword {
    cursor: pointer;
    color: blue;
    margin-left: 15px;
}

.forgotPassword:hover {
    color: green;
}

.main-box {
    background-color: #EBEEF0;
    width: 900px;
    border: 1px gainsboro groove
 /*background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.19, #83D0FC),
	color-stop(0.94, #47BEED)
);
background-image: -o-linear-gradient(bottom, #83D0FC 19%, #47BEED 94%);
background-image: -moz-linear-gradient(bottom, #83D0FC 19%, #47BEED 94%);
background-image: -webkit-linear-gradient(bottom, #83D0FC 19%, #47BEED 94%);
background-image: -ms-linear-gradient(bottom, #83D0FC 19%, #47BEED 94%);
background-image: linear-gradient(to bottom, #83D0FC 19%, #47BEED 94%);*/

}
h3.somemarginH {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
}