@model ColloSys.UserInterface.AuthNAuth.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var passwordReset = TempData["IsResetPassword"] != null;
    
}

<style type="text/css">
    .loginPage {
        color: white;
    }
</style>


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{

    <div class="modal modal-image" options="modelOption" style="top: 22%; width: 60%;">
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <img src="~/Content/layout/LoginPage.png" alt="Login Image" />
                </div>

                <div class="span6">
                    <div class="well" data-ng-controller="forgotPasswordController" data-ng-cloak="" style="background-color: #0094D2;">
                        <div data-ng-form="formForgotPassword">
                            <p class="loginPageLabge" style="font-weight: bold; color: white; text-align: center">Forgot Password</p>

                            @if (!string.IsNullOrWhiteSpace(@ViewBag.ResetStatusMessage))
                            {
                                <div class="alert alert-success">
                                    <a class="close" data-dismiss="alert" href="#">×</a>@ViewBag.ResetStatusMessage!
                                </div>
                            }

                            @if (passwordReset)
                            {
                                <text> Go to the Login Page- @Html.ActionLink("Click Here", "Login", "Account", new { @class = "loginPage" }) </text>
                            }

                            <div class="row-fluid">
                                <div class="control-group">
                                    <label class="control-label" style="color:white;" for="UserName">
                                        User Id
                                    </label>
                                    <div class="controls">
                                        <input id="UserName" class="input-large" data-ng-model="forgotPassword.UserName" name="UserName" placeholder="Enter User Name" type="text" value="" required />
                                        <span class="help-inline">
                                            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="control-group">
                                    <label class="control-label" style="color:white;">Date of Joining:</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="text" name="JoiningDate" class="input-medium" required data-ng-model="forgotPassword.JoiningDate" data-date-format="yyyy-mm-dd" bs-datepicker />
                                            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid well-small">
                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-primary btn-success" data-ng-disabled="!formForgotPassword.$valid" type="submit">Reset Password</button>
                                        <a class="btn btn-danger" href="@Url.Action("Login", "Account")">Cancel </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                 
            </div>
        </div>
    </div>
    
}

@section scripts
{
    <script type="text/javascript">
        csapp.controller("forgotPasswordController",['$scope', function ($scope) { 
            $scope.modelOption = {
                backdropFade: true,
                dialogFade: true
            };
        
        }]);
    </script>
}
