<div>
    <div ng-form="approveErrorform">
        <div class="form-horizontal">
            <div class="form-group row">
                <label>File Name</label>
                <select data-ui-select2="" data-ng-model="fileDetail" class="input-large" data-ng-change="showGridData(fileDetail)"
                        data-ng-options="row as row.AliasName for row in dldata.fileDetails | orderBy:'AliasName'"></select>
            </div>
        </div>
        <div data-ng-if="gridReady">
            <div class="btn-toolbar table-bordered">
                <button class="btn btn-success" data-ng-disabled="!gridOptions.selectedItems.length"
                    data-ng-click="approveRejectAll(gridOptions.selectedItems,true)">
                    Approve</button>
                <button class="btn btn-danger" data-ng-disabled="!gridOptions.selectedItems.length"
                    data-ng-click="approveRejectAll(gridOptions.selectedItems,false)">
                    Reject</button>
            </div>

            <div style="height: 450px" data-ng-grid="gridOptions"></div>
        </div>
    </div>
</div>
