<div>
    <form name="approveErrorform">
        <div class="form-horizontal">
            <div class="form-group row">
                <label>File Name</label>
                <select data-ng-model="fileDetail" class="input-lg" data-ng-change="showGridData(fileDetail)"
                        data-ng-options="row as row.AliasName for row in dldata.fileDetails | orderBy:'AliasName'"></select>
            </div>
        </div>
        <div data-ng-if="gridReady">
            <div class="btn-toolbar table-bordered">
                <cs-button type="save" text="Approve" permission="FileUploader,ErrorCorrection,Approve"
                           data-ng-disabled="!gridOptions.selectedItems.length"
                           data-ng-click="approveRejectAll(gridOptions.selectedItems,true)"></cs-button>

                <cs-button type="delete" text="Reject" data-ng-disabled="!gridOptions.selectedItems.length"
                           permission="FileUploader,ErrorCorrection,AddEdit"
                           data-ng-click="approveRejectAll(gridOptions.selectedItems,false)"></cs-button>
            </div>

            <div style="height: 450px" data-ng-grid="gridOptions"></div>
        </div>
    </form>
</div>

