<form name="distributionpercentageForm">

    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td>Product</td>
                    <td>Tellecaling Inhouse</td>
                    <td>Tellecaling External</td>
                    <td>Field Inhouse</td>
                    <td>Field External</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in distributionPercList">
                    <td class="col-md-1">
                        <icon-btn type="view" permission="all" data-ng-click="openinGivenMode('view',row)"></icon-btn>
                        <icon-btn type="edit" permission="all" data-ng-click="openinGivenMode('edit',row)"></icon-btn>
                    </td>
                    <td class="col-md-1">{{row.Products}}</td>
                    <td class="col-md-1">{{row.TelecallingInhouse}}</td>
                    <td class="col-md-1">{{row.TelecallingExternal}}</td>
                    <td class="col-md-1">{{row.FieldInhouse}}</td>
                    <td class="col-md-1">{{row.FieldExternal}}</td>
                    <td class="col-md-1">{{total(row)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-10" data-ng-show="mode!=''">
        <div class="panel panel-default">
            <div class="panel-heading">Edit Product Percentage</div>
            <div class="panel-body">
                <div data-ng-if="showForm">
                    <cs-form mode="mode">
                        <div>
                            <cs-field field="DistributionPercentage.Products" ng-model="DistributionPerc.Products" ng-disabled="true"></cs-field>
                            <cs-field field="DistributionPercentage.TelecallingInhouse" ng-model="DistributionPerc.TelecallingInhouse" data-ng-change="totalPercentage(DistributionPerc)"></cs-field>
                            <cs-field field="DistributionPercentage.TelecallingExternal" ng-model="DistributionPerc.TelecallingExternal" data-ng-change="totalPercentage(DistributionPerc)"></cs-field>
                            <cs-field field="DistributionPercentage.FieldInhouse" ng-model="DistributionPerc.FieldInhouse" data-ng-change="totalPercentage(DistributionPerc)"></cs-field>
                            <cs-field field="DistributionPercentage.FieldExternal" ng-model="DistributionPerc.FieldExternal" data-ng-change="totalPercentage(DistributionPerc)"></cs-field>
                            <cs-field field="DistributionPercentage.Percentage" ng-model="Distribution.Total" validation="off" ng-disabled="true"></cs-field>
                        </div>
                        <div class="text-right">
                            <cs-button2 type="save" permission="all" on-click="save(DistributionPerc)"></cs-button2>
                            <cs-button2 type="cancel" permission="all" on-click="cancel()"></cs-button2>
                        </div>
                    </cs-form>
                </div>
            </div>
        </div>
    </div>
</form>