<form data-ng-submit="onSubmit()" name="adhocForm">
    <cs-form layout="4.4.7">
       
                <cs-field data-ng-model="Product"
                          data-ng-change="initialiseRow(Product)" field="BillAdhoc.Products"></cs-field>
          </cs-form>
    <cs-form layout="12.0.12">
        <div class="table-responsive"  style="width:1200px;overflow: auto" data-ng-show="PaymentList.length>0">
            <table class="table table-bordered table-hover" >
                <thead >
                    <tr class="row">
                        <th></th>
                        <th>Product</th>
                        <th>Stakeholder</th>
                        <th>Total Amount</th>
                        <th>Transaction Type</th>
                        <th>Tax</th>
                        <th>Reasons</th>
                        <th>Description</th>
                        <th>IsRecurring</th>
                        <th>Start Month</th>
                        <th>Tenure</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" data-ng-repeat="pay in PaymentList">
                        <td>
                            <cs-button type="Delete" ng-click="Delete($index)"></cs-button>
                            <!-- <div class="btn-group">
                                     <i class="btn glyphicon glyphicon-trash" data-ng-click="Delete($index)"></i>
                                 </div>-->
                        </td>
                        <td>
                            <input data-ng-bind="pay.Products"
                                   class="form-control minWidth"
                                   readonly="readonly"
                                   type="text"
                                   class="minWidth"
                                   value="{{pay.Products}}"
                                   ng-focus="true" />
                        </td>
                        <td>
                            <!--<cs-field  data-ng-model="pay.Stakeholder"
                                           field="BillAdhoc.Stakeholder"
                                           typeahead="c as c.Name for c in stakeholdersOnProduct($viewValue,pay.Products)"
                                           typeahead-min-length="3"
                                           typeahead-wait-ms="400" />-->

                            <input type="text" data-ng-model="pay.Stakeholder"
                                   required
                                   class="form-control minWidth"
                                   typeahead="c as c.Name for c in stakeholdersOnProduct($viewValue,pay.Products)"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="400" />
                        </td>
                        <td>
                            <cs-field data-ng-model="pay.TotalAmount" no-label="" 
                                      field="BillAdhoc.TotalAmount"></cs-field>

                        </td>
                        <td>
                            <cs-field class="input-medium" data-ng-model="pay.IsCredit" no-label=""
                                      data-ng-change="changeCredit(pay.IsCredit)"
                                      field="BillAdhoc.IsCredit"></cs-field>
                        </td>
                        <td>
                            <cs-field class="input-medium" data-ng-model="pay.IsPretax" no-label=""
                                      field="BillAdhoc.IsPretax"></cs-field>

                        </td>
                        <td>
                            <cs-field class="input-medium" data-ng-model="pay.ReasonCode" no-label=""
                                      field="BillAdhoc.ReasonCode"></cs-field>
                        </td>
                        <td>
                            <cs-field data-ng-model="pay.Description" no-label="" field="BillAdhoc.Description"></cs-field>

                        </td>
                        <td>
                            <cs-field  data-ng-model="pay.IsRecurring" no-label="" field="BillAdhoc.IsRecurring"></cs-field>

                        </td>
                        <td>
                            <div class="row" data-ng-if="pay.IsRecurring === true">
                                <cs-field  data-ng-model="pay.StartMonth" no-label="" field="BillAdhoc.StartMonth"></cs-field>
                                <!--<select class="input-medium"
                                            data-ng-model="pay.StartMonth"
                                            data-ng-required="pay.IsRecurring === true">
                                        <option data-ng-repeat="reason in monthList" value="{{reason.Key}}">{{reason.Value}}</option>
                                    </select>-->
                            </div>
                        </td>
                        <td>
                            <input type="number" min="1" max="12"
                                   data-ng-model="pay.Tenure"
                                   name="Tenure"
                                   class="input-medium"
                                   data-ng-pattern="/^[0-9]+$/"
                                   data-ng-required="pay.IsRecurring === true"
                                   data-ng-show="pay.IsRecurring === true" />
                        </td>
                        <td>
                            <!--<cs-button type="submit" text="Add" ng-show="$last"></cs-button>-->
                            <input
                                type="submit"
                                class="btn btn-default"
                                value="Add Another"
                                data-ng-show="$last" />
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div data-ng-show="PaymentList.length>0">
        <cs-button type="Save" ng-disabled="!adhocForm.$valid" ng-click="save(PaymentList)"></cs-button>
        <!--<input type="button" data-ng-disabled="!adhocForm.$valid" class="btn btn-default"
                       value="Save" data-ng-click="save(PaymentList)" />
                <cs-button type="Delete"  ng-disabled="true"></cs-button>
                <cs-button type="Add" class="btn-block" ></cs-button>-->
    </div>
   </cs-form>
</form>



<!--<input
        type="button"
        class="btn btn-default"
        value="Delete"
                            
        data-ng-click="Delete($index)" />-->
<!--data-ng-hide="$last"-->
<!--<div class="form-group col-md-5">
        <label class="control-label">Product</label>
        <div class="controls">
            <select class="input-large" data-ng-model="Product"
                    data-ng-change="initialiseRow(Product)"
                    required>
                <option value=""></option>
                <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
            </select>
        </div>
    </div>-->

<!--<input type="text" data-ng-model="pay.TotalAmount" name="totalamount"
           data-ng-pattern="/^[0-9]+$/" required />-->



<!--<select class="input-large" data-ng-model="pay.IsCredit" name="TranscationType"
            data-ng-change="selecttransdata=factory.selectTransaction(pay.IsCredit)" required>
        <option value=""></option>
        <option data-ng-repeat="type in dldata.transcationtypes" value="{{type.value}}">{{type.display}}</option>
    </select>-->

<!--<select class="input-large"
            data-ng-model="pay.ReasonCode" required>
        <option value=""></option>
        <option data-ng-repeat="reason in selecttransdata">{{reason.display}}</option>
    </select>-->
<!--<input class="resize" type="text" data-ng-model="pay.Description" required></input>-->
<!--<input type="checkbox" checked="checked" data-ng-model="pay.IsRecurring" />-->
<!-- <input type="radio" data-ng-model="pay.IsRecurring" value="false"><label>One Time</label>
                             <input type="radio" data-ng-model="pay.IsRecurring" value="true"><label>Recurring</label>-->
