<form name="MyForm" class="form-horizontal" data-ng-init="step=1" novalidate>
    <div class="modal-header">Edit Hierarchy</div>
    <div class="modal-body">
        <!--Edit Hierarchy page-1-->
        <div data-ng-form="step1form" data-ng-show="step==1">
            <cs-form layout="9.4.6">
                <!--Designation-->
                <cs-field data-ng-model="hierarchy.Designation" field="hierarchyfield.designation"
                          data-ng-disabled="true"></cs-field>

                <!--Hierarchy-->
                <cs-field data-ng-model="hierarchy.Hierarchy" field="hierarchyfield.Hierarchy"
                          value-list="dldata.HierarchyData" data-ng-disabled="true"></cs-field>


                <!--Reports To-->
                <cs-field data-ng-model="hierarchy.ReportsToName.Designation" field="hierarchyfield.ReportsTo"
                          data-ng-disabled="true"></cs-field>

                <!--Reporting Level-->
                <cs-field data-ng-model="hierarchy.ReportingLevel" field="hierarchyfield.ReportingLevel"
                          value-list="dldata.ReportingLevelEnum" data-ng-disabled="true"></cs-field>

                <!--Location Level-->
                <cs-field data-ng-model="hierarchy.LocationLevel" field="hierarchyfield.LocationLevel"
                          value-list="dldata.LocationlevelList" multiple="multiple"></cs-field>
               
                <!--validation-->
                <div class="field-validation-error" style="padding-left: 180px;" data-ng-show="step1form.$invalid">{{val.Mandatory()}}</div>
            </cs-form>
        </div>


        <!--Edit Hierarchy page-2-->
        <div data-ng-form="step2form" data-ng-show="step==2">
            <cs-form layout="7.4.6">

                <!--IsUser-->
                <cs-field data-ng-model="hierarchy.IsUser" field="hierarchyfield.IsUser"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.designation}} is user of Algosys or not</span>
                </cs-form>


                <!--IsIndividual-->
                <cs-field data-ng-model="hierarchy.IsIndividual" field="hierarchyfield.IsIndividual"
                          data-ng-change="hierarchy.IsEmployee=false"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is an Individual or any Organization </span>
                </cs-form>


                <!--Registration-->
                <div data-ng-show="!hierarchy.Individual">
                    <cs-field data-ng-model="hierarchy.HasRegistration" field="hierarchyfield.HasRegistration"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} needs Registration</span>
                    </cs-form>
                </div>


                <!--IsEmployee-->
                <div data-ng-show="hierarchy.Individual">
                    <cs-field data-ng-model="hierarchy.IsEmployee" field="hierarchyfield.IsEmployee"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} Employee of Algosys</span>
                    </cs-form>
                </div>

                <!--Is Highest Level designation-->
                <cs-field data-ng-model="hierarchy.ManageReportsTo" field="hierarchyfield.ManageReportsTo"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} having any highest level designation</span>
                </cs-form>

                <!--Has Address-->
                <cs-field data-ng-model="hierarchy.HasAddress" field="hierarchyfield.HasAddress"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has address </span>
                </cs-form>

                <!--Has multiple Address-->
                <div data-ng-show="hierarchy.HasAddress">
                    <cs-field data-ng-model="hierarchy.HasMultipleAddress" field="hierarchyfield.HasMultipleAddress"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has address </span>
                    </cs-form>
                </div>
            </cs-form>
        </div>


        <!--Edit Hierarchy page-3-->
        <div data-ng-form="step3form" data-ng-show="step==3">
            <cs-form layout="7.3.6">
                <!--Has Working-->
                <cs-field data-ng-model="hierarchy.HasWorking" field="hierarchyfield.HasWorking"
                          data-ng-change="ResetBtnValue()"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.designation}} has working</span>
                </cs-form>
             

                <!--Has Bucket-->
                <div data-ng-show="hierarchy.HasWorking">
                    <cs-field data-ng-model="hierarchy.HasBuckets" field="hierarchyfield.HasBuckets"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Buckets</span>
                    </cs-form>
                </div>

                <!--Is in Allocation-->
                <div data-ng-show="hierarchy.HasWorking">
                    <cs-field data-ng-model="hierarchy.IsInAllocation" field="hierarchyfield.IsInAllocation"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in allocation</span>
                    </cs-form>
                </div>

                <!--Is in field-->
                <div data-ng-show="hierarchy.IsInAllocation">
                    <cs-field data-ng-model="hierarchy.IsInField" field="hierarchyfield.IsInField"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in field</span>
                    </cs-form>
                </div>
            </cs-form>
        </div>


        <!--Edit Hierarchy page-4-->
        <div data-ng-form="step4form" data-ng-show="step==4">
            <cs-form layout="7.4.6">
                    
                <!--Has payment-->
                <cs-field data-ng-model="hierarchy.HasPayment" field="hierarchyfield.HasPayment"
                          data-ng-change="ResetPaymentChlidVal()"></cs-field>
                <cs-form layout="1">
                    <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Payment</span>
                </cs-form>


                <!--Has Bank Details-->
                <div data-ng-show="hierarchy.HasPayment">
                    <cs-field data-ng-model="hierarchy.HasBankDetails" field="hierarchyfield.HasBankDetails"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Bank Details</span>
                    </cs-form>
                </div>

                <!--Has mobile Travel-->
                <div data-ng-show="hierarchy.HasPayment">
                    <cs-field data-ng-model="hierarchy.HasMobileTravel" field="hierarchyfield.HasMobileTravel"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Mobile Travel</span>
                    </cs-form>
                </div>

                <!--Has variable-->
                <div data-ng-show="hierarchy.HasPayment">
                    <cs-field data-ng-model="hierarchy.HasVarible" field="hierarchyfield.HasVarible"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Variable</span>
                    </cs-form>
                </div>


                <!--Has fixed-->
                <div data-ng-show="hierarchy.HasPayment">
                    <cs-field data-ng-model="hierarchy.HasFixed" field="hierarchyfield.HasFixed"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed</span>
                    </cs-form>
                </div>


                <!--Has fixed Individual-->
                <div data-ng-show="hierarchy.HasFixed">
                    <cs-field data-ng-model="hierarchy.HasFixedIndividual" field="hierarchyfield.HasFixedIndividual"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed Individual</span>
                    </cs-form>
                </div>


                <!--Has service charge-->
                <div data-ng-show="hierarchy.HasPayment">
                    <cs-field data-ng-model="hierarchy.HasServiceCharge" field="hierarchyfield.HasServiceCharge"></cs-field>
                    <cs-form layout="1">
                        <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed Individual</span>
                    </cs-form>
                </div>
            </cs-form>
        </div>

    </div>

    <div class="modal-footer">
        <input type="submit" value="Back" class="btn btn-inverse" data-ng-disabled="step==1" data-ng-click="step=step-1" />
        <input type="submit" value="Next" class="btn btn-success" data-ng-disabled="step1form.$invalid || step==4" data-ng-click="step=step+1" />
        <input type="submit" value="Save" class="btn btn-success" data-ng-disabled="step1form.$invalid" data-ng-click="save(hierarchy)" data-ng-show="step==4" />
        <input type="submit" class="btn btn-warning" value="Cancel" data-ng-click="closeModal()" />
    </div>
</form>






<!--<div class="form-group">
        <label class="control-label">Designation : </label>
        <div class="controls">
            <input type="text" data-ng-model="hierarchy.Designation" readonly />
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Hierarchy : </label>
        <div class="controls">
            <input type="text" data-ng-model="hierarchy.Hierarchy" readonly />
        </div>
    </div>-->
<!-- <div class="form-group">
         <label class="control-label">ReportsTo : </label>
         <div class="controls">
             <input type="text" data-ng-model="hierarchy.ReportsToName.Designation" readonly />
         </div>
     </div>-->
<!--<div class="form-group">
        <label class="control-label">Reporting Level :</label>
        <div class="controls">
            <select class="input-large" data-ui-select2="" data-ng-required="true" data-ng-model="hierarchy.ReportingLevel">
                <option value=""></option>
                <option data-ng-repeat="data in dldata.ReportingLevelEnum">{{data}}</option>
            </select>
        </div>
    </div>-->
<!--<div class="form-group">
                            <label class="control-label">Location Level : </label>
                            <div class="controls">
                                <select class="input-large" multiple="multiple" data-ui-select2="" data-ng-required="true" data-ng-model="hierarchy.LocationLevel">
                                    <option data-ng-repeat="data in dldata.LocationlevelList" value="{{data.value}}">{{data.key}}</option>
                                </select>
                            </div>
                        </div>-->
<!--<div class="form-group">
        <label class="control-label">Is User : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.IsUser"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is user of Algosys or not</span>
        </div>
    </div>-->
<!-- <div class="form-group">
         <label class="control-label">Is Individual : </label>
         <div class="controls">
             <div btn-switch data-ng-model="hierarchy.Individual" data-ng-change="hierarchy.IsEmployee=false"></div>
             <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is an Individual or any Organization </span>
         </div>
     </div>-->
<!--<div class="form-group">
        <label class="control-label">Registration : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasRegistration"></div>
            <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} needs Registration</span>

        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Is Employee : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.IsEmployee"></div>
            <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} Employee of Algosys</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Is Highest Level Designation : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.ManageReportsTo"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} having any highest level designation</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Address : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasAddress"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has address </span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Multiple Address : </label>
        <div class="controls">
            <input type="button" value="No" class="btn btn-default" data-ng-disabled="true" />
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Working : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasWorking" data-ng-change="ResetBtnValue()"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has working</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Buckets : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasBuckets"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Buckets</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Is In Allocation : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.IsInAllocation" data-ng-change="hierarchy.IsInField=false"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in allocation</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Is In Field : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.IsInField"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in field</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Payment : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasPayment" data-ng-change="ResetPaymentChlidVal()"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Payment</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Bank Details : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasBankDetails"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Bank Details</span>
        </div>
    </div>-->
<!-- <div class="form-group">
         <label class="control-label">Has Mobile Travel : </label>
         <div class="controls">
             <div btn-switch data-ng-model="hierarchy.HasMobileTravel"></div>
             <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Mobile Travel</span>
         </div>
     </div>-->
<!-- <div class="form-group">
         <label class="control-label">Has Variable : </label>
         <div class="controls">
             <div btn-switch data-ng-model="hierarchy.HasVariable"></div>
             <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Variable</span>
         </div>
     </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Fixed : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasFixed" data-ng-change="hierarchy.HasFixedIndividual=false"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Fixed Individual : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasFixedIndividual"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed Individual</span>
        </div>
    </div>-->
<!--<div class="form-group">
        <label class="control-label">Has Service Charge : </label>
        <div class="controls">
            <div btn-switch data-ng-model="hierarchy.HasServiceCharge"></div>
            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Service Charge </span>
        </div>
    </div>-->
















