<!--Data in Grid View-->
<div style="overflow: auto; height: 500px" data-ng-hide="active">
    <table class="table table-bordered table-hover table-condensed">
        <thead>

            <tr>
                <th class="text-center">
                    <icon-btn type="add" permission="Config,Hierarchy,AddEdit" data-ng-click="openEditModal('add')"></icon-btn>
                </th>
                <th>Designation</th>
                <th>Hierarchy</th>
                <th>Reports To</th>
                <th>Reporting Level</th>
                <th>Working Reports To</th>
                <th>Working Reports Level</th>
                <th>Location Level</th>
                <th>Individual</th>
                <th>IsUser</th>
                <th>IsInAllocation</th>
                <th>IsInField</th>
                <th>IsEmployee</th>
                <th>Registration</th>
                <th>Address</th>
                <th>Working</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="hierarchy in dldata.HierarchyList">
                <!--Button Edit n Delete-->
                <td>
                    <div class="btn-group" style="width: 80px">
                        <icon-btn type="view" permission="Config,Hierarchy,View" data-ng-click="openEditModal('view',hierarchy)"></icon-btn>
                        <icon-btn type="edit" permission="Config,Hierarchy,AddEdit" data-ng-click="openEditModal('edit',hierarchy)"></icon-btn>
                    </div>
                </td>

                <td>{{hierarchy.Designation}}</td>
                <td>{{hierarchy.Hierarchy}}</td>
                <td>{{hierarchy.ReportsToName.Designation}}</td>
                <td>{{hierarchy.ReportingLevel}}</td>
                <td>{{hierarchy.WorkingReportsToName.Designation}}</td>
                <td>{{hierarchy.WorkingReportsLevel}}</td>
                <td>{{hierarchy.LocationLevel}}</td>

                <!--IsIndividual-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsIndividual}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsIndividual}}" class="btn ">No</i>
                </td>

                <!--IsUser-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsUser}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsUser}}" class="btn btn-default">No</i>
                </td>

                <!--IsInAllocation-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsInAllocation}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsInAllocation}}" class="btn btn-default">No</i>
                </td>

                <!--IsInField-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsInField}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsInField}}" class="btn btn-default">No</i>
                </td>

                <!--IsEmployee-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsEmployee}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsEmployee}}" class="btn btn-default">No</i>
                </td>

                <!--HasRegistration-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasRegistration}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasRegistration}}" class="btn btn-default">No</i>
                </td>

                <!--HasAddress-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasAddress}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasAddress}}" class="btn btn-default">No</i>
                </td>

                <!--HasWorking-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasWorking}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasWorking}}" class="btn btn-default">No</i>
                </td>

                <!--HasPayment-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasPayment}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasPayment}}" class="btn btn-default">No</i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
