<!--Data in Grid View-->
<div style="overflow: auto; height: 500px" data-ng-hide="active">
    <table class="table table-bordered table-hover table-condensed">
        <thead>

            <tr>
                <th class="text-center">
                    <icon-btn type="add" permission="ConfigHierarchyAddEdit" data-ng-click="openEditModal('add')"></icon-btn>
                </th>
                <th>Designation</th>
                <th>Hierarchy</th>
                <th>Position Level</th>
                <th>Reports To</th>
                <th>Reporting Level</th>
                <th>Working Reports To</th>
                <th>Working Reports Level</th>
                <th>Location Level</th>
                <th>Individual</th>
                <th>IsUser</th>
                <th>IsInAllocation</th>
                <th>IsInField</th>
                <th>IsEmployee</th>
                <th>Registration</th>
                <th>Address</th>
                <th>Working</th>
                <th>Payment</th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.Designation" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.Hierarchy" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.PositionLevel" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.ReportsToName.Designation" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.ReportingLevel" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.WorkingReportsToName.Designation" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.WorkingReportsLevel" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.LocationLevel" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.IsIndividual" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.IsUser" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.IsInAllocation" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.IsInField" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.IsEmployee" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.HasRegistration" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.HasAddress" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.HasWorking" required />
                </td>
                <td>
                    <input class="form-control" type="text" data-ng-model="search.HasPayment" required />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="hierarchy in dldata.HierarchyList| filter:search | orderBy: 'PositionLevel'">
                <!--Button Edit n Delete-->
                <td>
                    <div class="btn-group" style="width: 80px">
                        <icon-btn type="view" permission="ConfigHierarchy" data-ng-click="openEditModal('view',hierarchy)"></icon-btn>
                        <icon-btn type="edit" permission="ConfigHierarchyAddEdit" data-ng-click="openEditModal('edit',hierarchy)"></icon-btn>
                    </div>
                </td>

                <td>{{hierarchy.Designation}}</td>
                <td>{{hierarchy.Hierarchy}}</td>
                <td>{{hierarchy.PositionLevel}}</td>
                <td>{{hierarchy.ReportsToName.Designation}}</td>
                <td>{{hierarchy.ReportingLevel}}</td>
                <td>{{hierarchy.WorkingReportsToName.Designation}}</td>
                <td>{{hierarchy.WorkingReportsLevel}}</td>
                <td>{{hierarchy.LocationLevel}}</td>

                <!--IsIndividual-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsIndividual}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsIndividual}}" class="btn btn-default">No</i>
                </td>

                <!--IsUser-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsUser}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsUser}}" class="btn btn-default">No</i>
                </td>

                <!--IsInAllocation-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsInAllocation}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsInAllocation}}" class="btn btn-default">No</i>
                </td>

                <!--IsInField-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsInField}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsInField}}" class="btn btn-default">No</i>
                </td>

                <!--IsEmployee-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.IsEmployee}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.IsEmployee}}" class="btn btn-default">No</i>
                </td>

                <!--HasRegistration-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasRegistration}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasRegistration}}" class="btn btn-default">No</i>
                </td>

                <!--HasAddress-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasAddress}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasAddress}}" class="btn btn-default">No</i>
                </td>

                <!--HasWorking-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasWorking}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasWorking}}" class="btn btn-default">No</i>
                </td>

                <!--HasPayment-->
                <td style="text-align: center">
                    <i data-ng-show="{{hierarchy.HasPayment}}" class="btn btn-primary">Yes</i>
                    <i data-ng-hide="{{hierarchy.HasPayment}}" class="btn btn-default">No</i>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<table ng-table  class="table">
        <tr ng-repeat="hierarchy in dldata.HierarchyList">
            <td data-title="'Designation'">
                {{hierarchy.Designation}}
            </td>
            <td data-title="'Hierarchy'">
                {{hierarchy.Hierarchy}}
            </td>
        </tr>
    </table>-->
</div>
