<form name="MyForm" class="form-horizontal" data-ng-init="step=1" novalidate>
    <div class="panel">
        <div class="panel-heading">Edit Hierarchy</div>

        <!--Edit Hierarchy page-1-->
        <div class="row-fluid" data-ng-form="step1form" data-ng-show="step==1">
            <div class="row-fluid" style="height: 400px">
                <!--Designation-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Designation : </label>
                        <div class="controls">
                            <input type="text" data-ng-model="hierarchy.Designation" readonly />
                        </div>
                    </div>
                </div>

                <!--Hierarchy-->
                <div class="row-fluid ">
                    <div class="control-group">
                        <label class="control-label">Hierarchy : </label>
                        <div class="controls">
                            <input type="text" data-ng-model="hierarchy.Hierarchy" readonly />
                        </div>
                    </div>
                </div>

                <!--Reports To-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">ReportsTo : </label>
                        <div class="controls">
                            <input type="text" data-ng-model="hierarchy.ReportsToName.Designation" readonly />
                        </div>
                    </div>
                </div>

                <!--Reporting Level-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Reporting Level :</label>
                        <div class="controls">
                            <select class="input-large" data-ui-select2="" data-ng-required="true" data-ng-model="hierarchy.ReportingLevel">
                                <option value=""></option>
                                <option data-ng-repeat="data in dldata.ReportingLevelEnum">{{data}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Location Level-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Location Level : </label>
                        <div class="controls">
                            <select class="input-large" multiple="multiple" data-ui-select2="" data-ng-required="true" data-ng-model="hierarchy.LocationLevel">
                                <option data-ng-repeat="data in dldata.LocationlevelList" value="{{data.value}}">{{data.key}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--validation-->
                <div class="field-validation-error" style="padding-left: 180px;" data-ng-show="step1form.$invalid">{{val.Mandatory()}}</div>
            </div>
        </div>

        <!--Edit Hierarchy page-2-->
        <div class="row-fluid" data-ng-form="step2form" data-ng-show="step==2">
            <div class="row-fluid" style="height: 400px">

                <!--IsUser-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Is User : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.IsUser"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is user of Algosys or not</span>
                        </div>
                    </div>
                </div>

                <!--IsIndividual-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Is Individual : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.Individual" data-ng-change="hierarchy.IsEmployee=false"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is an Individual or any Organization </span>
                        </div>
                    </div>
                </div>

                <!--Registration-->
                <div class="row-fluid" data-ng-show="!hierarchy.Individual">
                    <div class="control-group">
                        <label class="control-label">Registration : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasRegistration"></div>
                            <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} needs Registration</span>

                        </div>
                    </div>
                </div>

                <!--IsEmployee-->
                <div class="row-fluid" data-ng-show="hierarchy.Individual">
                    <div class="control-group">
                        <label class="control-label">Is Employee : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.IsEmployee"></div>
                            <span style="color: gray; padding-left: 10px">Is {{hierarchy.Designation}} Employee of Algosys</span>
                        </div>
                    </div>
                </div>

                <!--Is Highest Level designation-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Is Highest Level Designation : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.ManageReportsTo"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} having any highest level designation</span>
                        </div>
                    </div>
                </div>

                <!--Has Address-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Has Address : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasAddress"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has address </span>
                        </div>
                    </div>
                </div>

                <!--Has multiple Address-->
                <div class="row-fluid" data-ng-show="hierarchy.HasAddress">
                    <div class="control-group">
                        <label class="control-label">Has Multiple Address : </label>
                        <div class="controls">
                            <input type="button" value="No" class="btn" data-ng-disabled="true" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Edit Hierarchy page-3-->
        <div class="row-fluid" data-ng-form="step3form" data-ng-show="step==3">
            <div class="row-fluid" style="height: 400px">

                <!--Has Working-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Has Working : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasWorking" data-ng-change="ResetBtnValue()"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has working</span>
                        </div>
                    </div>
                </div>

                <!--Has Bucket-->
                <div class="row-fluid" data-ng-show="hierarchy.HasWorking">
                    <div class="control-group">
                        <label class="control-label">Has Buckets : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasBuckets"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Buckets</span>
                        </div>
                    </div>
                </div>

                <!--Is in Allocation-->
                <div class="row-fluid" data-ng-show="hierarchy.HasWorking">
                    <div class="control-group">
                        <label class="control-label">Is In Allocation : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.IsInAllocation" data-ng-change="hierarchy.IsInField=false"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in allocation</span>
                        </div>
                    </div>
                </div>

                <!--Is in field-->
                <div class="row-fluid" data-ng-show="hierarchy.IsInAllocation">
                    <div class="control-group">
                        <label class="control-label">Is In Field : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.IsInField"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} is in field</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Edit Hierarchy page-4-->
        <div class="row-fluid" data-ng-form="step4form" data-ng-show="step==4">
            <div class="row-fluid" style="height: 400px">
                <!--Has payment-->
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Has Payment : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasPayment" data-ng-change="ResetPaymentChlidVal()"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} has Payment</span>
                        </div>
                    </div>
                </div>

                <!--Has Bank Details-->
                <div class="row-fluid" data-ng-show="hierarchy.HasPayment">
                    <div class="control-group">
                        <label class="control-label">Has Bank Details : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasBankDetails"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Bank Details</span>
                        </div>
                    </div>
                </div>

                <!--Has mobile Travel-->
                <div class="row-fluid" data-ng-show="hierarchy.HasPayment">
                    <div class="control-group">
                        <label class="control-label">Has Mobile Travel : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasMobileTravel"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Mobile Travel</span>
                        </div>
                    </div>
                </div>

                <!--Has variable-->
                <div class="row-fluid" data-ng-show="hierarchy.HasPayment">
                    <div class="control-group">
                        <label class="control-label">Has Variable : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasVariable"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Variable</span>
                        </div>
                    </div>
                </div>

                <!--Has fixed-->
                <div class="row-fluid" data-ng-show="hierarchy.HasPayment">
                    <div class="control-group">
                        <label class="control-label">Has Fixed : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasFixed" data-ng-change="hierarchy.HasFixedIndividual=false"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed</span>
                        </div>
                    </div>
                </div>

                <!--Has fixed Individual-->
                <div class="row-fluid" data-ng-show="hierarchy.HasFixed">
                    <div class="control-group">
                        <label class="control-label">Has Fixed Individual : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasFixedIndividual"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Fixed Individual</span>
                        </div>
                    </div>
                </div>

                <!--Has service charge-->
                <div class="row-fluid" data-ng-show="hierarchy.HasPayment">
                    <div class="control-group">
                        <label class="control-label">Has Service Charge : </label>
                        <div class="controls">
                            <div btn-switch data-ng-model="hierarchy.HasServiceCharge"></div>
                            <span style="color: gray; padding-left: 10px">{{hierarchy.Designation}} Has Service Charge </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="panel-footer text-right">
            <input type="submit" value="Back" class="btn btn-inverse" data-ng-disabled="step==1" data-ng-click="step=step-1" />
            <input type="submit" value="Next" class="btn btn-success" data-ng-disabled="step1form.$invalid || step==4" data-ng-click="step=step+1" />
            <input type="submit" value="Save" class="btn btn-success" data-ng-disabled="step1form.$invalid" data-ng-click="save(hierarchy)" data-ng-show="step==4" />
            <input type="submit" class="btn btn-warning" value="Cancel" data-ng-click="closeModal()" />
        </div>
    </div>
</form>
