<form name="MyForm" data-ng-init="step=1" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">{{modelTitle}}</div>
        <div class="panel-body">
            <!--Edit hierarchy page-1-->
            <div data-ng-form="step1form" data-ng-show="step==1">
                <cs-form layout="7.3.8" mode="mode">
                    <cs-field data-ng-model="hierarchy.Designation" field="hierarchyfield.designation"></cs-field>

                    <cs-field data-ng-model="hierarchy.Hierarchy" field="hierarchyfield.Hierarchy"
                              value-list="dldata.HierarchyData" data-ng-change="reloadReportsTo(hierarchy,dldata);hierarchyChange()"></cs-field>

                    <cs-field data-ng-model="hierarchy.ReportsTo" field="hierarchyfield.ReportsTo"
                              value-list="dldata.Designation" data-ng-change="reportsChange()"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} Reports to Designation of {{hierarchy.hierarchy}} hierarchy
                    </span>

                    <cs-field data-ng-model="hierarchy.ReportingLevel"
                              field="hierarchyfield.ReportingLevel"
                              data-ng-change="reportinglevelChange()"></cs-field>

                    <cs-field data-ng-model="hierarchy.WorkingReportsTo"
                              field="hierarchyfield.WorkingReportsTo"
                              value-list="dldata.Designation" data-ng-change="workingReportsChange()"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} Reports to Designation of {{hierarchy.hierarchy}} hierarchy
                    </span>

                    <cs-field data-ng-model="hierarchy.WorkingReportsLevel"
                              field="hierarchyfield.WorkingReportsLevel"></cs-field>

                    <cs-field data-ng-model="hierarchy.LocationLevel" field="hierarchyfield.LocationLevel"
                              value-list="dldata.LocationlevelList" multiple="multiple"></cs-field>

                </cs-form>
            </div>

            <!--Edit hierarchy page-2-->
            <div data-ng-form="step2form" data-ng-show="step==2">
                <cs-form layout="7.4.8" mode="mode">

                    <cs-field data-ng-model="hierarchy.IsUser" field="hierarchyfield.IsUser"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} is user of Algosys or not
                    </span>


                    <cs-field data-ng-model="hierarchy.IsIndividual" field="hierarchyfield.IsIndividual"
                              data-ng-change="hierarchy.IsEmployee=false"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} is an Individual or any Organization
                    </span>


                    <div data-ng-show="!hierarchy.IsIndividual">
                        <cs-field data-ng-model="hierarchy.HasRegistration" field="hierarchyfield.HasRegistration"></cs-field>
                        <span class="col-md-5">
                            Is {{hierarchy.Designation}} needs Registration
                        </span>
                    </div>

                    <div data-ng-show="hierarchy.IsIndividual">
                        <cs-field data-ng-model="hierarchy.IsEmployee"
                                  field="hierarchyfield.IsEmployee"></cs-field>
                        <span class="col-md-5">
                            Is {{hierarchy.Designation}} Employee of Algosys
                        </span>
                    </div>

                    <cs-field data-ng-model="hierarchy.ManageReportsTo" field="hierarchyfield.ManageReportsTo"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} having any highest level designation
                    </span>

                    <cs-field data-ng-model="hierarchy.HasAddress" field="hierarchyfield.HasAddress"></cs-field>
                    <span class="col-md-5">
                        {{hierarchy.Designation}} has address 
                    </span>

                    <div data-ng-show="hierarchy.HasAddress">
                        <cs-field data-ng-model="hierarchy.HasMultipleAddress" field="hierarchyfield.HasMultipleAddress"
                                  data-ng-disabled="true"></cs-field>
                        <span class="col-md-5">
                            {{hierarchy.Designation}} has address 
                        </span>
                    </div>
                </cs-form>
            </div>


            <!--Edit hierarchy page-3-->
            <div data-ng-form="step3form" data-ng-show="step==3">
                <cs-form layout="7.4.8" mode="mode">
                    <cs-field data-ng-model="hierarchy.HasWorking" field="hierarchyfield.HasWorking"
                              data-ng-change="ResetBtnValue()"></cs-field>
                    <cs-form layout="1">
                        {{hierarchy.Designation}} has working
                    </cs-form>


                    <div data-ng-show="hierarchy.HasWorking">
                        <cs-field data-ng-model="hierarchy.HasBuckets" field="hierarchyfield.HasBuckets"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} has Buckets
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasWorking">
                        <cs-field data-ng-model="hierarchy.IsInAllocation" field="hierarchyfield.IsInAllocation"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} is in allocation
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.IsInAllocation">
                        <cs-field data-ng-model="hierarchy.IsInField" field="hierarchyfield.IsInField"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} is in field
                        </cs-form>
                    </div>
                </cs-form>
            </div>


            <!--Edit hierarchy page-4-->
            <div data-ng-form="step4form" data-ng-show="step==4">
                <cs-form layout="7.4.8" mode="mode">

                    <cs-field data-ng-model="hierarchy.HasPayment" field="hierarchyfield.HasPayment"
                              data-ng-change="ResetPaymentChlidVal()"></cs-field>
                    <cs-form layout="1">
                        {{hierarchy.Designation}} has Payment
                    </cs-form>


                    <div data-ng-show="hierarchy.HasPayment">
                        <cs-field data-ng-model="hierarchy.HasBankDetails" field="hierarchyfield.HasBankDetails"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Bank Details
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasPayment">
                        <cs-field data-ng-model="hierarchy.HasMobileTravel" field="hierarchyfield.HasMobileTravel"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Mobile Travel
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasPayment">
                        <cs-field data-ng-model="hierarchy.HasVarible" field="hierarchyfield.HasVarible"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Variable
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasPayment">
                        <cs-field data-ng-model="hierarchy.HasFixed" field="hierarchyfield.HasFixed"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Fixed
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasFixed">
                        <cs-field data-ng-model="hierarchy.HasFixedIndividual" field="hierarchyfield.HasFixedIndividual"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Fixed Individual
                        </cs-form>
                    </div>

                    <div data-ng-show="hierarchy.HasPayment">
                        <cs-field data-ng-model="hierarchy.HasServiceCharge" field="hierarchyfield.HasServiceCharge"></cs-field>
                        <cs-form layout="1">
                            {{hierarchy.Designation}} Has Fixed Individual
                        </cs-form>
                    </div>
                </cs-form>
            </div>
        </div>
    </div>
    <div class="text-right">
        <cs-button2 type="save" permission="ConfigHierarchyAddEdit" data-ng-disabled="step1form.$invalid" on-click="save(hierarchy)" data-ng-show="step==4"></cs-button2>
        <cs-button type="submit" text="Prev" permission="ConfigHierarchy" data-ng-hide="step==1" data-ng-click="step=step-1"></cs-button>
        <cs-button type="add" text="Next" permission="ConfigHierarchy" data-ng-hide="step==4" data-ng-click="step=step+1"></cs-button>
        <cs-button2 type="close" permission="ConfigHierarchy" on-click="closeModal()"></cs-button2>
    </div>
</form>

