@model ColloSys.UserInterface.Shared.PendingApprovalData

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div data-ng-controller="testing">*@
@*<div data-ui-if="false">
        <form name="testform">
            <cs-input options="optionsNum" ng-model="abcd"></cs-input>
            {{abcd}}
            <cs-input options="optionsTxt" ng-model="txt"></cs-input>
            {{txt}}
            <cs-input options="optionEmail" ng-model="email"></cs-input>
            {{email}}
            <cs-input options="optionCheckbox" ng-model="checkbox"></cs-input>
            <p>checked:{{checkbox}}</p>
            <cs-input options="optionRadio" ng-model="checkbox"></cs-input>
        </form>
    </div>

    <cs-date-field options="optionsDate" cs-model="date"></cs-date-field>{{date}}*@

@*  <form>

        <br />
        {{updatedValue}}
    <br />
        {{count}}
    <br />

        <cs-input options="optionsTxt" ng-model="text" ng-change="update(text)"></cs-input>
        {{text}}
        <cs-input options="optionEmail" ng-model="email" ng-change="update(text)"></cs-input>
        {{email}}
        <cs-input options="optionsTA" ng-model="textArea" ng-change="update(textArea)"></cs-input>
        {{textArea}}
        <cs-input options="optionCheckbox" ng-model="checkBox" ng-change="update(checkBox)"></cs-input>
        {{checkBox}}
        <cs-input options="optionEnum" ng-model="enum" ng-change="update(enum)"></cs-input>
        {{enum}}
        <cs-input options="optionSel" cs-repeat="'array'" ng-model="select" ng-change="update(select)"></cs-input>
        {{select}}
        <cs-input options="optionRadio" ng-model="radio" ng-change="update(radio)"></cs-input>
        {{radio}}
        <cs-input options="optionsDate" ng-model="date" ng-change="update(date)"></cs-input>
        {{date}}
        <cs-input options="optionsNum" ng-model="num" ng-change="update(num)"></cs-input>
        {{num}}
    </form>*@

@* <cs-template options="optionsTxt">
        <cs-text-field ng-model="text" options="optionsTxt"  ></cs-text-field> 
    </cs-template>*@
@*</div>*@
<div data-ng-controller="testing">
        <input type="text" cs-options="optionsTxt"  data-ng-change="changeFunction(txt)" data-ng-model="txt" />{{txt}}{{count}}
</div>
@section scripts
{
    <script src="~/Shared/Home.js"></script>
    <script src="~/app/fileupload/models.js"></script>
    <script type="text/javascript">
        csapp.controller("testing", function ($scope) {
            $scope.pattern = "/^[a-zA-Z ]{1,10}$/";
            $scope.array = [1, 2, 3, 4];

            $scope.count = 0;
            //$scope.update = function (value) {
            //    $scope.updatedValue = value;
            //    $scope.count++;
            //};

            $scope.changeFunction = function (text) {
                
                $scope.count++;
                console.log('change: ', text);
            };

            $scope.optionEnum = { type: 'enum', values: $scope.array };
            $scope.optionSel = { type: 'select' };
            $scope.optionsTA = { type: 'textarea', minlength: '2' };
            $scope.optionsNum = { type: 'uint', required: true };
            $scope.optionsTxt = { type: 'text', label: 'abcd', required: true, minlength: 2,maxlength:5,suffix:'soham'};
            $scope.optionEmail = { type: 'email', suffix: '@@soham.com' };
            $scope.optionCheckbox = { type: 'checkbox', label: 'tick' };
            $scope.optionRadio = { type: 'radio', options: ['1', '2'] };
            $scope.optionsDate = { type: 'date' };
        });
    </script>
}



