@model ColloSys.UserInterface.Shared.PendingApprovalData

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="testing">
    <form name="testform">
        <cs-input options="optionsNum" ng-model="abcd"></cs-input>
        {{abcd}}
        <cs-input options="optionsTxt" ng-model="txt"></cs-input>
        {{txt}}
        <cs-input options="optionEmail" ng-model="email"></cs-input>
        {{email}}
        <cs-input options="optionCheckbox" ng-model="checkbox"></cs-input>
        <p>checked:{{checkbox}}</p>
        <cs-input options="optionRadio" ng-model="checkbox"></cs-input>
    </form>
</div>

@section scripts
{
    <script src="~/Shared/Home.js"></script>
    <script src="~/app/fileupload/models.js"></script>
    <script type="text/javascript">
        csapp.controller("testing", function($scope) {
            $scope.options = { type: 'textarea', minlength: '2' };
            $scope.optionsNum = { type: 'uint' };
            $scope.optionsTxt = { type: 'text', pattern: '/^[a-zA-Z ]{1,100}$/', patternMessage: 'enter valid text' };
            $scope.optionEmail = { type: 'email', suffix: '@@soham.com' };
            $scope.optionCheckbox = { type: 'checkbox', label: 'tick' };
            $scope.optionRadio = {type:'radio',options:['1','2']};
        });
    </script>
}



