@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascript Error</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="alert-error well-small">
                <h1>
                    Javascript is disabled.For ColloSys please Enable the javascript in your browser........
                </h1>
            </div>
        </div>
        
    </div>
</body>
</html>
