@{
    ViewBag.Title = "End Of Day Email Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = TempData["status"] != null ? (bool)TempData["status"] : false;
}

@using (Html.BeginForm("SendEmail", "Email", FormMethod.Post))
{
   
    
    
    <div class="panel">
        <div class="panel-heading">
            End Of Day Email Notification
        </div>
        @if (msg)
        {
            <div class="alert alert-success">
                Notification mail successfully sent.
            </div> 
        }
        <button class="btn btn-success">Send End of Day Notification Mail</button>

    </div> 
}

@section scripts{
    <script src="~/Areas/Generic/ViewModels/eodEmailNotification.js"></script>

}