
<h2>PermissionScreen</h2>
<div data-ng-cloak="" data-ng-form="frmPermission" class="form-horizontal">
    <!-- hierarchies part -->
    <div class="row-fluid">
        <div class="panel">
            <div class="panel-heading">Designation</div>
            <div class="row-fluid">
                <div class="control-group span5">
                    <label class="control-label">Activity</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.Activity" class="input-xlarge"
                            data-ui-select2="" data-ng-change="changeActivity()">
                            <option value=""></option>
                            <option data-ng-repeat="activity in dldata.Activities">{{activity}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span7">
                    <label class="control-label">Vertical</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.Vertical" class="input-large"
                            data-ng-change="clearOnVertical(SelectedHier.Vertical,SelectedHier.Activity,SelectPermission,dldata);factory.setFinalPermission(SelectedHier.Vertical,SelectedHier.Activity,dldata)" data-ui-select2="">
                            <option value="Field">Field</option>
                            <option value="Telecalling">Telecalling</option>
                            <option value="BackOffice">BackOffice</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- permissions part -->
    <div data-ng-if="designationshow" style="overflow: auto; height: 500px">
        <form name="permissionForm">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Designation</th>
                    <th>Permission</th>
                    <th>Escalation Days</th>
                </tr>
                <tr data-ng-repeat="row in dldata.SortedHierarchyList">
                    <td>{{row.Designation}}</td>
                    <td>
                        <select data-ng-init="SelectPermission[$index]=factory.getPermission(row.Id,SelectedHier.Activity,dldata)"
                            data-ng-model="SelectPermission[$index]"
                            data-ng-change="factory.changePermission(SelectedHier.Activity,SelectPermission[$index],row,$index,SelectPermission,dldata)"
                            data-ng-options="c for c in enumPermission"
                            data-ng-disabled="factory.enableSelect(row.PositionLevel,SelectPermission,$index)"
                            class="input-medium">
                        </select>
                    </td>
                    <td>
                        <select data-ui-select2=""
                            data-ng-disabled="factory.enableEscalation(row,SelectedHier.Activity,$index,eccalationDays,dldata)" 
                            class="input-mini"
                            data-ng-model="eccalationDays[$index]"
                            data-ng-change="factory.assignEscalationDay(eccalationDays[$index],row,dldata)">
                            <option></option>
                            <option data-ng-repeat="data in escDate">{{data}}</option>
                        </select>{{eccalationDays}}</td>
                </tr>
            </table>
            <hr />
            <div class="text-center">
                <button data-ng-disabled="permissionForm.$invalid" class="btn btn-success" data-ng-click="datalayer.Save()">Save</button>
            </div>
        </form>
    </div>
</div>