<div data-ng-show="$csAuthFactory.hasLoggedIn()" class="cssmenu">
    <ul>
        <li data-ng-repeat="menu in menus">
            <span class="text-center">
                <i ng-class="'fa {{menu.icon}} fa-3x'"></i>
            </span>
            <br />
            <span class="text-center" style="font-weight: bold">{{menu.Title}}</span>
            <ul>
                <li data-ng-repeat="child in menu.childMenu">
                    <a href="{{child.url}}">{{child.Title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
