<div class="row" ng-controller="config" data-ng-cloak="">
    <div class="panel" ng-form="encryptForm">
        <div class="panel-heading">
            Encrypt / Decrypt Sections Web.config
        </div>
        <div class="row form-horizontal">
            <div class="form-group">
                <label class="control-label">Select Section</label>
                <div class="controls">
                    <select ng-model="sectionName" id="section"  ng-options="c for c in sections" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input type="button" ng-click="encryptSection()" ng-disabled="!encryptForm.$valid" class="btn btn-info" value="Encrypt Section"/>
                    <input type="button" ng-click="decryptSection()" ng-disabled="!encryptForm.$valid" class="btn btn-info" value="Decrypt Section"/>
                </div>
            </div>
        </div>
    </div>

</div>

