@{
    ViewBag.Title = "File Column";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-ng-form="formFileColumn">

    <div class="container-fluid" data-ng-controller="fileColumnController" data-novalidate="" data-ng-cloak="">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label">File Name</label>
                <div class="controls">
                    <select class="input-large" data-ui-select2="" data-ng-model="fileAliasName" data-ng-change="getFileColumns(fileAliasName)" data-placeholder="Select File Name">
                        <option value=""></option>
                        <option data-ng-repeat="file in fileDetails">{{file}}</option>
                    </select>
                    <button class="btn-info" data-ng-show="fileAliasName.length>0" data-ng-click="openExcelManager()">Add Columns From Excel</button>
                </div>
            </div>
        </div>

        <div data-ng-show="fileAliasName">
            <div data-ng-form="formMultipleColumns" data-ng-show="fileAliasName">
                <div modal="shouldbeOpenExcelManager" close="closeExcelManager()" options="modelOption">
                    <div class="modal-header well">
                        <h3 class="modal-title">Add Multiple Columns Using Excel Data</h3>
                    </div>

                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="control-group">
                                <div class=" controls">
                                    <textarea rows="5" style="width: 100%;" placeholder="Insert or Paste Data" class="right" data-ng-model="excelData" data-ng-required="fileName.length>0"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer control-group">
                        <div class="controls">
                            <button class="btn btn-success" data-ng-click="convertData()" data-ng-disabled="!formMultipleColumns.$valid">Add</button>
                            <button class="btn btn-info " data-ng-click="closeExcelManager()">Close</button>
                        </div>
                    </div>

                </div>

            </div>

            <hr />

            <div class="well" data-ng-hide="fileDetail.FileColumns.length>0">
                Retrieving Columns for Selected Files.
                <br />
                Please wait...
            </div>
            <div data-ng-form="fileColumngrid" data-ng-show="fileDetail.FileColumns.length>0" style="overflow: scroll; height: 400px;" data-ng-show="fileAliasName">

                <div class="row-fluid">
                    <table class="table table-bordered table-hover span12" data-ng-show="fileDetail.FileColumns.length>0">
                        <thead>
                            <tr>
                                <th><i class="btn icon-plus" data-ng-click="openModel()"></i></th>
                                <th>File Column Name </th>
                                <th>Position </th>
                                <th>Length</th>
                                <th>Data Type</th>
                                <th>DB Column Name </th>
                                <th>Date Format </th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="column in fileDetail.FileColumns | orderBy: 'Position'" data-ng-animate="{ enter: 'animation-enter', leave: 'animation-leave'} ">
                                <td>
                                    <div>
                                        <div class="btn-group">
                                            <i class="btn icon-file-alt" data-ng-click="openModelData(column,true)"></i>
                                            @*<i class="btn icon-edit" data-ng-click="openModelData(column,false,$index)"></i>*@
                                            <i class="btn icon-trash" data-ng-show="true" data-ng-click="showDeleteModelPopup(column,$index)"></i>
                                            <i class="btn icon-arrow-up" data-ng-disabled="$index==0" data-ng-click="MoveUpward(column,$index)"></i>
                                            <i class="btn icon-arrow-down" data-ng-disabled="$index==fileDetail.FileColumns.length-1" data-ng-click="MoveDownward(column,$index)"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="column.FileColumnName" data-ng-disabled="true" />

                                </td>
                                <td>
                                    <input type="number" class="input-mini" data-ng-disabled="true" min="0" data-ng-model="column.Position" />
                                </td>
                                <td>
                                    <input type="number" class="input-mini" min="0" data-ng-model="column.Length" />
                                </td>
                                <td>
                                    <select id="ColumnDataType" class="input-medium" name="ColumnDataType" data-ng-model="column.ColumnDataType" data-placeholder="Select Column Type">
                                        <option value=""></option>
                                        <option data-ng-repeat="type in dataTypes">{{type}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" data-ng-model="column.TempColumnName" data-ng-pattern="/^\w*$/" />
                                </td>
                                <td style="width: 200px;">
                                    <select id="DateFormat" class="input-medium" name="DateFormat" data-ng-show="isDateTypeColumn(column.ColumnDataType)" data-ng-model="column.DateFormat" data-placeholder="Select Date Format">
                                        <option value=""></option>
                                        <option data-ng-repeat="format in dateFormats">{{format}}</option>
                                    </select>
                                </td>

                                <td>
                                    <!--Start Date -->
                                    <div class="input-append">
                                        <input type="text" name="StartDate" class="input-medium" data-ng-model="column.StartDate" bs-datepicker />
                                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                    </div>
                                </td>

                                <td>
                                    <!--End Date -->
                                    <div class="input-append">
                                        <input type="text" name="EndtDate" class="input-medium" ui-validate=" '$value > column.StartDate'" data-ng-model="column.EndDate" bs-datepicker />
                                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="input-medium" id="Description" name="Description" data-ng-model="column.Description" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div modal="showDeleteModel" close="noToDelete()" options="modelOption">
                <div class="modal-header well-small2">
                    Confirmation
                </div>
                <div class="modal-body">
                    Are you sure to Delete?
                </div>
                <div class="modal-footer well">
                    <div class="row-fluid">
                        <span class="left">
                            <input type="button" value="Yes" class="btn btn-success" data-ng-click="yesToDelete()" />
                            <input type="button" value="No" class="btn btn-info" data-ng-click="noToDelete()" />
                        </span>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row-fluid text-center">
                <button class="btn btn-success" data-ng-show="fileDetail.FileColumns.length>0" data-ng-click="SaveAllColumns(fileDetail)">Save All Columns</button>
            </div>

            <div style="width: 300px">
                <form name="form" novalidate>
                    <div>
                        <div modal="shouldBeOpen" close="closeModel()" options="modelOption">
                            <div class="modal-header">
                                {{modelHeader}}
                            </div>
                            <div data-ng-form="formAddfileColumn" class="form-horizontal">

                                <div class="modal-body">
                                    <!--Column Name -->
                                    <div class=" row-fluid control-group">
                                        <label class="control-label">Excel Column Name </label>
                                        <div class="controls">
                                            <input type="text" name="ColumnName" data-ng-model="fileColumn.FileColumnName" data-ng-disabled="isReadOnly" data-ng-required="true" placeholder="Enter File Column Name" />
                                            @*Column Name Validation*@
                                            <div data-ng-show="form.ColumnName.$dirty && form.ColumnName.$invalid">
                                                <span class="field-validation-error" data-ng-show="form.ColumnName.$error.required">{{val.Required()}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Position -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">Position </label>
                                        <div class="controls">
                                            <input type="number" name="Position" min="0" max="{{fileDetail.FileColumns.length}}" data-ng-model="fileColumn.Position" data-ng-disabled="isReadOnly" data-ng-required="true" placeholder="Enter the Column Position" />
                                            @*Position Validation*@
                                            <div data-ng-show="form.Position.$dirty && form.Position.$invalid">
                                                <span class="field-validation-error" data-ng-show="form.Position.$error.required">{{val.Required()}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Length -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">Length </label>
                                        <div class="controls">
                                            <input type="number" min="0" name="Length" data-ng-model="fileColumn.Length" data-ng-required="true" placeholder="Enter the Column Length" />
                                             @*Length Validation*@
                                            <div data-ng-show="form.Length.$dirty && form.Length.$invalid">
                                                <span class="field-validation-error" data-ng-show="form.Length.$error.required">{{val.Required()}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column Data Type -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">Column Data Type </label>
                                        <div class="controls">
                                            <select class="input-medium" data-ng-model="fileColumn.ColumnDataType" name="ColumnDataType" data-ng-required="true" data-placeholder="Select Column Type">
                                                <option value=""></option>
                                                <option data-ng-repeat="type in dataTypes">{{type}}</option>
                                            </select>
                                            @*ColumnDataType Validation*@
                                            <div data-ng-show="form.ColumnDataType.$dirty && form.ColumnDataType.$invalid">
                                                <span class="field-validation-error" data-ng-show="form.ColumnDataType.$error.required">{{val.Required()}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Temporary Column Name -->
                                    <div class="row-fluid control-group">

                                        <label class="control-label">DB Column Name </label>

                                        <div class="controls">
                                            <input type="text" data-ng-model="fileColumn.TempColumnName" data-ng-pattern="/^\w*$/" data-ng-required="true" placeholder="Enter Temporary Column Name" />
                                        </div>
                                    </div>

                                    <!--Date Format -->
                                    <div class="row-fluid control-group" data-ng-show="isDateTypeColumn(fileColumn.ColumnDataType)">
                                        <label class="control-label">Date Format </label>
                                        <div class="controls">
                                            <select class="input-medium" data-ng-show="isDateTypeColumn(fileColumn.ColumnDataType)" data-ng-required="isDateTypeColumn(fileColumn.ColumnDataType)" data-ng-model="fileColumn.DateFormat" data-placeholder="Select Date Format">
                                                <option value=""></option>
                                                <option data-ng-repeat="format in dateFormats">{{format}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Start Date -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">Start Date </label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" name="StartDate" class="input-medium" data-ng-required="true" data-ng-model="fileColumn.StartDate" bs-datepicker />
                                                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                                @*StartDate Validation*@
                                                <div data-ng-show="form.StartDate.$dirty && form.StartDate.$invalid">
                                                    <span class="field-validation-error" data-ng-show="form.StartDate.$error.required">{{val.Required()}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--End Date -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">End Date </label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" name="EndtDate" data-date-start-date="getEndDate(fileColumn.StartDate)" class="input-medium" data-ng-model="fileColumn.EndDate" bs-datepicker />
                                                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Description -->
                                    <div class="row-fluid control-group">
                                        <label class="control-label">Description </label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="fileColumn.Description" placeholder="Enter Description" />
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer control-group">
                                    <div class="controls">
                                        <button class="btn btn-success" data-ng-show="!isReadOnly" data-ng-click="saveFileColumn(fileColumn,fileDetail)" data-ng-disabled="!formAddfileColumn.$valid">Save</button>
                                        <button class="btn btn-info" data-ng-show="!isReadOnly" data-ng-click="closeModel()">Cancel</button>
                                        <button class="btn btn-info " data-ng-show="isReadOnly" data-ng-click="closeModel()">Close</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </form>


            </div>

        </div>

    </div>
</div>
@section scripts
{
    <script src="~/Areas/FileUploader/jsControllers/FileColumn.js"></script>
}
