<div class="form-horizontal">
    <form name="ClientDataDownloadForm">

        <!-- header filter row -->
        <div style="border-color: gray">
            <cs-form>
                <!-- main clause -->
                <cs-field layout="3.4.3" data-ng-model="params.ShowDataBy" field="paramsfield.ShowDataBy"
                          value-list="dldata.Downloadby" data-ng-change="ResetControls('ShowDataBy', params)"></cs-field>

                <!-- product -->
                <div data-ng-show="params.ShowDataBy === 'Product'">
                    <cs-field layout="3.4.3" data-ng-model="params.SelectedProduct" field="paramsfield.SelectedProduct"
                              data-ng-change="ResetControls('Product', params)"></cs-field>
                </div>

                <!-- System -->
                <div data-ng-show="params.ShowDataBy === 'System'">
                    <cs-field layout="3.4.3" data-ng-model="params.SelectedSystem" field="paramsfield.SelectedSystem"
                              data-ng-change="ResetControls('System', params)"></cs-field>
                </div>


                <!-- category for product -->
                <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedProduct)">
                    <cs-field layout="3.4.3" data-ng-model="params.SelectedCategory" field="paramsfield.SelectedCategory"
                              data-ng-change="ResetControls('Category', params)" value-list="dldata.CategoryList"></cs-field>
                </div>

                <!-- category for system -->
                <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedSystem)">
                    <cs-field layout="3.4.3" data-ng-model="params.SelectedCategory" field="paramsfield.SelectedCategory"
                              data-ng-change="ResetControls('Category', params)" value-list="dldata.fileDetails"></cs-field>
                </div>

                <!-- date -->
                <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedCategory)">
                    <cs-field layout="3.2.10" data-ng-model="params.SelectedDate" field="paramsfield.SelectedDate"
                              data-ng-change="getPagedDataAsync(params)"></cs-field>
                </div>
            </cs-form>
        </div>


        <!-- grid -->
        <div data-ui-if="gridOptions.showGrid == true">
            <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
            <div style="height: 500px" data-ng-grid="gridOptions"></div>
        </div>
    </form>
</div>



