<div class="form-horizontal">
    <form name="ClientDataDownloadForm">

        <!-- header filter row -->
        <div class="row" style="border-color: gray">
            <!-- main clause -->
            <span class="col-md-3">
                <cs-field data-ng-model="params.ShowDataBy" field="paramsfield.ShowDataBy"
                    value-list="dldata.Downloadby" data-ng-change="ResetControls('ShowDataBy', params)"></cs-field>
            </span>

            <!-- product -->
            <div data-ng-show="params.ShowDataBy === 'Product'">
                <span class="col-md-3">
                    <cs-field data-ng-model="params.SelectedProduct" field="paramsfield.SelectedProduct"
                              data-ng-change="ResetControls('Product', params)"></cs-field>
                </span>
            </div>

            <!-- System -->
            <div data-ng-show="params.ShowDataBy === 'System'">
                <span class="col-md-3">
                    <cs-field data-ng-model="params.SelectedSystem" field="paramsfield.SelectedSystem"
                              data-ng-change="ResetControls('System', params)"></cs-field>
                </span>
            </div>


            <!-- category for product -->
            <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedProduct)">
                <span class="col-md-3">
                    <cs-field data-ng-model="params.SelectedCategory" field="paramsfield.SelectedCategory"
                              data-ng-change="ResetControls('Category', params)" value-list="dldata.CategoryList"></cs-field>
                </span>
            </div>

            <!-- category for system -->
            <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedSystem)">
                <span class="col-md-3">
                    <cs-field data-ng-model="params.SelectedCategory" field="paramsfield.SelectedCategory"
                              data-ng-change="ResetControls('Category', params)" value-list="dldata.fileDetails"></cs-field>
                </span>
            </div>

            <!-- date -->
            <div data-ng-show="!$csfactory.isNullOrEmptyString(params.SelectedCategory)">
                <span class="col-md-3">
                    <cs-field data-ng-model="params.SelectedDate" field="paramsfield.SelectedDate"
                              data-ng-change="getPagedDataAsync(params)"></cs-field>
                </span>
            </div>
        </div>

        <!-- grid -->
        <div class="row" data-ui-if="gridOptions.showGrid == true">
            <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
            <div style="height: 500px" data-ng-grid="gridOptions"></div>
        </div>
    </form>
</div>



