<div class="form-horizontal" data-ng-form="ClientDataDownloadForm">

    <!-- header filter row -->
    <div class="row" style="border-color: gray">
        <!-- main clause -->
        <div class="form-group col-md-3">
            <label>Download By</label>
            <select class="input-medium" data-ng-model="params.ShowDataBy"
                data-ng-change="ResetControls('ShowDataBy', params)">
                <option value=""></option>
                <option value="Product">Product</option>
                <option value="System">System</option>
            </select>
        </div>

        <!-- product -->
        <div class="form-group col-md-3" data-ng-show="params.ShowDataBy === 'Product'">
            <label>Product</label>
            <select class="input-medium" data-ng-model="params.SelectedProduct"
                data-ng-change="ResetControls('Product', params)">
                <option value=""></option>
                <option data-ng-repeat="p in datalayer.dldata.ProductList" value="{{p}}">{{p}}</option>
            </select>
        </div>

        <!-- System -->
        <div class="form-group col-md-3" data-ng-show="params.ShowDataBy === 'System'">
            <label>System</label>
            <select class="input-medium" data-ng-model="params.SelectedSystem" data-ng-change="ResetControls('System', params);">
                <option value=""></option>
                <option data-ng-repeat="row in datalayer.dldata.fileDetails | unique: 'ScbSystems' | orderBy: 'ScbSystems'" value="{{row.ScbSystems}}">{{row.ScbSystems}}</option>
            </select>
        </div>

        <!-- category for product -->
        <div class="form-group col-md-3" data-ng-show=" params.SelectedProduct !== '' ">
            <label>Category</label>
            <select class="input-medium" data-ui-select2="" data-ng-model="params.SelectedCategory" data-ng-change="ResetControls('Category', params)">
                <option value=""></option>
                <option data-ng-repeat="c in datalayer.dldata.CategoryList">{{c}}</option>
            </select>
        </div>

        <!-- category for system -->
        <div class="form-group col-md-3" data-ng-show=" params.SelectedSystem !== '' ">
            <label>Category</label>
            <select class="input-medium" data-ui-select2="" data-ng-model="params.SelectedCategory" data-ng-change="ResetControls('Category', params)">
                <option value=""></option>
                <option data-ng-repeat="row in datalayer.dldata.fileDetails | filter:{ScbSystems: params.SelectedSystem} | unique: 'Category' | orderBy: 'Category'" value="{{row.Category}}">{{row.Category}}</option>
            </select>
        </div>

        <!-- date -->
        <div class="form-group col-md-3" data-ng-show=" params.SelectedCategory !== '' ">
            <label>Date</label>
            <div class="input-append">
                <input class="input-small" type="text" data-ng-model="params.SelectedDate"
                    data-ng-change="getPagedDataAsync(params);" data-ng-readonly="true" data-bs-datepicker="">
                <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>
    </div>

    <!-- grid -->
    <div class="row" data-ui-if="gridOptions.showGrid == true">
        <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
        <div style="height: 500px" data-ng-grid="gridOptions"></div>
    </div>

</div>

