@{
    ViewBag.Title = "Web Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid" ng-controller="config" data-ng-cloak="">
    @*<div class="panel">
        <div class="panel-heading">
            Encrypt / Decrypt Web.config
        </div>
        <div class="row-fluid">
            <div class="control-group">
                <div class="controls">
                    <input type="button" ng-click="encrypt()" class="btn btn-info" value="Encrypt Data"/>
                    <input type="button" ng-click="decrypt()" class="btn btn-danger" value="Decrypt Data"/>
                </div>
            </div>
        </div>
    </div>*@
    
    <div class="panel" ng-form="encryptForm">
        <div class="panel-heading">
            Encrypt / Decrypt Sections Web.config
        </div>
        <div class="row-fluid form-horizontal">
            <div class="control-group">
                <label class="control-label">Select Section</label>
                <div class="controls">
                    <select ng-model="sectionName" id="section"  ng-options="c for c in sections" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="button" ng-click="encryptSection()" ng-disabled="!encryptForm.$valid" class="btn btn-info" value="Encrypt Section"/>
                    <input type="button" ng-click="decryptSection()" ng-disabled="!encryptForm.$valid" class="btn btn-info" value="Decrypt Section"/>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Areas/Generic/ViewModels/generalConfig.js"></script> 
}
