<form class="form-horizontal">
    <div class="panel">
        <div class="panel-heading">Profile</div>
        <div data-ng-hide="dldata.profile">
            <div class="well-small">
                No Profile Present For Display
            </div>

        </div> 

        <div data-ng-show="dldata.profile">

            <!-- Name -->
            <div class="control-group row-fluid">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="dldata.profile.Name" readonly="readonly" />
                </div>
            </div>

            <!-- User Id -->
            <div class="control-group row-fluid">
                <label class="control-label">User Id</label>
                <div class="controls">
                    <input type="text" data-ng-model="dldata.profile.ExternalId" readonly="readonly" />
                </div>
            </div>

            <!-- Joining Date -->
            <div class="control-group row-fluid">
                <label class="control-label">Joining Date</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" name="DateOfJoining" class="input-medium" 
                            data-ng-disabled="true" data-ng-model="profile.JoiningDate" bs-datepicker />
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>

            <hr />

            <!-- StkhType -->
            <div class="control-group row-fluid">
                <label class="control-label">Hierarchy</label>
                <div class="controls">
                    <input type="text" data-ng-model="profile.Hierarchy" readonly="readonly" />
                </div>
            </div>

            <!-- StkhSubtype -->
            <div class="control-group row-fluid">
                <label class="control-label">Designation</label>
                <div class="controls">
                    <input type="text" data-ng-model="profile.Designation" readonly="readonly" />
                </div>
            </div>

            <hr />

            <!-- Email -->
            <div class="control-group row-fluid">
                <label class="control-label">Email Id</label>
                <div class="controls">
                    <input type="email" data-ng-model="profile.EmailId" readonly="readonly" />
                </div>
            </div>

            <!-- Mobile No -->
            <div class="control-group row-fluid">
                <label class="control-label">Mobile Number</label>
                <div class="controls">
                    <input type="text" data-ng-model="profile.MobileNo" data-ng-disabled="isReadOnly" />
                    <i class="btn icon-edit" data-ng-show="isProfileExist(profile)" data-ng-click="open()"></i>
                </div>
            </div>

            <!-- Mobile No change popup -->
            <div data-ng-form="formChangeMobileNo" modal="shouldBeOpen" close="close()" options="opts">
                <div class="modal-header">
                    <h3>Change Mobile Number</h3>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Mobile Number</label>

                        <div class="controls">
                            <input type="text" name="profile.MobileNo" data-ng-model="profile.MobileNo" required data-ng-pattern="/^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$/" />
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid control-group">
                        <div class="controls">
                            <button class="btn btn-success" data-ng-disabled="profile.MobileNo.$invalid" data-ng-click="saveOrUpdateProfile(profile)">Save</button>

                            <button class="btn btn-warning" data-ng-click="close()">Cancel</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>   

    </div>

</form>