<div class="form-horizontal " data-ng-controller="addressCntrl" data-ng-show="addData.Hierarchy.HasAddress">
    <div class="row">

        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Address.Line1"
                field="stakeholderModels.line1"></cs-field>
        </div>
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Address.Line2"
                field="stakeholderModels.line2"></cs-field>
        </div>

    </div>

    <div class="row">

        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Address.Line3"
                field="stakeholderModels.line3"></cs-field>
        </div>
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Address.LandlineNo"
                field="stakeholderModels.landline"></cs-field>
        </div>
    </div>

    <!--Pincode-->
    <div class="row">
        <div class="col-md-5">
            <cs-field data-ng-model="addData.Pincode"
                field="stakeholderModels.pincode"
                typeahead="c.Area for c in Pincodes($viewValue, 'Area')"
                typeahead-min-length="3"
                typeahead-wait-ms="400"></cs-field>
        </div>
    </div>
</div>





<!--<div class="form-group col-md-5">
            <label class="control-label">Pincode</label>
            <div class="controls">
                <input
                    type="text"
                    data-ng-model="addData.Pincode"
                    typeahead="'c.Area for c in Pincodes($viewValue, 'Area')'"
                    data-ng-change="setPincodeOnArea(addData.Pincode)" />
            </div>
        </div>-->






<!-- <div class="form-group col-md-5">
         <label class="control-label">Line 1</label>
         <div class="controls">
             <input class="input medium" data-ui-if="addData.Hierarchy.HasAddress"
                    data-ng-model="$parent.WizardData.FinalPostModel.Address.Line1" />
         </div>
     </div>-->

<!--Line-2-->
<!-- <div class="form-group col-md-5">
         <label class="control-label">Line 2</label>
         <div class="controls">
             <input data-ui-if="addData.Hierarchy.HasAddress"
                    data-ng-model="$parent.WizardData.FinalPostModel.Address.Line2" />
         </div>
     </div>-->

<!--        <div class="form-group col-md-5">
                <label class="control-label">Line 3</label>
                <div class="controls">
                    <input
                        data-ng-model="$parent.WizardData.FinalPostModel.Address.Line3" />
                </div>
            </div>-->

<!--Landline No-->
<!--<div class="form-group col-md-5">
                <label class="control-label">Landline No</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="glyphicon glyphicon-phone"></i></span>
                        <span class="add-on">+91</span>
                        <input type="text" class="input-medium"
                               data-ng-pattern="/^[0-9]{11}$/"
                               name="landline"
                               data-ng-model="$parent.WizardData.FinalPostModel.Address.LandlineNo">
                    </div>
                    <div class="field-validation-error" data-ng-show="addressDetailsForm.landline.$error.pattern">{{val.Pattern(11)}}</div>
                </div>
            </div>-->
