<div data-ng-controller="StakeHierarchy">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">Hierarchy <label style="font-size:large; color:red">*</label></label>
            <div class="controls">
                <select
                    data-ng-model="$parent.WizardData.FinalPostModel.SelHierarchy.Hierarchy"
                    class="input-large"
                    data-ui-select2=""
                    data-ng-requiered="true"
                    data-ng-change="changeInHierarchy()">
                    <option></option>
                    <option
                        data-ng-repeat="data in HierarchyList | unique : 'Hierarchy'"
                        value="{{data.Hierarchy}}">{{data.Hierarchy}}
                    </option>
                </select>
            </div>
        </div>

        <div data-ng-show="$parent.WizardData.FinalPostModel.SelHierarchy.Hierarchy"
            class="row-fluid">
            <div class="control-group ">
                <label class="control-label">Designation <label style="font-size:large; color:red">*</label></label>
                <div class="controls">
                    <select
                        data-ng-model="$parent.WizardData.FinalPostModel.SelHierarchy.Designation"
                        class="input-large"
                        data-ui-select2=""
                        data-ng-required="true"
                        data-ng-change="assignSelectedHier()">
                        <option></option>
                        <option data-ng-repeat="data in HierarchyList | filter : {'Hierarchy' : $parent.WizardData.FinalPostModel.SelHierarchy.Hierarchy } | orderBy: 'PositionLevel'"
                            value="{{data.Id}}">{{getHierarchyDisplayName(data)}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
