<div data-ng-form="formStakeholder" class="form-horizontal" data-ng-init="init()">
    <div data-ng-show="showBasicInfo">
        <div class="panel">
            <div data-ng-form="basicInfoForm">
                <div class="row-fluid" data-ng-show="!(WizardData.IsEditMode() === true)">
                    <div class="panel-heading">
                        Select Hierarchy/Designation
                    </div>
                    <div class="row-fluid">
                        <div data-ng-include="'/Stakeholder/add/hierarchy.html'"></div>
                    </div>
                </div>
                <!--Basic Information-->
                <div data-ng-if="WizardData.FinalPostModel.SelHierarchy.Designation" class="row-fluid" data-ng-hide="!(WizardData.IsEditMode() === true || WizardData.FinalPostModel.SelHierarchy.Designation)">
                    <div class="panel-heading">
                        Basic Information : <span data-ng-show="indexData.Hierarchy.Designation!=null">{{indexData.Hierarchy.Hierarchy}} / {{indexData.Hierarchy.Designation}}</span>
                    </div>
                    <div class="row-fluid" data-ng-form="basicInfoForm">
                        <div data-ng-include="'/Stakeholder/add/basic.html'"></div>
                    </div>
                </div>
                <!--Registration-->
                <div class="row-fluid" data-ng-show="((WizardData.IsEditMode() === true && indexData.Hierarchy.HasRegistration) || (WizardData.showBasicInfo!=false) && indexData.Hierarchy.HasRegistration)">
                    <div class="panel-heading">
                        Registration :
                    </div>
                    <div class="row-fluid">
                        <div data-ng-include="'/Stakeholder/add/registration.html'"></div>
                    </div>
                </div>
                <!--Add Address-->
                <div class="row-fluid" data-ng-if="indexData.Hierarchy.HasAddress" data-ng-show="((WizardData.IsEditMode() === true && indexData.Hierarchy.HasAddress)||(WizardData.showBasicInfo!=false) && indexData.Hierarchy.HasAddress)">
                    <div class="panel-heading">
                        Address Details  :
                    </div>
                    <div class="row-fluid" data-ng-form="addressDetailsForm" data-ng-if="indexData.Hierarchy.HasAddress">
                        <div class="row-fluid">
                            <div data-ng-include="'/Stakeholder/add/address.html'"></div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="WizardData.FinalPostModel.SelHierarchy.Designation||WizardData.IsEditMode()">
                    <div class="text-right">
                        <button class="btn btn-success"
                            data-ng-show="!indexData.Hierarchy.HasWorking && !indexData.Hierarchy.HasPayment"
                            data-ng-disabled="basicInfoForm.$invalid "
                            data-ng-click="SaveData()">
                            Save</button>
                        <button class="btn btn-success" data-ng-show="indexData.Hierarchy.HasWorking || indexData.Hierarchy.HasPayment"
                            data-ng-disabled="basicInfoForm.$invalid"
                            data-ng-click="showWorkingScreen()">
                            <i class="icon-arrow-right"></i>Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div data-ng-if="showWorking">
        <div class="row-fluid" data-ng-show="showWorking">
            <h5>{{indexData.Hierarchy.Hierarchy}} / {{indexData.Hierarchy.Designation}}</h5>
            <!--Working-->
            <div class="row-fluid">
                <div class="panel">
                    <div data-ng-form="workingPaymentForm">
                        <div class="row-fluid" data-ng-show="indexData.Hierarchy.HasWorking">
                            <div data-ng-form="workingForm">
                                <div class="panel-heading">
                                    Working  
                                </div>
                                <div class="row-fluid">
                                    <div class="row-fluid">
                                        <div data-ng-include="'/Stakeholder/add/working.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-if="indexData.Hierarchy.HasPayment">
                            <div data-ng-form="paymentForm">
                                <div class="panel-heading">
                                    Payment    
                                </div>
                                <div class="row-fluid" data-ng-show="indexData.Hierarchy.HasPayment">
                                    <div class="row-fluid">
                                        <div data-ng-include="'/Stakeholder/add/payment.html'"></div>
                                    </div>
                                </div>
                                <div class="row-fluid text-center">
                                    <button
                                        data-ng-show="indexData.Hierarchy.HasPayment"
                                        class="btn btn-success"
                                        data-ng-disabled="enableAddToList(paymentForm.$invalid)"
                                        data-ng-click="addAnotherWorking()">
                                        Add To List</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" data-ng-show="displayPaymentWorkingData(indexData.Hierarchy,WizardData.FinalPostModel.PayWorkModelList.length)">
                        <div class="panel">
                            <div class="panel-heading">
                                Added Payment Working Groups 
                            </div>
                            <!--<div class="row-fluid">-->
                                <div data-ng-include="'/Stakeholder/add/show-working-payment.html'"></div>
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-success" data-ng-click="showBasicInfoScreen()"><i class="icon-arrow-left"></i>Prev</button>
                        <button class="btn btn-success"
                            data-ng-disabled="enableSave(indexData)"
                            data-ng-click="SaveData()">
                            Save</button>
                    </div>
                </div>
            </div>

            <div class="field-validation-error text-right" data-ng-show="formStakeholder.$invalid">{{val.Mandatory()}}</div>
            <br />

        </div>
    </div>
</div>
