<div data-ng-cloak="" data-ng-controller="PaymentDetails">
    <!--Stakeholder Payment-->
    <h5 style="font-weight: bold;">Payment Details</h5>

    <div data-ng-show="paymentData.Hierarchy.HasPayment">
        <!--Variable Payment-->
        <cs-form layout="6.4.8">
                            <div class="row" data-ng-show="paymentData.Hierarchy.HasVarible">
                            <h5 style="font-weight: normal;"><b>Variable Pay</b>
                                    <label style="color: red">(Select any one Policy) *</label></h5>
                            <hr />
                                <!--Collection Policy-->
                                    <cs-field data-ng-model="paymentData.Payment.CollectionBillingPolicy"
                                        data-ng-required="(paymentData.Hierarchy.HasVarible && paymentData.Payment.VariableLiner) "
                                        value-list="$parent.WizardData.BillingPolicy.LinerPolicies"
                                        field="paymentModel.CollectionPolicy">
                                        </cs-field>
                                <!--Recovery Policy-->
                                    <cs-field data-ng-model="paymentData.Payment.RecoveryBillingPolicy"
                                        data-ng-required="(paymentData.Hierarchy.HasVarible && paymentData.Payment.VariableWriteoff)  "
                                        value-list="$parent.WizardData.BillingPolicy.WriteOffPolicies"
                                        field="paymentModel.RecoveryPolicy">
                                        </cs-field>
                                </div>
                            <!--Fixed Pay-->
                            <div class="row" data-ng-if="paymentData.Hierarchy.HasFixed">
                            <h5 style="font-weight: normal;"><b>Fixed Pay</b></h5>
                            <hr />
                                <!--Basic-->
                                    <cs-field
                                        data-ng-model="paymentData.Payment.FixpayBasic"
                                        data-ng-required="paymentData.Hierarchy.HasFixed"
                                        field="paymentModel.FixpayBasic">
                                    </cs-field>
                                <!--HRA-->
                                    <div  data-ng-show="paymentData.Hierarchy.HasFixedIndividual">
                                        <cs-field
                                            data-ng-model="paymentData.Payment.FixpayHra"
                                            data-ng-required="paymentData.Hierarchy.HasFixedIndividual"
                                            field="paymentModel.FixpayHra"></cs-field>
                                    </div>
                            </div>
                            <!--Other and Total-->
                            <!--Other-->
                            <div class="row"  data-ng-show="paymentData.Hierarchy.HasFixedIndividual">
                                    <cs-field
                                        field="paymentModel.FixpayOther"
                                        data-ng-required="paymentData.Hierarchy.HasFixedIndividual"
                                        data-ng-model="paymentData.Payment.FixpayOther">
                                        </cs-field>
                                </div>
                            <!--Total-->
                            <div class="form-group  info" data-ng-show="false">
                                <label class="control-label">Total:</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-rupee"></i></span>
                                        <input type="text" data-ng-model="paymentData.Payment.FixpayTotal"
                                            disabled value="{{paymentData.Payment.FixpayTotal=TotalPayment(paymentData.Payment.FixpayBasic,paymentData.Payment.FixpayHra,paymentData.Payment.FixpayOther)}}" />
                                    </div>
                                </div>
                            </div>
                            <!--Salary calculating Table-->
                            <div class="row" data-ng-show="paymentData.Hierarchy.HasFixedIndividual">
                        <table class="table table-bordered table-hover" data-ng-show="paymentData.Payment.FixpayBasic">
                            <thead>
                                <tr>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic">Basic</th>
                                    <th data-ng-show="paymentData.Payment.FixpayHra && paymentData.Payment.FixpayOther">Allowances</th>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic">Employee PF</th>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic">Employer PF</th>
                                    <th>Employee ESIC</th>
                                    <th>Employer ESIC</th>
                                    <th>Service Charge</th>
                                    <th>Service Tax</th>
                                    <th>Gross Pay</th>
                                </tr>
                                <tr>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic"></th>
                                    <th data-ng-show="paymentData.Payment.FixpayHra && paymentData.Payment.FixpayOther"></th>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic">Basic * {{FixedPay.EmployeePF}}%</th>
                                    <th data-ng-show="paymentData.Payment.FixpayBasic">Basic * {{FixedPay.EmployerPF}}%</th>
                                    <th>Basic * {{FixedPay.EmployeeESIC}}%</th>
                                    <th>Basic * {{FixedPay.EmployerESIC}}% </th>
                                    <th>Basic * {{FixedPay.ServiceCharge}}%</th>
                                    <th>Basic * {{FixedPay.ServiceTax}}% </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-ng-show="paymentData.Payment.FixpayBasic">{{paymentData.Payment.FixpayBasic}}</td>
                                    <td data-ng-show="paymentData.Payment.FixpayHra && paymentData.Payment.FixpayOther">{{paymentData.Payment.FixpayHra*1 + paymentData.Payment.FixpayOther*1}}
                                    </td>
                                    <td data-ng-show="paymentData.Payment.FixpayBasic">{{(SalDetails.pf*1)}}</td>
                                    <td data-ng-show="paymentData.Payment.FixpayBasic">{{(SalDetails.pf*1)}}</td>
                                    <td>{{SalDetails.esicEmployee}}</td>
                                    <td>{{SalDetails.esicEmployer}}</td>
                                    <td>{{SalDetails.serviceCharge}}</td>
                                    <td>{{SalDetails.serviceTax}}</td>
                                    <td>{{paymentData.Payment.FixpayTotal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            <!--Allowances-->
                  <div class="row" data-ng-show="paymentData.Hierarchy.HasMobileTravel">
                        <h5 style="font-weight: normal;"><b>Reimbursement elgibility</b></h5>
                        <hr />
                        <!--Mobile and Travel-->
                            <!--MObile-->
                                <cs-field
                                    data-ng-required="paymentData.Hierarchy.HasMobileTravel"
                                    data-ng-model="paymentData.Payment.MobileElig"
                                    field="paymentModel.MobileElig"></cs-field>
          
                            <!--Travel-->
            
                                <cs-field
                                    data-ng-required="paymentData.Hierarchy.HasMobileTravel"
                                    data-ng-model="paymentData.Payment.TravelElig"
                                    field="paymentModel.TravelElig"></cs-field>
            
                    </div>
                            <!--Other Pay-->
                            <!--Service charge-->
                            <div class="row" data-ng-show="paymentData.Hierarchy.HasServiceCharge">
                            <h5 style="font-weight: normal;"><b>Other Charges</b></h5>
                            <hr />
                            <cs-field
                                data-ng-required="paymentData.Hierarchy.HasServiceCharge"
                                class="input-mini"
                                data-ng-model="paymentData.Payment.ServiceCharge" name="ServiceCharge"
                                field="paymentModel.ServiceCharge"></cs-field><br/>
         
                            </div>
            </cs-form>
    </div>
</div>



<!-- <div class="form-group col-md-6">
                             <label class="control-label">Collection Policy:</label>
                             <div class="controls">
                                 <select data-ui-select2="" id="linerPolicy" data-ng-required="(paymentData.Hierarchy.HasVarible && paymentData.Payment.VariableLiner) "
                                         data-ng-model="paymentData.Payment.CollectionBillingPolicy"
                                         style="min-width: 200px;">
                                     <option></option>
                                     <option value="{{c.Id}}" data-ng-repeat="c in $parent.WizardData.BillingPolicy.LinerPolicies">{{c.Name}}</option>
                                 </select>
                             </div>
                         </div>-->

<!--<div class="form-group col-md-6">
                            <label class="control-label">Recovery Policy:</label>
                            <div class="controls">
                                <select data-ui-select2="" id="writeoffPolicy" data-ng-required="(paymentData.Hierarchy.HasVarible && paymentData.Payment.VariableWriteoff) "
                                        data-ng-model="paymentData.Payment.RecoveryBillingPolicy"
                                        style="min-width: 200px;">
                                    <option></option>
                                    <option value="{{c.Id}}" data-ng-repeat="c in $parent.WizardData.BillingPolicy.WriteOffPolicies">{{c.Name}}</option>
                                </select>
                            </div>
                        </div>-->

<!--<div class="form-group col-md-6">
                            <label class="control-label">
                                Basic :
                                <label style="font-size: large; color: red">*</label></label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="glyphicon glyphicon-rupee"></i></span>
                                    <input type="text" name="FixpayBasic" data-ng-required="paymentData.Hierarchy.HasFixed " min="0" max="10000000"
                                        data-ng-maxlength="8" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" data-ng-model="paymentData.Payment.FixpayBasic" />
                                </div>-->
<!--Basic Validation-->
<!-- <div data-ng-show="paymentDetailsForm.FixpayBasic.$dirty ">
                                 <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayBasic.$error.required ">{{val.Required()}}</span>
                                 <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayBasic.$error.pattern">{{val.OnlyNumbers()}}</span>
                                 <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayBasic.$error.max">{{val.MaxAmt('10000000')}}</span>
                                 <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayBasic.$error.min">{{ val.MinLength('0')}} </span>
                                 <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayBasic.$error.maxlength">{{ val.MaxLength('8')}} </span>
                             </div>
                        </div>-->

<!--<label class="control-label">
                            Hra :
                                <label style="font-size: large; color: red">*</label></label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="glyphicon glyphicon-rupee"></i></span>
                                <input type="text" data-ng-required="paymentData.Hierarchy.HasFixedIndividual " min="0" max="100000"
                                    data-ng-maxlength="6" data-ng-model="paymentData.Payment.FixpayHra" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="FixpayHra" />
                            </div>
                            <!--HRA Validation-->
<!--<div data-ng-show="paymentDetailsForm.FixpayHra.$dirty ">
                                <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayHra.$error.required">{{val.Required()}}</span>
                                <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayHra.$error.pattern">{{val.OnlyNumbers()}}</span>
                                <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayHra.$error.maxlength">{{val.MaxLength('6')}}</span>
                                <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayHra.$error.min">{{ val.MinLength('0')}} </span>
                                <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayHra.$error.max">{{val.MaxAmt('100000')}}</span>
                            </div>
                        </div>-->

<!--<div class="form-group col-md-6" data-ng-show="paymentData.Hierarchy.HasFixedIndividual">
                        <label class="control-label">
                            Other :
                                <label style="font-size: large; color: red">*</label></label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="glyphicon glyphicon-rupee"></i></span>
                                <input type="text" data-ng-required="paymentData.Hierarchy.HasFixedIndividual " min="0" max="100000" data-ng-maxlength="6"
                                    data-ng-model="paymentData.Payment.FixpayOther" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="FixpayOther" />
                            </div>-->
<!--Other Validation-->
<!--  <div data-ng-show="paymentDetailsForm.FixpayOther.$dirty ">
                              <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayOther.$error.required">{{val.Required()}}</span>
                              <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayOther.$error.pattern">{{val.OnlyNumbers()}}</span>
                              <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayOther.$error.min">{{ val.MinLength('0')}} </span>
                              <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayOther.$error.min">{{ val.MaxLength('6')}} </span>
                              <span class="field-validation-error" data-ng-show="paymentDetailsForm.FixpayOther.$error.max">{{val.MaxAmt('100000')}}</span>
                          </div>
                    </div>-->


<!--<div class="form-group col-md-6">
                <label class="control-label">
                    Mobile:
                            <label style="font-size: large; color: red">*</label></label>
                <div class="controls">
                    <input type="text" data-ng-required="paymentData.Hierarchy.HasMobileTravel " min="0" data-ng-maxlength="5"
                        data-ng-model="paymentData.Payment.MobileElig" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="MobileElig" />-->
<!--Mobile Validation-->
<!-- <div data-ng-show="paymentDetailsForm.MobileElig.$dirty ">
                     <span class="field-validation-error" data-ng-show="paymentDetailsForm.MobileElig.$error.required">{{val.Required()}}</span>
                     <span class="field-validation-error" data-ng-show="paymentDetailsForm.MobileElig.$error.pattern">{{val.OnlyNumbers()}}</span>
                     <span class="field-validation-error" data-ng-show="paymentDetailsForm.MobileElig.$error.maxlength">{{val.MaxLength('5')}}</span>
                     <span class="field-validation-error" data-ng-show="paymentDetailsForm.MobileElig.$error.min">{{ val.MinLength('0')}} </span>
                 </div>
            </div>
            </div>-->

<!-- <div class="form-group col-md-6">
                    <label class="control-label">
                        Travel:
                            <label style="font-size: large; color: red">*</label></label>
                    <div class="controls">
                        <input type="text" data-ng-required="paymentData.Hierarchy.HasMobileTravel " min="0" data-ng-maxlength="5"
                            data-ng-model="paymentData.Payment.TravelElig" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" name="TravelElig" />
                        <!--Travel Validation-->
<!--<div data-ng-show="paymentDetailsForm.TravelElig.$dirty ">
                    <span class="field-validation-error" data-ng-show="paymentDetailsForm.TravelElig.$error.required">{{val.Required()}}</span>
                    <span class="field-validation-error" data-ng-show="paymentDetailsForm.TravelElig.$error.pattern">{{val.OnlyNumbers()}}</span>
                    <span class="field-validation-error" data-ng-show="paymentDetailsForm.TravelElig.$error.maxlength">{{val.MaxLength('5')}}</span>
                    <span class="field-validation-error" data-ng-show="paymentDetailsForm.TravelElig.$error.min">{{ val.MinLength('0')}} </span>
                </div>
            </div>
        </div>
        -->
<!--<div class="form-group col-md-6">
            <label class="control-label">
                Service Charge:
                            <label style="font-size: large; color: red">*</label></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text"
                        data-ng-required="paymentData.Hierarchy.HasServiceCharge "
                        data-ng-pattern="/^$|^\d{0,2}(\.\d{1,2})? *%?$/"
                        data-ng-maxlength="99.99"
                        class="input-mini"
                        data-ng-model="paymentData.Payment.ServiceCharge" name="ServiceCharge" />
                    <span class="add-on">%</span>
                </div>
                <!--Payment Validation-->
<!--<div data-ng-show="paymentDetailsForm.ServiceCharge.$dirty ">
                        <span class="field-validation-error" data-ng-show="paymentDetailsForm.ServiceCharge.$error.required">{{val.Required()}}</span>
                        <span class="field-validation-error" data-ng-show="paymentDetailsForm.ServiceCharge.$error.maxlength">{{val.MaxLength(99.99)}}</span>
                        <span class="field-validation-error" data-ng-show="paymentDetailsForm.ServiceCharge.$error.pattern">{{val.ValidName('Percentage')}}</span>
                    </div>
                </div>
                </div>-->



<!--modal pop-up for delete payment-->

<!-- <div modal="confirmDel.showModal" options="modelOption">
                 <div class="modal-header">
                     <strong>Confirm Delete</strong>
                 </div>
                 <div class="modal-body">
                     Associated Working will also be Deleted
                 </div>
                 <div class="modal-footer">
                     <div class="row form-horizontal text-right">
                         <button class="btn btn-primary" data-ng-click="deletePayment()">Delete</button>
                         <button class="btn btn-primary" data-ng-click="cancelDelete()">Cancel</button>
                     </div>
                 </div>
             </div>-->
