<div class="form-horizontal" data-ng-controller="Registration">
    <div class="row">
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Registration.TanNo"
                field="stakeholderModels.TAN"></cs-field>
        </div>
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Registration.PanNo"
                field="stakeholderModels.PAN"></cs-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Registration.RegistrationNo"
                field="stakeholderModels.Registration"></cs-field>
        </div>
        <div class="col-md-5">
            <cs-field data-ng-model="$parent.WizardData.FinalPostModel.Registration.ServiceTaxno"
                field="stakeholderModels.ServiceTaxNo"></cs-field>
        </div>
    </div>
</div>

<!--<div class="form-group col-md-5">
        <label class="control-label">TAN</label>
        <div class="controls">
            <input type="text"
                   data-ng-model="$parent.WizardData.FinalPostModel.Registration.TanNo" />
        </div>
    </div>-->


<!--<div class="form-group col-md-5">
        <label class="control-label">PAN</label>
        <div class="controls">
            <input
                data-ng-model="$parent.WizardData.FinalPostModel.Registration.PanNo" />
        </div>
    </div>-->

<!--<div class="form-group col-md-5">
        <label class="control-label">Registration No</label>
        <div class="controls">
            <input
                data-ng-model="$parent.WizardData.FinalPostModel.Registration.RegistrationNo" />
        </div>
    </div>-->


<!--<div class="form-group col-md-5">
            <label class="control-label">Service Tax</label>
            <div class="controls">
                <input
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.ServiceTaxno" />
            </div>
        </div>-->
