<!--accordion close-others="oneAtATime">
    <accordion-group 
        data-ng-repeat="data in WizardData.FinalPostModel.PayWorkModelList"
        heading="WorkingPayment Group no: {{$index+1}}" >
        <div class="row" data-ng-class="{redRow:data.Payment.RowStatus=='Delete'}">
            <div class="row">
                <button 
                    class="btn btn-success" 
                    data-ng-click="deletePaymentWorking($index,data)"
                    data-ng-hide="data.Payment.RowStatus=='Delete'">Delete</button>
            </div>
            <table class="table table-bordered" data-ng-show="data.Payment" data-ng-class="{redRow:data.Payment.RowStatus=='Delete'}" >
                <thead>
                    <tr>
                        <th>Variable Liner</th>
                        <th>Variable Write Off</th>
                        <th>FixpayBasic</th>
                        <th>FixpayHra</th>
                        <th>FixpayOther</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.Payment.VariableLiner}}</td>
                        <td>{{data.Payment.VariableWriteoff}}</td>
                        <td>{{data.Payment.FixpayBasic}}</td>
                        <td>{{data.Payment.FixpayHra}}</td>
                        <td>{{data.Payment.FixpayOther}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Country</th>
                        <th>Region</th>
                        <th>State</th>
                        <th>Cluster</th>
                        <th>City</th>
                        <th>Area</th>
                        <th>Bucket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="work in data.WorkList">
                        <td>{{work.Products}}</td>
                        <td>INDIA</td>
                        <td>{{work.Region}}</td>
                        <td>{{work.State}}</td>
                        <td>{{work.Cluster}}</td>
                        <td>{{work.City}}</td>
                        <td>{{work.Area}}</td>
                        <td>{{work.BucketStart}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </accordion-group>
</accordion>-->

<div>
    <div data-ng-repeat="data in WizardData.FinalPostModel.PayWorkModelList">
        <button class="btn btn-link" data-ng-click="setPayWorkIndex($index+1)">WorkingPayment Group no: {{$index+1}}</button>
        <div data-ng-show="showIndex==={{$index+1}}" class="row">
            <div class="row">
                <button
                    class="btn btn-success"
                    data-ng-click="deletePaymentWorking($index,data)"
                    data-ng-hide="data.Payment.RowStatus=='Delete'">
                    Delete</button>
            </div>
            <table class="table table-bordered" data-ng-show="data.Payment">
                <thead>
                    <tr>
                        <th>Variable Liner</th>
                        <th>Variable Write Off</th>
                        <th>FixpayBasic</th>
                        <th>FixpayHra</th>
                        <th>FixpayOther</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-class="{redRow:data.Payment.RowStatus=='Delete'}">
                        <td>{{data.Payment.VariableLiner}}</td>
                        <td>{{data.Payment.VariableWriteoff}}</td>
                        <td>{{data.Payment.FixpayBasic}}</td>
                        <td>{{data.Payment.FixpayHra}}</td>
                        <td>{{data.Payment.FixpayOther}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Country</th>
                        <th>Region</th>
                        <th>State</th>
                        <th>Cluster</th>
                        <th>City</th>
                        <th>Area</th>
                        <th>Bucket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="work in data.WorkList" data-ng-class="{redRow:data.Payment.RowStatus=='Delete'}">
                        <td>{{work.Products}}</td>
                        <td>INDIA</td>
                        <td>{{work.Region}}</td>
                        <td>{{work.State}}</td>
                        <td>{{work.Cluster}}</td>
                        <td>{{work.City}}</td>
                        <td>{{work.Area}}</td>
                        <td>{{work.BucketStart}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
