<div class="container">
    <form name="keyvalueform">
        <div class="row-fluid form-horizontal">


            <div class="panel">
                <div class="row-fluid">
                    <div class="panel-heading">Set Key Value</div>
                    <span class="span5">
                        <cs-field data-ng-model="gKeyValue.Area" field="gKeyValuefield.Area"
                            data-ng-change="datalayer.GetKeyValues(gKeyValue.Area)"></cs-field>
                    </span>
                    <span class="span5">
                        <cs-field data-ng-model="gKeyValue.Key" value-list="dldata.Keys"
                            class="input-large"
                            data-ng-change="changeKey(gKeyValue.Key)" field="gKeyValuefield.Key"></cs-field>
                        <i class="btn icon-plus" data-ng-hide="true" data-ng-click="openModel(gKeyValue)"></i>
                    </span>
                </div>

            </div>
        </div>
        <!--style="padding-left: 200px"-->
        <div data-ng-show="gKeyValue.Key">
            <div class="row-fluid" data-ng-show="dldata.Values.length > 0">
                Total Values : {{dldata.Values.length}}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <i class="btn icon-plus" data-ng-show="showAddButton" data-ng-click="addNew=true"></i>
                    </th>
                    <th>Values</th>
                </tr>
                <tr data-ng-show="showAddButton && addNew" data-ng-form="addNewValueForm">
                    <td>
                        <i class="btn icon-save" data-ng-show="addNewValueForm.$valid" data-ng-click="saveKeyValue(gKeyValue,dldata.gKeyValue.ValueType);addNew=false"></i>
                    </td>
                    <td>
                        <div data-ng-switch on="dldata.gKeyValue.ValueType">
                            <div data-ng-switch-when="Number">
                                <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>

                            </div>
                            <div data-ng-switch-when="NumberList">
                                <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>
                            </div>


                            <div data-ng-switch-when="Date">
                                <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>

                            </div>
                            <div data-ng-switch-when="DateList">
                                <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>
                            </div>

                            <div data-ng-switch-default>
                                <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.TextValue" no-label=""></cs-field>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="v in dldata.Values | orderBy : 'Value'">
                    <td>
                        <div class="btn-group">
                            <i class="btn icon-edit" data-ng-show="!isEdit" data-ng-click="isEdit=true"></i>
                            <i class="btn icon-save" data-ng-show="isEdit" data-ng-click="saveKeyValue(v,dldata.gKeyValue.ValueType);isEdit=false"></i>
                        </div>
                    </td>
                    <td>
                        <div data-ng-show="!isEdit" data-ng-switch on="dldata.gKeyValue.ValueType">
                            <div data-ng-switch-when="Date">{{v.Value | date:'yyyy-MM-dd'}}</div>
                            <div data-ng-switch-when="DateList">{{v.Value | date:'yyyy-MM-dd'}}</div>
                            <div data-ng-switch-default>{{v.Value}}</div>
                        </div>

                        <div data-ng-show="isEdit" data-ng-switch on="dldata.gKeyValue.ValueType">
                            <div data-ng-switch-when="Number">
                                <cs-field data-ng-model="v.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>

                            </div>
                            <div data-ng-switch-when="NumberList">
                                <cs-field data-ng-model="v.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>

                            </div>

                            <div data-ng-switch-when="Date">
                                <cs-field data-ng-model="v.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>

                            </div>
                            <div data-ng-switch-when="DateList">
                                <cs-field data-ng-model="v.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>
                            </div>

                            <div data-ng-switch-default>
                                <cs-field data-ng-model="v.Value" field="gKeyValuefield.TextValue" no-label=""></cs-field>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
    </form>
</div>

<div data-ng-hide="true" modal="shouldBeOpen" close="closeModel()" options="modelOption">
    <div class="modal-header well">
        <h3>Add New Key Value</h3>
    </div>
    <div data-ng-form="formAddKeyValue" class="form-horizontal">
        <div class="modal-body">

            <cs-field data-ng-model="gKeyValue.Area" field="gKeyValuefield.Area"
                data-ng-change="datalayer.GetKeyValues(gKeyValue.Area)"></cs-field>


            <cs-field data-ng-model="gKeyValue.Key" value-list="dldata.Keys"
                class="input-large"
                data-ng-change="changeKey(gKeyValue.Key)" field="gKeyValuefield.Key"></cs-field>

            <cs-field data-ng-model="gKeyValue.ValueType" value-list="valueTypes"
                field="gKeyValuefield.ValueType"></cs-field>


            <div class="control-group row-fluid">
                <label class="control-label">Value</label>
                <div class="controls">
                    <div data-ng-switch on="gKeyValue.ValueType">

                        <cs-field data-ng-switch-when="Number" data-ng-model="gKeyValue.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>
                        <cs-field data-ng-switch-when="NumberList" data-ng-model="gKeyValue.Value" field="gKeyValuefield.NumberValue" no-label=""></cs-field>
                        <cs-field data-ng-switch-default="text" data-ng-model="gKeyValue.Value" field="gKeyValuefield.TextValue" no-label=""></cs-field>


                        <div data-ng-switch-when="Date">
                            <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>
                        </div>
                        <div data-ng-switch-when="DateList">
                            <cs-field data-ng-model="gKeyValue.Value" field="gKeyValuefield.DateValue" no-label=""></cs-field>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer well">
            <button class="btn btn-success" data-ng-click="saveKeyValue(gKeyValue,dldata.gKeyValue.ValueType);shouldBeOpen = false;" data-ng-disabled="!formAddKeyValue.$valid">Save</button>
            <button class="btn btn-warning" data-ng-click="closeModel()">Close</button>
        </div>
    </div>
</div>






<!--<div class="control-group span5">
        <label class="control-label">Area</label>
        <div class="controls">
            <select data-ng-model="gKeyValue.Area" class="input-large" data-ng-change="datalayer.GetKeyValues(gKeyValue.Area)">
                <option value=""></option>
                <option data-ng-repeat="s in dldata.Areas | orderBy: 'toString()'">{{s}}</option>
            </select>
        </div>
    </div>-->
<!-- <div class="control-group span6">
         <label class="control-label">Key</label>
         <div class="controls">
             <select data-ng-model="gKeyValue.Key" class="input-large" data-ng-change="changeKey(gKeyValue.Key)">
                 <option value=""></option>
                 <option data-ng-repeat="s in dldata.Keys | orderBy: 'toString()'">{{s}}</option>
             </select>
             <i class="btn icon-plus" data-ng-hide="true" data-ng-click="openModel(gKeyValue)"></i>
         </div>
     </div>-->

<!-- <input class="input-medium" type="number" step="any" data-ng-model="gKeyValue.Value" required />-->
<!-- <input class="input-medium" type="number" step="any" data-ng-model="gKeyValue.Value" required />-->
<!-- <input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
            data-date-format="dd-mm-yyyy" bs-datepicker>-->
<!--<input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
                                           data-date-format="dd-mm-yyyy" bs-datepicker>-->
<!--  <input class="input-medium" type="text" data-ng-model="gKeyValue.Value" required />-->

<!--<input class="input-medium" type="number" step="any" data-ng-model="v.Value" required />-->
<!--<input class="input-medium" type="number" step="any" data-ng-model="v.Value" required />-->
<!--<input class="input-medium" type="text" name="ValueDate" data-ng-model="v.Value"
           data-date-format="dd-mm-yyyy" bs-datepicker>-->
<!-- <input class="input-medium" type="text" name="ValueDate" data-ng-model="v.Value"
            data-date-format="dd-mm-yyyy" bs-datepicker>-->
<!-- <input class="input-medium" type="text" data-ng-model="v.Value" required />-->






<!--modal popup data-->
<!--  <div class="control-group row-fluid">
                      <label class="control-label">Area</label>
                      <div class="controls">
                          <select data-ng-model="gKeyValue.Area" class="input-large">
                              <option value=""></option>
                              <option data-ng-repeat="s in dldata.Areas | orderBy: 'toString()'">{{s}}</option>
                          </select>
                      </div>
                  </div>
                <div class="control-group row-fluid">
                    <label class="control-label">Key</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gKeyValue.Key" required data-placeholder="Key" />
                    </div>
                </div>-->
<!--<div class="control-group row-fluid">
        <label class="control-label">ValueType</label>
        <div class="controls">
            <select data-ng-model="gKeyValue.ValueType" class="input-large">
                <option value=""></option>
                <option data-ng-repeat="s in valueTypes | orderBy: 'toString()'">{{s}}</option>
            </select>
        </div>
    </div>-->

<!-- <input class="input-medium" data-ng-switch-when="Number" type="number" data-ng-model="gKeyValue.Value" required />
    <input class="input-medium" data-ng-switch-when="NumberList" type="number" data-ng-model="gKeyValue.Value" required />
    <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="gKeyValue.Value" required />-->

<!--<input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
           data-date-format="dd-mm-yyyy" bs-datepicker>-->

<!--<input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
           data-date-format="dd-mm-yyyy" bs-datepicker>-->



