<div class="form-horizontal" data-ng-form="frmPermission">
    <div class="panel panel-info">
        <div class="panel-heading">Permissions</div>
        <div class="panel-body">
            <div class="col-md-6">
                <select data-ng-model="perm.hierarchy"
                    class="form-control" data-ng-options="hier.Hierarchy for hier in  dldata.Hierarchy|unique : 'Hierarchy'">
                </select>
            </div>

            <div data-ng-show="perm.hierarchy">
                <div class="col-md-6">
                    <select data-ng-model="perm.designation"
                        class="form-control"
                        data-ng-options="hier.Id as hier.Designation for hier in  dldata.Hierarchy|orderBy: 'PositionLevel'"
                        data-ng-change="getPermission(perm.designation)">
                    </select>
                    <!--  <select data-ng-model="perm.designation"
                                  class="form-control"
                                  data-ng-options="hier.Id as hier.Designation for hier in dldata.Hierarchy|
                        filter : {'Hierarchy' : perm.hierarchy} | orderBy: 'PositionLevel'"
                                  data-ng-change="datalayer.GetPermission(perm.designation)">
                          </select>-->
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="perm.designation">
        <div data-ng-repeat="(key,module) in displayData track by key">
            <div class="panel">
                <div class="panel-heading"><b>{{module.Activity}}</b></div>
                <div class="panel-body">
                    <div data-ng-repeat="(key,children) in module.Childrens">
                        <div class="col-md-5">
                            <input type="checkbox" data-ng-model="children.HasAccess" data-ng-click="uncheckChildren(children)">
                            <b>{{children.Activity}}</b>
                            <div><sub>{{children.Description}}</sub></div>
                        </div>
                        <div data-ng-show="children.HasAccess" data-ng-repeat="(key,grandChildren) in children.Childrens">
                            <div class="col-md-5">
                                <input type="checkbox" data-ng-model="grandChildren.HasAccess" data-ng-click="uncheckChildren(grandChildren)">
                                <b>{{grandChildren.Activity}}</b>
                                <div><sub>{{grandChildren.Description}}</sub></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button data-ng-click="save(displayData)" class="btn btn-success ">Save</button>
        </div>
    </div>
</div>

<!-- <div data-ng-repeat="(key, module) in dldata.permission track by key">
                 <div class="panel">
                     <div class="panel-heading">
                         {{module.name}}
                     </div>
                     <div>
                         <input type="checkbox" data-ng-checked="ticks(module)" data-ng-model="selAll" data-ng-click="selectAll(selAll,module)" /><label>Select All</label>
                     </div>
                     <div data-ng-repeat="(key,activity) in module.childrens track by key">

                         <div class="col-md-5">
                             <input type="checkbox" data-ng-model="activity.access" data-ng-click="uncheckChildren(activity)" />{{activity.name}}
                             <div><sub>{{activity.description}}</sub></div>
                         </div>

                         <div data-ng-if="activity.access" data-ng-repeat="(key,permissions) in activity.childrens track by key">

                             <div class="col-md-5">
                                 <input type="checkbox" data-ng-model="permissions.access" data-ng-click="uncheckChildren(permissions)" />{{permissions.name}}
                                 <div><sub>{{permissions.description}}</sub></div>
                             </div>

                             <div data-ng-repeat="(key,extraPermissions) in permissions.childrens track by key">
                                 <div class="col-md-5">
                                     <input type="checkbox" data-ng-model="extraPermissions.access" data-ng-click="uncheckChildren(extraPermissions)" />{{extraPermissions.name}}
                                     <div><sub>{{extraPermissions.description}}</sub></div>
                                 </div>
                             </div>

                         </div>

                     </div>
                 </div>
             </div>-->


