@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="keyValueCtrl" class="container">
    <div class="row-fluid form-horizontal">
        
        <div class="panel">
            <div class="row-fluid">
                 <div class="panel-heading">Set Key Value</div>
            <div class="control-group span5">
                <label class="control-label">Area</label>
                <div class="controls">
                    <select data-ng-model="gKeyValue.Area" class="input-large" data-ng-change="changeArea(gKeyValue.Area)" data-ui-select2="">
                        <option value=""></option>
                        <option data-ng-repeat="s in Areas | orderBy: 'toString()'">{{s}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label">Key</label>
                <div class="controls">
                    <select data-ng-model="gKeyValue.Key" class="input-large" data-ng-change="changeKey(gKeyValue.Key)" data-ui-select2="">
                        <option value=""></option>
                        <option data-ng-repeat="s in Keys | orderBy: 'toString()'">{{s}}</option>
                    </select>
                    <i class="btn icon-plus" data-ng-hide="true" data-ng-click="openModel(gKeyValue)"></i>
                </div>
            </div>
            </div>
           
            @*<div class="control-group" >
                <label class="control-label">Value Type</label>
                <div class="controls">
                    <input type="text" data-ng-model="gKeyValue.ValueType" readonly="readonly" />
                </div>
            </div>*@
        </div>
    </div>
    <div class="row-fluid span8" data-ng-show="Values.length" style="padding-left: 200px">
        Total Values : {{Values.length}}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <i class="btn icon-plus" data-ng-show="showAddButton" data-ng-click="addNew=true"></i>
                    </th>
                    <th>Values</th>
                </tr>
                <tr data-ng-show="showAddButton && addNew" data-ng-form="addNewValueForm">
                    <td>
                        <i class="btn icon-save" data-ng-show="addNewValueForm.$valid" data-ng-click="saveKeyValue(gKeyValue);addNew=false"></i>
                    </td>
                    <td>
                        <div data-ng-switch on="gKeyValue.ValueType">
                            <input class="input-medium" data-ng-switch-when="Number" type="number" data-ng-model="gKeyValue.Value" required />
                            <input class="input-medium" data-ng-switch-when="NumberList" type="number" data-ng-model="gKeyValue.Value" required />
                            <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="gKeyValue.Value" required />

                            <div data-ng-switch-when="Date">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                            <div data-ng-switch-when="DateList">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="v in Values | orderBy : 'Value'">
                    <td>
                        <div class="btn-group">
                            <i class="btn icon-edit" data-ng-show="!isEdit" data-ng-click="isEdit=true"></i>
                            <i class="btn icon-save" data-ng-show="isEdit" data-ng-click="saveKeyValue(v);isEdit=false"></i>
                        </div>
                    </td>
                    <td>
                        <div data-ng-show="!isEdit" data-ng-switch on="gKeyValue.ValueType">
                            <div data-ng-switch-when="Date">{{v.Value | date:'yyyy-MM-dd'}}</div>
                            <div data-ng-switch-when="DateList">{{v.Value | date:'yyyy-MM-dd'}}</div>
                            <div data-ng-switch-default="text">{{v.Value}}</div>
                        </div>
                        <div data-ng-show="isEdit" data-ng-switch on="gKeyValue.ValueType">
                            <input class="input-medium" data-ng-switch-when="Number" type="number" data-ng-model="v.Value" required />
                            <input class="input-medium" data-ng-switch-when="NumberList" type="number" data-ng-model="v.Value" required />
                            <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="v.Value" required />

                            <div data-ng-switch-when="Date">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="v.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                            <div data-ng-switch-when="DateList">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="v.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div modal="shouldBeOpen" close="closeModel()" options="modelOption">
        <div class="modal-header well">
            <h3>Add New Key Value</h3>
        </div>
        <div data-ng-form="formAddKeyValue" class="form-horizontal">
            <div class="modal-body">
                <div class="control-group row-fluid">
                    <label class="control-label">Area</label>
                    <div class="controls">
                        <select data-ng-model="gKeyValue.Area" class="input-large" data-ui-select2="">
                            <option value=""></option>
                            <option data-ng-repeat="s in Areas | orderBy: 'toString()'">{{s}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <label class="control-label">Key</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gKeyValue.Key" required data-placeholder="Key" />
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <label class="control-label">ValueType</label>
                    <div class="controls">
                        <select data-ng-model="gKeyValue.ValueType" class="input-large" data-ui-select2="">
                            <option value=""></option>
                            <option data-ng-repeat="s in valueTypes | orderBy: 'toString()'">{{s}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <label class="control-label">Value</label>
                    <div class="controls">
                        <div data-ng-switch on="gKeyValue.ValueType">
                            <input class="input-medium" data-ng-switch-when="Number" type="number" data-ng-model="gKeyValue.Value" required />
                            <input class="input-medium" data-ng-switch-when="NumberList" type="number" data-ng-model="gKeyValue.Value" required />
                            <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="gKeyValue.Value" required />

                            <div data-ng-switch-when="Date">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                            <div data-ng-switch-when="DateList">
                                <input class="input-medium" type="text" name="ValueDate" data-ng-model="gKeyValue.Value"
                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer well">
                <button class="btn btn-success" data-ng-click="saveKeyValue(gKeyValue);shouldBeOpen = false;" data-ng-disabled="!formAddKeyValue.$valid">Save</button>
                <button class="btn btn-warning" data-ng-click="closeModel()">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Generic/ViewModels/keyValueCtrl.js"></script>
}
