@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="formulaCtrl">
    <div class="span2">
        <ul role="menu" class="nav nav-tabs nav-stacked">
            <li class="caption btn-warning">
                <a>Formula</a>
            </li>
            <li class="content" data-ng-repeat="sformula in formulaList | orderBy : 'Name'">
                <a class="btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
            </li>
        </ul>
    </div>
    <div class="span10">
        <div data-ng-form="formulaForm" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <csunique ngbind="formula.Name" nglist="formulaList" ngproperty="Name"></csunique>
                </div>
            </div>            
            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    <csswitch ngbind="formula.Category" onbtnclick="changeProductCategory()" namevalues="categorySwitch"></csswitch>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-large" data-ng-model="formula.Products"
                        data-ng-change="changeProductCategory()" data-ng-options="c for c in productsList" required>
                        <option value="">--Select Product--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">Condition</div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <td>Column</td>
                        <td>Operater</td>
                        <td>Value Type</td>
                        <td>Value</td>
                        <td></td>
                    </tr>
                    <tr data-ng-form="newConditionForm">
                        <td>
                            <csswitch ngdisabled="formula.BConditions.length<1" ngbind="newCondition.RelationType" namevalues="relationTypeSwitch"></csswitch>
                        </td>
                        <td>
                            <select class="input-medium" data-ng-model="selectedLeftColumn"
                                data-ng-change="leftColumnChange(selectedLeftColumn,newCondition)"
                                data-ng-options="c.field for c in conditionColumns" required>
                            </select>
                        </td>
                        <td>
                            <select data-ng-show="conditionOperators.length>1" class="input-small" data-ng-model="newCondition.Operator"
                                data-ng-options="c for c in conditionOperators" required>
                            </select>
                            <input class="input-small" data-ng-model="newCondition.Operator" data-ng-show="conditionOperators.length<2" />
                        </td>
                        <td>
                            <select class="input-small" data-ng-model="newCondition.Rtype" data-ng-change="selectedRightColumn='';newCondition.RtypeName='';newCondition.Rvalue=''" required>
                                <option value="Column">Column</option>
                                <option value="Value">Value</option>
                            </select>
                        </td>
                        <td class="input-large">
                            <div data-ng-switch on="newCondition.Rtype">
                                <select class="input-medium" ng-switch-when="Column" data-ng-model="selectedRightColumn"
                                    data-ng-change="newCondition.RtypeName=selectedRightColumn.field"
                                    data-ng-options="c.field for c in conditionColumns | filter:{InputType:selectedLeftColumn.InputType}" required>
                                </select>

                                <div ng-switch-when="Value" data-ng-switch on="selectedLeftColumn.InputType">
                                    <input class="input-medium" ng-switch-when="text" type="text" data-ng-model="newCondition.Rvalue" required />
                                    <input class="input-small" ng-switch-when="number" type="number" data-ng-model="newCondition.Rvalue" required />
                                    <input class="input-medium" ng-switch-default="text" type="text" data-ng-model="newCondition.Rvalue" required />

                                    <div ng-switch-when="date">
                                        <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="newCondition.Rvalue"
                                            data-date-format="dd-mm-yyyy" bs-datepicker>
                                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                                    </div>

                                    <select ng-switch-when="checkbox" class="input-small" data-ng-model="newCondition.Rvalue" required>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>

                                    <select ng-switch-when="dropdown" class="input-small" data-ng-model="newCondition.Rvalue" data-ng-options="c for  c in conditionValues" required>
                                    </select>

                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn icon-plus" data-ng-disabled="!(newConditionForm.$valid && (formula.BConditions.length < 1 || newCondition.RelationType !==''))"
                                data-ng-click="addNewCondition(newCondition);">
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="condition in formula.BConditions">
                        <td>{{condition.RelationType}}</td>
                        <td>{{condition.LtypeName}}</td>
                        <td>{{condition.Operator}}</td>
                        <td colspan="2">{{condition.RtypeName + condition.Rvalue}}</td>
                        <td>
                            <i class="btn icon-remove" data-ng-click="deleteCondition(condition,$index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" data-ng-disabled="!(formulaForm.$valid && formula.BConditions.length>0)" data-ng-click="saveFormula(formula)">Save</button>
            <button class="btn btn-warning" data-ng-click="formula = {};formula.BConditions = [];">Reset</button>
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Areas/Billing/ViewModels/formulaCtrl.js"></script>
}