<div class="form-horizontal">
    <form name="filestatusdate" novalidate="">
        <cs-form>
            <cs-field layout="5.4.8" data-ng-model="fileScheduler.fromDate" field="fileSchedulerfield.fromDate"></cs-field>

            <cs-field layout="3.0.12" data-ng-model="fileScheduler.toDate" field="fileSchedulerfield.toDate" no-label=""></cs-field>
            <span class="col-md-2">
                <cs-button type="save" text="OK" data-ng-click="factory.timer.force()"></cs-button>
            </span>
      </cs-form>
    </form>
</div>

<div data-ng-include="baseUrl +'FileUpload/filestatus/file-status-grid.html'"></div>
<!--<iframe id="downloadFrame" style="display: none"></iframe>-->
