<!-- update counter -->
<div class="text-left alert alert-success nopadding" style="margin-bottom: 0; margin-right: 0">
    <div data-ng-show="doUpdate">
        <span>Refreshing upload status from DB!!!</span>
    </div>
    <div data-ng-hide="doUpdate">
        <button class="btn btn-link" data-ng-click="factory.refresh.toggle()">{{factory.refresh.refreshText()}}</button>
        <span>...Refreshing upload status in {{factory.timer.timePending}} seconds</span>
    </div>
</div>

<!-- status display -->
<div class="nopadding" style="overflow: auto; height: 450px; width: 100%; white-space: nowrap">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2">Actions</th>
                <th>Systems</th>
                <th>Category</th>
                <th>File Name</th>
                <th>Total Rows</th>
                <th>Valid Rows</th>
                <th>File Date</th>
                <th>Upload Status</th>
                <th>Status Description</th>
                <th>File Size</th>
                <th>Requested On</th>
                <th>Upload Done On</th>
                <th>Immediate</th>
                <th>Immediate Reason</th>
            </tr>
            <tr>
                <th colspan="2"></th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.ScbSystems"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.Category"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.FileName"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.TotalRows"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.ValidRows"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.FileDate"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.UploadStatus"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.StatusDescription"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.FileSize"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.StartDateTime"/>
                </th>
                <th>
                    <input type="text"class="form-control" data-ng-model="search.EndDateTime"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.IsImmediate"/>
                </th>
                <th>
                    <input type="text" class="form-control" data-ng-model="search.ImmediateReason"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="fileScheduler in datalayer.dldata.fileSchedulers | filter:search"
                data-ng-class="{'alert-danger': fileScheduler.UploadStatus == 'Error', 'alert-info': fileScheduler.UploadStatus == 'UploadStarted', 'alert-success': fileScheduler.UploadStatus == 'Done' || fileScheduler.UploadStatus == 'DoneWithError','alert-info': fileScheduler.UploadStatus == 'PostProcessing'}">
                <td colspan="2">
                    <div class="btn-group">
                        <button class="btn btn-link" data-ng-show="{{fileScheduler.UploadStatus=='Error'}}" data-ng-click="showDeleteModal(fileScheduler)" type="button">Delete</button>
                        <button class="btn btn-link" data-ng-show="{{fileScheduler.UploadStatus=='Done' || fileScheduler.UploadStatus=='DoneWithError'}}" data-ng-click="downloadOutput(fileScheduler)" type="button">Download</button>
                        <button class="btn btn-link" data-ng-show="{{fileScheduler.UploadStatus=='UploadRequest' && fileScheduler.IsImmediate != true }}" data-ng-click="showImmediateModal(fileScheduler)" type="button">Immediate</button>
                        <button class="btn btn-link" data-ng-show="{{fileScheduler.UploadStatus=='Error'}}" data-ng-click="retryUpload(fileScheduler)" type="button">Retry</button>
                        <button class="btn btn-link" data-ng-show="{{fileScheduler.UploadStatus!='UploadRequest' && fileScheduler.UploadStatus!='Error' && fileScheduler.UploadStatus!='RetryUpload' }}" data-ng-click="showStatusModal(fileScheduler)" type="button">Status</button>
                    </div>
                </td>
                <td>{{fileScheduler.ScbSystems}}</td>
                <td>{{fileScheduler.Category}}</td>
                <td>
                    <button class="btn btn-link " data-ng-click="downloadInput(fileScheduler)" type="button">{{fileScheduler.FileName.substring(16)}}</button>
                </td>
                <td>{{fileScheduler.TotalRows}}</td>
                <td>{{fileScheduler.ValidRows}}</td>
                <td>{{fileScheduler.FileDate | date:'yyyy-MM-dd'}}</td>
                <td>{{fileScheduler.UploadStatus}}</td>
                <td>{{fileScheduler.StatusDescription}}</td>
                <td>{{fileScheduler.FileSize | bytes}}</td>
                <td>{{fileScheduler.StartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{fileScheduler.EndDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{fileScheduler.IsImmediate}} </td>
                <td>{{fileScheduler.ImmediateReason}}</td>
            </tr>
        </tbody>
    </table>
</div>