<ng-form name="immidiateform">
        <div class="modal-header">Provide Immediate Reason</div>

        <div class="modal-body">
            <textarea rows="4" style="width: 80%" data-ng-model="file.ImmediateReason" required></textarea>
        </div>
        <div class="modal-footer">
            <cs-button type="add" permission ="FileSchedule" text="Reschedule" data-ng-disabled="immidiateform.$invalid" data-ng-click="reschedule()"></cs-button>
            <cs-button type="close" permission ="FileSchedule" data-ng-click="close()"></cs-button>
        </div>
</ng-form>

