<div class="row-fluid">
    <div class="control-group">
        <label class="control-label">Date Range</label>
        <div class="input-append">
            <input class="input-medium" type="text" data-ng-model="fileScheduler.fromDate" data-bs-datepicker="" />
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
        <div class="input-append">
            <input type="text" class="input-medium" data-ng-model="fileScheduler.toDate" bs-datepicker />
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
        <button class="btn btn-success" data-ng-click="factory.timer.force()">OK</button>
    </div>
</div>

<div data-ng-include="'filestatus/file-status-grid.html'"></div>

