<div class="row">
    <div style="margin-bottom: 5px" class="col-md-4">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-8">
            <input readonly class="form-control" type="text" data-ng-model="data.Name">
        </div>
    </div>
    <div style="margin-bottom: 5px" class="col-md-4">
        <label class="col-md-4 control-label">Email ID</label>
        <div class="col-md-8">
            <input type="text" class="form-control" data-ng-model="data.EmailId" readonly>
        </div>
    </div>
    <div style="margin-bottom: 5px" class="text-right col-md-4">
        <span>
            <input type="checkbox" data-ng-model="selected" ng-click="selectedStakeholder(data,selected)" />
        </span>
    </div>
</div>
<div class="row">
    <div style="margin-bottom: 5px" class="col-md-4">
        <label class="col-md-5 control-label">Date of Joining</label>
        <div class="col-md-7">
            <input type="text" readonly class="form-control" value="{{data.JoiningDate|date:dd-MM-yyyy}}">
        </div>
    </div>
</div>
<!--<div data-ng-hide="true" class="form-group col-md-5">
        <label class="control-label">Date of Birth</label>
        <div class="controls">
            <input type="text" readonly value="{{data.BirthDate|date:dd-MM-yyyy}}">
        </div>
    </div>-->
<div data-ng-show="moreDetails==$index+'MoreDetails'">
    <div class="row">
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4 control-label">User Id</label>
            <div class="col-md-8">
                <input type="text" readonly class="form-control" data-ng-model="data.ExternalId">
            </div>
        </div>
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4 control-label">Mobile No</label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly data-ng-model="data.MobileNo">
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="form-group col-md-5" data-ng-hide="true">
                <label class="control-label">Gender</label>
                <div class="controls">
                    <input type="text" readonly data-ng-model="data.Gender">
                </div>
            </div>-->
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4 control-label"
                data-ng-show="stakeholder.Hierarchy!='External'">
                Line Manager 
            </label>
            <label class="col-md-4"
                data-ng-show="stakeholder.Hierarchy=='External' &&
                !(getLabelDisplay(stakeholder.Designation) =='ExternalAgency' || 
                getLabelDisplay(stakeholder.Designation) =='ManpowerAgency')">
                Agency Name
            </label>
            <label class="col-md-4 control-label"
                data-ng-show=" (getLabelDisplay(stakeholder.Designation)=='ExternalAgency' ||
               getLabelDisplay(stakeholder.Designation)=='ManpowerAgency')">
                Agency Supervisor
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly data-ng-model="data.ReportingManagerName">
            </div>
        </div>
    </div>
</div>

<div data-ng-show="moreDetails==$index+'AddressDetails' && data.Hierarchy.HasAddress">
    <div class="row">
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4 control-label">Line 1</label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly value="{{data.GAddress[0].Line1}}">
            </div>
        </div>
        <div style="margin-bottom: 5px" class=" col-md-4">
            <label class=" col-md-4 control-label">Line 2</label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly value="{{data.GAddress[0].Line2}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4 control-label">Line 3</label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly value="{{data.GAddress[0].Line3}}">
            </div>
        </div>
        <div style="margin-bottom: 5px" class="col-md-4">
            <label class="col-md-4">Pincode</label>
            <div class="col-md-8">
                <input type="text" class="form-control" readonly value="{{data.GAddress[0].Pincode}}">
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-show="moreDetails==$index+'Description'" data-ng-form="Reject">
    <div style="margin-bottom: 5px" class="col-md-4">
        <label class="col-md-4 control-label">Reject Description</label>
        <div class="col-md-8">
            <input type="text" data-ng-model="description" name="Description" data-ng-required="moreDetails==$index+'Description'">
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-8">
            <button class="btn btn-success" data-ng-disabled="Reject.Description.$error.required" data-ng-click="reject(data,description)">Reject</button>
        </div>
    </div>
</div>

<!--TODO : remove true from data-ng-show-->
<div class="row col-md-12" style="text-align: center">
    <button class="btn btn-link" data-ng-show="canModify || true" data-ng-click="editStakeholder(data)">Edit</button>
    <button class="btn btn-link" data-ng-show="canApprove || true" data-ng-click="approve(data)" data-ng-disabled="data.Status === 'Approved'">Approve</button>
    <button class="btn btn-link" data-ng-show="canApprove || true" data-ng-disabled="data.Status === 'Rejected'||data.Status === 'Approved'" data-ng-click="seeMoreDetail($index,'Description')">Reject</button>
    <button class="btn btn-link" data-ng-click="seeMoreDetail( $index, 'MoreDetails' )">View More Details</button>
    <button class="btn btn-link" data-ng-click="seeMoreDetail( $index, 'AddressDetails')" data-ng-disabled="!data.Hierarchy.HasAddress">View Address</button>
    <button class="btn btn-link" data-ng-click="seeMoreDetail($index,'PaymentDetails')" data-ng-disabled="data.StkhPayments.length==0">View Payment</button>
    <button class="btn btn-link" data-ng-click="seeMoreDetail($index,'RegistrationDetails')" data-ng-disabled="data.StkhRegistrations.length==0">View Registration</button>
    <button class="btn btn-link" data-ng-class="{redlink:displayApproveReject(data)}" data-ng-click="seeMoreDetail($index,'WorkingDetails')" data-ng-disabled="data.StkhWorkings.length==0">View Working</button>
    <button class="btn btn-link" data-ng-click="seeMoreDetail($index,'ReporteeDetails');clickOnReportee($index)">View Reportee</button>
</div>
<!--</div>-->
<style>
    .redlink {
        color: red;
    }
</style>

