<cs-form mode="'add'">
    <div data-ng-form="filterForm">
        <cs-field field="fields.filters" 
                  value-list="filterList" 
                  data-ng-model="filter.name"
                  data-ng-change="getStakeholders(filter.name)">
        </cs-field>
        <cs-field field="fields.Search"
                  layout="4.0.12"  
                  data-ng-model="filter.search"
                  data-ng-change="searchStake(filter.search)"></cs-field>      
    </div>
</cs-form>

<div class="col-md-12" data-ng-show="stakeholders.length>0">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <th class="col-md-2">Name</th>
            <th class="col-md-3">Designation</th>
            <th class="col-md-1">External Id</th>
            <th class="col-md-2">Email</th>
            <th class="col-md-1"></th>
        </thead>
        <tbody>
            <tr data-ng-repeat="data in stakeholders">
                <td>{{data.Name}}</td>
                <td>{{data.Hierarchy.Designation}}, {{data.Hierarchy.Hierarchy}}</td>
                <td>{{data.ExternalId}}</td>
                <td>{{data.EmailId}}</td>
                <td>
                    <span class="dropdown" on-toggle="toggled(open)">
                        <button type="button" class="dropdown-toggle btn btn-link">View/Edit</button>
                        <ul class="dropdown-menu">
                            <li>
                                <a style="cursor: pointer"
                                    data-ng-click="switchPage(data,'basic','view')">Basic Info</a>
                                <a style="cursor: pointer"
                                    data-ng-show="data.Hierarchy.HasWorking || data.Hierarchy.HasPayment"
                                    data-ng-click="switchPage(data,'working','view')">Working/Payment</a>
                            </li>
                        </ul>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
