<div class="container-fluid">

    <form>
        <div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    View Stakeholders
                </div>
                <div class="panel-body">
                    <cs-form layout="4.4.8">
                        <div class="row">
                            <cs-field
                                value-list="filters"
                                field="viewModels.View"
                                data-ng-change="setPageNumber();stakeholder.Hierarchy='';changeHierarchylist();getStakeData(stakeholder)"
                                data-ng-model="stakeholder.filter"></cs-field>
                            
                            <div data-ng-if="stakeholder.filter==='SearchById'">
                                <cs-field field="viewModels.SearchByName" no-label="" 
                                          data-ng-model="stakeholder.name"
                                          data-ng-change="getStakeById(stakeholder.name)"></cs-field>
                            </div>
                            <div data-ng-if="checkFilter(stakeholder.filter)">
                                <!--get unique array-->
                                <cs-field
                                    field="viewModels.Hierarchy"
                                    value-list="hierarchyDesignation"
                                    data-ng-model="stakeholder.Hierarchy" data-ng-change="changeHierarchylist()"></cs-field>
                               
                                 <div data-ng-show="stakeholder.Hierarchy && stakeholder.filter!='ReportingTo'">
                                    <cs-field
                                        field="viewModels.Designation"
                                        value-list="Designation"
                                        data-ng-model="stakeholder.Designation"
                                        data-ng-change="startCount=0;getStakeData(stakeholder); setHierarchy(data); updateScreen()"></cs-field>
                                </div>
                               
                                 <div data-ng-show="stakeholder.Hierarchy && stakeholder.filter==='ReportingTo'">
                                    <cs-field
                                        field="viewModels.Designation"
                                        value-list="Designation"
                                        data-ng-model="stakeholder.Designation"
                                        data-ng-change="startCount=0;getStakeData(stakeholder); setHierarchy(data); updateScreen()"></cs-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div data-ng-if="stakeholder.filter==='ReportingTo' && stakeholder.Designation!==''">
                                <cs-field
                                    field="viewModels.Stake"
                                    value-list="selStakeholder"
                                    data-ng-model="reportsToStakeholder"
                                    data-ng-change="setPageNumber();getReportsToStakeholders(reportsToStakeholder)"></cs-field>
                            </div>

                            <div  data-ng-if="stakeholder.filter==='BasedOnWorking'">
                                <cs-field
                                    value-list="productList"
                                    field="viewModels.Products"
                                    data-ng-model="product"
                                    data-ng-change="setPageNumber();getStakeForProduct(product,'product')"></cs-field>
                            </div>

                        </div>
                    </cs-form>
                </div>
            </div>
        </div>
        <div class="container" data-ng-show="showDiv" style="margin-left: 10px; padding-bottom: 10px;">
            <!--TODO remove true from data-ng-show-->
            <div class="row">
                <button class="btn  btn-success" data-ng-hide="true">Edit Selected </button>
                <button class="btn  btn-success" data-ng-show="canApprove || true" data-ng-disabled="Approved || chosenStakeholders.length==0" data-ng-click="approveSelected()">Approve</button>
                <button class="btn  btn-success" data-ng-show="canApprove || true" data-ng-disabled="Rejected ||Approved ||chosenStakeholders.length==0" data-ng-click="rejected()">Reject</button>
                <button class="btn  btn-success" data-ng-disabled="LeavingDate ||StakeForLeave.StkhWorkings.length==0 || chosenStakeholders.length==0 || chosenStakeholders.length>1" data-ng-click="setLeave()">Leave/Exit</button>
            </div>
            <div data-ng-if="stakeholder.filter!=='SearchById'">
                <cspagination
                    gotofirstpage="gotoFirstPage()"
                    gotolastpage="gotoLastPage()"
                    stepforward="stepForward()"
                    stepbackward="stepBackward()"
                    currpagenum="pagenum"
                    totalrecords="tolRec"
                    pagesize="size">
                </cspagination>
            </div>
        </div>
        <div class="well container" data-ng-show="showDiv" data-ng-repeat="data in stakeholderData">

            <div data-ng-include="baseUrl +'Stakeholder/view/basic.html'"></div>

            <div data-ng-show="moreDetails==$index+'RegistrationDetails' && data.StkhRegistrations.length>0">
                <div class="form-horizontal well">
                    <div class="row" data-ng-include="baseUrl +'Stakeholder/view/registration.html'"></div>
                </div>
            </div>

            <div data-ng-show="moreDetails==$index+'ReporteeDetails' && ReporteeList.length>0">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Date of Joining</th>
                            <th>Payment</th>
                            <th>Working</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="reportee in ReporteeList">
                            <td>{{reportee.Name}}</td>
                            <td>{{reportee.EmailId}}</td>
                            <td>{{reportee.JoiningDate | date}}</td>
                            <td>{{reportee.StkhPayments.length}}</td>
                            <td>{{reportee.StkhWorkings.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div data-ng-include="baseUrl +'Stakeholder/view/workings.html'"></div>

            <div data-ng-show="moreDetails==$index+'PaymentDetails' && data.StkhPayments.length>0">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Collection Policy</td>
                            <td>Recovery Policy</td>
                            <td>Fixpay  Total</td>
                            <td>Service Charge</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="payment in data.StkhPayments">
                            <td>{{payment.VariableLiner}}</td>
                            <td>{{payment.VariableWriteoff}}</td>
                            <td>{{payment.FixpayTotal}}</td>
                            <td>{{payment.ServiceCharge}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<!-- <div class="row">
                     <button class="btn btn-success" data-ng-show="CurrUserInfo.Permission=='Approve'||CurrUserInfo.Permission=='Modify'" data-ng-click="addStakeholder()">Add New</button>
                 </div>-->
<!--<div class="form-group col-md-3">
        <label class="control-label">View</label>
        <div class="controls">
            <select class="input-medium" data-ng-model="stakeholder.filter"
                    data-ng-change="setPageNumber();stakeholder.Hierarchy='';changeHierarchylist();getStakeData(stakeholder)">
                <option></option>
                <option data-ng-repeat="data in filters">{{data}}</option>
            </select>
        </div>
    </div>-->
<!-- <div class="form-group col-md-3">
         <label class="control-label">Designation</label>
         <div class="controls">
             <select class="input-medium" data-ng-model="stakeholder.Designation" data-ng-change="startCount=0;getStakeData(stakeholder); setHierarchy(data); updateScreen()">
                 <option></option>
                 <option data-ng-repeat="data in hierarchyDesignation|filter:{'Hierarchy':stakeholder.Hierarchy}|orderBy:'PositionLevel'"
                         value="{{data.Id}}">{{getHierarchyDisplayName(data)}}</option>
             </select>
         </div>
     </div>-->
<!--<div class="form-group col-md-3">
                                    <label class="control-label">Hierarchy</label>
                                    <div class="controls">
                                        <div data-ng-show="stakeholder.filter!=='ReportingTo'">
                                            <select class="input-medium"
                                                    data-ng-model="stakeholder.Hierarchy" data-ng-change="changeHierarchylist()">
                                                <option></option>
                                                <option data-ng-repeat="data in hierarchyDesignation|unique:'Hierarchy'">{{data.Hierarchy}}</option>
                                            </select>
                                        </div>
                                        <div data-ng-show="stakeholder.filter=='ReportingTo'">
                                            <select
                                                data-ng-show="stakeholder.filter==='ReportingTo'"
                                                class="input-medium" data-ng-model="stakeholder.Hierarchy" data-ng-change="changeHierarchylist()">
                                                <option></option>
                                                <option>External</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>-->
<!--<div class="form-group col-md-3">
                                        <label class="control-label">Designation</label>
                                        <div class="controls">
                                            <select class="input-medium" data-ng-model="stakeholder.Designation" data-ng-change="startCount=0;getStakeData(stakeholder); setHierarchy(data);reportsToStakeholder=''; updateScreen()">
                                                <option></option>
                                                <option data-ng-repeat="data in hierarchyDesignation|filter:{'Hierarchy':stakeholder.Hierarchy}|filter:{'IsIndividual':'false'}|orderBy:'PositionLevel'"
                                                        value="{{data.Id}}">{{data.Designation}}</option>
                                            </select>
                                        </div>
                                    </div>-->
<!--  <div class="form-group col-md-2"
                                       data-ng-show="stakeholder.filter==='ReportingTo' && stakeholder.Designation!==''">
                                      <label class="control-label">Stakeholder/Agency</label>
                                      <div class="controls">
                                          <select data-ng-model="reportsToStakeholder"
                                                  class="input-medium"
                                                  data-ng-change="setPageNumber();getReportsToStakeholders(reportsToStakeholder)">
                                              <option></option>
                                              <option data-ng-repeat="data in selStakeholder" value="{{data.Id}}">{{data.Name}}</option>
                                          </select>
                                      </div>
                                  </div>-->
<!--<div class="form-group col-md-2"
                                 data-ng-show="stakeholder.filter==='BasedOnWorking'">
                                <label class="control-label">Working for Product</label>
                                <div class="controls">
                                    <select data-ng-model="product"
                                            class="input-medium"
                                            data-ng-change="setPageNumber();getStakeForProduct(product,'product')">
                                        <option></option>
                                        <option data-ng-repeat="data in productList">{{data}}</option>
                                    </select>
                                </div>
                            </div>-->
