<div data-ng-form="formLeave">
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 5px">
            <label class="col-md-4">Name:</label>
            <div class="col-md-8">
                <input type="text"
                    class="form-control"
                    data-ng-model="modalData.StakeForLeave.Name"
                    readonly="readonly" />
            </div>
        </div>
        <div class="col-md-5" style="margin-bottom: 5px">
            <label class="col-md-4">Reports To:</label>
            <div class="col-md-8">
                <input type="text"
                    class="form-control"
                    data-ng-model="modalData.ReportsToStake.Name"
                    readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-5" style="margin-bottom: 5px">
            <label class="col-md-4">Reason :</label>
            <div class="col-md-8">
                <select class="form-control" data-ng-model="Changed.reason" data-ng-change="manageLeave()">
                    <option value="leave">Leave</option>
                    <option value="exit">Exit</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 5px">
            <label class="col-md-4">From:</label>
            <div class="col-md-8">
                <input type="text"
                    class="form-control"
                    data-ng-model="ChangedDates.LeaveFrom"
                    data-date-format="dd-mm-yyyy"
                    data-date-start-date="+1d"
                    data-ng-required="true"
                    bs-datepicker />
            </div>
        </div>
        <div class="form-group col-md-5" style="margin-bottom: 5px" data-ng-show="showme">
            <label class="col-md-4">To:</label>
            <div class="col-md-8">
                <input type="text"
                    class="form-control"
                    data-ng-model="ChangedDates.LeaveTo"
                    data-date-format="dd-mm-yyyy"
                    data-ng-required="showme"
                    data-ng-change="checkStakeholderForLeave(ChangedDates.LeaveFrom)"
                    data-date-start-date="+1m"
                    bs-datepicker />
            </div>
        </div>
    </div>
    <!--table-->
    <div data-ng-show="modalData.StakeForLeave.StkhWorkings.length>0">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>State</th>
                    <th>Cluster</th>
                    <th>City</th>
                    <th>Area</th>
                    <th>Pincode</th>
                    <th>Bucket</th>
                    <th>Replace By</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="data in modalData.StakeForLeave.StkhWorkings">
                    <td>{{data.Products}}</td>
                    <td>India</td>
                    <td>{{replace(data.Region)}}</td>
                    <td>{{replace(data.State)}}</td>
                    <td>{{replace(data.Cluster)}}</td>
                    <td>{{replace(data.City)}}</td>
                    <td>{{replace(data.Area)}}</td>
                    <td>{{data.Pincode}}</td>
                    <td>{{data.BucketStart}}</td>
                    <td>
                        <select
                            class="form-control minWidth"
                            data-ng-required="!data.EndDate"
                            data-ng-model="data.ReplaceBy"
                            data-ng-disabled="data.EndDate">
                            <option></option>
                            <option data-ng-repeat="stake in modalData.StakeListLeave"
                                value="{{stake.Id}}">{{stake.Name}}/{{stake.Hierarchy.Designation}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--for button-->
    <div class="col-md-5">
        <div class="col-md-12">
            <button class="btn btn-success"
                data-ng-disabled="formLeave.$invalid"
                data-ng-click="changeWorking(modalData.StakeForLeave)">
                Change Working</button>
        </div>
    </div>
</div>

