 <div class="row">
     <div class="row">
         <div class="form-group col-md-6">
             <label class="control-label">TAN</label>
             <div class="controls">
                 <input name="tan" readonly type="text" value="{{data.StkhRegistrations[0].TanNo}}" data-ng-maxlength="100" />

             </div>
         </div>
         <div class="form-group col-md-6 ">
             <label class="control-label">PAN</label>
             <div class="controls">
                 <input type="text" name="pan" value="{{data.StkhRegistrations[0].PanNo}}" readonly />
             </div>
         </div>
     </div>
     <div class="row">
         <div class="form-group col-md-6 ">
             <label class="control-label">Registration No</label>
             <div class="controls">
                 <input type="text" readonly value="{{data.StkhRegistrations[0].RegistrationNo}}" name="registration" />
             </div>
         </div>
         <div class="form-group col-md-6 ">
             <label class="control-label">Service Tax</label>
             <div class="controls">
                 <input type="text" name="service" value="{{data.StkhRegistrations[0].ServiceTaxno}}" readonly />

             </div>
         </div>
     </div>
 </div>
