<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="ColloSysParams" type="ColloSys.Shared.ConfigSectionReader.ColloSysParamsSection, ColloSys.Shared" />
    <sectionGroup name="mailSettings">
      <section name="smtp_release" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_testing" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_debug" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>-->
  <!--<ColloSysParams>
    <release>
      <add name="LogPath" value="E:\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="false" />
      <add name="ConnectionStringName" value="collosys" />
      <add name="Smtp" value="smtp_release" />
    </release>
    <testing>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="ConnectionStringName" value="collosys" />
      <add name="Smtp" value="smtp_testing" />
    </testing>
    <debug>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="ConnectionStringName" value="mayurd" />
      <add name="Smtp" value="smtp_debug" />
    </debug>
  </ColloSysParams>

  <mailSettings>
    <smtp_release deliveryMethod="Network" from="collosys@sc.com">
      <network host="10.134.27.90"/>
    </smtp_release>
    <smtp_testing deliveryMethod="Network" from="collosys@sc.com">
      <network host="192.168.0.100"/>
    </smtp_testing>
    <smtp_debug deliveryMethod="Network" from="collosys@sc.com">
      <network host="192.168.0.100"/>
    </smtp_debug>
  </mailSettings>

  <connectionStrings>
    <clear />
    <add name="harishr" connectionString="Data Source=AST003\EXPRESS;Initial Catalog=tcollosys;Persist Security Info=True;User ID=ColloSys;Password=C0ll0Sys" providerName="" />
    <add name="mahendrap" connectionString="Data Source=AST001-PC\SQLEXPRESS;Initial Catalog=CollosysDBVnew4;Persist Security Info=True;User ID=sa;Password=da" providerName="" />
    <add name="mayurd" connectionString="Data Source=AST007-PC\SQLEXPRESS;Initial Catalog=ColloSys_NewDB;Persist Security Info=True;User ID=sa;Password=da" providerName="" />
    <add name="amols" connectionString="Data Source=AST007-PC\SQLEXPRESS;Initial Catalog=ColloSys_NewDB;Persist Security Info=True;User ID=sa;Password=da" providerName="" />
    <add name="surajp" connectionString="Data Source=AST005-PC\SQLEXPRESS;Initial Catalog=ColloSysDB;Persist Security Info=True;User ID=collosys;Password=$WSXedc123$" providerName="" />
    <add name="collosys" connectionString="Data Source=INWPDSSQL07\EUC_SQL01;Initial Catalog=ColloSys;Persist Security Info=True;User ID=appinstall;Password=Appins@123" />
  </connectionStrings>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
