<div data-ng-controller="paymentReversalCtrl">
    <div class="row-fluid form-horizontal" style="padding-top: 30px">
        <div class="row">
            <div class="control-group">
                <label class="control-label">System</label>
                <div class="controls">
                    <select data-ng-model="selectedSystem" class="input-large" data-ng-change="fetchData()" data-ui-select2="">
                        <option value=""></option>
                        <option data-ng-repeat="s in scbSystems | orderBy: 'toString()'">{{s}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid" style="padding-left: 20px">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-warning" data-ng-click="excludeselectedPayment()">Exclude Payment</button>
                <button class="btn btn-info" data-ng-click="OpenPaymentManager()">Add Payment</button>
            </div>
        </div>
    </div>

    <div class=" row-fluid control-group" style="padding-left: 20px">
        <div class="row-fluid" data-ui-if="gridOptions.showGrid == true">
            @GridShared.DisplayGridOptions()
            <div class="row-fluid" style="height: 500px" data-ng-grid="gridOptions"></div>
        </div>
    </div>

</div>
<div class="row-fluid" style="height: 60px;"></div>
