<div data-ng-form="addpaymentform" class="form-horizontal">
    <div class="modal-header">
        <h4>Add-Payment Screen</h4>
    </div>
    <div class="row-fluid modal-body">
        <!--Product-->
        <div class="row-fluid control-group">
            <label class="control-label">Product</label>
            <div class="controls">
                <select name="product" class="input-large" data-ng-model="addpayment.Products" required>
                    <option value=""></option>
                    <option data-ng-repeat="Products in dldata.productsList">{{Products}}</option>
                </select>
                <div data-ng-show="addpaymentform.product.$dirty && addpaymentform.product.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.product.$error.required">{{val.Required()}}</div>
                </div>
            </div>
        </div>

        <!--AccountNo-->
        <div class="row-fluid control-group">
            <label class="control-label">AccountNo</label>
            <div class="controls">
                <input name="AccountNo" data-ng-pattern="/^[0-9]+$/"
                       type="text" class="input-large"
                       data-ng-model="addpayment.AccountNo"
                       typeahead="c.AccountNo for c in datalayer.GetAccounts($viewValue,addpayment.Products)"
                    typeahead-on-select="getCustomerName()"
                       data-ng-change="getCustomerName()"
                       data-ng-disabled="!addpayment.Products"
                       data-ng-required="true" />
                <div data-ng-show="addpaymentform.AccountNo.$dirty && addpaymentform.AccountNo.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.AccountNo.$error.required">{{val.Required()}}</div>
                    <div class="field-validation-error" data-ng-show="addpaymentform.AccountNo.$error.pattern">{{val.OnlyNumbers()}}</div>
                </div>
            </div>
        </div>

        <!--CustomerName-->
        <div class="row-fluid control-group">
            <label class="control-label">Customer Name</label>
            <div class="controls">
                <input type="text" class="input-medium" data-ng-model="addpayment.customerName" data-ng-readonly="true" />
            </div>
        </div>

        <!--TransactionCode-->
        <div class="row-fluid control-group">
            <label class="control-label">Transaction Code</label>
            <div class="controls">
                <input name="TransactionCode" type="text" class="input-large" data-ng-model="addpayment.TransCode"
                       data-ng-pattern="/^[0-9]+$/" required />
                <div data-ng-show="addpaymentform.TransactionCode.$dirty && addpaymentform.TransactionCode.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.TransactionCode.$error.required">{{val.Required()}}</div>
                    <div class="field-validation-error" data-ng-show="addpaymentform.TransactionCode.$error.pattern">{{val.OnlyNumbers()}}</div>
                </div>
            </div>
        </div>

        <!--Start Date -->
        <div class="row-fluid control-group">
            <label class="control-label">Date</label>
            <div class="controls">
                <div class="input-append">
                    <input class="input-large" type="text" name="Date" data-ng-model="addpayment.TransDate" required
                           data-date-start-date="today" data-bs-datepicker="" />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
                <!--Date validation-->
                <div data-ng-show="addpaymentform.Date.$dirty">
                    <div class="field-validation-error" data-ng-show="addpaymentform.Date.$error.required">{{val.Required()}}</div>
                </div>

            </div>
        </div>

        <!--Description-->
        <div class="row-fluid control-group">
            <label class="control-label">Remark</label>
            <div class="controls">
                <input name="Description" type="text" class="input-large" data-ng-model="addpayment.TransDesc" required />
                <div data-ng-show="addpaymentform.Description.$dirty && addpaymentform.Description.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.Description.$error.required">{{val.Required()}}</div>
                </div>
            </div>
        </div>

        <!--Amount-->
        <div class="row-fluid control-group">
            <label class="control-label">Amount</label>
            <div class="controls">
                <input type="text" name="Amount" class="input-large" data-ng-pattern="/^[0-9]+$/" data-ng-model="addpayment.TransAmount" required />
                <div data-ng-show="addpaymentform.Amount.$dirty && addpaymentform.Amount.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.Amount.$error.required">{{val.Required()}}</div>
                    <div class="field-validation-error" data-ng-show="addpaymentform.Amount.$error.pattern">{{val.OnlyNumbers()}}</div>
                </div>
            </div>
        </div>

        <!--IsDebit-->
        <div class="row-fluid control-group">
            <label class="control-label">Transaction Type</label>
            <div class="controls">
                <input type="radio" name="IsDebit" data-ng-model="addpayment.IsDebit" value="false"><label>Payment</label>
                <input type="radio" name="IsDebit" data-ng-model="addpayment.IsDebit" value="true"><label>Reversal</label>
                <div data-ng-show="addpaymentform.IsDebit.$dirty && addpaymentform.IsDebit.$invalid">
                    <div class="field-validation-error" data-ng-show="addpaymentform.IsDebit.$error.required">{{val.Required()}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-info" data-ng-click="reset()">Reset</button>
        <button class="btn btn-success" data-ng-disabled="!addpaymentform.$valid" data-ng-click="save(addpayment)">Save</button>
        <button class="btn btn-warning" data-ng-click="close()">Close</button>
    </div>
</div>
