<cs-form layout="5.4.8">
    <div data-ng-form="allocPolicyForm">
        <div class="row">
            <cs-field data-ng-model="dldata.allocPolicy.Products" field="allocpolicy.Product"
                      data-ng-change="changeProductCategory();buttonStatus=null" ng-required="true"></cs-field>
        </div>
    </div>
    <div class="col-md-9" data-ng-show="dldata.allocPolicy.Products">
        <div class="col-md-5">
            <cs-list list-heading="SubPolicy_List" value-list="draftAndExpired" text-field="Name"
                     data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.allocRelation); setButtonStatus(policy)"></cs-list>
        </div>
        <div class="col-md-5">
            <cs-list list-heading="SubPolicy_List" value-list="ApproveUnapp" text-field="Name"
                     data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.allocRelation); setButtonStatus(policy)"></cs-list>
        </div>
        <!--<cs-dual-list lhs-heading="Expired/Draft" rhs-heading="Approved/UnApproved"
                            lhs-value-list="draftAndExpired"
                            rhs-value-list="ApproveUnapp" text-field="Name"
                            ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy,policy.allocRelation); setButtonStatus(policy)"></cs-dual-list>-->
    </div>
    <div class="row" data-ng-show="false">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <label class="heading-for-box">Expired/Draft</label>
            <div class="box">
                <div class="policy-name-box"
                     data-ng-repeat="allocRelation in dldata.allocPolicy.AllocRelations | filter:factory.filterRelation(false,'')">
                    <div class="clickableName"
                         data-ng-click="setDisplaySubpolicy(allocRelation.AllocSubpolicy,allocRelation);setButtonStatus('Expired')">
                        {{allocRelation.AllocSubpolicy.Name}}
                    </div>
                </div>
                <!--Draft-->
                <div class="policy-name-box" data-ng-repeat="allocRelation in dldata.subPolicyList">
                    <div class="clickableName"
                         data-ng-click="setDisplaySubpolicy(allocRelation);setButtonStatus('Draft')">
                        {{allocRelation.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <label class="heading-for-box">Approved/UnApproved</label>
            <div class="box">

                <div class="policy-name-box" data-ng-repeat="allocRelation in dldata.allocPolicy.AllocRelations | filter:factory.filterRelation(true,'Approved') | orderBy: 'Priority'">

                    <div class="clickableName"
                         data-ng-click="setButtonStatus('Approved');setDisplaySubpolicy(allocRelation.AllocSubpolicy,allocRelation)">
                        {{allocRelation.AllocSubpolicy.Name}}
                    </div>
                </div>

                <div class="policy-name-box alert-error" data-ng-repeat="allocRelation in dldata.allocPolicy.AllocRelations | filter:factory.filterRelation(true,'Submitted') | orderBy: 'Priority'">

                    <div class="clickableName"
                         data-ng-click="setButtonStatus('UnApproved');setDisplaySubpolicy(allocRelation.AllocSubpolicy,allocRelation)">
                        {{allocRelation.AllocSubpolicy.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row margin-box" data-ng-show="buttonStatus">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <p class="col-md-2">{{disSubPolicy.Name}} :({{buttonStatus}})</p>
                        <!--Deactivate,Approv, Reject Buttons-->
                        <div class="pull-right" style="margin-right:5px">
                            <button class="btn  btn-danger"
                                    data-ng-show="buttonStatus==='Approved'"
                                    data-ng-click="openModelDeactivateSubPolicy(policy);">
                                Deactivate
                            </button>
                            <!--for draft-->
                            <button class="btn btn-primary"
                                    data-ng-show="buttonStatus=='Draft'"
                                    data-ng-click="openModelNewSubPolicy(policy,$index);">
                                Activate
                            </button>

                            <!--for Expired-->
                            <button class="btn btn-primary"
                                    data-ng-show="buttonStatus=='Expired'"
                                    data-ng-click="openModelReactivateSubPolicy(policy);">
                                Reactivate
                            </button>

                            <button class="btn btn-success"
                                    data-ng-show="buttonStatus=='UnApproved'"
                                    data-ng-click="approve(policy)">
                                Approve
                            </button>
                            <button class="btn btn-success"
                                    data-ng-show="buttonStatus=='UnApproved'"
                                    data-ng-click="reject(policy)">
                                Reject
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!--Name & Policy-->
                    <div class="row">
                        <!--Name-->
                        <!--<div class="form-group col-md-5">
                            <label class="control-label">Name </label>
                            <div class="controls">
                                <input type="text" data-ng-model="disSubPolicy.Name" readonly="readonly" />
                            </div>
                        </div>-->
                        <!--Policy Stakeholder-->
                        <div class="col-md-6" data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'">
                            <label class="col-md-4">Stakeholder</label>
                            <div class="col-md-8">
                                <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName" />
                            </div>
                        </div>

                    </div>
                    <!--Conditions & Policy Reason/ Stakeholder-->
                    <div class="row">
                        <!--Policy-->
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Policy</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                            </div>
                        </div>
                        <!--POlicy Reason-->
                        <div class="col-md-6" data-ng-show="disSubPolicy.Policy=='DoNotAllocate'">
                            <label class="col-md-4 control-label">Reason</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                            </div>
                        </div>

                    </div>
                    <!--Start & End Date-->
                    <div class="row" data-ng-hide="buttonStatus=='Draft'">
                        <!--Start date-->
                        <div class="col-md-6">
                            <label class="col-md-4">Start Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" readonly value="{{allocRelation.StartDate|date:'dd-MM-yyyy'}}">
                            </div>
                        </div>
                        <!--End Date-->
                        <div class="col-md-6">
                            <label class="col-md-4">End Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" readonly value="{{allocRelation.EndDate|date:'dd-MM-yyyy'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--conditions-->
                        <div class="col-md-6">
                            <label class="col-md-4">Condition</label>
                            <div class="col-md-8">
                                <textarea class="resize form-control" data-ng-model="disSubPolicy.Condition" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</cs-form>
