<div data-ng-form="allocPolicyForm">
    <cs-form layout="5.4.8">
        <cs-field data-ng-model="policyDTO.Product" field="allocpolicy.Product"
                  data-ng-change="getSubpolicyList(policyDTO)" ng-required="true"></cs-field>
    </cs-form>

    <div class="col-md-9" data-ng-show="config.lhsValueList.length > 0 || config.rhsValueList.length > 0 ">
        <cs-dual-list config="config" selected="selected"
            on-click="displaySubpolicyDetails()"
            on-move="moveSubpolicy()"></cs-dual-list>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" data-ng-show="selected.selectedItem.SubpolicyId">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">{{selected.selectedItem.Name}}</div>
                        <div class="col-md-3">
                            <cs-button2 type="cancel" text="Deactivate"
                                permission="AllocationPolicyAddEdit"
                                data-ng-show="selected.selectedItem.SubpolicyType == 'Active'"
                                on-click="openModelforSubPolicy('Expire');"></cs-button2>
                            <cs-button2 type="ok" text="Activate"
                                permission="AllocationPolicyAddEdit"
                                data-ng-show="selected.selectedItem.SubpolicyType =='Draft'"
                                on-click="openModelforSubPolicy('Activate');"></cs-button2>
                            <cs-button2 type="ok" text="Reactivate"
                                permission="AllocationPolicyAddEdit"
                                data-ng-show="selected.selectedItem.SubpolicyType =='Expired'"
                                on-click="openModelforSubPolicy('Reactivate');"></cs-button2>
                            <cs-button2 type="ok" text="Approve"
                                permission="AllocationPolicyApprove"
                                data-ng-show="selected.selectedItem.SubpolicyType =='Unapproved'"
                                on-click="approveORreject('Approve')"></cs-button2>
                            <cs-button2 type="cancel" text="Reject"
                                permission="AllocationPolicyApprove"
                                data-ng-show="selected.selectedItem.SubpolicyType =='Unapproved'"
                                on-click="approveORreject('Reject')"></cs-button2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <cs-form layout="6.4.8">
                        <div data-ng-show="selected.selectedItem.AllocateType==='AllocateToStkholder'">
                            <cs-field field="allocpolicy.stakeholder" data-ng-model="selected.selectedItem.Stakeholder" ng-disabled="true"></cs-field>
                        </div>
                        <div data-ng-show="selected.selectedItem.AllocateType==='DoNotAllocate'">
                            <cs-field field="allocpolicy.reason" data-ng-model="selected.selectedItem.ReasonNotAllocate" ng-disabled="true"></cs-field>
                        </div>
                        <div data-ng-show="selected.selectedItem.SubpolicyType !== 'Draft'">
                            <cs-field field="allocpolicy.StartDateText" ng-disabled="true"
                                      ng-model="selected.selectedItem.StartDate"></cs-field>
                            <cs-field field="allocpolicy.EndDateText" ng-disabled="true"
                                      ng-model="selected.selectedItem.EndDate"></cs-field>
                        </div>
                        <cs-field field="allocpolicy.condition" data-ng-model="displayCondition" ng-disabled="true"></cs-field>
                    </cs-form>
                </div>
            </div>

        </div>
    </div>
</div>
