<cs-form layout="5.4.8">
    <form name="allocPolicyForm">

        <div class="col-md-9" data-ng-form="allocPolicyForm">
            <cs-field data-ng-model="dldata.allocPolicy.Products" field="allocpolicy.Product"
                      data-ng-change="changeProductCategory()" ng-required="true"></cs-field>
        </div>

        <div class="col-md-9">
            <div class="col-md-5">
                <cs-list list-heading="Draft/Expired SubPolicy" value-list="dldata.draftAndExpired" text-field="Name"
                         data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.allocRelation, $index); setButtonStatus(policy)"></cs-list>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <cs-list list-heading="Approved/Unapproved SubPolicy" value-list="dldata.ApproveUnapp | orderBy: 'Priority'" text-field="Name"
                         data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.allocRelation,$index); setButtonStatus(policy)"></cs-list>
            </div>
            <div class="col-md-1" data-ng-show="dldata.ApproveUnapp">
                <button class="btn btn-success" data-ng-disabled="direction.up" data-ng-click="moveUp(policy)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button class="btn btn-success" data-ng-disabled="direction.down" data-ng-click="moveDown(policy)"><i class="glyphicon glyphicon-arrow-down"></i></button>
            </div>
        </div>

        <div class="col-md-9" data-ng-show="!(dldata.buttonStatus==='')">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <p class="col-md-2">{{disSubPolicy.Name}} :({{dldata.buttonStatus}})</p>
                        <div class="pull-right" style="margin-right:5px">
                            <cs-button type="delete" text="Deactivate"
                                       permission="Allocation,AllocationPolicy,AddEdit"
                                       data-ng-show="dldata.buttonStatus==='Approved'"
                                       data-ng-click="openModelDeactivateSubPolicy(policy.allocRelation);"></cs-button>

                            <cs-button type="save" text="Activate"
                                       permission="Allocation,AllocationPolicy,AddEdit"
                                       data-ng-show="dldata.buttonStatus=='Draft'"
                                       data-ng-click="openModelNewSubPolicy(policy,$index);"></cs-button>

                            <cs-button type="add" text="Reactivate"
                                       permission="Allocation,AllocationPolicy,AddEdit"
                                       data-ng-show="dldata.buttonStatus=='Expired'"
                                       data-ng-click="openModelReactivateSubPolicy(policy.allocRelation);"></cs-button>

                            <cs-button type="save" text="Approve"
                                       permission="Allocation,AllocationPolicy,Approve"
                                       data-ng-show="dldata.buttonStatus=='UnApproved'"
                                       data-ng-click="approve(policy)"></cs-button>

                            <cs-button type="delete" text="Reject"
                                       permission="Allocation,AllocationPolicy,Approve"
                                       data-ng-show="dldata.buttonStatus=='UnApproved'"
                                       data-ng-click="reject(policy)">
                            </cs-button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" data-ng-form="allocPolicyForm">
                        <div class="col-md-6" data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'">
                            <label class="col-md-4">Stakeholder</label>
                            <div class="col-md-8">
                                <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Policy</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-6" data-ng-show="disSubPolicy.Policy=='DoNotAllocate'">
                            <label class="col-md-4 control-label">Reason</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                            </div>
                        </div>

                    </div>
                    <div class="row" data-ng-hide="dldata.buttonStatus=='Draft'">
                        <div class="col-md-6">
                            <label class="col-md-4">Start Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" readonly value="{{allocRelation.StartDate|date:'dd-MM-yyyy'}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4">End Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" readonly value="{{allocRelation.EndDate|date:'dd-MM-yyyy'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-top:7px">
                            <label class="col-md-4">Condition</label>
                            <div class="col-md-8">
                                <textarea class="form-control" data-ng-model="disSubPolicy.Condition" readonly="readonly" style="height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</cs-form>

<!--<div data-ng-form="allocPolicyForm">
    <cs-form layout="5.4.8">
        <cs-field data-ng-model="dldata.allocPolicy.Products" field="allocpolicy.Product"
                  data-ng-change="changeProductCategory()" ng-required="true"></cs-field>
    </cs-form>

    <div class="col-md-9" data-ng-show="config.lhsValueList.length > 0 || config.rhsValueList.length > 0 ">
        <cs-dual-list config="config" selected="selected"
                      on-click="displaySubpolicyDetails()"
                      on-move="moveSubpolicy()"></cs-dual-list>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" data-ng-show="selected.selectedItem.SubpolicyId">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">{{selected.selectedItem.Name}}</div>
                        <div class="col-md-3">
                            <cs-button type="cancel" text="Deactivate"
                                       data-ng-show="selected.selectedItem.SubpolicyType == 'Active'"
                                       data-ng-click="openModelforSubPolicy('Expire');"></cs-button>
                            <cs-button type="ok" text="Activate"
                                       data-ng-show="selected.selectedItem.SubpolicyType =='Draft'"
                                       data-ng-click="openModelforSubPolicy('Activate');"></cs-button>
                            <cs-button type="ok" text="Reactivate"
                                       data-ng-show="selected.selectedItem.SubpolicyType =='Expired'"
                                       data-ng-click="openModelforSubPolicy('Reactivate');"></cs-button>
                            <cs-button type="ok" text="Approve"
                                       data-ng-show="selected.selectedItem.SubpolicyType =='Unapproved'"
                                       data-ng-click="approveORreject('Approve')"></cs-button>
                            <cs-button type="cancel" text="Reject"
                                       data-ng-show="selected.selectedItem.SubpolicyType =='Unapproved'"
                                       data-ng-click="approveORreject('Reject')"></cs-button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <cs-form layout="6.4.8">
                        <div data-ng-show="selected.selectedItem.SubpolicyType !== 'Draft'">
                            <cs-field field="allocpolicy.StartDateText" ng-disabled="true"
                                      ng-model="selected.selectedItem.StartDate"></cs-field>
                            <cs-field field="allocpolicy.EndDateText" ng-disabled="true"
                                      ng-model="selected.selectedItem.EndDate"></cs-field>
                        </div>
                        <div class="row">
                            <cs-output table-name="AllocSubpolicy"
                                       tokens-list="displaySubPolicy.outputTokens"></cs-output>
                        </div>
                        <div class="row">
                            <cs-condition table-name="AllocSubpolicy"
                                          tokens-list="displaySubPolicy.conditionTokens"></cs-condition>
                        </div>
                    </cs-form>
                </div>
            </div>

        </div>
    </div>
</div>-->