<div>
    <div class="form-horizontal" data-ng-form="allocpolicyDateRangeForm">
        <div class="modal-header well" style="text-align: center">
            <h3>{{modalData.AllocRelation.AllocSubpolicy.Name}}</h3>
        </div>
        <div class="modal-body" style="text-align: center">
            <div class="control-group">
                <label class="control-label">Start Date</label>
                <div class="controls">
                    <div class="input-append">
                        <input class="input-medium" data-ng-disabled="!modalData.forActivate" type="text" name="ScheduleDate" data-ng-model="modalData.startDate" data-ng-required="modalData.forActivate"
                            data-date-start-date="today" data-ng-readonly="true" data-bs-datepicker="" data-ng-change="modalData.endDate=null;modelDateValidation(modalData.startDate,modalData.endDate)">
                        <button type="button" class="btn" data-ng-disabled="!modalData.forActivate" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">End Date</label>
                <div class="controls">
                    <div class="input-append">
                        <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="modalData.endDate" data-ng-change="modelDateValidation(modalData.startDate,modalData.endDate)"
                            data-date-start-date="" data-ng-readonly="true"
                            data-bs-datepicker="today">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer well">
            <button class="btn btn-danger" data-ng-disabled="!dldata.isModalDateValid" data-ng-show="!modalData.forActivate" data-ng-click="deactivateSubPoicy(modalData)">Deactivate</button>
            <button class="btn btn-primary" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && isModalDateValid)" data-ng-show="modalData.forActivate" data-ng-click="activateSubPoicy(modalData)">Activate</button>
            <button class="btn btn-warning" data-ng-click="closeModel()">Cancel</button>
        </div>
    </div>
</div>
