<div>
    <!--    <div data-ng-include="baseUrl + 'Generic/taxmaster/taxmaster-list.html'"></div>-->
    <div>
        <form name="taxForm">
            <div class="modal-header">
                Tax Component Details
            </div>
            <div class="modal-body">
                <cs-form layout="6.3.5" mode="mode">
                        <cs-field data-ng-model="tax.ApplicableTo"
                                  field="TaxMaster.ApplicableTo"></cs-field>

                        <cs-field data-ng-model="tax.State"
                                  field="TaxMaster.State"></cs-field>

                        <cs-field data-ng-model="tax.GTaxesList" track-by="Id" field="TaxMaster.GTaxesList"></cs-field>
                        <!--<cs-field data-ng-model="tax.IndustryZone" field="TaxMaster.IndustryZone"></cs-field>-->

                        <cs-field data-ng-model="tax.Percentage" field="TaxMaster.Percentage"></cs-field>
                        <!-- <div class="form-group">
                                 <label class="control-label">Percentage</label>
                                 <div class="controls">
                                     <div class="input-append">
                                         <input type="text"
                                                data-ng-pattern="/^$|^\d{0,2}(\.\d{1,2})? *%?$/"
                                                data-ng-maxlength="99.99"
                                                class="input-mini"
                                                data-ng-model="tax.Percentage" />
                                         <span class="add-on">%</span>
                                     </div>
                                 </div>
                             </div>-->
                        <!--<cs-field data-ng-model="tax.Percentage" field="TaxMaster.Percentage"></cs-field>-->
                        <!--<input type="text" data-ng-model="tax.Percentage" data-ng-pattern="/^$|^\d{0,2}(\.\d{1,2})? *%?$/"/>-->

                        <cs-field data-ng-model="tax.StartDate" field="TaxMaster.StartDate"></cs-field>

                        <cs-field data-ng-model="tax.EndDate" field="TaxMaster.EndDate"></cs-field>
                    </cs-form>

            </div>
            <div class="modal-footer">
                <cs-button type="Add" text="Save" data-ng-hide="mode === 'view'" data-ng-hide="isAddMode" ng-click="applyedit(tax)" ng-disabled="taxForm.$invalid"></cs-button>
                <cs-button type="Add" text="Reset" data-ng-hide="mode === 'view'" ng-click="resetTax()"></cs-button>
                <cs-button type="Add" text="Close" data-ng-click="closeTaxlist()"></cs-button>
            </div>
        </form>
    </div>
</div>


<!--                    <cs-button type="Add" ng-click="add(tax)" data-ng-show="isAddMode" ng-disabled="taxForm.$invalid"></cs-button>-->
