<div class="panel panel-default">
    <div class="panel-heading">Tax Master List</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Type</th>
                    <th>Applicable To</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Percentage</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>

                <tr>
                    <th class="text-center">
                        <icon-btn type="add" permission="ConfigTaxmasterAddEdit" data-ng-click="showAddEditPopup('add')"></icon-btn>
                    </th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.GTaxesList.TaxName" /></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.ApplicableTo" /></th>
                    <th></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.State" /></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.Percentage" /></th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr data-ng-repeat="tax in taxMasterList | filter: search">
                    <td>
                        <div class="btn-group" style="width: 70px">
                            <icon-btn type="view" permission="ConfigTaxmaster" data-ng-click="showAddEditPopup('view', tax)"></icon-btn>
                            <icon-btn type="edit" permission="ConfigTaxmasterAddEdit" data-ng-click="showAddEditPopup('edit', tax)"></icon-btn>
                        </div>
                    </td>
                    <td>{{tax.GTaxesList.TaxName}}</td>
                    <td>{{tax.ApplicableTo}}</td>
                    <td>{{tax.Country}}</td>
                    <td>{{tax.State}}</td>
                    <td>{{tax.Percentage}}</td>
                    <td>{{tax.StartDate | date}}</td>
                    <td>{{tax.EndDate | date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row text-center tax-list-box-no-data" data-ng-hide="taxMasterList.length>0">
            <label>No Master </label>
        </div>
    </div>
</div>

