<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ColloSysParams" type="ColloSys.Shared.ConfigSectionReader.ColloSysParamsSection, ColloSys.Shared" />
    <sectionGroup name="mailSettings">
      <section name="smtp_release" type="System.Net.Configuration.SmtpSection" />
      <section name="smtp_testing" type="System.Net.Configuration.SmtpSection" />
      <section name="smtp_debug" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <ColloSysParams>
    <release>
      <add name="LogPath" value="E:\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="false" />
      <add name="ConnectionStringName" value="collosys" />
      <add name="Smtp" value="smtp_release" />
    </release>
    <testing>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="ConnectionStringName" value="collosys" />
      <add name="Smtp" value="smtp_testing" />
    </testing>
    <debug>
      <add name="LogPath" value="C:\Users\Public\Documents\ColloSys\Logs\" />
      <add name="ShowDebugLogs" value="true" />
      <add name="ConnectionStringName" value="sonua" />
      <add name="Smtp" value="smtp_debug" />
    </debug>
  </ColloSysParams>
  
  <mailSettings>
    <smtp_release deliveryMethod="Network" from="collosys@sc.com">
      <network host="localhost" />
    </smtp_release>
    <smtp_testing deliveryMethod="Network" from="collosys@sc.com">
      <network host="localhost" />
    </smtp_testing>
    <smtp_debug deliveryMethod="Network" from="collosys@sc.com">
      <network host="localhost" />
    </smtp_debug>
  </mailSettings>
  
  <connectionStrings>
    <clear />
    <add name="harishr" connectionString="Data Source=localhost;Initial Catalog=collosys;Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
    <add name="mahendrap" connectionString="Data Source=AST011-PC\SQLEXPRESS;Initial Catalog=CollosysDBVnew4;Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
    <add name="sonua" connectionString="Data Source=AST0010\SQLEXPRESS;Initial Catalog=Collosys; Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
    <add name="mayurd" connectionString="Data Source=AST007-PC\SQLEXPRESS;Initial Catalog=ColloSys_NewDB;Persist Security Info=True;User ID=sa;Password=da" providerName="" />
    <add name="surajp" connectionString="Data Source=AST005-PC\SQLEXPRESS;Initial Catalog=ColloSysDB;Persist Security Info=True;User ID=collosys;Password=$WSXedc123$" providerName="" />
    <add name="collosys" connectionString="Data Source=INWPDSSQL07\EUC_SQL01;Initial Catalog=ColloSys;Persist Security Info=True;User ID=appinstall;Password=Appins@123" />
    <add name="Administrator" connectionString="Data Source=AST002\SQLEXPRESS;Initial Catalog=Collosys_NewDevDB;Persist Security Info=True;User ID=sa;Password=p@55w0rld" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="UseFileHelper" value="ExcelReader" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.87.0" newVersion="1.0.87.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FileHelpers" publicKeyToken="3e0c08d59cc3d657" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>