<div>
    <div class="form-horizontal">
        <div class="row-fluid">
            <form name="formviewalloc">
                <div class="control-group span4">
                    <label class="control-label">Product</label>
                    <div class="controls">
                        <select data-ng-model="allocData.selectedProduct" class="input-large" data-ui-select2="" name="Product" required>
                            <option value=""></option>
                            <option data-ng-repeat="s in dldata.ProductList | orderBy: 'toString()'">{{s}}</option>
                        </select>
                        <!--Product validation-->
                        <div data-ng-show="formviewalloc.Product.$dirty">
                            <div class="field-validation-error" data-ng-show="formviewalloc.Product.$error.required">{{val.Required()}}</div>
                        </div>
                    </div>
                </div>
                <div class="control-group span4">
                    <label class="control-label">Allocation Status</label>
                    <div class="controls">
                        <select data-ng-model="allocData.selectedAllocation" class="input-xlarge" data-ui-select2="" name="Status" required>
                            <option value="None">All</option>
                            <option value="DoNotAllocate">Do not allocate</option>
                            <option value="AllocateToTelecalling">Handle by telecaller</option>
                            <option value="AllocateToStakeholder">Allocated to particular stakeholder</option>
                            <option value="AsPerWorking">Allocated as per policy</option>
                            <option value="AllocationError">Error in allocation</option>
                            <option value="Submitted">Approve-changed allocation</option>
                            <option data-ng-repeat="allocstat in dldata.AllocationStatus">{{allocstat}}</option>
                        </select>
                        <!--Product validation-->
                        <div data-ng-show="formviewalloc.Status.$dirty">
                            <div class="field-validation-error" data-ng-show="formviewalloc.Status.$error.required">{{val.Required()}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row-fluid">
            <form name="formDateFilter">
                <div class="row-fluid">
                    <div class="control-group span4">
                        <label class="control-label">From Date- </label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="input-medium" type="text" name="fromDate" data-ng-model="allocData.fromDate" required
                                    data-bs-datepicker="" />
                                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                            </div>
                            <!--formDateFilter validation-->
                            <div data-ng-show="formDateFilter.fromDate.$dirty">
                                <div class="field-validation-error" data-ng-show="formDateFilter.fromDate.$error.required">{{val.Required()}}</div>
                            </div>
                        </div>
                    </div>

                    <!--To Date -->
                    <div class="control-group span4">
                        <label class="control-label">To Date</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" name="toDate" class="input-medium" data-ng-model="allocData.toDate" required bs-datepicker ui-validate=" '$value >  allocData.fromDate'" />
                                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                            </div>
                            <!--EndDate validation-->
                            <div data-ng-show="formDateFilter.toDate.$dirty">
                                <div class="field-validation-error" data-ng-show="formDateFilter.toDate.$error.required">{{val.Required()}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="span2">
                        <button class="btn btn-success" data-ng-disabled="!(formDateFilter.$valid && formviewalloc.$valid)" data-ng-click="getPagedData(allocData)">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid" data-ui-if="gridOptions.showGrid == true">
        <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
        <div style="height: 500px;" data-ng-grid="gridOptions"></div>
    </div>
    <div class="row-fluid" data-ng-show="gridOptions.showGrid == true">
        <button class="btn btn-info" data-ng-disabled="!(gridOptions.$gridScope.selectedItems.length>0)" data-ng-click="openChangeModal()">Change Allocation</button>
        <!--data-ng-show="gridOptions.$gridScope.selectedItems.length>0" data-ng-click="openModal=!openModal"-->
        <!--<button class="btn btn-info" data-ng-click="openChurnModal()">Churn Allocation</button>-->
        <!-- data-ng-click="churnModal=!churnModal" data-ng-show="showChurnButton()"-->
        <button class="btn btn-info" data-ng-show="allocData.selectedAllocation=='Submitted' && dldata.gridOptions.$gridScope.selectedItems.length>0" data-ng-click="allocationApprove(allocData)">Approve Allocation</button>
        <button class="btn btn-danger" data-ng-show="allocData.selectedAllocation=='Submitted' && dldata.gridOptions.$gridScope.selectedItems.length>0" data-ng-click="allocationReject(allocData)">Reject Allocation</button>
        <div style="vertical-align: bottom; height: 60px;">
        </div>
    </div>
</div>
