<div>
    <div class="form-horizontal">
        <div class="row">
            <form name="formviewalloc">
                <div class="col-md-5">
                    <cs-field data-ng-model="allocData.selectedProduct" field="ViewApprovePolicy.Product" ng-required="true" value-list="ProductList | orderBy: 'toString()'"></cs-field>
                </div>
                <div class="col-md-5">
                    <cs-field data-ng-model="allocData.selectedAllocation" field="ViewApprovePolicy.AllocStatus" ng-required="true"></cs-field>
                </div>
            </form>
        </div>

        <div class="row">
            <form name="formDateFilter">
                <div class="row">
                    <div class=" col-md-5">
                        <cs-field field="ViewApprovePolicy.Fromdate" data-ng-model="allocData.fromDate" ng-required="true"></cs-field>
                    </div>
                    <div class=" col-md-5">
                        <cs-field field="ViewApprovePolicy.Todate" data-ng-model="allocData.toDate" ng-required="true" ui-validate=" '$value >  allocData.fromDate'"></cs-field>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-success" data-ng-disabled="!(formDateFilter.$valid && formviewalloc.$valid)" data-ng-click="getPagedData(allocData)">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ui-if="gridOptions.showGrid == true">
        <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
        <div style="height: 500px;" data-ng-grid="gridOptions"></div>
    </div>
    <div class="row" data-ng-show="gridOptions.showGrid == true">
        <button class="btn btn-info" data-ng-disabled="!(gridOptions.$gridScope.selectedItems.length>0)" data-ng-click="openChangeModal()">Change Allocation</button>
        <!--data-ng-show="gridOptions.$gridScope.selectedItems.length>0" data-ng-click="openModal=!openModal"-->
        <!--<button class="btn btn-info" data-ng-click="openChurnModal()">Churn Allocation</button>-->
        <!-- data-ng-click="churnModal=!churnModal" data-ng-show="showChurnButton()"-->
        <button class="btn btn-info" data-ng-show="allocData.selectedAllocation=='Submitted' && dldata.gridOptions.$gridScope.selectedItems.length>0" data-ng-click="allocationApprove(allocData)">Approve Allocation</button>
        <button class="btn btn-danger" data-ng-show="allocData.selectedAllocation=='Submitted' && dldata.gridOptions.$gridScope.selectedItems.length>0" data-ng-click="allocationReject(allocData)">Reject Allocation</button>
        <div style="vertical-align: bottom; height: 60px;">
        </div>
    </div>
</div>
