@{
    ViewBag.Title = "Working";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="Working">
    <div class="row-fluid">
        <h5 style="font-weight: normal;">Working Details</h5>
        <hr />
        <div class="row-fluid">
            <div class="control-group span4">
                <label class="control-label">Products:</label>
                <div class="controls">
                    <select data-ui-select2="" data-ng-required="true" data-ng-model="StakeWork.Products" data-ng-options="c for c in ProductList" data-ng-change="GetReport2List(StakeWork.Products)" style="min-width: 200px;"></select>
                </div>
            </div>

            <div class="control-group span4" ng-show="StakeWork.Products">
                <label class="control-label">Reports To:</label>
                <div class="controls">
                    <select data-ui-select2=""
                        data-ng-required="true"
                        data-ng-model="StakeWork.ReportsTo"
                        style="min-width: 200px;">
                        <option></option>
                        <option data-ng-repeat="data in ReportsToList" value="{{data.Id}}">{{data.Name}}{{data.LocationLevel}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group span4" ng-show="StakeWork.ReportsTo">
                <label class="control-label">Location Level</label>
                <div class="controls">
                    <select class="input-medium" data-ui-select2="" data-ng-model="LocationLevel">
                        <option></option>
                        <option data-ng-repeat="data in LocationLevelArray">{{data.level}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--Working Table-->
    <div class="row-fluid" ng-show="LocationLevel">

        <hr />
        <form name="validationForm">
            <div class="row-fluid ">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Country</th>
                            <th data-ng-show="LocationLevel=='REGION'">Region</th>
                            <th>State</th>
                            <th>Cluster</th>
                            <th>City</th>
                            <th>Area</th>
                            <th ng-hide="true">Pincode</th>
                            <th>Bucket</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @*Product*@
                            <td>{{StakeWork.Products}}</td>
                            @*Country*@
                            <td>
                                <input class="input-small" data-ng-enabled="LocationLevel!='Country'" value="India" readonly />
                            </td>

                            @*Region*@
                            <td data-ng-show="LocationLevel=='REGION'">
                                <select data-ui-select2="" class="select-working" data-ng-required="LocationLevel=='REGION'"
                                        data-ng-model="StakeWork.Region">
                                    <option></option>
                                    <option data-ng-repeat="data in RegionList" value="{{data}}">{{data}}</option>
                                </select>
                            </td>

                            @*State*@
                            <td>
                                <select data-ui-select2="" class="select-working" data-ng-required="!(enableLocation()<3)" data-ng-disabled="enableLocation()<3"
                                    data-ng-model="StakeWork.State"
                                    data-ng-change="getClusterList(StakeWork.State)"
                                    data-ng-options="c for c in StateList | unique">
                                </select>
                            </td>


                            @*Cluster*@
                            <td>
                                <select data-ui-select2="" class="input-medium" data-ng-required="!(enableLocation()<4)" data-ng-disabled="(enableLocation()<4)"
                                    data-ng-model="StakeWork.Cluster"
                                    data-ng-change="getCity(StakeWork.Cluster)">
                                    <option></option>
                                    <option data-ng-repeat="data in clusterList  | orderBy: 'Cluster' | uppercase | unique: 'Cluster'">{{data.Cluster}}</option>
                                </select>
                            </td>

                            @*City*@
                            <td>
                                <select data-ui-select2="" class="select-working" data-ng-required="!(enableLocation()<5)" data-ng-disabled="(enableLocation()<5)"
                                        data-ng-model="StakeWork.City"
                                    data-ng-change="getArea(StakeWork.City)">
                                    <option></option>
                                    <option data-ng-repeat="data in cityList|orderBy:'City'|uppercase|unique:'City'">{{data.City}}</option>
                                </select>
                            </td>

                            @*Area*@
                            <td>
                                <select data-ui-select2="" class="select-working" data-ng-required="!(enableLocation()<6)" data-ng-disabled="(enableLocation()<6)"
                                    data-ng-model="StakeWork.Area">
                                    <option></option>
                                    <option data-ng-repeat="data in areaList|orderBy:'Area'|uppercase|unique:'Area'">{{data.Area}}</option>
                                </select>
                            </td>


                            @*Pincode*@
                            <td ng-hide="true">
                                <input data-ng-disabled="(enableLocation()<7)" type="text"
                                    class="input-medium" data-ng-model="StakeWork.Pincodes"
                                    typeahead="c.City for c in Pincodes($viewValue, 'Area') ">
                            </td>




                            @*Bucket*@
                            <td>
                                <select data-ui-select2="" class="select-working" multiple="multiple"
                                    data-ng-model="StakeWork.BucketStart">
                                    <option value="1">1(0-29)</option>
                                    <option value="2">2(30-59)</option>
                                    <option value="3">3(60-89)</option>
                                    <option value="4">4(90-119)</option>
                                    <option value="5">5(120-149)</option>
                                    <option value="6">6(150-179)</option>
                                    <option value="7">>6(180+)</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row-fluid text-right">
                <button data-ng-disabled="validationForm.$invalid" type="button" class="btn btn-success" ng-click="addTable(StakeWork)">Add</button>
            </div>
        </form>

        <div class="row-fluid">
            <table data-ng-show="showAddedData" class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Country</th>
                        <th>Region</th>
                        <th>State</th>
                        <th>Cluster</th>
                        <th>City</th>
                        <th>Area</th>
                       
                        <th ng-hide="true">Pincode</th>
                         <th>Bucket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="data in Stakeinfo" data-ng-show="showAddedData">
                        <td>{{data.Products}}</td>
                        <td>India</td>
                        <td>{{data.Region }}</td>
                        <td>{{data.State}}</td>
                        <td>{{data.Cluster}}</td>
                        <td>{{data.City}}</td>
                        <td>{{data.Area}}</td>
                        <td ng-hide="true">{{data.Pincodes}}</td>
                        <td>{{data.BucketStart}}</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{

    <script src="~/Areas/Stakeholder2/ViewModels/WorkingScript.js"></script>
}
