<form name="confirmationform">
<div modal="showDeleteModel" close="noToDelete()" options="modelOption">
    <div class="panel panel-default">
        <div class="panel-heading">
            Confirm to Delete
        </div>
        <div class="panel-body">
            Are you sure to Delete?
        </div>
        <div class="panel-footer">
            <div class="row">
                <span class="left">
                    <cs-button type="save" text="Yes" data-ng-click="yesToDelete()" />
                    <cd-button type="cancel" text="No" data-ng-click="noToDelete()" />
                </span>
            </div>
        </div>
    </div>
</div>
</form>
