<div modal="showDeleteModel" close="noToDelete()" options="modelOption">
    <div class="panel panel-default">
        <div class="panel-heading">
            Confirm to Delete
        </div>
        <div class="panel-body">
            Are you sure to Delete?
        </div>
        <div class="panel-footer">
            <div class="row">
                <span class="left">
                    <input type="button" value="Yes" class="btn btn-success" data-ng-click="yesToDelete()" />
                    <input type="button" value="No" class="btn btn-info" data-ng-click="noToDelete()" />
                </span>
            </div>
        </div>
    </div>
</div>

