<div class="container-fluid"  data-ng-cloak="">
    <div class="row text-center well" data-ng-hide="dldata.productList.length > 0">
        <label class="info">No Product Config Details</label>
    </div>

    <div>
        <div style="overflow: scroll">
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Product</th>
                        <th>Product Group</th>
                        <th>Allocation Reset Strategy</th>
                        <th>Billing Strategy</th>
                        <th>Has Telecalling</th>
                        <th>FR Cycle Cut Off Days</th>
                        <th>FR Month Cut Off Days</th>
                        <th>Cycle Codes</th>

                    </tr>
                  <!--  <tr>

                        <th>
                            <input type="text" data-ng-model="search.ProductName" /></th>
                        <th>
                            <input type="text" data-ng-model="search.ProductGroup" /></th>
                        <th>
                            <input type="text" data-ng-model="search.AllocationResetStrategy" /></th>
                        <th>
                            <input type="text" data-ng-model="search.BillingStrategy" /></th>
                        <th>
                            <input type="text" data-ng-model="search.HasTelecalling" /></th>
                        <th>
                            <input type="text" data-ng-model="search.FrCutOffDaysCycle" /></th>
                        <th>
                            <input type="text" data-ng-model="search.FrCutOffDaysMonth" /></th>
                        <th>
                            <input type="text" data-ng-model="search.CycleCodes" /></th>
                    </tr>-->
                </thead>

                <tbody>
                    <tr data-ng-repeat="product in dldata.productList | filter:search">
                        <td>
                            <div class="btn-group" style="width: 90px">
                                <icon-btn type="view" data-ng-click="openModelData('view',product)"></icon-btn>
                                <icon-btn type="edit" data-ng-click="openModelData('edit',product)"></icon-btn>
<!--                                <icon-btn type="delete" data-ng-click="openModelData(product,false,$index)"></icon-btn>-->
                            </div>
                        </td>
                        <td>{{product.Product}}</td>
                        <td>{{product.ProductGroup}}</td>
                        <td>{{product.AllocationResetStrategy}}</td>
                        <td>{{product.BillingStrategy}}</td>
                        <td>{{product.HasTelecalling}}</td>
                        <td>{{product.FrCutOffDaysCycle}}</td>
                        <td>{{product.FrCutOffDaysMonth}}</td>
                        <td>{{product.CycleCodes}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
