<div>
    <form name="form" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">{{modelTitle}}</div>

            <div data-ng-form="formAddProduct">
                <div class="panel-body">
                    <cs-form layout="9.3.8" mode="mode">
                
                        <cs-field data-ng-model="dldata.productconfig.Product"
                                  field="Products.Product" data-ng-disabled="true" ng-required="true"></cs-field>
              
                        <cs-field data-ng-model="dldata.productconfig.ProductGroup"
                                  field="Products.ProductGroup" data-ng-disabled="true" ng-required="true"></cs-field>
               
                        <cs-field data-ng-model="dldata.productconfig.AllocationResetStrategy" 
                                  field="Products.AllocationResetStrategy" value-List="dldata.AllocationStrategy"></cs-field>
                        
                        <cs-field data-ng-model="dldata.productconfig.BillingStrategy" 
                                  field="Products.BillingResetStrategy" value-List="dldata.BillingStrategy"></cs-field>
                   
                        <cs-field data-ng-model="dldata.productconfig.HasTelecalling" field="Products.HasTelecalling"></cs-field>
                     
                        <div data-ng-show="dldata.productconfig.HasTelecalling">
                            <cs-field data-ng-model="dldata.productconfig.FrCutOffDaysCycle"
                                      field="Products.FrCutOffDaysCycle" ng-required="dldata.productconfig.HasTelecalling"></cs-field>

                            <cs-field data-ng-model="dldata.productconfig.FrCutOffDaysMonth"
                                      field="Products.FrCutOffDaysMonth" ng-required="dldata.productconfig.HasTelecalling"></cs-field>
                        </div>
                        
                         <cs-field data-ng-model="dldata.productconfig.CycleCodes" multiple="multiple"
                                      field="Products.CycleCodes" value-List="dldata.codes"></cs-field>
                       
                    </cs-form>
                </div>


            </div>
        </div>
        <div class="text-right">
            <cs-button type="save" permission="Config,Product,AddEdit" data-ng-hide="mode === 'view'" data-ng-click="saveProduct(dldata.productconfig)" data-ng-disabled="!formAddProduct.$valid"></cs-button>
            <cs-button type="close" permission="Config,Product,AddEdit" data-ng-hide="mode === 'view'" data-ng-click="closeModel('Cancel')"></cs-button>
            <cs-button type="close" permission="Config,Product" data-ng-hide="mode === 'edit'" data-ng-click="closeModel('Close')"></cs-button>
        </div>
    </form>
</div>
