<div>
    <form name="form" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">{{modelTitle}}</div>

            <div data-ng-form="formAddProduct">
                <div class="panel-body">
                    <cs-form layout="9.3.8" mode="mode">
                
                        <cs-field data-ng-model="dldata.productconfig.Product"
                                  field="Products.Product" data-ng-disabled="true" ng-required="true"></cs-field>
              
                        <cs-field data-ng-model="dldata.productconfig.ProductGroup"
                                  field="Products.ProductGroup" data-ng-disabled="true" ng-required="true"></cs-field>
               
                        <cs-field data-ng-model="dldata.productconfig.AllocationResetStrategy" 
                                  field="Products.AllocationResetStrategy" value-List="dldata.AllocationStrategy"></cs-field>
                        
                        <cs-field data-ng-model="dldata.productconfig.BillingStrategy" 
                                  field="Products.BillingResetStrategy" value-List="dldata.BillingStrategy"></cs-field>
                   
                        <cs-field data-ng-model="dldata.productconfig.HasTelecalling" field="Products.HasTelecalling"></cs-field>
                     
                        <div data-ng-show="dldata.productconfig.HasTelecalling">
                            <cs-field data-ng-model="dldata.productconfig.FrCutOffDaysCycle"
                                      field="Products.FrCutOffDaysCycle" data-ng-disabled="dldata.isreadonly" ng-required="dldata.productconfig.HasTelecalling"></cs-field>

                            <cs-field data-ng-model="dldata.productconfig.FrCutOffDaysMonth"
                                      field="Products.FrCutOffDaysMonth" data-ng-disabled="dldata.isreadonly" ng-required="dldata.productconfig.HasTelecalling"></cs-field>
                        </div>
                        
                         <cs-field data-ng-model="dldata.productconfig.CycleCodes" multiple="multiple"
                                      field="Products.CycleCodes" value-List="dldata.codes"></cs-field>
                       
                    </cs-form>
                </div>


            </div>
        </div>
        <div class="text-right">
            <cs-button type="save" permission="Config,Product,AddEdit" data-ng-click="saveProduct(dldata.productconfig)" data-ng-disabled="!formAddProduct.$valid"></cs-button>
            <cs-button type="close" permission="Config,Product,AddEdit" data-ng-click="closeModel('Cancel')"></cs-button>
            <cs-button type="close" permission="Config,Product,View" data-ng-click="closeModel('Close')"></cs-button>
        </div>
    </form>
</div>







<!-- <div class="col-md-12" style="padding-bottom: 7px">
         <label class="col-md-3">Allocation Reset Strategy </label>
         <div class="col-md-8">
             <cs-button type="add" text="Has Month End Reset" data-ng-model="dldata.productconfig.AllocationResetStrategy" data-ng-class="isSelected(dldata.productconfig.AllocationResetStrategy,'Monthly')" value="Monthly"></cs-button>
             <cs-button type="add" text="Has CycleWise Reset" data-ng-model="dldata.productconfig.AllocationResetStrategy" data-ng-class="isSelected(dldata.productconfig.AllocationResetStrategy,'Cyclewise')" value="Cyclewise" ></cs-button>
         </div>
     </div>-->

<!--<div class="col-md-10" style="padding-bottom: 7px">
        <label class="col-md-4">Has Telecalling </label>
        <div class="col-md-8">
            <div class="btn-group" data-ng-disabled="isReadOnly">
                <button type="button" data-ng-model="dldata.productconfig.HasTelecalling" data-ng-class="isSelected(dldata.productconfig.HasTelecalling,true)" btn-radio="true" data-ng-disabled="isReadOnly">Yes</button>
                <button type="button" data-ng-model="dldata.productconfig.HasTelecalling" data-ng-class="isSelected(dldata.productconfig.HasTelecalling,false)" btn-radio="false" data-ng-change="noTelecalling(dldata.productconfig)" data-ng-disabled="dldata.isReadOnly">No</button>
            </div>
        </div>
    </div>-->
<!-- <div class="col-md-11" style="padding-bottom: 7px">
         <label class="col-md-4">Billing Reset Strategy </label>
         <div class="col-md-8">
             <button type="button" data-ng-disabled="true" data-ng-class="isSelected(dldata.productconfig.BillingStrategy,'Cyclewise')" data-ng-model="dldata.productconfig.BillingStrategy" btn-radio="'Cyclewise'" value="Cyclewise">Cycle End</button>
             <button type="button" data-ng-disabled="true" data-ng-class="isSelected(dldata.productconfig.BillingStrategy,'Monthly')" data-ng-model="dldata.productconfig.BillingStrategy" btn-radio="'Monthly'" value="Monthly">Month End(Open And Close Cycle)</button>
             <button type="button" data-ng-disabled="true" data-ng-class="isSelected(dldata.productconfig.BillingStrategy,'MonthlyConfirmed')" data-ng-model="dldata.productconfig.BillingStrategy" btn-radio="'MonthlyConfirmed'" value="MonthlyConfirmed">Month End(Close Cycle Only)</button>
         </div>
     </div>-->


<!-- <div class="col-md-12" style="padding-bottom: 7px">
         <label class="col-md-3">Cycle Codes*</label>
         <div class="col-md-8">
             <select ui-select2="select2Options" class="select2-container-multi input-large"
                     data-ng-model="dldata.productconfig.CycleCodes" multiple="multiple"
                     data-ng-required="true">
                 <option data-ng-repeat="code in dldata.codes" value="{{code}}">{{code}}</option>
             </select>
         </div>
     </div>-->



