

@{
    ViewBag.Title = "ClientData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal" data-ng-form="formFileColumn">
    <div class="container-fluid" data-ng-controller="fileColumnController" data-ng-cloak="">
        <div>
            <div class="panel row-fluid">
                <label class="control-label">Tables</label>
                <div class="controls">
                    <select class="input-large" ui-select2 data-ng-model="clientData.table"  data-placeholder="Select File Name" ng-change="resetDate()">
                        <option value=""></option>
                        <option data-ng-repeat="file in fileDetails" data-ng-animate=" 'animate' ">{{file}}</option>
                    </select>
                    <input type="text" class="input-medium" data-ng-model="SelectedDate" data-date-format="dd-mm-yyyy" data-ng-change="getReport()"
                        data-date-days-of-week-disabled="'0'" data-ng-readonly="true"  data-bs-datepicker="">
                          <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </div>
            <div id="div-grid" ng-show="flag" class="ng-hide row-fluid">
                <div  class="span12">
                    <div class="control-group row-fluid">
                        <div style="position: relative; left: 0; right: 0; top: 0; bottom: 0; height: 500px; width: auto" ng-grid="gridOptions">
                        </div>
                        <br />
                        <div class="span8">
                            <a ng-href="Export/GetExcelDate?name={{clientData.table}}&date={{SelectedDate}}&columns={{gridColumns}}" class="siteButton">Get Excel</a>
                            <a ng-href="Export/GetCSVDate?name={{clientData.table}}&date={{SelectedDate}}&columns={{gridColumns}}" class="siteButton">Get CSV</a>
                            <br />
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Areas/Reporting/ViewModels/clientDataReporting.js"></script>
}
