<div class="container form-horizontal" data-ng-controller="readyForBillingController">
    <form name="readyforbillingform">
        <div class="panel panel-default">
            <div class="panel-heading">Ready For Billing</div>
            <div class="panel-body">
                <cs-form layout="4.3.8">
                    <cs-field data-ng-model="dldata.billing.Products" field="readyforbilling.Products"></cs-field>
                    <cs-field data-ng-model="dldata.billing.BillMonth" field="readyforbilling.BillMonth"
                              data-ng-change="showGrid(dldata.billing.Products,dldata.billing.BillMonth)"></cs-field>
                </cs-form>
            </div>
        </div>
        <div class="text-right">
            <span class="label-warning" data-ng-show="dldata.oldBillStatus!='null'">Billing for this product & month already created.</span>
            <span class="label-warning" data-ng-show="dldata.pageData.length<1">There is no Billing data for this product & month</span>
            <cs-button type="save" text="Ready For Billing" data-ng-disabled="dldata.oldBillStatus!='null' || dldata.pageData.length<1" data-ng-click="saveData(dldata.billing)"></cs-button>
        </div>
    </form>
    
    <div class="row">
        <table class="table table-bordered" data-ng-show="dldata.pageData.length>0">
            <thead>
                <tr>
                    <th>AccountNo</th>
                    <th>Product</th>
                    <th>IsInRecovery</th>
                    <th>Cycle</th>
                    <th>Bucket</th>
                    <th>Vintage</th>
                    <th>City Category</th>
                    <th>Allocation StartDate</th>
                    <th>Allocation EndDate</th>
                    <th>TotalDue</th>
                    <th>Recovered Amount</th>
                    <th>Stakeholder Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="d in dldata.pageData">
                    <td>{{d.AccountNo}}</td>
                    <td>{{d.Product}}</td>
                    <td>{{d.IsInRecovery}}</td>
                    <td>{{d.Cycle}}</td>
                    <td>{{d.Bucket}}</td>
                    <td>{{d.Vintage}}</td>
                    <td>{{d.CityCategory}}</td>
                    <td>{{d.AllocationStartDate | date}}</td>
                    <td>{{d.AllocationEndDate | date}}</td>
                    <td>{{d.TotalDueOnAllocation}}</td>
                    <td>{{d.TotalAmountRecovered}}</td>
                    <td>{{d.Stakeholders.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Grid View-->
    <div class="row" data-ui-if="gridOptions.showGrid == true">
        <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
        <div style="height: 500px" data-ng-grid="gridOptions"></div>
    </div>
</div>


