<form name="Requisitionpreparationform">
    <cs-form layout="6.3.9">
        <cs-field data-ng-model="legal.Function" field="legalprepare.Function"></cs-field>
    </cs-form>

    <div data-ng-show="legal.Function">
        <cs-form layout="6.3.5">
            <cs-field data-ng-model="legal.Location" field="legalprepare.Location"
                      value-List="dldata.location"></cs-field>
            
            <cs-field data-ng-model="legal.Division" field="legalprepare.Division"
                      value-List="dldata.division"></cs-field>
        </cs-form>
    </div>
    
    <div data-ng-show="legal.Location && legal.Division">
        <cs-form layout="6.3.5">
            <cs-field data-ng-model="legal.LoanNo" field="legalprepare.LoanNo"></cs-field>
            
            <cs-field  data-ng-model="legal.DateTo" field="legalprepare.DateTo"></cs-field>

            <cs-field  data-ng-model="legal.DateFrom" field="legalprepare.DateFrom"></cs-field>

            <cs-field data-ng-model="legal.RequsitionNo" field="legalprepare.RequsitionNo"></cs-field>

            <cs-field  data-ng-model="legal.RequsitionDateTo" field="legalprepare.RequsitionDateTo"></cs-field>

            <cs-field  data-ng-model="legal.RequsitionDateFrom" field="legalprepare.RequsitionDateFrom"></cs-field>

        </cs-form>
    </div>



    <div class="text-right">
        <cs-button type="save" text="GO" permission="All" data-ng-click="save(legal)"></cs-button>
        <cs-button type="cancel" text="Clear" permission="All" data-ng-click="Clear(legal)"></cs-button>
    </div>

    <div class="well">
        <div class="row" style="height: 100px; overflow: auto;">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Division</th>
                            <th>RequsitionNo</th>
                            <th>Loan No</th>
                            <th>Party Name</th>
                            <th>Loan Status</th>
                            <th>Loan Case Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr data-ng-repeat="data in datalayer.dldata.Requisitiondata">
                            <td>{{data.Location}}
                            </td>
                            <td>{{data.Division}}
                            </td>
                            <td>{{data.RequsitionNo}}
                            </td>
                            <td>{{data.LoanNo}}
                            </td>
                            <td>{{data.PartyName}}
                            </td>
                            <td>{{data.LoanStatus}}
                            </td>
                            <td>{{data.LoanCaseStatus}}
                            </td>
                            <td>
                                <cs-button type="add" text="Follow-Up" value="{{data.Followup}}" data-ng-click="requsitionlist(data)"></cs-button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div data-ng-show="showDiv">
        <div class="well">
            <div class="row" style="height: 100px; overflow: auto;">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>RequsitionNo</th>
                                <th>Loan No</th>
                                <th>Case No</th>
                                <th>Party Name</th>
                                <th>Dealing Location</th>
                                <th>Court Name</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="data in datalayer.dldata.Requisitiondata">
                                <td>{{data.RequsitionNo}}
                                </td>
                                <td>{{data.LoanNo}}
                                </td>
                                <td>{{data.CaseNo}}
                                </td>
                                <td>{{data.PartyName}}
                                </td>
                                <td>{{data.DealingLocation}}
                                </td>
                                <td>{{data.CourtName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <cs-form layout="6.3.5">
        
    <!--Allocate advocate-->
        <cs-field data-ng-model="legal.AdvocateCode" field="legalprepare.AdvocateCode"></cs-field>
            
        <cs-field  data-ng-model="legal.DateofAppointment" field="legalprepare.DateofAppointment"></cs-field>

        <cs-field  data-ng-model="legal.Dateoftermination" field="legalprepare.Dateoftermination"></cs-field>
        
        <!-- Allocate Employee-->
        <cs-field data-ng-model="legal.EmpCode" field="legalprepare.EmpCode"></cs-field>
            
        <cs-field  data-ng-model="legal.EmpName" field="legalprepare.EmpName"></cs-field>
    </cs-form>
    
    <div data-ng-show="legal.Function === 'Followup'">
          <div class="well">
            <div class="row" style="height: 100px; overflow: auto;">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Case Code</th>
                                <th>Case Date Description</th>
                                <th>Last Date</th>
                                <th>Complaint User</th>
                                <th>Next Date</th>
                                <th>Court Name</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr data-ng-repeat="data in datalayer.dldata.Requisitiondata">
                                <td>{{data.CaseCode}}
                                </td>
                                <td>{{data.CaseDateDescription}}
                                </td>
                                <td>{{data.LastDate}}
                                </td>
                                <td>{{data.ComplaintUser}}
                                </td>
                                <td>{{data.NextDate}}
                                </td>
                                <td>{{data.CourtName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
     <div class="text-center">
        <cs-button type="view" permission="All"></cs-button>
         <cs-button type="add " text="Note Sheet Button" permission="All"></cs-button>
         <input type="checkbox" value="Ready For withDraw"/>
          <cs-button type="save" permission="All"></cs-button>
    </div>



</form>




