<cs-form layout="6.4.8">
    <div data-ng-form="payoutPolicyForm">
        <div class="row">

            <cs-field layout="3.4.8" data-ng-model="dldata.payoutPolicy.Products" data-ng-change="onProductChange()"
                      field="BillingPolicy.Products"></cs-field>

            <cs-field layout="3.4.8" data-ng-show="dldata.payoutPolicy.Products" data-ng-model="dldata.payoutPolicy.PolicyType"
                      data-ng-change="onPolicyTypeChange()" field="BillingPolicy.PolicyType"></cs-field>

            <cs-field layout="3.4.8" data-ng-show="dldata.payoutPolicy.Products" data-ng-model="dldata.payoutPolicy.PolicyFor"
                      field="BillingPolicy.ApplyTo" data-ng-change="getApplyToData(dldata.payoutPolicy.PolicyFor)"></cs-field>

            <div data-ng-if="dldata.payoutPolicy.PolicyFor != 'Product' && dldata.payoutPolicy.Products">
                <cs-field layout="3.4.8" data-ng-model="dldata.payoutPolicy.PolicyForId" data-ng-change="getSubpolicy()"
                          field="BillingPolicy.ApplyOn" value-list="applyOnArray"></cs-field>
            </div>

            <div data-ng-if="dldata.payoutPolicy.PolicyFor == 'Product'" data-ng-init="dldata.payoutPolicy.PolicyForId = dldata.payoutPolicy.Products">
                <cs-field layout="3.4.8" data-ng-model="dldata.payoutPolicy.PolicyForId"
                          field="BillingPolicy.ApplyOnText" data-ng-disabled="true" data-ng-change="getSubpolicy()"></cs-field>
            </div>
        </div>
    </div>

    <div class="col-md-9" data-ng-show="dldata.payoutPolicy.Products">
        <div class="col-md-5">
            <cs-list2 list-heading="Draft/Expired SubPolicy" value-list="dldata.ExpiredAndSubpolicy" text-field="Name"
                      data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.BillingRelations); setButtonStatus(policy)"></cs-list2>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <cs-list2 list-heading="Approved/UnApproved SubPolicy" value-list="dldata.ApproveUnapproved" text-field="Name"
                      data-ng-model="policy" on-click="setDisplaySubpolicy(policy.subpolicy, policy.BillingRelations); setButtonStatus(policy)"></cs-list2>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" data-ng-disabled="direction.up" data-ng-click="moveUp(policy)"><i class="glyphicon glyphicon-arrow-up"></i></button>
            <button class="btn btn-success" data-ng-disabled="direction.down" data-ng-click="moveDown(policy)"><i class="glyphicon glyphicon-arrow-down"></i></button>
        </div>
    </div>
    <div class="row" data-ng-show="false">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <label class="heading-for-box">Expired/Draft</label>
            <div class="box">
                <div class="policy-name-box"
                     data-ng-repeat="billingRelation in dldata.payoutPolicy.BillingRelations | filter:factory.filterRelation(false,'')">
                    <div class="clickableName"
                         data-ng-click="setDisplaySubpolicy(billingRelation.BillingSubpolicy,billingRelation);setButtonStatus('Expired')">
                        {{billingRelation.BillingSubpolicy.Name}}
                    </div>
                </div>
                <div class="policy-name-box"
                     data-ng-repeat="subPolicy in dldata.subPolicyList">
                    <div class="clickableName"
                         data-ng-click="setDisplaySubpolicy(subPolicy);setButtonStatus('Draft')">
                        {{subPolicy.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <label class="heading-for-box">Approved/UnApproved</label>
            <div class="box">
                <div class="policy-name-box"
                     data-ng-repeat="billingRelation in dldata.payoutPolicy.BillingRelations | filter:factory.filterRelation(true,'Approved') | orderBy: 'Priority'">
                    <div class="clickableName"
                         data-ng-click="setButtonStatus('Approved');setDisplaySubpolicy(billingRelation.BillingSubpolicy,billingRelation)">
                        {{billingRelation.BillingSubpolicy.Name}}
                    </div>
                </div>
                <div class="policy-name-box alert-error"
                     data-ng-repeat="billingRelation in dldata.payoutPolicy.BillingRelations | filter:factory.filterRelation(true,'Submitted') | orderBy: 'Priority'">
                    <div class="clickableName"
                         data-ng-click="setButtonStatus('UnApproved');setDisplaySubpolicy(billingRelation.BillingSubpolicy,billingRelation)">
                        {{billingRelation.BillingSubpolicy.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="margin-box container-fluid" data-ng-show="dldata.buttonStatus" data-ng-form="policyForm">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <b class="col-md-2">{{disSubPolicy.Name}} :({{dldata.buttonStatus}})</b>
                                <div class="pull-right" style="margin-right: 5px">

                                    <cs-button type="delete" text="Deactivate"
                                               data-ng-show="dldata.buttonStatus=='Approved'"
                                               data-ng-click="openModelDeactivateSubPolicy(policy.BillingRelations);"></cs-button>
                                    <cs-button type="save" text="Activate"
                                               data-ng-show="dldata.buttonStatus=='Draft'"
                                               data-ng-click="openModelNewSubPolicy(policy.subpolicy,$index);"></cs-button>

                                    <cs-button type="add" text="Reactivate"
                                               data-ng-show="dldata.buttonStatus=='Expired'"
                                               data-ng-click="openModelReactivateSubPolicy(policy);">
                                    </cs-button>

                                    <cs-button type="save" text="Approve"
                                               data-ng-show="dldata.buttonStatus=='UnApproved'"
                                               data-ng-click="approve(policy.BillingRelations)">
                                    </cs-button>

                                    <cs-button type="save" text="Reject"
                                               data-ng-show="dldata.buttonStatus=='UnApproved'"
                                               data-ng-click="reject(policy.BillingRelations)">
                                    </cs-button>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-5">

                                <cs-field data-ng-model="disSubPolicy.Name" data-ng-disabled="true"
                                          field="BillingPolicy.Name"></cs-field>
                            </div>
                            <div class="row" style="margin-bottom: 5px">
                                <div>
                                    <cs-output table-name="DhflLiner"
                                               selected="selParams"
                                               formula-list="formulaList"
                                               matrix-list="matrixList"
                                               tokens-list="disSubPolicy.ifOutputTokens"
                                               group-type="Output"
                                               group-id="1.Output" edit="false"></cs-output>
                                </div>
                                <div>
                                    <cs-condition table-name="DhflLiner"
                                                  selected="selParams"
                                                  formula-list="formulaList"
                                                  tokens-list="disSubPolicy.conditionTokens"
                                                  group-id="0.Condition"
                                                  group-type="Condition"
                                                  debug="false" edit="false"></cs-condition>
                                </div>
                            </div>

                            <div class="row" data-ng-show="dldata.buttonStatus!=='Draft'">
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 control-label">Start Date</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" readonly
                                                   value="{{billingRelation.StartDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4 control-label">End Date</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" readonly value="{{billingRelation.EndDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</cs-form>
