<div class="panel panel-info" data-ng-show="dldata.matrix.Products && dldata.matrix.Dimension">
    <div class="panel panel-heading">
        Matrix Info
    </div>
    <div class="panel-body">
        <div class="row" data-ng-show="dldata.matrix.Category && dldata.matrix.Products">
            <div class="form-group col-md-5">
                <cs-field data-ng-model="dldata.matrix.MatrixPerType"
                          data-ng-disabled="dldata.isMatrixCreated" field="Matrix.MatrixPerType"
                          data-ng-required="!dldata.isMatrixCreated"></cs-field>
            </div>
            <div class="form-group col-md-5" data-ng-show="dldata.matrix.MatrixPerType">
                <div data-ng-switch on="dldata.matrix.MatrixPerType">
                    <div data-ng-switch-when="Table">
                        <cs-field data-ng-model="dldata.matrix.MatrixPerTypeName" ng-required="true"
                                  data-ng-disabled="dldata.isMatrixCreated" field="Matrix.MatrixPerTypeName"
                                  data-ng-required="!dldata.isMatrixCreated" value-list="dldata.columnNames | custBillSubString"></cs-field>
                    </div>
                    <div data-ng-switch-when="Formula">
                        <cs-field field="Matrix.MatrixPerTypeName" value-list="dldata.formulaNames"
                                  data-ng-model="dldata.matrix.MatrixPerTypeName"
                                  data-ng-disabled="dldata.isMatrixCreated" ng-required="true"></cs-field>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
