<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="harishr" connectionString="Data Source=AST003\EXPRESS;Initial Catalog=testcollosys;Persist Security Info=True;User ID=ColloSys;Password=C0ll0Sys" />
    <add name="mayurd" connectionString="Data Source=AST011\SQLEXPRESS;Initial Catalog=COLLOSYS_NEWDB;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="mahendrap" connectionString="Data Source=AST001-PC\SQLEXPRESS;Initial Catalog=CollosysDBnew;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="mohinesht" connectionString="Data Source=AST010\EXPRESS;Initial Catalog=COLLOSYS_NEWDB;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="amols" connectionString="Data Source=AST001-PC\SQLEXPRESS;Initial Catalog=ColloSysDb;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="shitalk" connectionString="Data Source=AST004\SQLEXPRESS;Initial Catalog=COLLOSYS_NEWDB;Persist Security Info=True;User ID=collosys;Password=p@55w0rld" />
    <add name="surajp" connectionString="Data Source=AST008\SQLEXPRESS;Initial Catalog=testcollosys;Persist Security Info=True;User ID=sa;Password=da" />
    <add name="ConnectionString" connectionString="Data Source=AST010-PC\EXPRESS;Initial Catalog=ColloSys;User ID=sa;Password=da" />
  </connectionStrings>
</configuration>