<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 2%"></th>
            <th class="col-md-2">Product</th>
            <th class="col-md-2">Reports To</th>
            <th class="col-md-2" data-ng-show="displayManager.showRegion">Region</th>
            <th class="col-md-2" data-ng-show="displayManager.showCluster">Cluster</th>
            <th class="col-md-2" data-ng-show="displayManager.showState">State</th>
            <th class="col-md-2" data-ng-show="displayManager.showDistrict">District</th>
            <th class="col-md-2" data-ng-show="displayManager.showCity">City</th>
            <th class="col-md-2" data-ng-show="displayManager.showArea">Area</th>
            <th class="col-md-2" data-ng-show="selectedHierarchy.HasBuckets">Bucket</th>
            <th class="col-md-2" data-ng-show="formMode!=='view'"></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-show="formMode!=='view'">
            <td>
                <!--<input type="checkbox" 
                                           data-ng-checked="selectedWorkingList .length === workingDetailsList.length && workingDetailsList.length!==0"       
                                           data-ng-model="selAll" data-ng-click="selectAll(selAll)"/>-->
            </td>
            <td>
                <cs-field field="workingModel.Products"
                    data-ng-model="WorkingModel.SelectedPincodeData.Products"
                    no-label=""
                    data-ng-change="getReportsTo(WorkingModel.SelectedPincodeData.Products)">
                                </cs-field>
            </td>

            <td>
                <cs-field field="workingModel.ReportsTo"
                    no-label=""
                    value-list="reportsToList"
                    data-ng-change="getPincodeData(WorkingModel)"
                    data-ng-model="WorkingModel.SelectedPincodeData.ReportsTo">
                                </cs-field>
            </td>

            <td data-ng-show="displayManager.showRegion">
                <cs-field data-ng-show="!showDropdown('Region')"
                    field="workingModel.Region"
                    no-label=""
                    data-ng-change="getPincodeData(WorkingModel,'Region')"
                    data-ng-model="WorkingModel.SelectedPincodeData.Region"
                    value-list="WorkingModel.ListOfRegions">
                                </cs-field>
                <div data-ng-if="showDropdown('Region')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Region"
                        change="getPincodeData(WorkingModel,'Region')"
                        ng-required="true"
                        options="c for c in WorkingModel.ListOfRegions" multiple="true">
                                    </multiselect>
                </div>
            </td>

            <td data-ng-show="displayManager.showCluster ">
                <cs-field field="workingModel.Cluster"
                    no-label=""
                    data-ng-show="!showDropdown('Cluster')"
                    data-ng-change="getPincodeData(WorkingModel,'Cluster')"
                    data-ng-model="WorkingModel.SelectedPincodeData.Cluster"
                    value-list="WorkingModel.ListOfStates">
                                </cs-field>
                <div data-ng-if="showDropdown('Cluster')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Cluster"
                        ng-required="true"
                        change="getPincodeData(WorkingModel,'Cluster')"
                        options="c for c in WorkingModel.ListOfClusters" multiple="true">
                                    </multiselect>
                </div>
            </td>

            <td data-ng-show="displayManager.showState">
                <cs-field field="workingModel.State"
                    data-ng-model="WorkingModel.SelectedPincodeData.State"
                    no-label=""
                    data-ng-change="getPincodeData(WorkingModel,'State')"
                    data-ng-show="!showDropdown('State')"
                    value-list="WorkingModel.ListOfStates"></cs-field>
                <div data-ng-if="showDropdown('State')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.State"
                        change="getPincodeData(WorkingModel,'State')"
                        ng-required="true"
                        options="c for c in WorkingModel.ListOfStates" multiple="true">
                                    </multiselect>
                </div>
            </td>

            <td data-ng-show="displayManager.showDistrict ">
                <cs-field field="workingModel.District"
                    no-label=""
                    data-ng-show="!showDropdown('District')"
                    data-ng-change="getPincodeData(WorkingModel,'District')"
                    data-ng-model="WorkingModel.SelectedPincodeData.District"
                    value-list="WorkingModel.ListOfDistricts">
                                </cs-field>
                <div data-ng-if="showDropdown('District')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.District"
                        ng-required="true"
                        change="getPincodeData(WorkingModel,'District')"
                        options="c for c in WorkingModel.ListOfDistricts" multiple="true">
                                    </multiselect>
                </div>
            </td>

            <td data-ng-show="displayManager.showCity">
                <cs-field field="workingModel.City"
                    no-label=""
                    data-ng-show="!showDropdown('City')"
                    value-list="WorkingModel.ListOfCities"
                    data-ng-change="getPincodeData(WorkingModel,'City')"
                    data-ng-model="WorkingModel.SelectedPincodeData.City">
                                </cs-field>
                <div data-ng-if="showDropdown('City')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.City"
                        ng-required="true"
                        change="getPincodeData(WorkingModel,'City')"
                        options="c for c in WorkingModel.ListOfCities" multiple="true">
                                    </multiselect>
                </div>
            </td>

            <td data-ng-show="displayManager.showArea">
                <cs-field field="workingModel.Area"
                    no-label=""
                    data-ng-show="!showDropdown('Area')"
                    data-ng-model="Working.Area"
                    data-ng-change="getPincodeData(WorkingModel,'Area')"
                    value-list="WorkingModel.ListOfAreas">
                                </cs-field>
                <div data-ng-if="showDropdown('Area')">
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Area"
                        change="getPincodeData(WorkingModel,'Area')"
                        ng-required="true"
                        options="c for c in WorkingModel.ListOfAreas" multiple="true">
                                    </multiselect>
                </div>
            </td>
            <td data-ng-if="selectedHierarchy.HasBuckets">
                <div>
                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Buckets"
                        ng-required="true"
                        options="c for c in bucketList" multiple="true">
                                    </multiselect>
                </div>
            </td>
            <td>
                <!--disableAddBtn(WorkingModel,addWorkingForm)-->
                <div data-ng-if="selectedWorkingList .length === 0">
                    <cs-button2
                        type="add"
                        data-ng-disabled="addWorkingForm.$invalid"
                        data-on-click="addWorking(WorkingModel,selectedHierarchy.LocationLevel)">
                                    </cs-button2>
                </div>

            </td>
        </tr>
        <tr data-ng-repeat="data in workingDetailsList">
            <td>
                <input type="checkbox"
                    data-ng-model="checked"
                    data-ng-click="addWorkingToList(data)" /></td>
            <td class="col-md-2">{{data.Products}}</td>
            <td class="col-md-2">{{data.ReportsToName}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showRegion">{{data.Region}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showCluster">{{data.Cluster}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showState">{{data.State}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showDistrict">{{data.District}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showCity">{{data.City}}</td>
            <td class="col-md-2" data-ng-show="displayManager.showArea">{{data.Area}}</td>
            <td data-ng-show="selectedHierarchy.HasBuckets">{{data.Buckets}}
            </td>
            <td data-ng-show="formMode!=='view'">
                <span>{{getEndDate(data)}}</span>
            </td>
        </tr>
    </tbody>
</table>
