<div class="panel panel-default" data-ng-show="selectedHierarchy.HasWorking">
    <div class="panel-heading">
        <span>Working Details</span>
        <span class="pull-right">{{currStakeholder.Name}} ({{selectedHierarchy.Hierarchy}} / {{selectedHierarchy.Designation}})</span>
    </div>
    <div class="panel-body">
        <cs-form>
            <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 2%"></th>
                            <th class="col-md-2">Product</th>
                            <th class="col-md-2">Reports To</th>
                            <th class="col-md-2" data-ng-show="displayManager.showRegion">Region</th>
                            <th class="col-md-2" data-ng-show="displayManager.showCluster">Cluster</th>
                            <th class="col-md-2" data-ng-show="displayManager.showState">State</th>
                            <th class="col-md-2" data-ng-show="displayManager.showDistrict">District</th>
                            <th class="col-md-2" data-ng-show="displayManager.showCity">City</th>
                            <th class="col-md-2" data-ng-show="displayManager.showArea">Area</th>
                            <th class="col-md-2" data-ng-show="selectedHierarchy.HasBuckets">Bucket</th>
                            <th class="col-md-2" data-ng-show="formMode!=='view'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="formMode!=='view'" data-ng-form="addWorkingForm">
                            <td><!--<input type="checkbox" 
                                           data-ng-checked="selectedWorkingList .length === workingDetailsList.length && workingDetailsList.length!==0"       
                                           data-ng-model="selAll" data-ng-click="selectAll(selAll)"/>--></td>
                            <td>
                                <cs-field field="workingModel.Products"
                                          data-ng-model="WorkingModel.SelectedPincodeData.Products"
                                          no-label=""
                                          data-ng-change="getReportsTo(WorkingModel.SelectedPincodeData.Products)">
                                </cs-field>
                            </td>

                            <td >
                                <cs-field field="workingModel.ReportsTo"
                                          no-label=""
                                          value-list="reportsToList"
                                          data-ng-change="getPincodeData(WorkingModel)"
                                          data-ng-model="WorkingModel.SelectedPincodeData.ReportsTo">
                                </cs-field>
                            </td>

                            <td data-ng-show="displayManager.showRegion">
                                <cs-field data-ng-show="!showDropdown('Region')" 
                                          field="workingModel.Region"
                                          no-label=""  
                                          data-ng-change="getPincodeData(WorkingModel,'Region')"    
                                          data-ng-model="WorkingModel.SelectedPincodeData.Region"
                                          value-list="WorkingModel.ListOfRegions">
                                </cs-field>
                                <div data-ng-if="showDropdown('Region')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Region"
                                                 change="getPincodeData(WorkingModel,'Region')"    
                                                 options="c for c in WorkingModel.ListOfRegions" multiple="true">
                                    </multiselect>
                                </div>
                            </td>

                            <td data-ng-show="displayManager.showCluster "  >
                                <cs-field field="workingModel.Cluster"
                                          no-label=""  
                                          data-ng-show="!showDropdown('Cluster')"
                                          data-ng-change="getPincodeData(WorkingModel,'Cluster')"   
                                          data-ng-model="WorkingModel.SelectedPincodeData.Cluster"
                                          value-list="WorkingModel.ListOfStates">
                                </cs-field>
                                <div data-ng-if="showDropdown('Cluster')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Cluster"
                                                 change="getPincodeData(WorkingModel,'Cluster')"    
                                                 options="c for c in WorkingModel.ListOfClusters" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            
                            <td data-ng-show="displayManager.showState">
                                <cs-field field="workingModel.State"
                                          data-ng-model="WorkingModel.SelectedPincodeData.State"   
                                          no-label="" 
                                          data-ng-change="getPincodeData(WorkingModel,'State')"   
                                          data-ng-show="!showDropdown('State')"
                                          value-list="WorkingModel.ListOfStates"></cs-field>
                                <div data-ng-if="showDropdown('State')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.State"
                                                 change="getPincodeData(WorkingModel,'State')" 
                                                 options="c for c in WorkingModel.ListOfStates" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            
                            <td data-ng-show="displayManager.showDistrict "  >
                                <cs-field field="workingModel.District"
                                          no-label=""  
                                          data-ng-show="!showDropdown('District')"
                                          data-ng-change="getPincodeData(WorkingModel,'District')"   
                                          data-ng-model="WorkingModel.SelectedPincodeData.District" 
                                          value-list="WorkingModel.ListOfDistricts" >
                                </cs-field>
                                <div data-ng-if="showDropdown('District')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.District"
                                                 change="getPincodeData(WorkingModel,'District')"    
                                                 options="c for c in WorkingModel.ListOfDistricts" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            
                            <td  data-ng-show="displayManager.showCity "  >
                                <cs-field field="workingModel.City"
                                          no-label=""  
                                          data-ng-show="!showDropdown('City')" 
                                          value-list="WorkingModel.ListOfCities"
                                          data-ng-change="getPincodeData(WorkingModel,'City')" 
                                          data-ng-model="WorkingModel.SelectedPincodeData.City">
                                </cs-field>
                                <div data-ng-if="showDropdown('City')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.City"
                                                 change="getPincodeData(WorkingModel,'City')"    
                                                 options="c for c in WorkingModel.ListOfCities" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            
                            <td data-ng-show="displayManager.showArea">
                                <cs-field field="workingModel.Area"
                                          no-label=""    
                                          data-ng-show="!showDropdown('Area')"
                                          data-ng-model="Working.Area"
                                          data-ng-change="getPincodeData(WorkingModel,'Area')"   
                                          value-list="WorkingModel.ListOfAreas">
                                </cs-field>
                                <div data-ng-if="showDropdown('Area')">
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Area"
                                                 change="getPincodeData(WorkingModel,'Area')"    
                                                 options="c for c in WorkingModel.ListOfAreas" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            <td data-ng-show="selectedHierarchy.HasBuckets">
                                <div>
                                    <multiselect data-ng-model="WorkingModel.SelectedPincodeData.Buckets"
                                                 options="c for c in bucketList" multiple="true">
                                    </multiselect>
                                </div>
                            </td>
                            <td >
                                <div data-ng-if="selectedWorkingList .length === 0">
                                    <cs-button2 
                                        type="add" 
                                        data-ng-disabled ="disableAddBtn(WorkingModel,addWorkingForm)"
                                        data-on-click="addWorking(WorkingModel,selectedHierarchy.LocationLevel)">
                                    </cs-button2>
                                </div>
                                   
                            </td>
                        </tr>
                        <tr data-ng-repeat="data in workingDetailsList">
                            <td><input data-ng-show="formMode!=='view'" type="checkbox" 
                                       data-ng-model="checked" 
                                       data-ng-click="addWorkingToList(data)"/></td>
                            <td class="col-md-2">{{data.Products}}</td>
                            <td class="col-md-2">{{data.ReportsToName}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showRegion">{{data.Region}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showCluster">{{data.Cluster}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showState">{{data.State}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showDistrict">{{data.District}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showCity">{{data.City}}</td>
                            <td class="col-md-2" data-ng-show="displayManager.showArea">{{data.Area}}</td>
                            <td data-ng-show="selectedHierarchy.HasBuckets">
                                {{data.Buckets}}
                            </td>
                            <td data-ng-show="formMode!=='view'">
                                <span>{{getEndDate(data)}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <span class="pull-left" data-ng-if="selectedWorkingList .length>0">
                        <cs-field layout="4.4.8" 
                                  data-ng-show="showEndDate(selectedWorkingList)"
                                  field="workingModel.EndDate"
                                  data-ng-model="EndDate"></cs-field>

                        <cs-button2 type="delete" 
                                    data-ng-disabled="disableDeleteBtn(selectedWorkingList ,EndDate)"  
                                    data-on-click="deleteSelectedWorking(EndDate)">
                        </cs-button2>
                    </span>
                   
                    <span  class="pull-right">
                        <cs-button2 type="save"
                                    data-ng-disabled="showSaveButton()" 
                                    permission="StakeholderAddEdit"
                                    data-on-click="save(workingDetailsList)">
                        </cs-button2>
                        <span data-ng-if="selectedWorkingList.length>0">
                            <cs-button2 type="approve"
                                        permission="StakeholderApprove"
                                        data-on-click="setApprovalStatus(selectedWorkingList,'approve','working')">
                            </cs-button2> 

                            <cs-button2 type="reject"
                                        permission="StakeholderApprove"
                                        data-on-click="setApprovalStatus(selectedWorkingList,'reject','working')">
                            </cs-button2>
                        </span>
                        <cs-button2
                            type="cancel"
                            text="Close"
                            permission="StakeholderAddEdit"
                            data-on-click="gotoView()">
                        </cs-button2>
                        <cs-button2
                            type="edit"
                            data-ng-show="formMode === 'view'"
                            permission="StakeholderAddEdit"
                            data-on-click="changeMode('working')">
                        </cs-button2>
                    </span>
                </div>
            </form>
        </cs-form>
    </div>
</div>

<div class="clearfix"></div>

<div class="panel panel-default" data-ng-if="selectedHierarchy.HasPayment">
    <div class="panel-heading">
        <span>Payment Details</span>
        <span class="pull-right">{{currStakeholder.Name}} ({{selectedHierarchy.Hierarchy}} / {{selectedHierarchy.Designation}})</span>
    </div>
    <div class="panel-body" data-ng-if="showPayment">
        <cs-form mode="paymentMode">
                <div data-ng-form="paymentForm">
                    <div data-ng-if="selectedHierarchy.HasFixed">
                        <h5 class="modal-header"><b>Fixed Pay</b></h5>
                        <!--Basic-->
                        <cs-field data-ng-model="Payment.FixpayBasic"
                                  data-ng-required="selectedHierarchy.HasFixed"
                                  field="paymentModel.FixpayBasic"
                                  data-ng-change="computeSalary(Payment.FixpayBasic,Payment.Gross)">
                        </cs-field>
                      
                        <div data-ng-if="selectedHierarchy.HasFixedIndividual">
                            <cs-field field="paymentModel.FixpayTotal"
                                      data-ng-required="selectedHierarchy.HasFixedIndividual"
                                      data-ng-model="Payment.FixpayGross"
                                      data-ng-change="computeSalary(Payment.FixpayBasic,Payment.FixpayGross)">
                            </cs-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div data-ng-show="selectedHierarchy.HasFixedIndividual">
                       <div data-ng-include="'/Stakeholder/StakeholderAddEdit/Working/paymentTmpls/SaleryDetailsTable.html'"></div>
                    </div>

                    <div class="clearfix"></div>

                    <div data-ng-show="selectedHierarchy.HasMobileTravel">
                        <h5 class="modal-header"><b>Reimbursement elgibility</b></h5>
                        <cs-field data-ng-required="selectedHierarchy.HasMobileTravel"
                                  data-ng-model="Payment.MobileElig"
                                  field="paymentModel.MobileElig"></cs-field>
                        <cs-field data-ng-required="selectedHierarchy.HasMobileTravel"
                                  data-ng-model="Payment.TravelElig"
                                  field="paymentModel.TravelElig"></cs-field>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="pull-right">
                       
                        <cs-button2 type="save"
                                    permission="StakeholderAddEdit"
                                    data-ng-disabled="paymentMode === 'view'"    
                                    data-on-click="savePayment(Payment,paymentForm)">
                        </cs-button2>

                         <span data-ng-if="showPaymentApproval(Payment)">
                            <cs-button2 type="approve"
                                        permission="StakeholderAddEdit"
                                        data-on-click="setApprovalStatus(currStakeholder.Id,'approve','payment')">
                            </cs-button2> 

                            <cs-button2 type="reject"
                                        permission="StakeholderAddEdit"
                                        data-on-click="setApprovalStatus(currStakeholder.Id,'reject','payment')">
                            </cs-button2>
                        </span>

                        <cs-button2
                            type="cancel"
                            text="Close"
                            permission="StakeholderAddEdit"
                            data-on-click="gotoView()">
                        </cs-button2>
                        <cs-button2
                            type="edit"
                            data-ng-show="paymentMode === 'view'"
                            permission="StakeholderAddEdit"
                            data-on-click="changeMode('payment')">
                        </cs-button2>
                    </div>
                </div>
        </cs-form>
    </div>
</div>



<!--HRA-->
<!--<div data-ng-if="selectedHierarchy.HasFixedIndividual  && false">
                            <cs-field data-ng-model="Payment.FixpayHra"
                                      data-ng-required="selectedHierarchy.HasFixedIndividual "
                                      field="paymentModel.FixpayHra"></cs-field>
                        </div>-->


<!--  <div data-ng-if="selectedHierarchy.HasFixedIndividual && false">
                        <cs-field field="paymentModel.FixpayOther"
                                  data-ng-required="selectedHierarchy.HasFixedIndividual"
                                  data-ng-model="Payment.FixpayOther">
                        </cs-field>
                    </div>-->

<!--  <div data-ng-if="selectedHierarchy.HasServiceCharge && false">
                        <h5 class="modal-header"><b>Other Charges</b></h5>
                        <cs-field data-ng-required="selectedHierarchy.HasServiceCharge"
                                  data-ng-model="Payment.ServiceCharge"
                                  field="paymentModel.ServiceCharge">
                        </cs-field>
                    </div>-->







<!-- <cs-field field="workingModel.LocationLevel"
                               data-ng-model="Working.LocationLevel"></cs-field>

                    <cs-field field="workingModel.Country"
                              data-ng-model="Working.Country"></cs-field>-->

<!-- <cs-field field="workingModel.StartDate"
                               data-ng-model="Working.StartDate"></cs-field>

                    <cs-field field="workingModel.EndDate"
                              data-ng-model="Working.EndDate"></cs-field>

                    <cs-field field="workingModel.BucketStart"
                              data-ng-model="Working.BucketStart"></cs-field>

                    <cs-field field="workingModel.BucketEnd"
                              data-ng-model="Working.BucketEnd"></cs-field>-->

<!--<cs-field field="paymentModel.Products"
                          data-ng-model="Payment.Products"></cs-field>
                <cs-field field="paymentModel.BankAccNo"
                          data-ng-model="Payment.BankAccNo"></cs-field>
                <cs-field field="paymentModel.BankAccName"
                          data-ng-model="Payment.BankAccName"></cs-field>
                <cs-field field="paymentModel.BankIfscCode"
                          data-ng-model="Payment.BankIfscCode"></cs-field>
                <cs-field field="paymentModel.FixpayTotal"
                          data-ng-model="Payment.FixpayTotal"></cs-field>
                <cs-field field="paymentModel.StartDate"
                          data-ng-model="Payment.StartDate"></cs-field>
                <cs-field field="paymentModel.EndDate"
                          data-ng-model="Payment.EndDate"></cs-field>-->
