<div class="panel panel-default" data-ng-show="selectedHierarchy.HasWorking">
    <div class="panel-heading">
        <span>Working Details</span>
        <span class="pull-right">{{currStakeholder.Name}} ({{selectedHierarchy.Hierarchy}} / {{selectedHierarchy.Designation}})</span>
    </div>
    <div class="panel-body">
        <cs-form>
            <div data-ng-form="addWorkingForm">
              <div data-ng-include="'/Stakeholder/AddEdit/Working/AddWorkingTable.html'"></div>
              <div data-ng-include="'/Stakeholder/AddEdit/Working/WorkingButtons.html'"></div>
            </div>
        </cs-form>
    </div>
</div>

<div class="clearfix"></div>

<div class="panel panel-default" data-ng-if="selectedHierarchy.HasPayment">
    <div class="panel-heading">
        <span>Payment Details</span>
        <span class="pull-right">{{currStakeholder.Name}} ({{selectedHierarchy.Hierarchy}} / {{selectedHierarchy.Designation}})</span>
    </div>
    <div class="panel-body" data-ng-if="showPayment">
        <cs-form mode="paymentMode">
                <div data-ng-form="paymentForm">
                    <div data-ng-if="selectedHierarchy.HasFixed">
                         <div data-ng-include="'/Stakeholder/AddEdit/Working/FixedPayFields.html'"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div data-ng-show="selectedHierarchy.HasFixedIndividual">
                       <div data-ng-include="'/Stakeholder/AddEdit/Working/SalaryDetails.html'"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div data-ng-show="selectedHierarchy.HasMobileTravel">
                       <div data-ng-include="'/Stakeholder/AddEdit/Working/MobileTravelFields.html'"></div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                     <div data-ng-include="'/Stakeholder/AddEdit/Working/PaymentButtons.html'"></div>
                </div>
        </cs-form>
    </div>
</div>



<!--HRA-->
<!--<div data-ng-if="selectedHierarchy.HasFixedIndividual  && false">
                            <cs-field data-ng-model="Payment.FixpayHra"
                                      data-ng-required="selectedHierarchy.HasFixedIndividual "
                                      field="paymentModel.FixpayHra"></cs-field>
                        </div>-->


<!--  <div data-ng-if="selectedHierarchy.HasFixedIndividual && false">
                        <cs-field field="paymentModel.FixpayOther"
                                  data-ng-required="selectedHierarchy.HasFixedIndividual"
                                  data-ng-model="Payment.FixpayOther">
                        </cs-field>
                    </div>-->

<!--  <div data-ng-if="selectedHierarchy.HasServiceCharge && false">
                        <h5 class="modal-header"><b>Other Charges</b></h5>
                        <cs-field data-ng-required="selectedHierarchy.HasServiceCharge"
                                  data-ng-model="Payment.ServiceCharge"
                                  field="paymentModel.ServiceCharge">
                        </cs-field>
                    </div>-->







<!-- <cs-field field="workingModel.LocationLevel"
                               data-ng-model="Working.LocationLevel"></cs-field>

                    <cs-field field="workingModel.Country"
                              data-ng-model="Working.Country"></cs-field>-->

<!-- <cs-field field="workingModel.StartDate"
                               data-ng-model="Working.StartDate"></cs-field>

                    <cs-field field="workingModel.EndDate"
                              data-ng-model="Working.EndDate"></cs-field>

                    <cs-field field="workingModel.BucketStart"
                              data-ng-model="Working.BucketStart"></cs-field>

                    <cs-field field="workingModel.BucketEnd"
                              data-ng-model="Working.BucketEnd"></cs-field>-->

<!--<cs-field field="paymentModel.Products"
                          data-ng-model="Payment.Products"></cs-field>
                <cs-field field="paymentModel.BankAccNo"
                          data-ng-model="Payment.BankAccNo"></cs-field>
                <cs-field field="paymentModel.BankAccName"
                          data-ng-model="Payment.BankAccName"></cs-field>
                <cs-field field="paymentModel.BankIfscCode"
                          data-ng-model="Payment.BankIfscCode"></cs-field>
                <cs-field field="paymentModel.FixpayTotal"
                          data-ng-model="Payment.FixpayTotal"></cs-field>
                <cs-field field="paymentModel.StartDate"
                          data-ng-model="Payment.StartDate"></cs-field>
                <cs-field field="paymentModel.EndDate"
                          data-ng-model="Payment.EndDate"></cs-field>-->
