<div modal="showDeleteModel" close="noToDelete()" options="modelOption">
    <div class="modal-header">
        Confirm to Delete
    </div>
    <div class="modal-body">
        Are you sure to Delete?
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <span class="left">
                <input type="button" value="Yes" class="btn btn-success" data-ng-click="yesToDelete()" />
                <input type="button" value="No" class="btn btn-info" data-ng-click="noToDelete()" />
            </span>
        </div>
    </div>
</div>
