<div data-ng-form="formAddfileDetail" class="form-horizontal">

    <div class="modal-header">
        {{modelTitle}}
    </div>

    <div class="modal-body">
        <!--Alias Name -->
        <div class="row control-group">
            <label class="control-label">Alias Name </label>
            <div class="controls">
                <select id="AliasName" name="AliasName" data-ng-model="fileDetail.AliasName" class="input-large"
                    data-ng-disabled="isReadOnly" data-ng-required="true" data-placeholder="Select File Alias Name">
                    <option value=""></option>
                    <option data-ng-repeat="alias in datalayer.dldata.enums.fileAliasNames">{{alias}}</option>
                </select>
                <!--AliasName Validation-->
                <div data-ng-show="formAddfileDetail.AliasName.$dirty && formAddfileDetail.AliasName.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.AliasName.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>


        <!--AliasDescription -->
        <!--<div class="row control-group">
            <label class="control-label">Alias Description </label>
            <div class="controls">
                <input type="text" name="AliasDescription" data-ng-model="fileDetail.AliasDescription" data-ng-readonly="isReadOnly" data-ng-required="true"
                    data-placeholder="Enter Alias Description" />-->
        <!-- AliasDescription Validation-->
        <!--<div data-ng-show="formAddfileDetail.AliasDescription.$dirty && formAddfileDetail.AliasDescription.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.AliasDescription.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>-->

        <!--SCB Systems -->
        <div class="row control-group">
            <label class="control-label">SCB Systems </label>
            <div class="controls">
                <select id="ScbSystems" name="ScbSystems" data-ng-model="fileDetail.ScbSystems"
                    class="input-medium" data-ng-disabled="isReadOnly" required data-placeholder="Select System"
                    data-ng-change="updateDependsOnAlias(fileDetail)">
                    <option value=""></option>
                    <option data-ng-repeat="system in datalayer.dldata.enums.fileSystems">{{system}}</option>
                </select>
                <!--  SCB Validation-->
                <div data-ng-show="formAddfileDetail.ScbSystems.$dirty && formAddfileDetail.ScbSystems.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.ScbSystems.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--File Frequency -->
        <div class="row control-group">
            <label class="control-label">Frequency </label>
            <div class="controls">
                <select id="Frequency" name="Frequency" data-ng-model="fileDetail.Frequency" data-ng-disabled="isReadOnly"
                    class="input-medium" required placeholder="Select File Frequency" data-ng-change="updateDependsOnAlias(fileDetail)">
                    <option value=""></option>
                    <option data-ng-repeat="frequency in datalayer.dldata.enums.fileFrequencies">{{frequency}}</option>
                </select>
                <!-- Frequency Validation-->
                <div data-ng-show="formAddfileDetail.Frequency.$dirty && formAddfileDetail.Frequency.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.Frequency.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--DependsOnAlias -->
        <div class="row control-group">
            <label class="control-label">DependsOnAlias</label>
            <div class="controls">
                <select id="DependsOnAlias" name="DependsOnAlias" data-ng-model="fileDetail.DependsOnAlias" class="input-medium"
                    data-ng-disabled="isReadOnly" data-ng-required="false" data-placeholder="Select File DependsOnAlias">
                    <option value=""></option>
                    <option data-ng-repeat="dependalias in fileDetail.dependsOnAliasList">{{dependalias}}</option>
                </select>
                <!--Dependsonalias Validation-->
                <div data-ng-show="formAddfileDetail.DependsOnAlias.$dirty && formAddfileDetail.DependsOnAlias.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.DependsOnAlias.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--Category -->
        <div class="row control-group">
            <label class="control-label">Category </label>
            <div class="controls">
                <select id="Category" name="Category" data-ng-model="fileDetail.Category" data-ng-disabled="isReadOnly"
                    class="input-medium" required data-placeholder="Select Category">
                    <option value=""></option>
                    <option data-ng-repeat="cat in datalayer.dldata.enums.fileCategories">{{cat}}</option>
                </select>
                <!--Category Validation-->
                <div data-ng-show="formAddfileDetail.Category.$dirty && formAddfileDetail.Category.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.Category.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--File Type -->
        <div class="row control-group">
            <label class="control-label">File Type</label>
            <div class="controls">
                <select id="FileType" name="FileType" data-ng-model="fileDetail.FileType"
                    class="input-medium" data-ng-disabled="isReadOnly" required data-placeholder="Select File Type">
                    <option value=""></option>
                    <option data-ng-repeat="fileType in datalayer.dldata.enums.fileTypes">{{fileType}}</option>
                </select>
                <!--FileType Validation-->
                <div data-ng-show="formAddfileDetail.FileType.$dirty && formAddfileDetail.FileType.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.FileType.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!-- File Name -->
        <div class="row control-group">
            <label class="control-label">File Name </label>
            <div class="controls">
                <input type="text" data-ng-model="fileDetail.FileName" name="FileName" data-ng-disabled="isReadOnly"
                    required class="input-medium" placeholder="Enter File Name" />
                <!--FileName Validation-->
                <div data-ng-show="formAddfileDetail.FileName.$dirty && formAddfileDetail.FileName.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.FileName.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--File Count -->
        <div class="row control-group">
            <label class="control-label">File Count</label>
            <div class="controls">
                <input type="number" min="1" max="100" name="FileCount" data-ng-model="fileDetail.FileCount"
                    data-ng-pattern="/^[0-9]+$/" data-ng-disabled="isReadOnly" data-ng-required="true"
                    class="input-medium" placeholder="Enter no of files" />
                <!--FileCount Validation-->
                <div data-ng-show="formAddfileDetail.FileCount.$dirty && formAddfileDetail.FileCount.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.FileCount.$error.required">{{val.Required()}}</span>
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.FileCount.$error.pattern">{{val.OnlyNumbers()}}</span>
                </div>
            </div>
        </div>

        <!--Date Format -->
        <div class="row control-group">
            <label class="control-label">Date Format </label>
            <div class="controls">
                <select data-ng-model="fileDetail.DateFormat" data-ng-required="true" data-placeholder="Select Date Format"
                    name="date" class="input-medium" data-ng-disabled="isReadOnly">
                    <option value=""></option>
                    <option data-ng-repeat="format in factory.dateFormats">{{format}}</option>
                </select>
                <!--  DateFormat Validation-->
                <div data-ng-show="formAddfileDetail.date.$dirty && formAddfileDetail.date.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.date.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--Sheet Name -->
        <div class="row control-group" data-ng-show="factory.isSheetTypeColumn(fileDetail.FileType)">
            <label class="control-label">Sheet Name</label>
            <div class="controls">
                <input type="text" data-ng-model="fileDetail.SheetName" name="SheetName" data-ng-disabled="isReadOnly"
                    class="input-medium" data-ng-required="factory.isSheetTypeColumn(fileDetail.FileType)" data-placeholder="Enter Sheet Name" />
                <!-- SheetName Validation-->
                <div data-ng-show="formAddfileDetail.SheetName.$dirty && formAddfileDetail.SheetName.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.SheetName.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--Skip Line -->
        <div class="row control-group">
            <label class="control-label">Skip Line</label>
            <div class="controls">
                <input type="number" min="0" name="SkipLine" data-ng-model="fileDetail.SkipLine" data-ng-disabled="isReadOnly" data-ng-required="true"
                    data-ng-pattern="/^[0-9]+$/" class="input-medium" placeholder="Enter Skip Lines" />
                <!--  Skip Line  Validation-->
                <div data-ng-show="formAddfileDetail.SkipLine.$dirty && formAddfileDetail.SkipLine.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.SkipLine.$error.required">{{val.Required()}}</span>
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.SkipLine.$error.pattern">{{val.OnlyNumbers()}}</span>
                </div>
            </div>
        </div>

        <!--Used for -->
        <div class="row control-group">
            <label class="control-label">UsedFor</label>
            <div class="controls">
                <select data-ng-model="fileDetail.UsedFor" name="UsedFor" data-ng-disabled="isReadOnly" data-ng-required="true"
                    class="input-medium" placeholder="Enter Used For">
                    <option value=""></option>
                    <option data-ng-repeat="usedfor in factory.usedFor">{{usedfor}}</option>
                </select>
                <!--  UsedFor Validation-->
                <div data-ng-show="formAddfileDetail.UsedFor.$dirty && formAddfileDetail.UsedFor.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.UsedFor.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--File Directory -->
        <div class="row control-group">
            <label class="control-label">FileDirectory </label>
            <div class="controls">
                <input type="text" name="FileDirectory" data-ng-model="fileDetail.FileDirectory" data-ng-disabled="isReadOnly"
                    class="input-medium" placeholder="Enter File Directory Name" />
            </div>
        </div>

        <!--Email ID -->
        <div class="row control-group">
            <label class="control-label">Email Id </label>
            <div class="controls">
                <input type="email" data-ng-model="fileDetail.EmailId" data-ng-disabled="isReadOnly" required
                    name="email" placeholder="Enter Email Id" />
                <!--  Email-Id Validation-->
                <div data-ng-show="formAddfileDetail.email.$dirty && formAddfileDetail.email.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.email.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--Start Date -->
        <div class="row control-group">
            <label class="control-label">Start Date </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="StartDate" class="input-medium" data-ng-disabled="isReadOnly" required data-ng-model="fileDetail.StartDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
                <!--StartDate validation-->
                <div data-ng-show="formAddfileDetail.StartDate.$dirty">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.StartDate.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--End Date -->
        <div class="row control-group">
            <label class="control-label">End Date </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="EndDate" class="input-medium" data-ng-disabled="isReadOnly" required data-ng-model="fileDetail.EndDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
                <!--EndDate validation-->
                <div data-ng-show="formAddfileDetail.EndDate.$dirty">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.EndDate.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <!--Description -->
        <div class="row control-group">
            <label class="control-label">Description </label>
            <div class="controls">
                <input type="text" data-ng-model="fileDetail.Description" data-ng-disabled="isReadOnly" required
                    name="Desc" placeholder="Enter Description" />
                <!-- Description Validation-->
                <div data-ng-show="formAddfileDetail.Desc.$dirty && formAddfileDetail.Desc.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileDetail.Desc.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer control-group">
        <div class="controls">
            <button class="btn btn-success" data-ng-show="!isReadOnly" data-ng-click="add(fileDetail)" data-ng-disabled="!formAddfileDetail.$valid">Save</button>
            <button class="btn btn-info" data-ng-show="!isReadOnly" data-ng-click="close('Cancel')">Cancel</button>
            <button class="btn btn-info " data-ng-show="isReadOnly" data-ng-click="close('Close')">Close</button>
        </div>
    </div>

</div>
