<form name="formAddfileDetail">
    <div class="panel panel-default">
        <div class="panel-heading">{{modelTitle}} </div>

        <div class="panel-body">
            <div>
                <div style="height: 350px; overflow: auto">
                    <cs-form mode="mode">
                        <cs-field data-ng-model="fileDetail.AliasName" field="fileDetailModel.AliasName"></cs-field>
                        <!--<cs-field data-ng-model="fileDetail.AliasDescription" field="fileDetailModel.AliasDescription"></cs-field>-->
                        <cs-field data-ng-model="fileDetail.ScbSystems" data-ng-change="updateDependsOnAlias(fileDetail)" field="fileDetailModel.ScbSystems"></cs-field>
                        <cs-field data-ng-model="fileDetail.Frequency" data-ng-change="updateDependsOnAlias(fileDetail)" field="fileDetailModel.Frequency"></cs-field>
                        <cs-field data-ng-model="fileDetail.DependsOnAlias" field="fileDetailModel.DependsOnAlias"></cs-field>
                        <cs-field data-ng-model="fileDetail.Category" field="fileDetailModel.Category"></cs-field>
                        <cs-field data-ng-model="fileDetail.FileType" field="fileDetailModel.FileType" ng-change=""></cs-field>
                        <cs-field data-ng-model="fileDetail.FileName" field="fileDetailModel.FileName"></cs-field>
                        <cs-field data-ng-model="fileDetail.FileCount" field="fileDetailModel.FileCount"></cs-field>
                        <cs-field data-ng-model="fileDetail.DateFormat" field="fileDetailModel.DateFormat"></cs-field>
                        <div ng-if="factory.isSheetTypeColumn(fileDetail.FileType)">
                            <cs-field data-ng-model="fileDetail.SheetName" field="fileDetailModel.SheetName"></cs-field>
                        </div>
                        <cs-field data-ng-model="fileDetail.SkipLine" field="fileDetailModel.SkipLine"></cs-field>
                        <cs-field data-ng-model="fileDetail.UsedFor" field="fileDetailModel.UsedFor"></cs-field>
                        <cs-field data-ng-model="fileDetail.FileDirectory" field="fileDetailModel.FileDirectory"></cs-field>
                        <cs-field data-ng-model="fileDetail.EmailId" field="fileDetailModel.EmailId"></cs-field>
                        <cs-field data-ng-model="fileDetail.StartDate" field="fileDetailModel.StartDate"></cs-field>
                        <cs-field data-ng-model="fileDetail.EndDate" field="fileDetailModel.EndDate"></cs-field>
                        <cs-field data-ng-model="fileDetail.Description" field="fileDetailModel.Description"></cs-field>
                    </cs-form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <cs-button type="save" data-ng-show="!isReadOnly" data-ng-click="add(fileDetail)" data-ng-disabled="!formAddfileDetail.$valid"></cs-button>
        <cs-button type="close" data-ng-show="!isReadOnly" data-ng-click="close('Cancel')"></cs-button>
        <cs-button type="reset" data-ng-show="!isReadOnly" data-ng-click="reset(fileDetail)"></cs-button>
        <cs-button type="close" data-ng-show="isReadOnly" data-ng-click="close('Close')"></cs-button>
    </div>
</form>

