@{
    ViewBag.Title = "AddHierarchy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ng-cloak"  data-ng-controller="EditHierarchy">

    <form name="MyForm" class="form-horizontal" data-ng-init="step=1" novalidate>
        <div class="panel">
            <div class="panel-heading">Add Hierarchy</div>

            <!--Add Hierarchy Page 1-->
            <div class="row-fluid" data-ng-form="step1form" data-ng-show="step==1">

                <div class="row-fluid" style="height: 400px">

                    <!--Designation-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Designation : </label>
                            <div class="controls">
                                <input name="designation" type="text" data-ng-model="stakeholder.designation" data-ng-maxlength="20"
                                    data-ng-minlength="2" data-ng-pattern="/^[a-zA-Z]+$/" data-ng-required="true" />
                                <div class="field-validation-error" data-ng-show="step1form.designation.$error.maxlength">{{val.MaxLength(20)}}</div>
                                <div class="field-validation-error" data-ng-show="step1form.designation.$error.minlength">{{val.MinLength(2)}}</div>
                                <div class="field-validation-error" data-ng-show="step1form.designation.$error.pattern">{{val.OnlyText()}}</div>
                            </div>
                        </div>
                    </div>

                    <!--Hierarchy-->
                    <div class="row-fluid ">
                        <div class="control-group">
                            <label class="control-label">Hierarchy : </label>
                            <div class="controls">
                                <select class="input-large" data-ui-select2="" data-ng-model="stakeholder.Hierarchy" data-ng-required="true"
                                    data-ng-change="reloadReportsTo()">
                                    <option value=""></option>
                                    <option data-ng-repeat="data in HierarchyList|unique:'Hierarchy'">{{data.Hierarchy}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Reports To-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">ReportsTo :</label>
                            <div class="controls">
                                <select class="input-large" data-ui-select2="" data-ng-required="true"
                                        data-ng-model="stakeholder.ReportsTo">
                                    <option value=""></option>
                                    <option data-ng-repeat="data in HierarchyList | filter : {'Hierarchy' : stakeholder.Hierarchy } | orderBy: 'PositionLevel'"
                                            value="{{data.Id}}">{{DesignationName(data)}}</option>
                                </select>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Reports to Designation of {{stakeholder.Hierarchy}} Hierarchy</span>
                            </div>
                        </div>
                    </div>
                    
                    <!--Reporting Level-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Reporting Level :</label>
                            <div class="controls">
                                <select class="input-large" data-ui-select2="" data-ng-required="true" data-ng-model="stakeholder.ReportingLevel">
                                    <option value=""></option>
                                    <option data-ng-repeat="data in ReportingLevelList">{{data}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                     <!--Working Reports To-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Working Reports To :</label>
                            <div class="controls">
                                <select class="input-large" data-ui-select2="" data-ng-required="true"
                                        data-ng-model="stakeholder.WorkingReportsTo">
                                    <option value=""></option>
                                    <option data-ng-repeat="data in HierarchyList | filter : {'Hierarchy' : stakeholder.Hierarchy } | orderBy: 'PositionLevel'"
                                            value="{{data.Id}}">{{DesignationName(data)}}</option>
                                </select>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Reports to Designation of {{stakeholder.Hierarchy}} Hierarchy</span>
                            </div>
                        </div>
                    </div>
                    
                    <!--WorkingReports Level-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Working Reports Level :</label>
                            <div class="controls">
                                <select class="input-large" data-ui-select2="" data-ng-required="true" data-ng-model="stakeholder.WorkingReportsLevel">
                                    <option value=""></option>
                                    <option data-ng-repeat="data in ReportingLevelList">{{data}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Location Level-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Location Level : </label>
                            <div class="controls">
                                <select class="input-large" multiple="multiple" data-ui-select2="" data-ng-required="true"
                                    data-ng-model="stakeholder.LocationLevel">
                                    <option data-ng-repeat="data in LocationlevelList" value="{{data.value}}">{{data.key}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--validation-->
                    <div class="field-validation-error" style="padding-left: 180px;" data-ng-show="step1form.$invalid">{{val.Mandatory()}}</div>
                </div>
            </div>

            <!--Add Hierarchy Page 2-->
            <div class="row-fluid" data-ng-form="step2form" data-ng-show="step==2">

                <div class="row-fluid" style="height: 400px">
                    <!--IsUser-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Is User : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.IsUser"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} is user of Algosys or not</span>
                            </div>
                        </div>
                    </div>

                    <!--IsIndividual-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Is Individual : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.Individual" data-ng-change="stakeholder.IsEmployee=false"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} is an Individual or any Organization </span>
                            </div>
                        </div>
                    </div>

                    <!--Registration-->
                    <div class="row-fluid" data-ng-show="!stakeholder.Individual">
                        <div class="control-group">
                            <label class="control-label">Registration : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasRegistration"></div>
                                <span style="color: gray; padding-left: 10px">Is {{stakeholder.designation}} needs Registration</span>

                            </div>
                        </div>
                    </div>

                    <!--IsEmployee-->
                    <div class="row-fluid" data-ng-show="stakeholder.Individual">
                        <div class="control-group">
                            <label class="control-label">Is Employee : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.IsEmployee"></div>
                                <span style="color: gray; padding-left: 10px">Is {{stakeholder.designation}} Employee of Algosys</span>
                            </div>
                        </div>
                    </div>

                    <!--Is Highest Level designation-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Is Highest Level Designation : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.ManageReportsTo"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} having any highest level designation</span>
                            </div>
                        </div>
                    </div>

                    <!--Has Address-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Has Address : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasAddress"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} has address </span>
                            </div>
                        </div>
                    </div>

                    <!--Has multiple Address-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasAddress">
                        <div class="control-group">
                            <label class="control-label">Has Multiple Address : </label>
                            <div class="controls">
                                <input type="button" value="No" class="btn" data-ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Add Hierarchy Page 3-->
            <div class="row-fluid" data-ng-form="step3form" data-ng-show="step==3">

                <div class="row-fluid" style="height: 400px">
                    <!--Has Working-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Has Working : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasWorking" data-ng-change="ResetBtnValue()"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} has working</span>
                            </div>
                        </div>
                    </div>

                    <!--Has Bucket-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasWorking">
                        <div class="control-group">
                            <label class="control-label">Has Buckets : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasBuckets"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} has Buckets</span>
                            </div>
                        </div>
                    </div>

                    <!--Is in Allocation-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasWorking">
                        <div class="control-group">
                            <label class="control-label">Is In Allocation : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.IsInAllocation" data-ng-change="stakeholder.IsInField=false"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} is in allocation</span>
                            </div>
                        </div>
                    </div>

                    <!--Is in field-->
                    <div class="row-fluid" data-ng-show="stakeholder.IsInAllocation">
                        <div class="control-group">
                            <label class="control-label">Is In Field : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.IsInField"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} is in field</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Add Hierarchy Page 4-->
            <div class="row-fluid" data-ng-form="step4form" data-ng-show="step==4">

                <div class="row-fluid" style="height: 400px">
                    <!--Has payment-->
                    <div class="row-fluid">
                        <div class="control-group">
                            <label class="control-label">Has Payment : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasPayment" data-ng-change="ResetPaymentChlidVal()"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} has Payment</span>
                            </div>
                        </div>
                    </div>

                    <!--Has Bank Details-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasPayment">
                        <div class="control-group">
                            <label class="control-label">Has Bank Details : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasBankDetails"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Bank Details</span>
                            </div>
                        </div>
                    </div>

                    <!--Has mobile Travel-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasPayment">
                        <div class="control-group">
                            <label class="control-label">Has Mobile Travel : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasMobileTravel"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Mobile Travel</span>
                            </div>
                        </div>
                    </div>

                    <!--Has variable-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasPayment">
                        <div class="control-group">
                            <label class="control-label">Has Variable : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasVariable"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Variable</span>
                            </div>
                        </div>
                    </div>

                    <!--Has fixed-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasPayment">
                        <div class="control-group">
                            <label class="control-label">Has Fixed : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasFixed" data-ng-change="stakeholder.HasFixedIndividual=false"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Fixed</span>
                            </div>
                        </div>
                    </div>

                    <!--Has fixed Individual-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasFixed">
                        <div class="control-group">
                            <label class="control-label">Has Fixed Individual : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasFixedIndividual"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Fixed Individual</span>
                            </div>
                        </div>
                    </div>

                    <!--Has service charge-->
                    <div class="row-fluid" data-ng-show="stakeholder.HasPayment">
                        <div class="control-group">
                            <label class="control-label">Has Service Charge : </label>
                            <div class="controls">
                                <div btn-switch data-ng-model="stakeholder.HasServiceCharge"></div>
                                <span style="color: gray; padding-left: 10px">{{stakeholder.designation}} Has Service Charge </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="panel-footer text-right">
                <input type="submit" value="Back" data-ng-model="back" class="btn btn-inverse" data-ng-disabled="step==1" data-ng-click="step=step-1" />
                <input type="submit" value="Next" class="btn btn-success" data-ng-disabled="step1form.$invalid || step==4" data-ng-click="step=step+1" />
                <input type="submit" value="Save" class="btn btn-success" data-ng-click="saveUpdatedData(stakeholder)" data-ng-disabled="step1form.$invalid || step!=4" data-ng-show="step==4"/>
                <input type="submit" value="Cancel" class="btn btn-warning" data-ng-click="closeform()" />
            </div>
        </div>
    </form>
</div>

@section scripts
{
  <script src="~/Areas/Stakeholder2/ViewModels/EditHierarchy.js"></script>

}
