<form data-ng-if="showForm">
    <div class="panel panel-default">
        <div class="panel-heading">Add Edit Stakeholder</div>
        <div class="panel-body" data-ng-form="basicInfoForm">
            <cs-form mode="formMode">
                <div>
                    <cs-field data-ng-model="Stakeholder.Hierarchy"
                              data-ng-change="changeInHierarchy(Stakeholder.Hierarchy)"
                              value-list="hierarchyDisplayList"
                              field="stakeholderModels.stakeholder.hierarchy"></cs-field>
                    <div data-ng-show="Stakeholder.Hierarchy">
                        <cs-field data-ng-model="Stakeholder.Designation"
                                  value-list="DesignationList"
                                  track-by="Id"
                                  data-ng-change="assignSelectedHier(Stakeholder.Designation,basicInfoForm)"
                                  field="stakeholderModels.stakeholder.designation"></cs-field>
                    </div>
                </div>

                <div class="clearfix"></div>
                 

                <div data-ng-if="showBasicInfo">
                    <div class="modal-header">
                        <h5>Personal Information</h5>
                    </div>

                   
                    <div class="clearfix"></div>
                    <br/>
                    <cs-field data-ng-model="Stakeholder.Name"
                              field="stakeholderModels.stakeholder.Name"></cs-field>

                    <div data-ng-if="selectedHierarchy.IsUser">
                        <cs-field data-ng-model="Stakeholder.ExternalId"
                                  on-validate="{unique:'validate($value)'}"
                                  field="stakeholderModels.stakeholder.ExternalId"></cs-field>
                    </div>

                    <cs-field data-ng-model="Stakeholder.MobileNo"
                              field="stakeholderModels.stakeholder.MobileNo"></cs-field>
                    <cs-field data-ng-model="Stakeholder.EmailId"
                              field="stakeholderModels.stakeholder.EmailId"></cs-field>

                    <div data-ng-if="selectedHierarchy.ManageReportsTo">
                        <cs-field value-list="reportsToList"
                                  data-ng-model="Stakeholder.ReportingManager"
                                  field="stakeholderModels.stakeholder.ReportingManager"></cs-field>
                    </div>

                    <cs-field data-ng-model="Stakeholder.JoiningDate"
                              field="stakeholderModels.stakeholder.JoiningDate"></cs-field>


                    <div data-ng-if="selectedHierarchy.HasAddress">
                        <div class="clearfix"></div>
                        <h5 class="modal-header">Address Details</h5>
                        <cs-field data-ng-model="Stakeholder.Address.Line1"
                                  field="stakeholderModels.address.Line1"></cs-field>
                        <cs-field data-ng-model="Stakeholder.Address.Line2"
                                  field="stakeholderModels.address.Line2"></cs-field>
                        <cs-field data-ng-model="Stakeholder.Address.Line3"
                                  field="stakeholderModels.address.Line3"></cs-field>
                        <cs-field data-ng-model="Stakeholder.Address.LandlineNo"
                                  field="stakeholderModels.address.LandlineNo"></cs-field>
                        <cs-field data-ng-model="Stakeholder.Address.Pincode"
                                  field="stakeholderModels.address.Pincode">
                        </cs-field>
                    </div>

                    <div data-ng-if="selectedHierarchy.HasRegistration">
                        <div class="clearfix"></div>
                        <h5 class="modal-header">Registration Details</h5>
                        <cs-field data-ng-model="Stakeholder.Regis.TanNo"
                                  field="stakeholderModels.registration.TanNo"></cs-field>

                        <cs-field data-ng-model="Stakeholder.Regis.PanNo"
                                  field="stakeholderModels.registration.PanNo"></cs-field>

                        <cs-field data-ng-model="Stakeholder.Regis.RegistrationNo"
                                  field="stakeholderModels.registration.RegistrationNo"></cs-field>

                        <cs-field data-ng-model="Stakeholder.Registration.ServiceTaxno"
                                  field="stakeholderModels.registration.ServiceTaxNo"></cs-field>
                        <hr />
                    </div>
                    <div class="clearfix"></div>
                    <div class="pull-right">
                        <cs-button type="save"
                                   permission="Stakeholder,Stakeholder,AddEdit"
                                   data-ng-disabled="basicInfoForm.$invalid || userExists"
                                   data-ng-click="saveData(Stakeholder)"></cs-button>
                        <cs-button type="cancel"
                                   permission="Stakeholder,Stakeholder,AddEdit"
                                   data-ng-click="cancel()"></cs-button>
                        <cs-button type="reset"
                                   permission="Stakeholder,Stakeholder,AddEdit"
                                   data-ng-click="reset()"></cs-button>
                        <span data-ng-if="mode==='edit'">
                            <cs-button type="submit" text="Edit" 
                                       data-ng-click="changeMode()">
                            </cs-button>
                        </span>
                       
                    </div>
                </div>
            </cs-form>
        </div>
    </div>
</form>
