<div>
    <div class="panel panel-default">
        <div class="panel-heading">Holding Policies List</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Apply On</th>
                        <th>Rule</th>
                        <th>Value</th>
                        <th>Transaction Type</th>
                    </tr>
                    <tr>
                        <th class="text-center">
                            <icon-btn type="add" permission="BillingHoldingPolicyAddEdit" data-ng-click="showAddEditPopup('add')"></icon-btn>
                        </th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.Name" /></th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.Products" /></th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.ApplyOn" /></th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.Rule" /></th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.Value" /></th>
                        <th>
                            <input type="text" class="form-control" data-ng-model="search.TransactionType" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="tax in policyList| filter:search">
                        <td>
                            <div class="btn-group" style="width: 80px">
                                <icon-btn type="view" permission="BillingHoldingPolicy" data-ng-click="showAddEditPopup('view',tax)"></icon-btn>
                                <icon-btn type="edit" permission="BillingHoldingPolicyAddEdit" data-ng-click="showAddEditPopup('edit',tax)"></icon-btn>
                            </div>
                        </td>
                        <td>{{tax.Name}}</td>
                        <td>{{tax.Products}}</td>
                        <td>{{tax.ApplyOn}}</td>
                        <td>{{tax.Rule}}</td>
                        <td>{{tax.Value}}</td>
                        <td>{{tax.TransactionType}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row text-center tax-Policy-box-no-data" data-ng-hide="policyList.length>0">
                <label>No holding policies defined</label>
            </div>
        </div>
    </div>
</div>

