<div data-ng-form="subpolicyForm">
    <div class="form-horizontal">
        <cs-form layout="4.4.8">
            <div>
                <cs-field data-ng-model="sele.Products"
                          data-ng-change="getSubpolicyList(sele)"
                          field="payoutSubpolicy.Products" ng-required="true"></cs-field>

                <cs-field data-ng-if="sele.Products" data-ng-model="sele.PolicyType"
                          data-ng-change="getSubpolicyList(sele)"
                          field="payoutSubpolicy.PolicyType">
                </cs-field>

                <cs-button type="add" text="Add Subpolicy" data-ng-show="sele.PolicyType"
                           data-ng-click="addSubPolicy(sele,subpolicyForm)">
                </cs-button>
            </div>
        </cs-form>
    </div>

    <div>
        <div class="col-md-3" data-ng-show="sele.Products">
            <cs-list2 list-heading="Subpolicy List" value-list="subpolicyList" text-field="Name"
                     data-ng-model="spayoutSubpolicy" data-ng-click="selectSubpolicy(spayoutSubpolicy)"></cs-list2>
        </div>

        <div class="col-md-9" data-ng-if="showDiv">
            <!--Subpolicy-->
            <div data-ng-form="payoutSubpolicyForm">
                <div class="panel panel-default">
                    <div class="panel-heading">Subpolicy</div>
                    <div class="panel-body">
                        <cs-form layout="6.4.8">
                            <cs-field data-ng-model="subpolicy.Name"
                                      ng-required="true"
                                      field="payoutSubpolicy.Name"
                                      data-ng-disabled="subpolicy.Id"></cs-field>
                            <cs-field data-ng-model="subpolicy.Description"
                                      field="payoutSubpolicy.Description"></cs-field>
                        </cs-form>
                    </div>
                </div>
            </div>

            <!--Conditions-->
            <div>
                <cs-condition table-name="DhflLiner"
                              selected="selParams"
                              formula-list="formulaList"
                              tokens-list="selectedTokens.conditionTokens"
                              group-id="0.Condition"
                              group-type="Condition"
                              debug="false"></cs-condition>
            </div>

            <!--Output -->
            <div>
                <cs-output table-name="DhflLiner"
                           selected="selParams"
                           formula-list="formulaList"
                           matrix-list="matrixList"
                           tokens-list="selectedTokens.ifOutputTokens"
                           group-type="Output"
                           group-id="1.Output"></cs-output>
            </div>

            <!--Button-->
            <div class="row text-right" id="subpolicy-buttons">
                <cs-button type="save"
                           data-ng-disabled="(payoutSubpolicyForm.$invalid || (selectedTokens.conditionTokens.length < 3 ||selectedTokens.ifOutputTokens.length < 3))"
                           data-ng-click="saveSubPolicy(subpolicy,selectedTokens)">
                </cs-button>

                <cs-button type="reset"
                           data-ng-click="resetSubPolicy(sele.Products,subpolicyForm)"></cs-button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="form-group col-md-6">
         <label class="control-label">Category</label>
         <div class="controls">
             <csswitch ngdisabled="dldata.payoutSubpolicy.Id"
                       ngbind="dldata.payoutSubpolicy.Category"
                       onbtnclick="datalayer.changeProductCategory()"
                       namevalues="dldata.categorySwitch"></csswitch>
         </div>
     </div>-->
<!--<div class="box-sub">
                    <div class="box-heading">Subpolicy list</div>
                    <div class="box-body">
                        <div class="sub-name"
                             data-ng-repeat="spayoutSubpolicy in subpolicyList | orderBy : 'Name'">
                            <a class="btn-link"
                               data-ng-click="selectSubpolicy(spayoutSubpolicy)">{{spayoutSubpolicy.Name}}</a>
                        </div>
                    </div>
                </div>-->
