<div class="row" data-ng-form="subpolicyForm">
    <div class="row form-horizontal" id="row1">
        <div class="row">
            <div class="row col-md-5">
                <cs-field data-ng-model="dldata.payoutSubpolicy.Products" data-ng-change="changeProductCategory(dldata.payoutSubpolicy.Products);datalayer.changeProductCategory()"
                          field="payoutSubpolicy.Products" ng-required="true"></cs-field>
            </div>
            <div class="row col-md-6">
                <button class="btn alert-info"
                        data-ng-show="dldata.payoutSubpolicy.Products"
                        data-ng-click="addsubpolicy(dldata.payoutSubpolicy.Products)">
                    Add Subpolicy
                </button>
            </div>
        </div>
    </div>

    <div class="row" id="row2">
        <div class="col-md-3" data-ng-show="dldata.payoutSubpolicy.Products">
            <div class="box-sub">
                <div class="box-heading">Subpolicy list</div>
                <div class="box-body">
                    <div class="sub-name" data-ng-repeat="spayoutSubpolicy in dldata.payoutSubpolicyList | orderBy : 'Name'">
                        <a class="btn-link" data-ng-click="selectPayoutSubpolicy(spayoutSubpolicy)">{{spayoutSubpolicy.Name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row" data-ng-show="showDiv">
                <!--Subpolicy-->
                <div class="row" id="subpolicy-display"
                     data-ng-form="payoutSubpolicyForm">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Supolicy
                        </div>
                        <div class="panel-body">
                            <div class="row form-horizontal">
                                <div class="row">
                                    <cs-field data-ng-model="dldata.payoutSubpolicy.Products" field="payoutSubpolicy.Productname"
                                              ng-required="true" data-ng-disabled="true"></cs-field>
                                </div>

                                <!--Name and Description-->
                                <div class="row">
                                    <div class=" col-md-5">
                                        <cs-field data-ng-model="dldata.payoutSubpolicy.Name" data-ng-change="factory.checkDuplicateName()"
                                                  ng-required="true" field="payoutSubpolicy.Name" ng-required="true"
                                                  data-ng-disabled="dldata.payoutSubpolicy.Id"></cs-field>
                                        <label class="text-danger" data-ng-show="dldata.isDuplicateName">
                                            Subpolicy name already exist
                                        </label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <cs-field data-ng-model="dldata.payoutSubpolicy.Description" field="payoutSubpolicy.Description"></cs-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Conditions-->
                <div class="row" id="subpolicy-conditions">
                    <div class="panel panel-info">
                        <div class="panel-heading">Conditions</div>
                        <div class="panel-body">
                            <div class="row" style="height: 200px; overflow: auto">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr data-ng-hide="dldata.payoutSubpolicy.Id">
                                            <td></td>
                                            <td>Where</td>
                                            <td>Operator</td>
                                            <td>Value Type</td>
                                            <td>Value</td>
                                            <td></td>
                                        </tr>
                                        <tr data-ng-form="newConditionForm" data-ng-hide="dldata.payoutSubpolicy.Id">
                                            <td>
                                                <cs-field data-ng-model="dldata.newCondition.RelationType"
                                                          data-ng-hide="dldata.payoutSubpolicy.BConditions.length<1"
                                                          field="payoutSubpolicy.RelationType" no-label=""></cs-field>
                                            </td>
                                            <td>
                                                <cs-field data-ng-model="dldata.newCondition.LtypeName"
                                                          data-ng-change="changeLeftTypeName(dldata.newCondition)" ng-required="true"
                                                          field="payoutSubpolicy.LtypeName" value-list="dldata.condLcolumnNames" no-label=""></cs-field>
                                            </td>
                                            <td>
                                                <cs-field data-ng-model="dldata.newCondition.Operator"
                                                          field="payoutSubpolicy.ConditionOperators"
                                                          data-ng-change="manageField(dldata.newCondition)"
                                                          no-label=""></cs-field>
                                            </td>
                                            <td>
                                                <cs-field data-ng-model="dldata.newCondition.Rtype"
                                                          data-ng-disabled="dldata.newCondition.Rvalue=='text'"
                                                          field="payoutSubpolicy.TypeSwitch"
                                                          no-label=""></cs-field>

                                            </td>
                                            <td class="input-large">
                                                <div data-ng-hide="dldata.newCondition.Rtype">
                                                    <input class="input-medium" type="text" data-ng-model="dldata.newCondition.RtypeName" />

                                                </div>
                                                <div data-ng-switch on="dldata.newCondition.Rtype">
                                                    <div data-ng-switch-when="Table">
                                                        <cs-field data-ng-model="dldata.newCondition.RtypeName" ng-required="true"
                                                                  field="payoutSubpolicy.typeSelect" value-list="dldata.condRcolumnNames" no-label=""></cs-field>
                                                    </div>
                                                    <div data-ng-switch-when="Formula">
                                                        <cs-field data-ng-model="dldata.newCondition.RtypeName" ng-required="true"
                                                                  field="payoutSubpolicy.typeEnum" value-list="dldata.formulaNames" no-label=""></cs-field>
                                                    </div>
                                                    <div data-ng-switch-when="Matrix">
                                                        <cs-field data-ng-model="dldata.newCondition.RtypeName" ng-required="true"
                                                                  field="payoutSubpolicy.typeEnum" value-list="dldata.matrixNames" no-label=""></cs-field>
                                                    </div>
                                                    <div data-ng-switch-when="Value">
                                                        <div data-ng-if="fieldname">
                                                            <div data-ng-if="showField">
                                                                <cs-field data-ng-model="dldata.newCondition.Rvalue"
                                                                          field="fieldname" ng-required="true" no-label=""></cs-field>

                                                                <div data-ng-if="dldata.selectedLeftColumn.InputType==='date'">
                                                                    <cs-field data-ng-model="dldata.newCondition.dateValueEnum" field="payoutSubpolicy.DateValueEnum" ng-required="true" no-label=""></cs-field>
                                                                </div>
                                                            </div>
                                                            <div data-ng-if="showField2">
                                                                <cs-field data-ng-model="dldata.newCondition.Rvalue"
                                                                          field="fieldname"
                                                                          ng-required="true"
                                                                          no-label="">
                                                                </cs-field>
                                                                <div data-ng-if="dldata.selectedLeftColumn.InputType==='date'">
                                                                    <cs-field data-ng-model="dldata.newCondition.dateValueEnum" field="payoutSubpolicy.DateValueEnum" ng-required="true" no-label=""></cs-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn glyphicon glyphicon-plus" data-ng-disabled="!(newConditionForm.$valid && (dldata.payoutSubpolicy.BConditions.length < 1 || dldata.newCondition.RelationType !=='')) || dldata.policyapproved"
                                                        data-ng-click="factory.addNewCondition(dldata.newCondition,newConditionForm);"></button>
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="condition in dldata.payoutSubpolicy.BConditions | orderBy: 'Priority'">
                                            <td>
                                                <input type="text" class="input-mini " readonly="readonly" value="{{condition.RelationType}}" data-ng-show="condition.RelationType" />
                                            </td>
                                            <td>
                                                <input type="text" class="input-xlarge" readonly="readonly" value="{{lname=change(condition.LtypeName)}}" />
                                            </td>
                                            <td>
                                                <input type="text" class="input-mini" readonly="readonly" data-ng-model="condition.Operator" />
                                            </td>
                                            <td>
                                                <input type="text" class="input-mini" readonly="readonly" value="{{condition.Rtype}}" />
                                            </td>
                                            <td>
                                                <input type="text" class="input-large" readonly="readonly" value="{{condition.RtypeName +((condition.dateValueEnum==='Absolute_Date')? ( condition.Rvalue | date:'dd-MM-yyyy' ) : condition.Rvalue )}}" />
                                            </td>

                                            <td>
                                                <i class="btn glyphicon glyphicon-remove" data-ng-click="factory.deleteCondition(condition,$index)"></i>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Output -->
                <div class="row" id="subpolicy-output">
                    <div class="panel panel-info">
                        <div class="panel-heading">Output</div>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr data-ng-hide="dldata.payoutSubpolicy.Id">
                                        <td>Operator</td>
                                        <td>Value Type</td>
                                        <td>Value</td>
                                        <td></td>
                                    </tr>
                                    <tr data-ng-form="newOutputForm" data-ng-hide="dldata.payoutSubpolicy.Id">
                                        <td>
                                            <div data-ng-hide="dldata.payoutSubpolicy.BOutputs < 1">
                                                <cs-field data-ng-model="dldata.newOutput.Operator"
                                                          field="payoutSubpolicy.OperatorType"
                                                          no-label=""></cs-field>
                                            </div>
                                        </td>
                                        <td>
                                            <cs-field data-ng-model="dldata.newOutput.Rtype"
                                                      field="payoutSubpolicy.TypeSwitch"
                                                      data-ng-change="dldata.newOutput.Lsqlfunction='';dldata.newOutput.Rvalue=''; dldata.newOutput.ColumnName=''"
                                                      no-label=""></cs-field>
                                        </td>
                                        <td>
                                            <div data-ng-hide="dldata.newOutput.Rtype">
                                                <input class="input-medium" type="number" step="any"
                                                       data-ng-model="dldata.newOutput.Rvalue" />
                                            </div>
                                            <div data-ng-switch on="dldata.newOutput.Rtype">
                                                <div data-ng-switch-when="Value">
                                                    <input class="input-medium" type="number" step="any"
                                                           data-ng-model="dldata.newOutput.Rvalue" required />

                                                </div>
                                                <div data-ng-switch-when="Table" class="left">
                                                    <cs-field data-ng-model="dldata.newOutput.Lsqlfunction"
                                                              field="payoutSubpolicy.LsqlFunctionType"
                                                              no-label=""
                                                              class="input-medium"></cs-field>
                                                    <cs-field data-ng-model="dldata.newOutput.RtypeName" ng-required="true"
                                                              field="payoutSubpolicy.typeSelect" value-list="dldata.outColumnNames" no-label=""></cs-field>
                                                </div>
                                                <div data-ng-switch-when="Formula">
                                                    <cs-field data-ng-model="dldata.newOutput.RtypeName" ng-required="true"
                                                              field="payoutSubpolicy.typeEnum" value-list="dldata.formulaNames" no-label=""></cs-field>
                                                </div>
                                                <div data-ng-switch-when="Matrix">
                                                    <cs-field data-ng-model="dldata.newOutput.RtypeName" ng-required="true"
                                                              field="payoutSubpolicy.typeEnum" value-list="dldata.matrixNames" no-label=""></cs-field>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn glyphicon glyphicon-plus" data-ng-disabled="!(newOutputForm.$valid && (dldata.payoutSubpolicy.BOutputs.length < 1 || newOutput.Operator !=='')) ||policyapproved"
                                                    data-ng-click="factory.addNewOutput(dldata.newOutput,newOutputForm)"></button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="output in dldata.payoutSubpolicy.BOutputs | orderBy: 'Priority'">
                                        <td>
                                            <input type="text" class="input-mini" value="{{output.Operator}}" data-ng-show="output.Operator" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" readonly="readonly" class="input-mini" value="{{output.Rtype}}" />
                                        </td>
                                        <td>
                                            <input type="text" class="input-large" value="{{value=change(output.RtypeName + output.Rvalue)}}" readonly="readonly" />
                                        </td>
                                        <td>
                                            <i class="btn glyphicon glyphicon-remove" data-ng-click="factory.deleteOutput(output,$index)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--GroupBy-->
                <div data-ng-show="dldata.outputWithFunction" class="row"
                     id="subpolicy-groupby">
                    <div class="panel panel-info">
                        <div class="panel-heading">Group By</div>
                        <div class="panel-body">
                            <cs-field data-ng-model="dldata.payoutSubpolicy.GroupBy" ng-required="true" multiple="multiple"
                                      field="payoutSubpolicy.typeSelect" value-list="dldata.condLcolumnNames" no-label=""></cs-field>
                        </div>
                    </div>
                </div>


                <div class="panel panel-info">
                    <div class="panel-heading">Restriction</div>
                    <div class="panel-body">
                        <div class="row form-horizontal">
                            <div class="form-group col-md-5">
                                <div class="controls">
                                    <input type="text" data-ng-disabled="true" value="Processing Fee" />
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="control-label">Formula</div>
                                <div class="controls">
                                    <select class="input-xlarge"
                                            data-ng-model="dldata.payoutSubpolicy.ProcessingFee">
                                        <option data-ng-repeat="formula in dldata.formulas track by formula.Id" value="{{formula.Id}}">{{formula.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-horizontal">
                        <div class="form-group col-md-5">
                            <div class="controls">
                                <input type="text" data-ng-disabled="true" value="Payout Capping" />
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <div class="control-label">Formula</div>
                            <div class="controls">
                                <select class="input-xlarge"
                                        data-ng-model="dldata.payoutSubpolicy.PayoutCapping">
                                    <option data-ng-repeat="formula in dldata.formulas track by formula.Id" value="{{formula.Id}}">{{formula.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Button-->
                <div class="row text-right" id="subpolicy-buttons">
                    <button class="btn btn-default" data-ng-disabled="!(payoutSubpolicyForm.$valid && (dldata.payoutSubpolicy.BConditions.length>0 && dldata.payoutSubpolicy.BOutputs.length>0) && !dldata.isDuplicateName) || dldata.policyapproved" data-ng-click="datalayer.savePayoutSubpolicy(dldata.payoutSubpolicy)">Save</button>
                    <button class="btn btn-default"
                            data-ng-show="dldata.payoutSubpolicy.Id"
                            data-ng-disabled=" !(payoutSubpolicyForm.$valid && (dldata.payoutSubpolicy.BConditions.length>0 && dldata.payoutSubpolicy.BOutputs.length>0))|| factory.disableIfRelationExists()"
                            data-ng-click="openmodal()">
                        Activate
                    </button>
                    <button class="btn btn-default"
                            data-ng-click="factory.resetPayoutSubpolicy(dldata.payoutSubpolicy.Products)">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="form-group col-md-6">
         <label class="control-label">Category</label>
         <div class="controls">
             <csswitch ngdisabled="dldata.payoutSubpolicy.Id"
                       ngbind="dldata.payoutSubpolicy.Category"
                       onbtnclick="datalayer.changeProductCategory()"
                       namevalues="dldata.categorySwitch"></csswitch>
         </div>
     </div>-->
