<!--Modal PpopUp for Activate Subpolicy-->
<div>
    <div class="form-horizontal" data-ng-form="allocpolicyDateRangeForm">
        <div class="modal-header well" style="text-align: center">
            <h3>{{modalData.BillingRelation.BillingSubpolicy.Name}}</h3>
        </div>
        <div class="modal-body" style="text-align: center">
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <div class="controls">
                    <div class="input-group">
                        <input class="input-medium" 
                               data-ng-disabled="!modalData.forActivate" 
                               type="text" 
                               name="ScheduleDate" 
                               data-ng-model="modalData.startDate" 
                               required
                               data-date-start-date="today" 
                               data-ng-readonly="true" 
                               data-bs-datepicker="" 
                               data-ng-change="modalData.endDate=null; factory.modelDateValidation(modalData.startDate,modalData.endDate)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">End Date</label>
                <div class="controls">
                    <div class="input-group">
                        <input class="input-medium" type="text" name="ScheduleDate" 
                               data-ng-model="modalData.endDate" 
                               data-ng-change="factory.modelDateValidation(modalData.startDate,modalData.endDate)"
                               data-date-start-date="" 
                               data-ng-readonly="true"
                               data-bs-datepicker="today">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer well">
            <button class="btn btn-primary" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && dldata.isModalDateValid) " data-ng-show="modalData.forActivate"
                    data-ng-click="activateSubPolicy(modalData);">
                Activate
            </button>
            <button class="btn btn-warning" data-ng-click="closeModel();">Cancel</button>
        </div>
    </div>
</div>