<h1>Working</h1>

<cs-form>
    <form>
        <cs-field field="workingModel.LocationLevel"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.Country"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.State"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.Region"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.Cluster"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.District"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.City"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.Area"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.Products"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.ReportsTo"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.StartDate"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.EndDate"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.BucketStart"
                  data-ng-model="Working"></cs-field>

        <cs-field field="workingModel.BucketEnd"
                  data-ng-model="Working"></cs-field>

        <cs-button type="submit"
                   permission="Stakeholder,Stakeholder,AddEdit"
                   text="prev"
                   data-ng-click="prev()"></cs-button>
    </form>

</cs-form>
