<form name="performancemanagementForm">
    <cs-form>
        <div layout="6.4.8">
            <cs-field field="PerformanceModel.Product" ng-model="PerformanceParam.Products" ng-required="true"></cs-field>
            <div class="col-md-8" data-ng-show="PerformanceParam.Products">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Param</td>
                            <td>Weightage</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="row in ParamList">
                            <td class="col-md-1">{{row}}</td>
                            <td class="col-md-4">
                                <div class="controls">
                                    <input type="number" class="input-medium" data-ng-model="PerformanceParam.Weightage[$index]" ng-required="true" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7" data-ng-show="PerformanceParam.Products">
                <cs-button2 type="save" permission="all" on-click="save( PerformanceParam)"></cs-button2>
                <cs-button2 type="cancel" permission="all" on-click="cancel()"></cs-button2>
            </div>
        </div>

    </cs-form>
</form>