<div>
    <form name="activateform">
        <div class="panel panel-default">
            <div class="panel-heading">Active Holding Policy Details</div>
            <div class="panel-body">
                <cs-form layout="7.3.9" class="" mode="mode">
                    <cs-field data-ng-model="active.Products" field="ActPolicy.Products"
                              data-ng-change="pageData(active.Products)"></cs-field>
                  
                    <div data-ng-show="mode ==='add'">
                        <cs-field data-ng-model="active.HoldingPolicy" field="ActPolicy.HoldingPolicy"></cs-field>
                    </div>
                    <div data-ng-show="mode ==='view' || mode ==='edit'">
                        <cs-field data-ng-model="active.HoldingPolicy" track-by="id" field="ActPolicy.HoldingPolicy"></cs-field>
                    </div>

                    
                    <div data-ng-show="mode ==='add'">
                        <cs-field data-ng-model="active.Stakeholder" field="ActPolicy.Stakeholder"></cs-field>
                    </div>
                    <div data-ng-show="mode ==='view' || mode ==='edit'">
                        <cs-field data-ng-model="active.Stakeholder" track-by="id" field="ActPolicy.Stakeholder"></cs-field>
                    </div>


                    <div data-ng-show="mode ==='add'">
                        <cs-field data-ng-model="active.StartMonth" use-repeat="true" 
                                  field="ActPolicy.StartMonth"></cs-field>
                    </div>
                    <div data-ng-show="mode ==='view' || mode ==='edit'">
                        <cs-field data-ng-model="active.StartMonth" track-by="Id" use-repeat="true" 
                                  field="ActPolicy.StartMonth"></cs-field>
                    </div>
                    
                </cs-form>
            </div>
        </div>
        <div class="text-right">
            <cs-button type="save" permission="BillingManageHolidngAddEdit" ng-click="save(active)"
                       ng-disabled="activateform.$invalid"></cs-button>

             <cs-button type="close" permission="BillingManageHolidng" ng-click="close()"></cs-button>

            <cs-button type="reset" permission="BillingManageHolidngAddEdit" ng-click="reset()"></cs-button>
        </div>
    </form>
</div>





    <!--    <div data-ng-include="baseurl+'Billing/holdingactivate/holding-policy-activate-list.html'"></div>-->


<!--            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Holding Policy</th>
                            <th>Stakeholder</th>
                            <th>Start Month</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <cs-field data-ng-model="active.Products"
                                          field="ActPolicy.Products"
                                          no-label=""
                                          data-ng-change="pageData(active.Products)"></cs-field>
                            </td>
                            <td>
                                <cs-field data-ng-model="active.HoldingPolicy"
                                          field="ActPolicy.HoldingPolicy"
                                          no-label=""></cs-field>
                            </td>
                            <td>
                                <cs-field data-ng-model="active.Stakeholder"
                                          field="ActPolicy.Stakeholder"
                                          no-label=""></cs-field>
                            </td>
                            <td>
                                <cs-field data-ng-model="active.StartMonth"
                                          use-repeat="true"
                                          field="ActPolicy.StartMonth"
                                          no-label=""></cs-field>
                            </td>
                            <td>
                                <cs-button type="Add" text="Save"
                                           ng-click="save(active)"
                                           ng-disabled="activateform.$invalid">
                                </cs-button> 
                                <cs-button type="Add" text="Reset"
                                           ng-click="reset()">
                                </cs-button> 
                                <cs-button type="Add" text="Close"
                                           ng-click="close()">
                                </cs-button>
                            </td>
                        </tr>
                    </tbody>
                </table>-->

<!--   <cs-field data-ng-model="active.HoldingPolicy" track-by="id" field="ActPolicy.HoldingPolicy"></cs-field>

                     <cs-field data-ng-model="active.Stakeholder" track-by="id" field="ActPolicy.Stakeholder"></cs-field>
               -->
