<div>
    <label class="tax-list-heading">Activated Holding Policy List</label>
    <div class="row tax-list-box">
        <table class="table table-bordered table-hover" data-ng-show="policyList.length>0">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Holding Policy</th>
                    <th>Stakeholder</th>
                    <th>Start Month</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input type="text" class="input-medium" data-ng-model="search.Products" /></th>
                    <th><input type="text" class="input-medium" data-ng-model="search.HoldingPolicy.Name" /></th>
                    <th><input type="text" class="input-medium" data-ng-model="search.Stakeholder.Name" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="t in policyList| filter:search">
                    <td><i class="btn glyphicon glyphicon-trash" data-ng-click="delete(t, $index)"></i></td>
                    <td>{{t.Products}}</td>
                    <td>{{t.HoldingPolicy.Name}}</td>
                    <td>{{t.Stakeholder.Name}}</td>
                    <td>{{t.StartMonth}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row text-center tax-list-box-no-data" data-ng-hide="policyList.length>0">
            <label>No holding policies defined</label>
        </div>
    </div>

</div>