<div>
    <form name="adhocPayoutform">
        <div class="modal-header">Payout Details</div>
        <div class="modal-body">
            <cs-form layout="7.4.8" mode="mode">
                
                <div class="row">
                    <cs-field data-ng-model="adhocPayout.TotalAmount" field="adhocPayoutbill.TotalAmount"></cs-field>
                    <cs-field data-ng-model="adhocPayout.IsCredit" field="adhocPayoutbill.IsCredit"
                              data-ng-change="changeCredit(adhocPayout.IsCredit)"
                              value-List="datalayer.dldata.transcationtypes;"></cs-field>
                </div>

                <div class="row">
                    <cs-field data-ng-model="adhocPayout.IsPretax" field="adhocPayoutbill.IsPretax"
                              value-List="datalayer.dldata.taxtype"></cs-field>
                    <cs-field data-ng-model="adhocPayout.ReasonCode" field="adhocPayoutbill.ReasonCode"></cs-field>
                </div>

                <div class="row ">
                    <cs-field data-ng-model="adhocPayout.Description" field="adhocPayoutbill.Description"></cs-field>
                </div>
                
            </cs-form>
        </div>
        <div class="modal-footer">
            <cs-button type="add" permission="Billing,PayoutStatus,AddEdit"
                data-ng-disabled="!(adhocPayoutform.$valid)"
                data-ng-click="addAdhocPayout(adhocPayout,dldata.billingData);AddPopUp=false"></cs-button>
            <cs-button type="close" permission="Billing,PayoutStatus,AddEdit" data-ng-click="closeModal()"></cs-button>
        </div>
    </form>
</div>










<!--<form name="adhocPayoutform">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label class="control-label">Total Amount</label>
                        <div class="controls">
                            <input type="text" data-ng-model="dldata.adhocPayout.TotalAmount" 
                                   name="totalamount" data-ng-pattern="/^[0-9]+$/" required />
                            
                            <div data-ng-show="adhocPayoutform.totalamount.$dirty && adhocPayoutform.totalamount.$invalid">
                                <div class="field-validation-error" data-ng-show="adhocPayoutform.totalamount.$error.required">{{val.Required()}}</div>
                                <div class="field-validation-error" data-ng-show="adhocPayoutform.totalamount.$error.pattern">{{val.OnlyNumbers()}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Transcation Type</label>
                        <div class="controls">
                            <select class="input-large" data-ng-model="dldata.adhocPayout.IsCredit" name="TranscationType" ui-select2
                                    data-ng-change="factory.selectTransaction(dldata.adhocPayout.IsCredit)" required>
                                <option value=""></option>
                                <option data-ng-repeat="type in dldata.transcationTypes" value="{{type.value}}">{{type.display}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label class="control-label">Reasons</label>
                        <div class="controls">
                            <select class="input-large" data-ng-model="dldata.adhocPayout.ReasonCode" ui-select2 required>
                                <option value=""></option>
                                <option data-ng-repeat="reason in dldata.reasonCode">{{reason.display}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="false">
                        <label class="control-label">Tax</label>
                        <div class="controls">
                            <select class="input-large" data-ng-model="dldata.adhocPayout.IsPretax" ui-select2>
                                <option value=""></option>
                                <option data-ng-repeat="t in dldata.taxtype">{{t}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div class="controls">
                            <textarea class="resize" data-ng-model="dldata.adhocPayout.Description" style="width: 690px" required></textarea>
                        </div>
                    </div>
                </div>
            </form>-->
