<div>
    <div class="modal-header">
        <div class="panel-heading">Bill Summary</div>
    </div>
    <div class="form-horizontal well">
        <form name="adhocPayoutform">
            <div class="row">
                <span class="col-md-3">
                    <cs-field data-ng-model="dldata.BillAmount.Product" field="adhocPayoutbill.Product"
                              data-ng-change="datalayer.getStakeholders(dldata.BillAmount.Product)">></cs-field>
                </span>

                <div data-ng-show="dldata.BillAmount.Product" class="form-group col-md-3">
                    <cs-field class="input-medium" data-ng-model="dldata.BillAmount.Stakeholder" field="adhocPayoutbill.Stakeholder" value-list="dldata.stakeholderList"></cs-field>
                </div>
                <span class="col-md-4" data-ng-show="dldata.BillAmount.Stakeholder">
                    <cs-field data-ng-model="dldata.BillAmount.Month" field="adhocPayoutbill.Month"
                              data-ng-change="datalayer.getBillingData(dldata.BillAmount.Product,dldata.BillAmount.Stakeholder,dldata.BillAmount.Month)"></cs-field>
                </span>
            </div>
        </form>
    </div>

    <form class="adhocPayoutform">
        <div class="form-horizontal well">
            <div class="text-center">
                <div class="row-fluid">
                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.FixedAmount" field="adhocPayoutbill.FixedAmount"
                                  data-ng-disabled="true"></cs-field>
                    </span>

                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.StartDate" field="adhocPayoutbill.StartDate"
                                  data-ng-disabled="true"></cs-field>
                    </span>

                </div>
                <div class="row-fluid">
                    <div class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.VariableAmount" field="adhocPayoutbill.VariableAmount" data-ng-disabled="true"></cs-field>
                        <button data-ng-disabled="factory.enableLink()"
                                data-ng-click="factory.getDetailData('Variable');
                                        openViewModal()"
                                class="btn btn-link">
                            View Details
                        </button>
                    </div>

                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.EndDate " field="adhocPayoutbill.EndDate"
                                  data-ng-disabled="true"></cs-field>
                    </span>
                </div>
                <div class="row-fluid">
                    <div class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.Deductions" field="adhocPayoutbill.DeductionIncentive" data-ng-disabled="true"></cs-field>
                        <button data-ng-disabled="factory.enableLink()"
                                data-ng-click="factory.getDetailData('Adhoc');openViewModal()"
                                class="btn btn-link">
                            View Details
                        </button>
                        <button data-ng-click="openAddModal()"
                                data-ng-disabled="factory.enableLink()"
                                class="btn btn-link">
                            Add New
                        </button>
                    </div>
                </div>
                <div class="row-fluid">
                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.TaxAmount" field="adhocPayoutbill.TaxAmount"></cs-field>
                    </span>
                </div>

                <div class="row-fluid">
                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.HoldAmount" field="adhocPayoutbill.HoldAmount"></cs-field>
                    </span>

                    <span class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.HoldRepayment" field="adhocPayoutbill.HoldRepayment"></cs-field>
                    </span>

                </div>

                <div class="row-fluid">
                    <div class="col-md-5">
                        <cs-field data-ng-model="dldata.billingData.TotalAmount" field="adhocPayoutbill.TotalAmount"></cs-field>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <div class="row text-center">
                    <span data-ng-show="(dldata.billDetails.length > 0)">
                        <button class="btn btn-success"
                                data-ng-show="!factory.enableLink()"
                                data-ng-click="datalayer.approvePayBillingAmount(dldata.billingData,'Approve')"
                                data-ng-disabled="dldata.billingData.Status==='Approved'">
                            Approve
                        </button>
                    </span>


                    <button class="btn btn-success"
                            data-ng-click="datalayer.approvePayBillingAmount(dldata.billingData,'Pay')"
                            data-ng-show="dldata.billingData.Status==='Approved'"
                            data-ng-disabled="dldata.billingData.PayStatus =='Paid'">
                        Paid
                    </button>

                    <span data-ng-show="(dldata.billDetails.length > 0)">
                        <button class="btn btn-success"
                                data-ng-click="downloadBillSummaryExcel(dldata.BillAmount.Product,dldata.BillAmount.Stakeholder,dldata.BillAmount.Month)">
                            Download Excel
                        </button>
                    </span>
                    <div></div>
                </div>
            </div>
        </div>
    </form>
</div>
