<div class="row">
    <div class="row">
        <div class="row form-horizontal">
            <div class="form-group col-md-4">
                <label class="control-label">Aliase Name</label>
                <select class="input-medium"
                        data-ng-model="filterCondition.FileDetail"
                        data-ng-change="getColumnValues(filterCondition.FileDetail)"
                        required data-ui-select2="">
                    <option value=""></option>
                    <option data-ng-repeat="c in fileDetailsList |orderBy :'FileType'" value="{{c}}">{{c.AliasName}}</option>
                </select>
            </div>
            <div class="col-md-8" data-ng-show="filterCondition.FileDetail">
                <button class="btn alert-info"
                        data-ng-click="addAliseCondition(filterCondition.FileDetail)">
                    Add AliseCondition
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" data-ng-show="filterCondition.FileDetail">
            <div class="box-sub">
                <div class="box-heading">AliseCondition list</div>
                <div class="box-body">
                    <div class="sub-name" data-ng-repeat="data in AliseConditionList">
                        <a class="btn-link" data-ng-click="selectFilterCondition(data)">{{data.AliasConditionName}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" data-ng-show="showDiv">
            <div class="row form-horizontal" data-ng-form="filterConditionform">
                <div class="panel panel-info">
                    <div class="panel-heading">Filter Condition</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <cs-field data-ng-model="filterCondition.AliasConditionName" field="FilterCondition.AliasConditionName" ng-required="true"></cs-field>
                            </div>
                        </div>

                        <div class="row" style="height: 380px; overflow: auto">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Where</td>
                                        <td>Operator</td>
                                        <td>Value</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div data-ng-show="filterCondition.ConditionList.length>0">
                                                <cs-field data-ng-model="dldata.newCondition.RelationType" field="Fcondition.RelationType" no-label="" ng-required="filterCondition.ConditionList.length>0"></cs-field>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="input-large" data-ng-model="dldata.newCondition.ColumnName" data-ng-change="manageOperatorField(dldata.newCondition)" required>
                                                <option value=""></option>
                                                <option data-ng-repeat="data in ColumnNameList" value="{{data}}">{{data.FileColumnName}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <cs-field data-ng-model="dldata.newCondition.Operator" field="Fcondition.Operator" no-label="" ng-required="true"></cs-field>
                                        </td>
                                        <td>
                                            <div data-ng-switch on="InputType">
                                                <div data-ng-switch-when="Number">
                                                    <input type="number" class="input-medium" data-ng-model="dldata.newCondition.Value" required />
                                                </div>
                                                <div data-ng-switch-when="Amount">
                                                    <input type="number" class="input-medium" data-ng-model="dldata.newCondition.Value" required />
                                                </div>
                                                <div data-ng-switch-when="String">
                                                    <input type="text" class="input-medium" data-ng-model="dldata.newCondition.Value" required />
                                                </div>
                                                <div data-ng-switch-when="Date">
                                                    <input class="input-medium" type="text" data-ng-model="dldata.newCondition.Value"
                                                           data-date-format="dd-mm-yyyy" bs-datepicker required />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn glyphicon glyphicon-plus" data-ng-disabled="filterConditionform.$invalid" data-ng-click="addCondition(dldata.newCondition,filterConditionform)"></button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="data in  filterCondition.ConditionList">
                                        <td>
                                            <input type="text" class="input-medium" readonly="readonly" value="{{data.RelationType}}" data-ng-show="data.RelationType" />
                                        </td>
                                        <td>
                                            <input type="text" class="input-medium" readonly="readonly" value="{{data.ColumnName}}" />
                                        </td>
                                        <td>
                                            <input type="text" class="input-medium" readonly="readonly" value="{{data.Operator}}" />
                                        </td>
                                        <td>
                                            <input type="text" class="input-medium" readonly="readonly" value="{{data.Value}}" />
                                        </td>
                                        <td>
                                            <button class="btn glyphicon glyphicon-remove" data-ng-click="deleteCondition(data,$index)" data-ng-show="filterCondition.ConditionList.length>0"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <button class="btn btn-success" data-ng-disabled="!(filterConditionform.$invalid && (filterCondition.ConditionList.length>0))" data-ng-click="save(filterCondition)">Save</button>
                <button class="btn btn-warning" data-ng-click="reset()">Reset</button>
            </div>
        </div>

    </div>

</div>
