<div class="container-fluid">
    <form name="subpolicyForm">
        <cs-form layout="5.4.8">
            <div class="row">
                <div class="col-md-9">
                    <cs-field data-ng-model="dldata.allocSubpolicy.Products" data-ng-change="changeProductCategory(dldata.allocSubpolicy.Products)"
                              field="allocSubpolicy.Products" ng-required="true"></cs-field>
                    <cs-button2 type="add" permission="AllocationSubpolicyAddEdit" text="Add Subpolicy" data-ng-show="dldata.allocSubpolicy.Products"
                               on-click="addsubpolicy(dldata.allocSubpolicy.Products)">
                    </cs-button2>
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <cs-list2 list-heading="SubPolicy List" value-list="dldata.allocSubpolicyList" text-field="Name"
                              data-ng-model="selected" on-click="selectAllocSubpolicy(selected)"></cs-list2>
                </div>
                <div class="col-md-9" data-ng-show="showDiv">
                    <div data-ng-form="allocSubpolicyForm">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Subpolicy Basic-Info
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <cs-field field="allocSubpolicy.ProductName" data-ng-disabled="true"
                                              data-ng-model="dldata.allocSubpolicy.Products"></cs-field>

                                    <cs-field field="allocSubpolicy.Name" data-ng-model="dldata.allocSubpolicy.Name"
                                              data-ng-disabled="dldata.allocSubpolicy.Id" data-ng-change="factory.checkDuplicateName()"></cs-field>
                                    <div class="col-md-10 text-right">
                                        <label class="text-danger" data-ng-show="dldata.isDuplicateName">Subpolicy name already exist</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <cs-field data-ng-model="dldata.allocSubpolicy.AllocateType" field="allocSubpolicy.AllocateType"></cs-field>
                                    <cs-field data-ng-model="dldata.allocSubpolicy.NoAllocMonth" field="allocSubpolicy.NoAllocMonth"
                                              data-ng-disabled="dldata.allocSubpolicy.AllocateType=='DoNotAllocate' && dldata.readTrue"></cs-field>
                                </div>

                                <div class="row">
                                    <div data-ng-show="dldata.allocSubpolicy.AllocateType=='DoNotAllocate'">
                                        <cs-field data-ng-model="dldata.allocSubpolicy.ReasonNotAllocate" field="allocSubpolicy.ReasonNotAllocate" value-list="dldata.reasonsNotAllocate"
                                                  data-ng-change="datalayer.check(allocSubpolicy.ReasonNotAllocate)" ng-required="dldata.allocSubpolicy.AllocateType=='DoNotAllocate'"></cs-field>
                                    </div>
                                    <div data-ng-show="dldata.allocSubpolicy.AllocateType=='AllocateToStkholder'">
                                        <cs-field data-ng-model="dldata.allocSubpolicy.Stakeholder.Id" data-ng-required="dldata.allocSubpolicy.AllocateType=='AllocateToStkholder'"
                                                  field="allocSubpolicy.Stakeholder" value-list="dldata.stakeholderList"></cs-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <cs-field data-ng-model="dldata.allocSubpolicy.Description" field="allocSubpolicy.Description"></cs-field>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Subpolicy Condition</div>
                        <div class="panel-body">
                            <div class="row">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>

                                            <td>Where</td>
                                            <td>Operator</td>
                                            <td>Value</td>
                                            <td></td>
                                        </tr>
                                        <tr data-ng-form="newConditionForm">
                                            <td>
                                                <cs-field class="input-large" data-ng-model="dldata.newCondition.ColumnName" field="allocSubpolicy.ColumnName" value-list="dldata.condLcolumnNames"
                                                          data-ng-change="changeLeftColName(dldata.newCondition)" ng-required="true" no-label=""></cs-field>
                                            </td>
                                            <td>
                                                <cs-field data-ng-model="dldata.newCondition.Operator" class="input-medium" data-ng-change="manageField(dldata.newCondition)" field="allocSubpolicy.ConditionOperators" no-label=""></cs-field>

                                            </td>
                                            <td class="input-large">
                                                <div data-ng-if="showField">
                                                    <cs-field data-ng-model="dldata.newCondition.Value" field="fieldname" ng-required="true" no-label=""></cs-field>
                                                    <div data-ng-if="dldata.selectedLeftColumn.InputType==='date'">
                                                        <cs-field data-ng-model="dldata.newCondition.dateValueEnum" field="allocSubpolicy.DateValueEnum" ng-required="true" no-label=""></cs-field>
                                                    </div>
                                                </div>
                                                <div data-ng-if="showField2">
                                                    <cs-field data-ng-model="dldata.newCondition.Value" field="fieldname" ng-required="true" no-label=""></cs-field>
                                                    <div data-ng-if="dldata.selectedLeftColumn.InputType==='date'">
                                                        <cs-field data-ng-model="dldata.newCondition.dateValueEnum" field="allocSubpolicy.DateValueEnum" ng-required="true" no-label=""></cs-field>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <icon-btn type="add" permission="AllocationSubpolicyAddEdit" data-ng-disabled="!(newConditionForm.$valid) || dldata.policyapproved" data-ng-click="factory.addNewCondition(dldata.newCondition,newConditionForm);"></icon-btn>
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="condition in dldata.allocSubpolicy.Conditions | orderBy: 'Priority'">
                                            <td>
                                                <input type="text" class="form-control" readonly="readonly" value="{{condition.ColumnName}}" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{condition.Operator}}" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" readonly="readonly" value="{{  condition.RtypeName + ((condition.dateValueEnum==='Absolute_Date')? ( condition.Value | date:'dd-MM-yyyy' ) : condition.Value )}}" />
                                            </td>
                                            <td>
                                                <icon-btn type="remove" permission="AllocationSubpolicyAddEdit" data-ng-disabled="PolicyApproved()" data-ng-hide="dldata.policyapproved" data-ng-click="factory.deleteCondition(condition,$index)"></icon-btn>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="text-right" data-ng-show="!dldata.policyapproved">
                        <cs-button type="save" permission="AllocationSubpolicyAddEdit" data-ng-disabled=" !(allocSubpolicyForm.$valid && (dldata.allocSubpolicy.Conditions.length >0) && !dldata.isDuplicateName) || dldata.policyapproved" data-ng-click="datalayer.saveAllocSubpolicy(dldata.allocSubpolicy)"></cs-button>
                        <cs-button2 type="save" permission="AllocationSubpolicyAddEdit" text="Activate" data-ng-show="dldata.allocSubpolicy.Id" data-ng-disabled="factory.disableIfRelationExists()" on-click="openmodal()"></cs-button2>
                        <cs-button2 type="reset" permission="AllocationSubpolicyAddEdit" on-click="datalayer.resetAllocSubpolicy(dldata.allocSubpolicy.Products,allocSubpolicyForm,newConditionForm)"></cs-button2>
                    </div>
                </div>
            </div>


        </cs-form>
    </form>
</div>

