<div>
    <div data-ng-form="allocpolicyDateRangeForm">
        <div class="modal-header" style="text-align: center">
            <h3>{{modalData.AllocRelation.AllocSubpolicy.Name}}</h3>
        </div>
        <div class="modal-body" style="margin-bottom: 7px">
            <cs-form layout="8.4.8">
                <cs-field data-ng-disabled="!modalData.forActivate" data-ng-model="modalData.startDate" ng-required="true" field="allocmodalData.startdate"
                          data-ng-change="modalData.endDate=null;modelDateValidation(modalData.startDate,modalData.endDate)"></cs-field>
                <cs-field data-ng-model="modalData.endDate" field="allocmodalData.enddate" data-ng-change="modelDateValidation(modalData.startDate,modalData.endDate)"
                          data-bs-datepicker="today"></cs-field>                
            </cs-form>
        </div>
        <div class="modal text-right">
            <button class="btn btn-danger" data-ng-disabled="!isModalDateValid" data-ng-show="!modalData.forActivate" data-ng-click="deactivateSubPoicy(modalData)">Deactivate</button>
            <button class="btn btn-primary" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && isModalDateValid) " data-ng-show="modalData.forActivate" data-ng-click="activateSubPoicy(modalData)">Activate</button>
            <button class="btn btn-warning" data-ng-click="closeModel()">Cancel</button>
        </div>
    </div>
</div>


