<div>
    <form name="allocpolicyDateRangeForm">
        <div class="modal-header" style="text-align: center">
            <h3>{{modalData.AllocRelation.AllocSubpolicy.Name}}</h3>
        </div>
        <div class="modal-body" style="margin-bottom: 7px">
            <cs-form layout="8.4.8">
                <cs-field data-ng-disabled="!modalData.forActivate" data-ng-model="modalData.startDate" ng-required="true" field="allocmodalData.startdate"
                          data-ng-change="modalData.endDate=null;modelDateValidation(modalData.startDate,modalData.endDate)"></cs-field>
                <cs-field data-ng-model="modalData.endDate" field="allocmodalData.enddate" data-ng-change="modelDateValidation(modalData.startDate,modalData.endDate)"
                          data-bs-datepicker="today"></cs-field>                
            </cs-form>
        </div>
        <div class="modal-footer">
            <cs-button type="save" text="Activate" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && isModalDateValid) " data-ng-show="modalData.forActivate" data-ng-click="activateSubPoicy(modalData)"></cs-button>
            <cs-button type="delete" text="Deactivate" data-ng-disabled="!isModalDateValid" data-ng-show="!modalData.forActivate" data-ng-click="deactivateSubPoicy(modalData)"></cs-button>
            <cs-button type="close" data-ng-click="closeModel()"></cs-button>
        </div>
    </form>
</div>


