<div class="container-fluid ng-cloak">
    <div class="row-fluid">
        <!--Subpolicy List Div-->
        <div class="span3">
            <ul role="menu" class="nav nav-tabs nav-stacked">
                <li class="alert-info">
                    <a>Subpolicy List</a>
                </li>
                <li class="content" data-ng-repeat="sallocSubpolicy in allocSubpolicyList | orderBy : 'Name'">
                    <a class="btn-link" data-ng-click="selectAllocSubpolicy(sallocSubpolicy)">{{sallocSubpolicy.Name}}</a>
                </li>
            </ul>
        </div>
        <!--Subpolicy Details Div-->
        <div class="span9">
            <!--Name Panel-->
            <div class="panel form-horizontal" data-ng-form="allocSubpolicyForm">
                <div class="panel-heading">Subpolicy Basic-Info</div>
                <div class="row-fluid">

                    <div class="row-fluid">
                        <div class="control-group span6">
                            <label class="control-label">Product</label>
                            <div class="controls">
                                <select class="input-large" data-ng-disabled="allocSubpolicy.Id" data-ng-model="allocSubpolicy.Products" ui-select2 data-ng-change="changeProductCategory()" required>
                                    <option value=""></option>
                                    <option data-ng-repeat="c in productsList">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group span5" data-ng-hide="true">
                            <label class="control-label">Category</label>
                            <div class="controls">
                                <csswitch ngdisabled="allocSubpolicy.Id" ngbind="allocSubpolicy.Category" onbtnclick="changeProductCategory()" namevalues="categorySwitch"></csswitch>
                            </div>
                        </div>
                        <!--Name-->
                        <div class="control-group span6">
                            <label class="control-label">Subpolicy Name</label>
                            <div class="controls">
                                <input type="text" class="input-large" data-ng-disabled="allocSubpolicy.Id" data-ng-model="allocSubpolicy.Name" data-ng-maxlength="20" data-ng-pattern="/^\w*$/" data-ng-change="checkDuplicateName()" required />
                                <label class="text-error" data-ng-show="isDuplicateName">Subpolicy name already exist</label>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="control-group span6">
                            <label class="control-label">Policy Allocate Type</label>
                            <div class="controls">
                                <select class="input-large" data-ng-model="allocSubpolicy.AllocateType" ui-select2 required>
                                    <option></option>
                                    <option data-ng-repeat="stkpolicy in SubpolicyStakeholderList" value="{{stkpolicy.value}}">{{stkpolicy.display}}</option>
                                </select>
                                <br />
                            </div>
                        </div>
                        <!--Allocate months-->
                        <div class="control-group span6">
                            <label class="control-label">Allocate Months</label>
                            <div class="controls">
                                <input type="text" name="allocmonth" class="input-small" data-ng-model="allocSubpolicy.NoAllocMonth" data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" min="0" required data-ng-readonly="allocSubpolicy.AllocateType=='DoNotAllocate' && readTrue" />
                                <div class="field-validation-error" data-ng-show=" allocSubpolicyForm.allocmonth.$error.pattern">{{val.OnlyNumbers()}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div data-ng-show="allocSubpolicy.AllocateType=='DoNotAllocate'" class="control-group span5">
                            <label class="control-label">Select Reason</label>
                            <div class="controls">
                                <select class="input-large" data-ng-model="allocSubpolicy.ReasonNotAllocate" ui-select2 data-ng-required="allocSubpolicy.AllocateType=='DoNotAllocate'" data-ng-change="check(allocSubpolicy.ReasonNotAllocate)">
                                    <option value=""></option>
                                    <option data-ng-repeat="c in reasonsNotAllocate">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div data-ng-show="allocSubpolicy.AllocateType=='AllocateToStkholder'" class="control-group">
                            <label class="control-label">Select Stakeholder</label>
                            <div class="controls">
                                <select class="input-large" data-ng-model="allocSubpolicy.Stakeholder.Id" data-ui-select2 data-ng-required="allocSubpolicy.AllocateType=='AllocateToStkholder'">
                                    <option></option>
                                    <optgroup label="Collector">
                                        <option data-ng-repeat="c in stakeholderList | filter : {'Hierarchy.IsIndividual':'true'}" value="{{c.Id}}">{{c.Name}}</option>
                                    </optgroup>
                                    <optgroup label="Agency">
                                        <option data-ng-repeat="c in stakeholderList | filter : {'Hierarchy.IsIndividual':'false'}" value="{{c.Id}}">{{c.Name}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Condition Panel-->
            <div class="panel">
                <div class="panel-heading">Subpolicy Condition</div>
                <div class="row-fluid">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <td>Where</td>
                                <td>Operator</td>
                                <td>Value</td>
                                <td></td>
                            </tr>
                            <tr data-ng-form="newConditionForm">
                                <!--Where-->
                                <td>
                                    <select class="input-large" data-ng-model="newCondition.ColumnName" ui-select2 data-ng-change="changeLeftColName(newCondition)" required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in condLcolumnNames" value="{{c}}">{{c.substring(1)}}</option>
                                    </select>
                                </td>
                                <!--Operator-->
                                <td>
                                    <select class="input-medium" data-ng-model="newCondition.Operator" ui-select2 required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in conditionOperators">{{c}}</option>
                                    </select>
                                </td>
                                <!--Value-->
                                <td class="input-large">
                                    <div data-ng-switch on="selectedLeftColumn.InputType">
                                        <input class="input-small" data-ng-switch-when="number" type="number" data-ng-model="newCondition.Value" required />
                                        <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="newCondition.Value" required />

                                        <div data-ng-switch-when="date">
                                            <select class="input-medium" ui-select2 data-ng-model="newCondition.dateValueEnum"
                                                data-ng-options="c for c in dateValueEnum" required>
                                            </select>

                                            <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="newCondition.Value"
                                                data-ng-show="newCondition.dateValueEnum && newCondition.dateValueEnum==='Absolute_Date'"
                                                data-date-format="dd-mm-yyyy" bs-datepicker>
                                        </div>

                                        <select data-ng-switch-when="checkbox" ui-select2 class="input-small" data-ng-model="newCondition.Value" required>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>

                                        <div data-ng-switch-when="dropdown">
                                            <select ui-select2 class="input-medium" data-ng-model="newCondition.Value" data-ng-options="c for  c in conditionValues" required>
                                            </select>
                                        </div>
                                        <div data-ng-switch-when="text">
                                            <select class="input-xlarge" ui-select2 data-ng-model="newCondition.Value" data-ng-options="c for  c in conditionValues" required>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <!--button-->
                                <td>
                                    <button class="btn icon-plus" data-ng-disabled="!(newConditionForm.$valid) || policyapproved"
                                        data-ng-click="addNewCondition(newCondition);">
                                    </button>
                                </td>
                            </tr>
                            <tr data-ng-repeat="condition in allocSubpolicy.Conditions | orderBy: 'Priority'">
                                <td colspan="3">{{condition.RelationType + ' ( '+condition.ColumnName+' '+condition.Operator+' '+ 
                                    condition.RtypeName + 
                                    ((condition.dateValueEnum==='Absolute_Date')? ( condition.Value | date:'dd-MM-yyyy' ) : condition.Value ) 
                                    + ' ) '}}
                                </td>
                                <td>
                                    <i class="btn icon-remove" data-ng-disabled="PolicyApproved()" data-ng-hide="policyapproved" data-ng-click="deleteCondition(condition,$index)"></i>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" data-ng-disabled=" !(allocSubpolicyForm.$valid && (allocSubpolicy.Conditions.length >0) && !isDuplicateName) || policyapproved"  data-ng-click="saveAllocSubpolicy(allocSubpolicy)">Save</button>
                <button class="btn btn-primary" data-ng-show="allocSubpolicy.Id" data-ng-disabled=" !(allocSubpolicyForm.$valid && (allocSubpolicy.Conditions.length >0))|| disableIfRelationExists()" data-ng-click="showStartEndModalPopup(allocSubpolicy)">Activate</button>
                <button class="btn btn-warning" data-ng-click="resetAllocSubpolicy(allocSubpolicy.Products,allocSubpolicy.Category)">Reset</button>
            </div>
        </div>
    </div>

    <div modal="openDateModel">
        <div class="form-horizontal" data-ng-form="allocpolicyDateRangeForm">
            <div class="modal-header well" style="text-align: center">
                <h3>{{modalData.AllocRelation.AllocSubpolicy.Name}}</h3>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="control-group">
                    <label class="control-label">Start Date</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="input-medium" data-ng-disabled="!modalData.forActivate" type="text" name="ScheduleDate" data-ng-model="modalData.startDate" required
                                data-date-start-date="today" data-ng-readonly="true" data-bs-datepicker="" data-ng-change="modalData.endDate=null;modelDateValidation(modalData.startDate,modalData.endDate)">
                            <button type="button" class="btn" data-ng-disabled="!modalData.forActivate" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">End Date</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="modalData.endDate" data-ng-change="modelDateValidation(modalData.startDate,modalData.endDate)"
                                data-date-start-date="" data-ng-readonly="true"
                                data-bs-datepicker="today">
                            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer well">
                <button class="btn btn-danger" data-ng-disabled="!isModalDateValid" data-ng-show="!modalData.forActivate" data-ng-click="deactivateSubPoicy(modalData)">Deactivate</button>
                <button class="btn btn-primary" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && isModalDateValid) " data-ng-show="modalData.forActivate" data-ng-click="activateSubPoicy(modalData);openDateModel=false">Activate</button>
                <button class="btn btn-warning" data-ng-click="closeModel();openDateModel=false">Cancel</button>
            </div>
        </div>
    </div>
</div>
    

