@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Custom Plunker</title>

    @*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    @*<script src="pagination.js"></script>*@

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.4.0.js"></script>

    <script src="~/Areas/FileUploader/ViewModels/testingCtrl.js"></script>
</head>

<body>
    <div data-ng-app="testApp" data-ng-controller="testCtrl">
        <h3>Hello Testing</h3>
        <h3>{{myData.length}}</h3>
        <h3>{{testValue}}</h3>
        <ul>
            <li ng-repeat="item in data">{{item.name}}</li>
        </ul>

        <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>


    </div>
</body>
</html>
