@{
    ViewBag.Title = "Allocation Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-ng-controller="allocPolicyCtrl">

    <div data-ng-form="allocPolicyForm" class="form-horizontal">
        <div class="row well-small2">
            <div class="control-group span5">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-large" data-ng-model="allocPolicy.Products" data-ng-change="changeProductCategory()" data-ui-select2="" required>
                        <option value=""></option>
                        <option data-ng-repeat="c in productsList">{{c}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group span6" data-ng-hide="true">
                <label class="control-label">Category</label>
                <div class="controls">
                    <csswitch ngbind="allocPolicy.Category" onbtnclick="changeProductCategory()" namevalues="categorySwitch"></csswitch>
                </div>
            </div>
        </div>

        <div class="row" data-ng-show="false">
            <div class="control-group span5">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="allocPolicy.Name" data-ng-pattern="/^\w*$/" readonly="readonly" required />
                </div>
            </div>
        </div>
    </div>
    <tabset>
        <!--Approved Subpolicy-->
        <tab heading="Approved Subpolicy ( {{(allocPolicy.AllocRelations | filter:filterRelation(true,'Approved')).length}} )" class="alert-success">
            <table class="table table-bordered form-horizontal" style="border-color: green">
                <tr data-ng-repeat="allocRelation in allocPolicy.AllocRelations | filter:filterRelation(true,'Approved') | orderBy: 'Priority'">
                    <td  style="border-color: green">
                        <div data-ng-init="disSubPolicy = getDisplaySubPolicy(allocRelation.AllocSubpolicy)" class=" row-fluid span12">
                            <div class="row-fluid span10">
                                <!--Name & Policy-->
                                <div class="row-fluid">
                                    <!--Name-->
                                    <div class="control-group span5">
                                        <label class="control-label">Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="allocRelation.AllocSubpolicy.Name" readonly="readonly" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--Conditions & Policy Reason/ Stakeholder-->
                                <div class="row-fluid">
                                    <!--Policy-->
                                    <div class="control-group span5">
                                        <label class="control-label">Policy</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                                        </div>
                                    </div>
                                    <!--POlicy Reason-->
                                    <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='DoNotAllocate'">
                                        <label class="control-label">Reason</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                                        </div>
                                    </div>
                                    <!--Policy Stakeholder-->
                                    <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'">
                                        <label class="control-label">Stakeholder</label>
                                        <div class="controls">
                                            <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName"/>
                                        </div>
                                    </div>
                                </div>
                                 <!--Start & End Date-->
                                <div class="row-fluid">
                                    <!--Start date-->
                                    <div class="control-group span5">
                                        <label class="control-label" >Start Date</label>
                                        <div class="controls">
                                            <input type="text" readonly value="{{allocRelation.StartDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                    <!--End Date-->
                                    <div class="control-group span6">
                                        <label class="control-label" >End Date</label>
                                        <div class="controls">
                                            <input type="text" readonly value="{{allocRelation.EndDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                     <!--conditions-->
                                    <div class="control-group span5">
                                        <label class="control-label">Condition</label>
                                        <div class="controls">
                                            <textarea class="resize" data-ng-model="disSubPolicy.Condition" style="width: 622px" readonly="readonly"></textarea>
                                        </div>
                                    </div>
                                </div>
                               
                                <!--Deactivate,Approv, Reject Buttons-->
                                <div class="row-fluid">
                                    <div class="control-group span4">
                                        <div class="controls btn-group">
                                            <button class="btn  btn-danger" data-ng-show="allocRelation.Status=='Approved'" data-ng-click="openModelDeactivateSubPolicy(allocRelation)">Deactivate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--upward downward arrows-->
                            <div class="row-fluid span2">
                                <div class="row-fluid span12 text-right">
                                    <div class="btn-group btn-group-vertical">
                                        <button class="btn btn-mini icon-arrow-up" data-ng-disabled="$first" data-ng-click="upside(disSubPolicy,$index)"></button>
                                        <button class="btn btn-mini icon-arrow-down" data-ng-disabled="$last" data-ng-click="downside(subPolicy,$index)"></button>
                                    </div>
                                </div>
                            </div>
                            <!--Status Div-->
                            <div class="row-fluid span2">
                                <div class="row-fluid" >
                                    <div class="row-fluid text-left" >
                                        <label ng-style="color">Status : {{setStatus(allocRelation.Status)}}</label>
                                    </div>
                                </div>
                                <!--CreatedBy-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">CreatedBy : {{setStatus(allocRelation.CreatedBy)}}</label>
                                    </div>
                                </div>
                                <!--CreatedDate-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left">
                                        <label style="color:blue">CreatedDate : {{setStatus(allocRelation.CreatedOn) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                            
                                <!--ApprovedBy-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">ApprovedBy : {{setStatus(allocRelation.ApprovedBy)}}</label>
                                    </div>
                                </div>
                                <!--ApprovedDate-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">ApprovedDate : {{setStatus(allocRelation.ApprovedOn) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                                <!--EffectiveFrom-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">EffectiveFrom : {{setStatus(allocRelation.StartDate) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </tab>
        <!--UnApproved SubPolicy-->
        <tab heading="UnApproved Subpolicy ( {{(allocPolicy.AllocRelations | filter:filterRelation(true,'Submitted')).length}} )" class="alert-success">
            <table class="table table-bordered form-horizontal" style="border-color: green">
                <tr data-ng-repeat="allocRelation in allocPolicy.AllocRelations | filter:filterRelation(true,'Submitted') | orderBy: 'Priority'">
                    <td  style="border-color: green">
                        <div data-ng-init="disSubPolicy = getDisplaySubPolicy(allocRelation.AllocSubpolicy)" class=" row-fluid span12">
                            <div class="row-fluid span10">
                                <!--Name & Policy-->
                                <div class="row-fluid">
                                    <!--Name-->
                                    <div class="control-group span5">
                                        <label class="control-label">Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="allocRelation.AllocSubpolicy.Name" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                                <!--Conditions & Policy Reason/ Stakeholder-->
                                <div class="row-fluid">
                                    <!--Policy-->
                                    <div class="control-group span5">
                                        <label class="control-label">Policy</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                                        </div>
                                    </div>
                                    <!--POlicy Reason-->
                                    <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='DoNotAllocate'">
                                        <label class="control-label">Reason</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                                        </div>
                                    </div>
                                    <!--Policy Stakeholder-->
                                    <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'">
                                        <label class="control-label">Stakeholder</label>
                                        <div class="controls">
                                            <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName"/>
                                        </div>
                                    </div>
                                </div>
                                 <!--Start & End Date-->
                                <div class="row-fluid">
                                    <!--Start date-->
                                    <div class="control-group span5">
                                        <label class="control-label" >Start Date</label>
                                        <div class="controls">
                                            <input type="text" readonly value="{{allocRelation.StartDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                    <!--End Date-->
                                    <div class="control-group span6">
                                        <label class="control-label" >End Date</label>
                                        <div class="controls">
                                            <input type="text" readonly value="{{allocRelation.EndDate|date:'dd-MM-yyyy'}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                     <!--conditions-->
                                    <div class="control-group span5">
                                        <label class="control-label">Condition</label>
                                        <div class="controls">
                                            <textarea class="resize" data-ng-model="disSubPolicy.Condition" style="width: 622px" readonly="readonly"></textarea>
                                        </div>
                                    </div>
                                </div>
                               
                                <!--Deactivate,Approv, Reject Buttons-->
                                <div class="row-fluid">
                                    <div class="control-group span4">
                                        <div class="controls btn-group">
                                            <button class="btn btn-success" data-ng-show="allocRelation.Status=='Submitted'" data-ng-click ="allocRelation.Status='Approved';SaveSubPolicy()">Approve</button>
                                            <button class="btn btn-success" data-ng-show="allocRelation.Status=='Submitted'" data-ng-click ="allocRelation.Status='Rejected';RejectSubPolicy(allocRelation)">Reject</button>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--upward downward arrows-->
                           @* <div class="row-fluid span2">
                                <div class="row-fluid span12 text-right">
                                    <div class="btn-group btn-group-vertical">
                                        <button class="btn btn-mini icon-arrow-up" data-ng-disabled="$first" data-ng-click="upside(disSubPolicy,$index)"></button>
                                        <button class="btn btn-mini icon-arrow-down" data-ng-disabled="$last" data-ng-click="downside(subPolicy,$index)"></button>
                                    </div>
                                </div>
                            </div>*@
                            <!--Status Div-->
                            <div class="row-fluid span2">
                                <div class="row-fluid" >
                                    <div class="row-fluid text-left" >
                                        <label ng-style="color">Status : {{setStatus(allocRelation.Status)}}</label>
                                    </div>
                                </div>
                                <!--CreatedBy-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">CreatedBy : {{setStatus(allocRelation.CreatedBy)}}</label>
                                    </div>
                                </div>
                                <!--CreatedDate-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left">
                                        <label style="color:blue">CreatedDate : {{setStatus(allocRelation.CreatedOn) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                            
                                <!--ApprovedBy-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">ApprovedBy : {{setStatus(allocRelation.ApprovedBy)}}</label>
                                    </div>
                                </div>
                                <!--ApprovedDate-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">ApprovedDate : {{setStatus(allocRelation.ApprovedOn) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                                <!--EffectiveFrom-->
                                <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label style="color:blue">EffectiveFrom : {{setStatus(allocRelation.StartDate) | date : 'dd-MM-yyyy'}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </tab>

        <!--Expired Subpolicy-->
        <tab heading="Expired Subpolicy ( {{(allocPolicy.AllocRelations | filter:filterRelation(false,'')).length}} )" class="alert-error">
            <table class="table table-bordered form-horizontal" style="border-color: red">
                <tr data-ng-repeat="billingRelation in allocPolicy.AllocRelations | filter:filterRelation(false,'')">
                    <td style="border-color: red">
                        <div data-ng-init="disSubPolicy = getDisplaySubPolicy(billingRelation.AllocSubpolicy)" class="row-fluid span10">
                            <!--Name & Policy-->
                            <div class="row-fluid">
                                <!--Name-->
                                <div class="control-group span5">
                                    <label class="control-label">Name</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="billingRelation.AllocSubpolicy.Name" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <!--Condition & Reason/ Stakeholder-->
                            <div class="row-fluid">
                                <!--Policy-->
                                <div class="control-group span5">
                                    <label class="control-label">Policy</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                                    </div>
                                </div>
                                <!--Policy Reason-->
                                <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='DoNotAllocate'">
                                    <label class="control-label">Reason</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                                    </div>
                                </div>
                                <!--Policy Stakeholder-->
                                <div class="control-group span5" data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'">
                                    <label class="control-label">Stakeholder</label>
                                    <div class="controls">
                                        <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName"/>
                                    </div>
                                </div>
                            </div>
                               <!--Start & End Date-->
                            <div class="row-fluid">
                                <!--Start date-->
                                <div class="control-group span5">
                                    <label class="control-label" >Start Date</label>
                                    <div class="controls">
                                        <input type="text" readonly value="{{billingRelation.StartDate|date:'dd-MM-yyyy'}}">
                                    </div>
                                </div>
                                <!--End date-->
                                <div class="control-group span6">
                                    <label class="control-label" >End Date</label>
                                    <div class="controls">
                                        <input type="text" readonly value="{{billingRelation.EndDate|date:'dd-MM-yyyy'}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <!--Conditions-->
                                <div class="control-group span5">
                                    <label class="control-label">Condition</label>
                                    <div class="controls">
                                        <textarea class="resize" data-ng-model="disSubPolicy.Condition" style="width: 622px" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                           
                           <!--ReActivate Button-->
                            <div class="row-fluid">
                                <div class="control-group span4">
                                    <div class="controls btn-group">
                                        <button class="btn btn-primary" data-ng-click="openModelReactivateSubPolicy(billingRelation)">Reactivate</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                       
                        <!--Status Div-->
                        <div class=" row-fluid span2">
                             <div class="row-fluid " >
                                    <div class="row-fluid text-left" >
                                        <label ng-style="color">Status : {{expiredPolicyStatus(billingRelation.Status)}}</label>
                                    </div>
                                </div>
                            <!--CreatedBy-->
                            <div class="row-fluid " >
                                <div class="row-fluid text-left">
                                    <label style="color:blue">CreatedBy : {{setStatus(billingRelation.CreatedBy)}}</label>
                                </div>
                            </div>
                            <!--CreatedDate-->
                            <div class="row-fluid " >
                                <div class="row-fluid text-left">
                                    <label style="color:blue">CreatedDate : {{setStatus(billingRelation.CreatedOn) | date : 'dd-MM-yyyy'}}</label>
                                </div>
                            </div>
                           
                            <!--ApprovedBy-->
                            <div class="row-fluid " >
                                <div class="row-fluid text-left">
                                    <label style="color:blue">ApprovedBy : {{setStatus(billingRelation.ApprovedBy)}}</label>
                                </div>
                            </div>
                            <!--ApprovedDate-->
                            <div class="row-fluid " >
                                <div class="row-fluid text-left">
                                    <label style="color:blue">ApprovedDate : {{setStatus(billingRelation.ApprovedOn) | date : 'dd-MM-yyyy'}}</label>
                                </div>
                            </div>
                            <!--EffectiveFrom-->
                            <div class="row-fluid " >
                                <div class="row-fluid text-left">
                                    <label style="color:blue">EffectiveFrom : {{setStatus(billingRelation.StartDate) | date : 'dd-MM-yyyy'}}</label>
                                </div>
                            </div>  
                            
                        </div>
                                       
                    </td>
                </tr>
            </table>
        </tab>
        <!--Draft Subpolicy-->
        <tab heading="Draft Subpolicy ( {{subPolicyList.length}} )" class="alert-info">
            <table class="table table-bordered form-horizontal" style="border-color: blue">
                <tr data-ng-repeat="subPolicy in subPolicyList">
                    <td style="border-color: blue">
                        <div data-ng-init="disSubPolicy = getDisplaySubPolicy(subPolicy)" class="span10">
                            <div class="row">
                                <div class="control-group span6">
                                    <label class="control-label">Name</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="subPolicy.Name" readonly="readonly" />
                                    </div>
                                </div> 
                            </div>
                           <!--Policy-->
                            <div class="row">
                                <div class="control-group span5">
                                <label class="control-label">Policy</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                                </div>
                               </div>
                                <div data-ng-show="disSubPolicy.Policy=='DoNotAllocate'" class="control-group span5">
                                    <label class="control-label">Reason</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                                    </div>
                                </div>
                                <div data-ng-show="disSubPolicy.Policy=='AllocateToStkholder'" class="control-group span5">
                                    <label class="control-label">Stakeholder</label>
                                    <div class="controls">
                                        <input type="text" readonly="readonly" data-ng-model="disSubPolicy.StakeholdersName"/>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <!--Condition-->
                                <div class="control-group span5">
                                    <label class="control-label">Condition</label>
                                    <div class="controls">
                                        <textarea id="foo" data-ng-model="disSubPolicy.Condition" style="width: 635px" readonly="readonly"></textarea>
                                    </div>
                                </div>
                              </div>
                          <!--Activate Button-->
                            <div class="row">
                                <div class="control-group span4">
                                    <div class="controls btn-group">
                                        <button class="btn btn-primary" data-ng-click="openModelNewSubPolicy(subPolicy,$index)">Activate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </tab>
    </tabset>

    @* modal pop-up*@
    <div modal="openDateModel">
        <div class="form-horizontal" data-ng-form="allocpolicyDateRangeForm">
            <div class="modal-header well" style="text-align: center">
                <h3>{{modalData.AllocRelation.AllocSubpolicy.Name}}</h3>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="control-group">
                    <label class="control-label">Start Date</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="input-medium" data-ng-disabled="!modalData.forActivate" type="text" name="ScheduleDate" data-ng-model="modalData.startDate" data-ng-required="modalData.forActivate"
                                data-date-start-date="today" data-ng-readonly="true" data-bs-datepicker="" data-ng-change="modalData.endDate=null;modelDateValidation(modalData.startDate,modalData.endDate)">
                            <button type="button" class="btn" data-ng-disabled="!modalData.forActivate" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">End Date</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="modalData.endDate" data-ng-change="modelDateValidation(modalData.startDate,modalData.endDate)"
                                data-date-start-date="" data-ng-readonly="true"
                                data-bs-datepicker="today">
                            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer well">
                <button class="btn btn-danger" data-ng-disabled="!isModalDateValid" data-ng-show="!modalData.forActivate" data-ng-click="deactivateSubPoicy(modalData)">Deactivate</button>
                <button class="btn btn-primary" data-ng-disabled="!(allocpolicyDateRangeForm.$valid && isModalDateValid)" data-ng-show="modalData.forActivate" data-ng-click="activateSubPoicy(modalData)">Activate</button>
                <button class="btn btn-warning" data-ng-click="closeModel()">Cancel</button>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Areas/Allocation/ViewModels/allocPolicyCtrl.js"></script>
}


<!--Future Active Subpolicy-->
@*<tab heading="Future Active Subpolicy ( {{(allocPolicy.AllocRelations| filter:futureActiveRelation(true)).length}} )" class="alert-success">
            <table class="table table-bordered form-horizontal" style="border-color: red">
                <tr data-ng-repeat="billingRelation in allocPolicy.AllocRelations | filter:futureActiveRelation(true)">
                    <td style="border-color: red">
                        <div data-ng-init="disSubPolicy = getDisplaySubPolicy(billingRelation.AllocSubpolicy)" class="span10">
                            <div class="row">
                                <div class="control-group span5">
                                    <label class="control-label">Name</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="billingRelation.AllocSubpolicy.Name" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="control-group span5">
                                    <label class="control-label">Condition</label>
                                    <div class="controls">
                                        <textarea data-ng-model="disSubPolicy.Condition" cols="25" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <div class="control-group span6">
                                    <label class="control-label">Policy</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="disSubPolicy.Policy" readonly="readonly" />
                                    </div>
                                    <br/>
                                    <div data-ng-show="!disSubPolicy.DoAllocate">
                                        <label class="control-label">Reason</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="disSubPolicy.Reason" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="btn-group">
                                <button class="btn btn-primary" data-ng-click="openModel(billingRelation,true)">Activate</button>
                            </div>
                        </div>                       
                    </td>
                </tr>
            </table>
        </tab>*@

@*  <div data-ng-show="allocPolicy.AllocRelations.length" class="modal-footer">
        <button class="btn btn-success" data-ng-click="saveAllocPolicy(allocPolicy)">Save</button>
        <button class="btn btn-warning" data-ng-click="reset()">Reset</button>
    </div>*@