<div class="form-horizontal ">
    <div>
        <div class="form-group row">
            <label class="col-md-2 control-label">Enter Query</label>
            <div class="col-md-6">
                <textarea class="form-control" data-ng-model="query"></textarea>
            </div>
            <button class="btn btn-success" data-ng-click="executeQuery(query)">Submit</button>
        </div>
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : view==='viewData'}">
                <button data-ng-click="view='viewData'" class="btn btn-link">View Data</button>
            </li>
            <li ng-class="{'active' : view==='viewQuery'}">
                <button data-ng-click="view='viewQuery'" class="btn btn-link">View Query</button>
            </li>
            <li ng-class="{'active' : view==='viewError'}">
                <button data-ng-click="view='viewError'" class="btn btn-link">View Error</button>
            </li>
        </ul>
    </div>
    <div data-ng-show="view ==='viewData'">
        <div class="text-success" data-ng-show="queryType==='UPD'||queryType==='INS'||queryType==='DEL'">
            <span data-ng-if="properties[0]!='Exception'">Number of Rows Affected: {{tableData}}</span>
        </div>
        <div style="overflow: auto; height: 300px; width: 100%">
            <table class="table table-bordered" data-ng-show="tableData.length > 0">
                <thead>
                    <tr>
                        <th data-ng-repeat="data in properties">{{data}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="values in tableData">
                        <td data-ng-repeat="data in properties">{{values[data]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div data-ng-show="view ==='viewQuery'">
        <div style="overflow: auto; height: 300px; width: 100%">
            <div data-ng-repeat="query in queryList">
                <span>{{query}}</span>
                <button class="btn btn-link" data-ng-click="executeQuery(query)">Execute</button>
                <button class="btn btn-link" data-ng-click="deleteQuery(query)">Delete</button>
            </div>
        </div>
    </div>
    <div data-ng-show="view ==='viewError'">
        <div style="overflow: auto; height: 300px; width: 100%">
            <pre>{{queryError}}</pre>
        </div>
    </div>
</div>