@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
<div class="container-fluid"  ng-app="showStakeholders">
    <div class="row-fluid" ng-controller="liststakeholders">
        <!--row for show all stakeholders-->
        <div class="row-fluid">
            <fieldset>
                <legend class="well-small2">
                    Stakeholders
                </legend>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="success">
                            <th>
                                Edit
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Hierarchy
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Addresses
                            </th>
                            <th>
                                Payments
                            </th>
                            <th>
                                Workings
                            </th>
                        </tr> 

                        <tr class="success">
                            <th></th>
                            <th>
                                <input type="text" data-ng-model="search.Name" style="width: 120px" />
                            </th>
                            <th>
                                <input type="text" data-ng-model="search.Hierarchy" style="width: 120px" />
                            </th>
                            <th>
                                <input type="text" data-ng-model="search.Designation" style="width: 120px" />
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr class="info" ng-repeat="data in listOfStakeholders | filter:search">
                            <td>
                                <div class="btn-group">
                                    <i class="btn icon-edit" data-ng-click="getStakeholder(data,$index)"></i>
                                </div>
                            </td>
                            <td>
                                {{data.Name}}
                            </td>
                            <td>
                                {{data.Hierarchy}}
                            </td>
                            <td>
                                {{data.Designation}}
                            </td>
                            <td>
                                {{data.GAddress.length}}
                            </td>
                            <td>
                                {{data.StkhPayments.length}}
                            </td>
                            <td>
                                {{data.StkhWorkings.length}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>    
        </div>
        
        <!--row for show stakeholder-->
        <div class="row-fluid" ng-show="count>0">
            
            <!--row for details-->
            <div class="row-fluid" >
                <fieldset>
                    <legend class="well-small2">
                        Details
                    </legend>
                
                    <!-- Row 1 for name and external id-->
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="span4"><label>Name:</label> </div>
                            <div class="span6">
                                <input type="text" ng-model="Stakeholder.Name" readonly  placeholder="Enter Name" required/>
                            </div>
                        </div>
                        <div class="span4" ng-show="Hierarchy.HasEmployeeId">
                            <div class="span4"><label>Employee ID</label> </div>
                            <div class="span6">
                                <input type="text" ng-model="Stakeholder.ExternalId" required placeholder="Enter Employee id"/>
                            </div>
                        </div>
                    </div>
            
                    <!-- Row 2 mobile no and email id-->
                    <div class="row-fluid">
                        <div class="span4" ng-show="Hierarchy.HasMobileNo">
                            <div class="span4"><label>Mobile no:</label></div>
                            <div class="span6">
                                <input type="text" ng-model="Stakeholder.MobileNo"/>
                            </div>
                        </div>
                        <div class="span4" ng-show="Hierarchy.HasEmailId">
                            <div class="span4"><label>Email:</label></div>
                            <div class="span6">
                                <input type="email" ng-model="Stakeholder.EmailId"/>
                            </div>
                        </div>
                    </div>
            
                    <!-- Row 3 for date of joining-->
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="span4"><label>Date of Joining:</label></div>
                            <div class="span6">
                                <input type="date" ng-model="Stakeholder.DateOfJoining" value="Stakeholder.DateOfJoining" b-datepicker/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            
            <!--row for registration-->
            <div class="row-fluid" ng-show="Stakeholder.StkhRegistrations.length>0 && Hierarchy.HasRegistration">
                @Html.Partial("EditRegistration")
            </div>
            
            <!--row for working-->
            <div class="row-fluid" ng-show="Hierarchy.HasWorking ">
               @Html.Partial("EditWorking")
            </div>
            
            <!--row for payment-->
            <div class="row-fluid" ng-show="Hierarchy.HasPayment">
                @Html.Partial("EditPayment")
            </div>
            
            <!--row for address-->
            <div class="row-fluid" ng-show="Hierarchy.HasAddress">
               @Html.Partial("EditAddress")

            </div>
            
            <!--row for save and cancel-->
            <div class="row-fluid">
                <div class="span1">
                    <input type="button" value="Save" class="btn btn-success" ng-click="save(Stakeholder)"/>
                </div>
                <div class="span1">
                    <input type="button" value="Cancel" class="btn btn-info" ng-click="cancel()"/>
                </div>
            </div>

        </div>
        
        <!--row for multiedit-->
        <div class="row-fluid">
            
            <!--row for multiaddress edit -->
            <div class="row-fluid"></div>

            <!--row for multipayment edit-->
            <div class="row-fluid"></div>
            
            <!--row for multiworking edit-->
            <div class="row-fluid"></div>

        </div>
    </div>    
</div>
*@
@section scripts{
    <script src="~/Areas/Stakeholder/ViewModels/EditStakeholders.js"></script>
    <script>
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#startDate').datepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date);
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            $('#endDate')[0].focus();
        }).data('datepicker');
        var checkout = $('#endDate').datepicker({
            onRender: function (date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            checkout.hide();
        }).data('datepicker');
    </script>
}