@{
    ViewBag.Title = "TestValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <h4>Simple log</h4>
            <input type="button" class="btn btn-info" value="Simple log" onclick="Log('Simple')"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Success log</h4>
            <input type="button" class="btn btn-info" value="Success log" onclick="Log('Success')"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Error log</h4>
            <input type="button" class="btn btn-info" value="Error log" onclick="Log('Error')"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Sticky log hides after clicking on it</h4>
            <input type="button" class="btn btn-info" value="Sticky log" onclick="Log('Sticky')"/>
        </div>
    </div>
</div>

<div class="container-fluid" ng-app="myapp">
    <div class="row-fluid" ng-controller="myctrl">
        <input type="button" value="click me" ng-click="saveclick()"/>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        function Log(name) {
            switch(name) {
            case 'Simple':
                alertify.log('Simple log');
                break;
            case 'Success':
                alertify.success('Success log');
                break;
            case 'Error':
                alertify.error('Error log');
                break;
            case 'Sticky':
                alertify.log("Sticky log", "", 0);
                break;
            }
            
        }
    </script>
    <script>
        
        var myapp = angular.module("myapp", ['ui.directives', 'ui.collosys']);

        myapp.controller("myctrl", ['$scope', function ($scope) {
            $scope.saveclick = function () {
                //toastr.success('data saved');
               // NotifyLog('data', true);
                Success('data');
            };

            $scope.notBlackListed = function(value) {
                var blacklist = ['bad@domain.com', 'verybad@domain.com'];
                return blacklist.indexOf(value) === -1;
            };
        }]);
    </script>
}

@section styles
{
    <link href="~/Content/Site.css" rel="stylesheet" />
}


@*
    <div class="container-fluid" ng-app="myapp">
        <div class="row-fluid" ng-controller="myctrl">
           <form name="form" novalidate>
                <div class="row-fluid " ng-form='form2'>
                    <div class="row-fluid">
                        <input name="email" placeholder="email" type="email" required ng-model="email" ui-validate='{blacklist : notBlackListed}'>
                        <span ng-show='form.email.$error.blacklist'>This e-mail is black-listed!</span>
                        <br>is form valid: {{form.$valid}}
                        <br>email errors: {{form.email.$error | json}}
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <div class="span4">
                                <label>Name</label>
                            </div>
                            <div class="span6">
                                <input type="text" ng-model="name" required/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <label>Email Id:</label>
                            </div>
                            <div class="span6">
                                <input type="email" ng-model="email" required ui-validate=""/>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <label>Number validation</label>
                            </div>
                            <div class="span6">
                                <input type="text"  ng-pattern="/^[0-9]+$/" ng-model="num" required />
                                <div class="error" ng-show="form2.num.$invalid">
                                    <span ng-show="form2.num.$error.pattern">Pattern validation fails.<br/></span>
                                </div>
                                <input name="password" type="text" required ng-model="password" placeholder="password">
                                <input name="confirm_password" type="text" required ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " placeholder="confirm password">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4"></div>
                            <div class="span6">
                                <input type='button' class="btn btn-success" value="save" ng-click="saveclick()" ng-disabled="!form.$valid"/>
                                <input type="button" class="btn btn-info" value="update" ng-click="saveclick()" ng-disabled="!form.$dirty"/>
                            </div>
                        </div>
                        <div class="row-fluid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>*@
