<div data-ng-show="dldata.formula.OutputType==='IfElse'" id="subpolicy-groupby">

    <div style="overflow: auto">
        <table class="table table-bordered table-hover">
            <thead>
                <tr data-ng-hide="dldata.formula.Id">
                    <td>Operater</td>
                    <td>Value Type</td>
                    <td>Value</td>
                    <td></td>
                </tr>
                <tr data-ng-form="newOutputForm2" data-ng-hide="dldata.formula.Id">
                    <td class="input-medium">
                        <cs-field data-ng-model="dldata.newOutput2.Operator" field="formula.OperatorType" data-ng-hide="dldata.formula.BOutputs2<1" no-label=""></cs-field>
                    </td>
                    <td>
                        <csswitch ngbind="dldata.newOutput2.Rtype" onbtnclick="dldata.newOutput2.Lsqlfunction = ''; dldata.newOutput2.Rvalue = ''; dldata.newOutput2.RtypeName = ''; setFormulaList(dldata.newOutput.Rtype)" namevalues="dldata.typeSwitch"></csswitch>
                    </td>
                    <td>
                        <div data-ng-switch="" on="dldata.newOutput2.Rtype">
                            <div data-ng-switch-when="Table">
                                <cs-field data-ng-model="dldata.newOutput2.Lsqlfunction" field="formula.LsqlFunctionType" no-label=""></cs-field>

                                <select class="input-large" data-ui-select2="" data-ng-model="dldata.newOutput2.RtypeName" required="">
                                    <option value=""></option>
                                    <option data-ng-repeat="c in dldata.outColumnNames" value="{{c.field}}">{{c.displayName}}</option>
                                </select>
                            </div>
                            <div data-ng-switch-when="Value">
                                <input class="form-control" type="number" data-ng-model="dldata.newOutput2.Rvalue" required="">
                            </div>
                            <div data-ng-switch-when="Formula">
                                <select class="input-medium" data-ui-select2="" data-ng-model="dldata.newOutput2.Formula" required="">
                                    <option></option>
                                    <option data-ng-repeat="d in listofFormula" value="{{d.Id}}">{{d.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-plus" data-ng-disabled="!(newOutputForm2.$valid &amp;&amp; (dldata.formula.BOutputs.length < 1 || dldata.newOutput2.Operator !==''))" data-ng-click="factory.addNewOutput2(dldata.newOutput2,newOutputForm2)"></i>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="boutput in dldata.formula.BOutputs2">
                    <td>
                        <input type="text" class="form-control" readonly="readonly" value="{{boutput.Operator}}" data-ng-show="boutput.Operator">
                    </td>
                    <td>
                        <input type="text" class="form-control" readonly="readonly" value="{{boutput.Rtype}}">
                    </td>
                    <td>
                        <input type="text" class="form-control" readonly="readonly" value="{{boutput.RtypeName + boutput.Rvalue}}" data-ng-hide="dldata.newOutput.Rtype==='Formula'">

                        <input type="text" class="form-control" readonly="readonly" value="{{getFormulaName(boutput.Formula)}}" data-ng-show="dldata.newOutput.Rtype==='Formula'">
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-remove" data-ng-click="factory.deleteOutput2(boutput,$index)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!--<div data-ng-show="dldata.formula.OutputType==='IfElse'" class="row-fluid"
     id="subpolicy-groupby">
    <div class="panel panel-info">
        <div class="panel-heading">Else OutPut</div>
        <div class="panel-body">
            <div style="height: 200px; overflow: auto">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Operater</td>
                            <td>Value Type</td>
                            <td>Value</td>
                            <td></td>
                        </tr>
                        <tr data-ng-form="newOutputForm2">
                            <td class="input-medium">
                                <cs-field data-ng-model="dldata.newOutput2.Operator" field="formula.OperatorType"
                                          data-ng-hide="dldata.formula.BOutputs2<1" no-label=""></cs-field>
                            </td>
                            <td>
                                <csswitch ngbind="dldata.newOutput2.Rtype"
                                          onbtnclick="dldata.newOutput2.Lsqlfunction = ''; dldata.newOutput2.Rvalue = ''; dldata.newOutput2.RtypeName = ''; setFormulaList(dldata.newOutput.Rtype)"
                                          namevalues="dldata.typeSwitch"></csswitch>
                            </td>
                            <td>
                                <div data-ng-switch on="dldata.newOutput2.Rtype">
                                    <div data-ng-switch-when="Table">
                                        <cs-field data-ng-model="dldata.newOutput2.Lsqlfunction"
                                                  field="formula.LsqlFunctionType" no-label=""></cs-field>

                                        <select class="input-large"
                                                data-ng-model="dldata.newOutput2.RtypeName" required>
                                            <option value=""></option>
                                            <option data-ng-repeat="c in dldata.outColumnNames" value="{{c.field}}">{{c.displayName}}</option>
                                        </select>
                                    </div>
                                    <div data-ng-switch-when="Value">
                                        <input class="input-medium" type="number"
                                               data-ng-model="dldata.newOutput2.Rvalue" required />

                                    </div>
                                    <div data-ng-switch-when="Formula">
                                        <select class="input-medium"
                                                data-ng-model="dldata.newOutput2.Formula"
                                                required>
                                            <option></option>
                                            <option data-ng-repeat="d in listofFormula" value="{{d.Id}}">{{d.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn icon-plus" data-ng-disabled="!(newOutputForm2.$valid && (dldata.formula.BOutputs.length < 1 || dldata.newOutput2.Operator !==''))"
                                        data-ng-click="factory.addNewOutput2(dldata.newOutput2,newOutputForm2)"></button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="boutput in dldata.formula.BOutputs2">
                            <td>
                                <input type="text" class="input-mini" readonly="readonly" value="{{boutput.Operator}}"
                                       data-ng-show="boutput.Operator" />
                            </td>
                            <td>
                                <input type="text" class="input-mini" readonly="readonly" value="{{boutput.Rtype}}" />
                            </td>
                            <td>
                                <input type="text" class="input-medium" readonly="readonly" value="{{boutput.RtypeName + boutput.Rvalue}}" data-ng-hide="dldata.newOutput.Rtype==='Formula'" />

                                <input type="text" class="input-medium" readonly="readonly" value="{{getFormulaName(boutput.Formula)}}" data-ng-show="dldata.newOutput.Rtype==='Formula'" />
                            </td>
                            <td>
                                <i class="btn icon-remove" data-ng-click="factory.deleteOutput2(boutput,$index)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
