<div class="row" id="subpolicy-display">
    <div class="panel panel-info">
        <div class="panel-heading">
            Formula 
        </div>
        <div class="panel-body">
            <div class="form-horizontal row">
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-sm-5 col-md-6 ">
                        <label class="col-md-4 control-label">Product</label>
                        <div class="col-md-8">
                            <input type="text" readonly="readonly" class="input-medium form-control" data-ng-model="dldata.formula.Products">
                        </div>
                    </div>
                    <!-- <div class="control-group span6">
                        <label class="control-label">Category</label>
                        <div class="controls">
                            <csswitch ngbind="dldata.formula.Category"
                                      ngdisabled="dldata.formula.Id"
                                      onbtnclick="datalayer.changeProductCategory()"
                                      namevalues="dldata.categorySwitch"></csswitch>
                        </div>
                    </div>-->
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-sm-6 col-md-6 ">
                        <label class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                            <input type="text" data-ng-disabled="dldata.formula.Id" data-ng-model="dldata.formula.Name" data-ng-pattern="/^\w*$/" required="" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 ">
                        <label class="col-md-4 control-label">Output Type</label>
                        <div class="col-md-8">
                            <csswitch ngbind="dldata.formula.OutputType" ngdisabled="dldata.formula.Id" onbtnclick="factory.changeOutputType()" namevalues="dldata.outputTypeSwitch"></csswitch>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="col-md-4 control-label">Description</label>
                        <div class="col-md-8">
                            <textarea class="noResize" data-ng-model="dldata.formula.Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
