<div class="row-fluid">
    <form name="formulaMain">
        <div class="row-fluid form-horizontal" id="row1">
                <div class="span4 text-left">
                    <cs-field data-ng-model="selParams.selectedProduct"
                              field="Formula.Products"
                              data-ng-change="initFormulaList(selParams.selectedProduct)"></cs-field>
                </div>
            <div class="span2 text-left" style="margin-left: 0;" data-ng-show="selParams.selectedProduct">
                <button class="btn alert-info">
                    Add Formula
                </button>
            </div>
        </div>
        <div class="row-fluid" id="row2">
            <div class="span3" data-ng-show="selParams.selectedProduct">
                <div class="box-sub">
                    <div class="box-heading">Formula List</div>
                    <div class="box-body">
                        <div class="sub-name" data-ng-repeat="sformula in formulaList | orderBy : 'Name'">
                            <a class="btn-link" data-ng-click="selectFormula(sformula);">{{sformula.Name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="span9 form-horizontal" data-ng-show="boolOpr.showDetails">
                <div class="row-fluid">
                    <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-details.html'">load formula details</div>
                    <!--<cs-field data-ng-model="formula.Name" field="Formula.Name"></cs-field>-->
                </div>
            </div>
        </div>
    </form>
</div>

<!--<div class="row-fluid">
    <div class="row-fluid form-horizontal" id="row1">
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-medium"
                        data-ng-model="dldata.formula.Products"
                        data-ng-change="changeProductCategory(dldata.formula.Products);datalayer.changeProductCategory()" required>
                        <option></option>
                        <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
                    </select>

                    <button class="btn alert-info"
                        data-ng-show="dldata.formula.Products"
                        data-ng-click="addformula(dldata.formula.Products);setFormulaList('Formula')">
                        Add Formula
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="row2">
        <div class="span3" data-ng-show="dldata.formula.Products">
            <div class="box-sub">
                <div class="box-heading">Formula List</div>
                <div class="box-body">
                    <div class="sub-name" data-ng-repeat="sformula in dldata.formulaList | orderBy : 'Name'">
                        <a class="btn-link" data-ng-click="selectFormula(sformula);setFormulaList('Formula')">{{sformula.Name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span9" data-ng-show="showDiv">
            <div class="row-fluid">
                <div class="row-fluid" data-ng-form="formulaForm">
                    <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-details.html'">load formula details</div>
                </div>
            </div>

            <div class="row-fluid">
                <table class="table table-bordered">
                    <tr data-ng-hide="dldata.formula.OutputType==='Number'">
                        <td>Condition</td>
                        <td>
                            <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-condition.html'">load condition</div>
                        </td>
                    </tr>

                    <tr data-ng-hide="dldata.formula.OutputType==='Boolean'">
                        <td data-ng-hide="dldata.formula.OutputType==='IfElse'">Output</td>
                        <td data-ng-show="dldata.formula.OutputType==='IfElse'">IfOutput</td>
                        <td>
                            <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-output.html'">load output/ifoutput</div>
                        </td>
                    </tr>

                    <tr data-ng-show="dldata.formula.OutputType==='IfElse'">
                        <td>ElseOutput</td>
                        <td>
                            <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-output2.html'">load elseoutput</div>
                        </td>
                    </tr>

                    <tr data-ng-show="dldata.outputWithFunction">
                        <td>Group By</td>
                        <td>
                            <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-group-by.html'">load group by</div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-default" data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" data-ng-click="datalayer.saveFormula(dldata.formula)">Save</button>
                            <button class="btn btn-default" data-ng-click="datalayer.resetFormula(dldata.formula.Products)">Reset</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!--data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" -->
