<div class="row" id="subpolicy-conditions" data-ng-show="dldata.outputWithFunction">
    <div class="row">
        <select class="input-xxlarge" multiple="multiple" data-ng-model="dldata.formula.GroupBy" required>
            <option data-ng-repeat="c in dldata.columnNames" value="{{c.field}}">{{c.displayName}}</option>
        </select>
    </div>
</div>


<!--<div class="row" id="subpolicy-conditions" data-ng-show="dldata.outputWithFunction">
    <div class="panel panel-info">
        <div class="panel-heading">Group By</div>
        <div class="panel-body">
            <div class="row">
                <select class="input-xxlarge" multiple="multiple" data-ng-model="dldata.formula.GroupBy" required>
                    <option data-ng-repeat="c in dldata.columnNames" value="{{c.field}}">{{c.displayName}}</option>
                </select>
            </div>
        </div>
    </div>

</div>-->
