<div class="row-fluid">
    <div class="row-fluid form-horizontal" id="row1">
        <div class="span5">
            <div class="control-group">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-medium"
                        data-ng-model="dldata.formula.Products"
                        data-ng-change="changeProductCategory(dldata.formula.Products)" required>
                        <option></option>
                        <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
                    </select>

                    <button class="btn alert-info"
                        data-ng-show="dldata.formula.Products"
                        data-ng-click="addformula(dldata.formula.Products);setFormulaList('')">
                        Add Formula
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="row2">
        <div class="span3" data-ng-show="dldata.formula.Products">
            <div class="box-sub">
                <div class="box-heading">Formula List</div>
                <div class="box-body">
                    <div class="sub-name" data-ng-repeat="sformula in dldata.formulaList | orderBy : 'Name'">
                        <a class="btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span9" data-ng-show="showDiv">
            <div class="row-fluid">
                <div class="row-fluid" data-ng-form="formulaForm">
                    <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-details.html'">load formula details</div>
                </div>

                <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-condition.html'">load condition</div>

                <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-output.html'">load output</div>

                <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-output2.html'">load output</div>

                <div class="row-fluid" data-ng-include="baseUrl + 'Billing/formula/formula-group-by.html'">load group by</div>

                <div class="row-fluid text-right" id="subpolicy-buttons">
                    <button class="btn btn-default" data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" data-ng-click="datalayer.saveFormula(dldata.formula)">Save</button>
                    <button class="btn btn-default" data-ng-click="datalayer.resetFormula(dldata.formula.Products)">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" -->
