<div data-ng-controller="formulaCtrl">

    <div class="span2">
        <ul role="menu" class="nav nav-tabs nav-stacked">
            <li class="alert-info">
                <a>Formula List</a>
            </li>
            <li class="content" data-ng-repeat="sformula in formulaList | orderBy : 'Name'">
                <a class="btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
            </li>
        </ul>
    </div>
    <div class="span10">
        <div class="panel form-horizontal" data-ng-form="formulaForm">
            <div class="panel-heading">Formula</div>
            <div class="row">
                <div class="control-group span5">
                    <label class="control-label">Product</label>
                    <div class="controls">
                        <select class="input-large" data-ng-disabled="formula.Id" data-ng-model="formula.Products" data-ng-change="changeProductCategory()" ui-select2 required>
                            <option value=""></option>
                            <option data-ng-repeat="c in productsList">{{c}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">Category</label>
                    <div class="controls">
                        <csswitch ngbind="formula.Category" ngdisabled="formula.Id" onbtnclick="changeProductCategory()" namevalues="categorySwitch"></csswitch>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group span5">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-disabled="formula.Id" data-ng-model="formula.Name" data-ng-pattern="/^\w*$/" required />
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">Output Type</label>
                    <div class="controls">
                        <csswitch ngbind="formula.OutputType" ngdisabled="formula.Id" onbtnclick="changeOutputType()" namevalues="outputTypeSwitch"></csswitch>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel" data-ng-hide="formula.OutputType==='Number'">
            <div class="panel-heading">Condition</div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <td>Where</td>
                        <td>Operater</td>
                        <td>Value Type</td>
                        <td>Value</td>
                        <td></td>
                    </tr>
                    <tr data-ng-form="newConditionForm">
                        <td>
                            <csswitch ngdisabled="formula.BConditions.length<1" ngbind="newCondition.RelationType" namevalues="relationTypeSwitch"></csswitch>
                        </td>
                        <td>
                            <select class="input-xlarge" data-ng-model="newCondition.LtypeName" data-ng-change="changeLeftTypeName(newCondition)" ui-select2 required>
                                <option value=""></option>
                                <option data-ng-repeat="c in columnNames" value="{{c.field}}">{{c.displayName}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="input-medium" data-ng-model="newCondition.Operator" ui-select2 required>
                                <option value=""></option>
                                <option data-ng-repeat="c in conditionOperators">{{c}}</option>
                            </select>
                        </td>
                        <td>
                            <csswitch ngbind="newCondition.Rtype" onbtnclick="newCondition.Lsqlfunction='';newCondition.Rvalue='';newCondition.RtypeName=''" namevalues="typeSwitch"></csswitch>
                        </td>
                        <td class="input-large">
                            <div data-ng-switch on="newCondition.Rtype">
                                <div data-ng-switch-when="Table">
                                    <select class="input-xlarge" data-ng-model="newCondition.RtypeName" ui-select2 required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in RcolumnNames" value="{{c.field}}">{{c.displayName}}</option>
                                    </select>
                                </div>
                                <div data-ng-switch-when="Value" data-ng-switch on="selectedLeftColumn.InputType">
                                    <input class="input-small" data-ng-switch-when="number" type="number" data-ng-model="newCondition.Rvalue" required />
                                    <input class="input-medium" data-ng-switch-default="text" type="text" data-ng-model="newCondition.Rvalue" required />

                                    <div data-ng-switch-when="date">
                                        <select class="input-medium" data-ng-model="newCondition.dateValueEnum" ui-select2 required>
                                            <option value=""></option>
                                            <option data-ng-repeat="c in dateValueEnum">{{c}}</option>
                                        </select>
                                        <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="newCondition.Rvalue"
                                            data-ng-show="newCondition.dateValueEnum && newCondition.dateValueEnum==='Absolute_Date'"
                                            data-date-format="dd-mm-yyyy" bs-datepicker>
                                    </div>
                                    <select data-ng-switch-when="checkbox" class="input-small" data-ng-model="newCondition.Rvalue" required>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>

                                    <select data-ng-switch-when="dropdown" class="input-small" data-ng-model="newCondition.Rvalue" data-ng-options="c for  c in conditionValues" required>
                                    </select>
                                    <div data-ng-switch-when="text">
                                        <select class="input-large" ui-select2 data-ng-model="newCondition.Rvalue" data-ng-options="c for  c in conditionValues" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn icon-plus" data-ng-disabled="!(newConditionForm.$valid && (formula.BConditions.length < 1 || newCondition.RelationType !==''))"
                                data-ng-click="addNewCondition(newCondition);">
                            </button>
                        </td>
                    </tr>
                    <tr data-ng-repeat="condition in formula.BConditions">
                        <td></td>
                        <td colspan="4">{{condition.RelationType + ' ( '+condition.LtypeName+' '+condition.Operator+' '+ condition.RtypeName + 
                                ((condition.dateValueEnum==='Absolute_Date')? ( condition.Rvalue | date:'dd-MM-yyyy' ) : condition.Rvalue )   + ' ) '}}</td>
                        <td>
                            <i class="btn icon-remove" data-ng-click="deleteCondition(condition,$index)"></i>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="panel" data-ng-hide="formula.OutputType==='Boolean'">
            <div class="panel-heading">Output</div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Operater</td>
                        <td>Value Type</td>
                        <td>Value</td>
                        <td></td>
                    </tr>
                    <tr data-ng-form="newOutputForm">
                        <td class="input-medium">
                            <csswitch ngbind="newOutput.Operator" namevalues="OperatorSwitch" ngdisabled="formula.BOutputs<1"></csswitch>
                        </td>
                        <td>
                            <csswitch ngbind="newOutput.Rtype" onbtnclick="newOutput.Lsqlfunction='';newOutput.Rvalue='';newOutput.RtypeName=''" namevalues="typeSwitch"></csswitch>
                        </td>
                        <td>
                            <div data-ng-switch on="newOutput.Rtype">
                                <div data-ng-switch-when="Table">
                                    <select class="input-small" ui-select2 data-ng-model="newOutput.Lsqlfunction">
                                        <option value="">-Fun-</option>
                                        <option value="Sum">Sum</option>
                                        <option value="Count">Count</option>
                                        <option value="Avg">Avg</option>
                                    </select>
                                    <select class="input-xlarge" ui-select2 data-ng-model="newOutput.RtypeName" required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in outColumnNames" value="{{c.field}}">{{c.displayName}}</option>
                                    </select>
                                </div>
                                <div data-ng-switch-when="Formula">
                                    <select data-ng-switch-when="Formula" class="input-large" ui-select2 data-ng-model="newOutput.RtypeName" required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in formulaNames">{{c}}</option>
                                    </select>
                                </div>
                                <div data-ng-switch-when="Matrix">
                                    <select data-ng-switch-when="Matrix" class="input-large" ui-select2 data-ng-model="newOutput.RtypeName" required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in matrixNames">{{c}}</option>
                                    </select>
                                </div>

                                <input class="input-medium" data-ng-switch-when="Value" type="number" data-ng-model="newOutput.Rvalue" required />
                            </div>
                        </td>
                        <td>
                            <button class="btn icon-plus" data-ng-disabled="!(newOutputForm.$valid && (formula.BOutputs.length < 1 || newOutput.Operator !==''))"
                                data-ng-click="addNewOutput(newOutput)">
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="output in formula.BOutputs">
                        <td></td>
                        <td colspan="2">{{ convertOperatorToReverse(checkString(output.Operator)) + checkString(output.Lsqlfunction) + '( ' +output.RtypeName+ output.Rvalue+' )'}}</td>
                        <td>
                            <i class="btn icon-remove" data-ng-click="deleteOutput(output,$index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div data-ng-show="outputWithFunction" class="panel">
            <div class="panel-heading">Group by</div>
            <select class="input-xxlarge" data-ui-select2="" multiple="multiple" data-ng-model="formula.GroupBy" required>
                 <option data-ng-repeat="c for c in columnNames" value="{{c.field}}">{{c.displayName}}</option>
            </select>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" data-ng-disabled="!(formulaForm.$valid && (formula.BConditions.length>0 || formula.BOutputs.length>0))" data-ng-click="saveFormula(formula)">Save</button>
            <button class="btn btn-warning" data-ng-click="resetFormula(formula.Products)">Reset</button>
        </div>
    </div>
</div>

    <script src="~/Areas/Billing/ViewModels/formulaCtrl.js"></script>
