<div class="row-fluid">
    <div class="row-fluid span3">
        <div class="row-fluid text-left">
            <label>Product</label>
            <select class="input-large"
                data-ng-model="dldata.formula.Products"
                data-ng-change="changeProductCategory(dldata.formula.Products)" required>
                <option value=""></option>
                <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
            </select>
        </div>
        <div class="row-fluid" style="border: 1px solid; border-color: silver; height: 560px; overflow: auto" data-ng-show="dldata.formula.Products">
            <legend style="background-color: #F5F5F5">Formula List</legend>
            <ul role="menu" class="nav nav-tabs nav-stacked">
                <li data-ng-repeat="sformula in dldata.formulaList | orderBy : 'Name'">
                    <a class="btn btn-link" data-ng-click="selectFormula(sformula)">{{sformula.Name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid span9">
        <div class="row-fluid" style="height: 40px" data-ng-show="dldata.formula.Products">
            <div class="controls">
                <button class="btn btn-primary" data-ng-click="addformula(dldata.formula.Products)">Add Formula</button>
            </div>
        </div>
        <div class="row-fluid" data-ng-show="showDiv">
            <!--formula-->
            <div class="row-fluid form-horizontal" data-ng-form="formulaForm" style="border: 1px solid; border-color: silver; height: 250px">
                <legend style="background-color: #F5F5F5">Formula</legend>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="control-group span5">
                            <label class="control-label">Product</label>
                            <div class="controls">
                                <input type="text" readonly="readonly" class="input-medium" data-ng-model="dldata.formula.Products" />
                            </div>
                        </div>
                        <div class="control-group span6">
                            <label class="control-label">Category</label>
                            <div class="controls">
                                <csswitch ngbind="dldata.formula.Category"
                                    ngdisabled="dldata.formula.Id"
                                    onbtnclick="datalayer.changeProductCategory()"
                                    namevalues="dldata.categorySwitch"></csswitch>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="control-group span5">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-disabled="dldata.formula.Id"
                                    data-ng-model="dldata.formula.Name"
                                    data-ng-pattern="/^\w*$/" required />
                            </div>
                        </div>
                        <div class="control-group span6">
                            <label class="control-label">Output Type</label>
                            <div class="controls">
                                <csswitch ngbind="dldata.formula.OutputType"
                                    ngdisabled="dldata.formula.Id"
                                    onbtnclick="factory.changeOutputType()"
                                    namevalues="dldata.outputTypeSwitch"></csswitch>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="control-group span6">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <textarea class="noResize" data-ng-model="dldata.formula.Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Condition-->
            <div class="row-fluid form-horizontal" data-ng-hide="dldata.formula.OutputType==='Number'" style="border: 1px solid; border-color: silver">
                <legend style="background-color: #F5F5F5">Condition</legend>
                <div class="row-fluid " style="height: 250px; overflow: auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Where</td>
                                <td>Operater</td>
                                <td>Value Type</td>
                                <td>Value</td>
                                <td></td>
                            </tr>
                            <tr data-ng-form="newConditionForm">
                                <td>
                                    <cs-field data-ng-model="dldata.newCondition.RelationType" field="formula.RelationType" data-ng-hide="dldata.formula.BConditions.length<1" no-label=""></cs-field>
                                </td>
                                <td>
                                    <select class="input-large"
                                        data-ng-model="dldata.newCondition.LtypeName"
                                        data-ng-change="changeLeftTypeName(dldata.newCondition)"
                                        required>
                                        <option value=""></option>
                                        <option data-ng-repeat="c in dldata.columnNames" value="{{c.field}}">{{c.displayName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <cs-field data-ng-model="dldata.newCondition.Operator" field="formula.ConditionOperators" no-label=""></cs-field>
                                </td>
                                <td>
                                    <csswitch ngbind="dldata.newCondition.Rtype"
                                        onbtnclick="dldata.newCondition.Lsqlfunction='';dldata.newCondition.Rvalue='';dldata.newCondition.RtypeName=''"
                                        namevalues="dldata.typeSwitch"></csswitch>
                                </td>
                                <td class="input-large">
                                    <div data-ng-switch on="dldata.newCondition.Rtype">
                                        <div data-ng-switch-when="Table">
                                            <select class="input-xlarge"
                                                data-ng-model="dldata.newCondition.RtypeName"
                                                required>
                                                <option value=""></option>
                                                <option data-ng-repeat="c in dldata.RcolumnNames"
                                                    value="{{c.field}}">{{c.displayName}}</option>
                                            </select>
                                        </div>
                                        <div data-ng-switch-when="Value" data-ng-switch on="dldata.selectedLeftColumn.InputType">
                                            <div data-ng-switch-when="number">
                                                <input class="input-small" type="number" data-ng-model="dldata.newCondition.Rvalue" required />
                                            </div>
                                            <div data-ng-switch-when="date">
                                                <cs-field data-ng-model="dldata.newCondition.dateValueEnum" field="formula.DateValueEnum" no-label=""></cs-field>
                                                <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="dldata.newCondition.Rvalue"
                                                    data-ng-show="dldata.newCondition.dateValueEnum && dldata.newCondition.dateValueEnum==='Absolute_Date'"
                                                    data-date-format="dd-mm-yyyy" bs-datepicker>
                                            </div>
                                            <div data-ng-switch-when="checkbox">
                                                <select class="input-small" data-ng-model="dldata.newCondition.Rvalue" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                            <div data-ng-switch-when="dropdown">
                                                <select class="input-small" data-ng-model="dldata.newCondition.Rvalue" data-ng-options="c for c in dldata.conditionValues" required>
                                                </select>
                                            </div>
                                            <div data-ng-switch-when="text">
                                                <div data-ng-show="dldata.newCondition.Operator !== 'IsInList'">
                                                    <select class="input-large" data-ng-model="dldata.newCondition.Rvalue" data-ng-options="c for c in dldata.conditionValues" required>
                                                    </select>
                                                </div>
                                                <div data-ng-show="dldata.newCondition.Operator === 'IsInList'">
                                                    <select data-ui-select2="" class="input-large" data-ng-model="dldata.newCondition.Rvalue"
                                                        required multiple="multiple">
                                                        <option data-ng-repeat="row in dldata.conditionValues" value="{{row}}">{{row}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn icon-plus" data-ng-disabled="!(newConditionForm.$valid && (dldata.formula.BConditions.length < 1 || dldata.newCondition.RelationType !==''))"
                                        data-ng-click="factory.addNewCondition(dldata.newCondition);">
                                    </button>
                                </td>
                            </tr>
                            <tr data-ng-repeat="condition in dldata.formula.BConditions">
                                <td>
                                    <input type="text" class="input-mini" readonly="readonly" value="{{condition.RelationType}}" data-ng-show="condition.RelationType" /></td>
                                <td>
                                    <input type="text" class="input-large" readonly="readonly" value="{{condition.LtypeName}}" /></td>
                                <td>
                                    <input type="text" class="input-medium" readonly="readonly" value="{{condition.Operator}}" /></td>
                                <td>
                                    <input type="text" class="input-mini" readonly="readonly" value="{{condition.Rtype}}" /></td>
                                <td>
                                    <input type="text" class="input-large" readonly="readonly" value="{{condition.RtypeName + 
                                    ((condition.dateValueEnum==='Absolute_Date')? ( condition.Rvalue | date:'dd-MM-yyyy' ) : condition.Rvalue )}}" /></td>
                                <td>
                                    <i class="btn icon-remove" data-ng-click="factory.deleteCondition(condition,$index)"></i>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--Output-->
            <div class="row-fluid" data-ng-hide="dldata.formula.OutputType==='Boolean'" style="border: 1px solid; border-color: silver">
                <legend style="background-color: #F5F5F5">Output</legend>
                <div class="row-fluid" style="height: 250px; overflow: auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Operater</td>
                                <td>Value Type</td>
                                <td>Value</td>
                                <td></td>
                            </tr>
                            <tr data-ng-form="newOutputForm">
                                <td class="input-medium">
                                    <cs-field data-ng-model="dldata.newOutput.Operator" field="formula.OperatorType" data-ng-hide="dldata.formula.BOutputs<1" no-label=""></cs-field>
                                </td>
                                <td>
                                    <csswitch ngbind="dldata.newOutput.Rtype"
                                        onbtnclick="dldata.newOutput.Lsqlfunction='';dldata.newOutput.Rvalue='';dldata.newOutput.RtypeName=''"
                                        namevalues="dldata.typeSwitch"></csswitch>
                                </td>
                                <td>
                                    <div data-ng-switch on="dldata.newOutput.Rtype">
                                        <div data-ng-switch-when="Table">
                                            <cs-field data-ng-model="dldata.newOutput.Lsqlfunction" field="formula.LsqlFunctionType" no-label=""></cs-field>

                                            <select class="input-xlarge"
                                                data-ng-model="dldata.newOutput.RtypeName" required>
                                                <option value=""></option>
                                                <option data-ng-repeat="c in dldata.outColumnNames" value="{{c.field}}">{{c.displayName}}</option>
                                            </select>
                                        </div>
                                        <div data-ng-switch-when="Value">
                                            <input class="input-medium" type="number" data-ng-model="dldata.newOutput.Rvalue" required />

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn icon-plus" data-ng-disabled="!(newOutputForm.$valid && (dldata.formula.BOutputs.length < 1 || dldata.newOutput.Operator !==''))"
                                        data-ng-click="factory.addNewOutput(dldata.newOutput)">
                                    </button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="boutput in dldata.formula.BOutputs">
                                <td>
                                    <input type="text" class="input-mini" readonly="readonly" value="{{boutput.Operator}}" data-ng-show="boutput.Operator" /></td>
                                <td>
                                    <input type="text" class="input-mini" readonly="readonly" value="{{boutput.Rtype}}" /></td>
                                <td>
                                    <input type="text" class="input-medium" readonly="readonly" value="{{boutput.RtypeName + boutput.Rvalue}}" /></td>
                                <td>
                                    <i class="btn icon-remove" data-ng-click="factory.deleteOutput(boutput,$index)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--GroupBy-->
            <div data-ng-show="dldata.outputWithFunction" class="row-fluid" style="border: 1px solid; border-color: silver">
                <legend style="background-color: #F5F5F5">Group By</legend>
                <select class="input-xxlarge" multiple="multiple" data-ng-model="dldata.formula.GroupBy" required>
                    <option data-ng-repeat="c in dldata.columnNames" value="{{c.field}}">{{c.displayName}}</option>
                </select>
            </div>

            <div class="row-fluid text-right">
                <button class="btn btn-success" data-ng-disabled="!(formulaForm.$valid && (dldata.formula.BConditions.length>0 || dldata.formula.BOutputs.length>0))" data-ng-click="datalayer.saveFormula(dldata.formula)">Save</button>
                <button class="btn btn-warning" data-ng-click="datalayer.resetFormula(dldata.formula.Products)">Reset</button>
            </div>
        </div>
    </div>
</div>
<!-- <div data-ng-switch-when="Formula">
                                            <select data-ng-switch-when="Formula" class="input-large"
                                                data-ng-model="dldata.newOutput.RtypeName" required>
                                                <option value=""></option>
                                                <option data-ng-repeat="c in dldata.formulaNames">{{c}}</option>
                                            </select>
                                        </div>
                                        <div data-ng-switch-when="Matrix">
                                            <select data-ng-switch-when="Matrix" class="input-large"
                                                data-ng-model="dldata.newOutput.RtypeName" required>
                                                <option value=""></option>
                                                <option data-ng-repeat="c in dldata.matrixNames">{{c}}</option>
                                            </select>
                                        </div>-->
