@{
    ViewBag.Title = "ViewAllocations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid" data-ng-controller="allocCtrl">
    <div class="row-fluid form-horizontal" data-ng-form="alloc">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="control-group span4">
                    <label class="control-label">Product</label>
                    <div class="controls">
                        <select data-ui-select2=""
                            data-ng-model="DataModel2.Product"
                            data-ng-requiered="true"
                            class="input-medium">
                            <option></option>
                            <option data-ng-repeat="data in productList">{{data}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span4">
                    <label class="control-label">Category</label>
                    <div class="controls">
                        <select data-ui-select2=""
                            data-ng-model="DataModel2.Category"
                            data-ng-requiered="true"
                            class="input-medium">
                            <option></option>
                            <option data-ng-repeat="category in categoryList">{{category}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group span4">
                    <label class="control-label">Allocation Type</label>
                    <div class="controls">
                        <select data-ui-select2=""
                            data-ng-model="DataModel2.SelecAllocType"
                            class="input-medium">
                            <option></option>
                            <option data-ng-repeat="data in AllocType" value="{{data}}">{{data}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span6">
                <label class="control-label">Date</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-medium"
                            data-ng-model="DataModel.AllocDate"
                            data-date-format="dd-mm-yyyy" bs-datepicker>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="button" data-ng-show="alloc.$valid" data-ng-click="GetAllocList(DataModel2)" class="btn btn-success" value="Get Allocations" data-ng-show="alloc" />
            </div>
        </div>

    </div>

    <div class="row-fluid span12">
        <table class="table table-bordered table-condensed table-hover"
            data-ng-show="AllocListModelList.length>0">
            <thead>
                <tr>
                    <th>Cycle</th>
                    <th>Account No</th>
                    <th>Customer Name</th>
                    <th>Pincode</th>
                    <th>Product</th>
                    <th>Amount Due</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>IsAllocated</th>
                    <th>Allocation Status</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="data in filteredTodos | filter:search">

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.Cycle}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.Cycle}}</td>

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.AccountNo}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.AccountNo}}</td>

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.CustomerName}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.CustomerName}}</td>

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.Pincode}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.Pincode}}</td>

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.Product}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.Product}}</td>

                    <td>{{data.Alloc.AmountDue}}</td>
                    <td>{{data.Alloc.StartDate | date}}</td>
                    <td>{{data.Alloc.EndDate | date}}</td>
                    <td>{{data.Alloc.IsAllocated}}</td>

                    <td data-ng-show="DataModel2.Category=='Liner'">{{data.Liner.AllocStatus}}</td>
                    <td data-ng-show="DataModel2.Category=='Writeoff'">{{data.Liner.AllocStatus}}</td>

                </tr>
            </tbody>
        </table>
        <div class="row-fluid" data-ng-show="AllocListModelList.length>0">
            <div class="text-left">
                Total Allocations:{{AllocListModelList.length}}
            </div>
            <div class="text-right">
                <div data-pagination="" data-num-pages="numPages()"
                    data-current-page="currentPage" data-max-size="maxSize"
                    data-boundary-links="true">
                </div>
            </div>
        </div>

        <div class="row-fluid text-center" data-ng-hide="AllocListModelList.length>0">
            <h4>No Allocation for above crtieria</h4>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Areas/Allocation/ViewModels/allocations.js"></script>
}

