<cs-form>
            <cs-field data-ng-model="Stakeholder.Hierarchy"
                      data-ng-change="changeInHierarchy(Stakeholder.Hierarchy)"
                      value-list="hierarchyDisplayList"
                      field="stakeholderModels.stakeholder.hierarchy"></cs-field>
            <div data-ng-if="Designation">
                <cs-field data-ng-model="Stakeholder.Designation"
                          value-list="Designation"
                          data-ng-change="assignSelectedHier(Stakeholder.Designation)"
                          field="stakeholderModels.stakeholder.designation"></cs-field>
            </div>
    
    <div data-ng-if="showBasicInfo">
        <h5 class="modal-header">Personal Information</h5>
        <cs-field data-ng-model="Stakeholder.Name" 
                  field="stakeholderModels.stakeholder.Name"></cs-field>
        <cs-field data-ng-if="selectedHierarchy.IsUser"
                  data-ng-model="Stakeholder.ExternalId"
                  data-ng-change="checkUser(Stakeholder.ExternalId)"
                  field="stakeholderModels.stakeholder.ExternalId"></cs-field>
        <cs-field data-ng-model="Stakeholder.MobileNo"
                  field="stakeholderModels.stakeholder.MobileNo"></cs-field>
        <cs-field data-ng-model="Stakeholder.EmailId"
                  field="stakeholderModels.stakeholder.EmailId"></cs-field>
        <cs-field data-ng-if="selectedHierarchy.ManageReportsTo"
                  value-list="ReportsToList"
                  data-ng-model="Stakeholder.ReportingManager"
                  field="stakeholderModels.stakeholder.ReportingManager"></cs-field>
        <cs-field data-ng-model="Stakeholder.JoiningDate"
                  field="stakeholderModels.stakeholder.JoiningDate"></cs-field>
    

        <div  data-ng-if="selectedHierarchy.HasAddress || true">
            <div class="clearfix"></div>
            <h5 class="modal-header">Address Details</h5>
            <cs-field data-ng-model="Stakeholder.Address.Line1"
                      field="stakeholderModels.address.Line1"></cs-field>
            <cs-field data-ng-model="Stakeholder.Address.Line2"
                      field="stakeholderModels.address.Line2"></cs-field>
            <cs-field data-ng-model="Stakeholder.Address.Line3"
                      field="stakeholderModels.address.Line3"></cs-field>
            <cs-field data-ng-model="Stakeholder.Address.LandlineNo"
                      field="stakeholderModels.address.LandlineNo"></cs-field>
            <cs-field data-ng-model="Stakeholder.Address.Pincode"
                      field="stakeholderModels.address.Pincode"
                      typeahead="c.Area for c in Pincodes($viewValue, 'Area')"
                      typeahead-min-length="3"
                      typeahead-wait-ms="400"></cs-field>
        </div>

        <div  data-ng-if="selectedHierarchy.HasRegistration || true">
            <div class="clearfix"></div>
            <h5 class="modal-header">Registration Details</h5>
            <cs-field data-ng-model="Stakeholder.Regis.TanNo"
                      field="stakeholderModels.registration.TanNo"></cs-field>
       
            <cs-field data-ng-model="Stakeholder.Regis.PanNo"
                      field="stakeholderModels.registration.PanNo"></cs-field>
      
            <cs-field data-ng-model="Stakeholder.Regis.RegistrationNo"
                      field="stakeholderModels.registration.RegistrationNo"></cs-field>
      
            <cs-field data-ng-model="Stakeholder.Registration.ServiceTaxno"
                      field="stakeholderModels.registration.ServiceTaxNo"></cs-field>
            <hr/>
        </div>
        <div class="pull-right">
            <cs-button 
                type="save"
                permission="Stakeholder,Stakeholder,AddEdit"
                data-ng-disabled="basicInfoForm.$invalid "
                data-ng-click="saveData(Stakeholder)"></cs-button>
            <cs-button 
                type="cancel"
                permission="Stakeholder,Stakeholder,AddEdit"
                data-ng-click="cancel()"></cs-button>
            <cs-button 
                type="reset"
                permission="Stakeholder,Stakeholder,AddEdit"
                data-ng-click="reset()"></cs-button>
        </div>
    </div>
        </cs-form>
