<!--table for displaying added payments-->
        <div class="row-fluid" ng-show="Stakeholder.StkhPayments.length>0">

            <table class="table table-bordered table-hover" ng-class="{ 'alert alert-danger' : Stakeholder.IsPaymentChange}">
                <thead>
                    <tr class="success">
                        <th ng-show="Hierarchy.HasMobileTravel">Mobile Elg.</th>
                        <th ng-show="Hierarchy.HasMobileTravel">Travel Elg.</th>
                        <th ng-show="Hierarchy.HasVarible">Collection Policy</th>
                        <th ng-show="Hierarchy.HasVarible">Recovery Policy</th>
                        <th ng-show="Hierarchy.HasFixedSummary">Fixed Basic</th>
                        <th ng-show="Hierarchy.HasFixedIndividual">Fixed Basic</th>
                        <th ng-show="Hierarchy.HasFixedIndividual">Fixed Hra</th>
                        <th ng-show="Hierarchy.HasFixedIndividual">Fixed Other</th>
                        <th ng-show="Hierarchy.HasServiceCharge">Service Charge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info" ng-repeat="c in Stakeholder.StkhPayments">
                        
                        <td ng-show="Hierarchy.HasMobileTravel">
                            {{c.MobileElig}}
                        </td>
                        <td ng-show="Hierarchy.HasMobileTravel">
                            {{c.TravelElig}}
                        </td>
                        <td ng-show="Hierarchy.HasVarible">
                            {{c.VariableLiner}}
                        </td>
                        <td ng-show="Hierarchy.HasVarible">
                            {{c.VariableWriteoff}}
                        </td>
                        <td ng-show="Hierarchy.HasFixedSummary">
                            {{c.FixpayBasic}}
                        </td>
                        <td ng-show="Hierarchy.HasFixedIndividual">
                            {{c.FixpayBasic}}
                        </td>
                        <td ng-show="Hierarchy.HasFixedIndividual">
                            {{c.FixpayHra}}
                        </td>
                        <td ng-show="Hierarchy.HasFixedIndividual">
                            {{c.FixpayOther}}
                        </td>
                        <td ng-show="Hierarchy.HasServiceCharge">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>