<div data-ng-if="true">
    <div class="form-group has-success has-feedback">
        <label class="control-label" >Input with success</label>
        <input type="text" class="form-control" >
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    </div>
</div>
<div
    data-ng-show="showPendingOptions()"
    data-ng-cloack="">

    <div class="panel panel-default">
        <div class="panel-heading">Pending Approvals</div>
        <ul>
            <li data-ng-show="datalist.stakeholders>0">
                <a class="navbar-link" href="#/stakeholder/view/PendingForMe"><b>Stakeholder Approval:</b>  {{datalist.stakeholders}} approval pending</a>
            </li>
            <!-- <li data-ng-show="datalist.working>0">
                <a class="navbar-link" href="#/stakeholder/view"><b>Stakeholder Working Approval:</b>  {{datalist.working}} approval pending</a>
            </li>
            <li data-ng-show="datalist.payment>0">
                <a class="navbar-link" href="#/stakeholder/view"><b>Stakeholder Payment Approval:</b>  {{datalist.payment}} approval pending</a>
            </li>-->
            <li data-ng-show="datalist.allocation>0">
                <a class="navbar-link" href="#"><b>Allocation Approval :</b>  {{datalist.allocation}}  approval pending</a>
            </li>
            <li data-ng-show="datalist.billing>0">
                <a class="navbar-link" href="#"><b>Allocation Policy Approval:</b>  {{datalist.billing}} approval pending</a>
            </li>
        </ul>
    </div>
</div>
<!--<div class="row">
            <div class="col-md-3">
                <multiselect
                    ng-model="selectedCar"
                    multiple="true"
                    header="header"
                    options="c.name for c in cars"
                    change="selected()"></multiselect>
            </div>
            <div class="col-md-3">
                <multiselect
                    ng-model="selectedCar"
                    header="header"
                    options="c.name for c in cars"
                    change="selected()"></multiselect>
            </div>
            <div class="col-md-3">
                <multiselect
                    ng-model="selectedCar"
                    header="header"
                    options="c.name for c in cars"
                    change="selected()"></multiselect>
            </div>
            <div class="col-md-3">
                <multiselect
                    ng-model="selectedCar"
                    header="header"
                    options="c.name for c in cars"
                    change="selected()"></multiselect>
            </div>
        </div>-->
