<div>
    <form class="form-horizontal">
        <cs-field  field="number" data-ng-change="changeFunc(Field.number)" data-ng-model="Field.number"></cs-field>
        <cs-field field="text" data-ng-change="changeFunc(Field.text)" data-ng-model="Field.text"></cs-field>
        <cs-field field="phone" data-ng-change="changeFunc(Field.phone)" data-ng-model="Field.phone"></cs-field>
        <cs-field field="textarea" data-ng-change="changeFunc(Field.txtarea)" data-ng-model="Field.txtarea"></cs-field>
        <cs-field field="email" data-ng-change="changeFunc(Field.email)" data-ng-model="Field.email"></cs-field>
        <cs-field field="checkbox" data-ng-change="changeFunc(Field.checkbox)" data-ng-model="Field.checkbox"></cs-field>
        <cs-field field="radio" data-ng-change="changeFunc(Field.radio)" data-ng-model="Field.radio"></cs-field>
        <pre>{{Field}}</pre>
        <pre>changed:{{changed}}</pre>

    </form>
</div>

<div data-ng-hide="true"
    data-ng-show="showPendingOptions()"
    data-ng-cloack="">

    <div class="panel form-horizontal">
        <div class="panel-heading">Pending Approvals</div>
        <ul>
            <li data-ng-show="datalist.stakeholder">
                <a class="navbar-link" href="#/stakeholder/add"><b>Stakeholder Approval:</b>  {{datalist.stakeholder}} approval pending</a>
            </li>
            <li data-ng-show="datalist.working>0">
                <a class="navbar-link" href="#/stakeholder/add"><b>Stakeholder Working Approval:</b>  {{datalist.working}} approval pending</a>
            </li>
            <li data-ng-show="datalist.payment>0">
                <a class="navbar-link" href="#/stakeholder/add"><b>Stakeholder Payment Approval:</b>  {{datalist.payment}} approval pending</a>
            </li>
            <li data-ng-show="datalist.allocation>0">
                <a class="navbar-link" href="#"><b>Allocation Approval :</b>  {{datalist.allocation}}  approval pending</a>
            </li>
            <li data-ng-show="datalist.allocationpolicy>0">
                <a class="navbar-link" href="#"><b>Allocation Policy Approval:</b>  {{datalist.allocationpolicy}} approval pending</a>
            </li>
        </ul>
    </div>
</div>
