<div class="form-horizontal " data-ng-cloak="" data-ng-controller="basicInfoController">
    <!--Name and UserID-->
    <div data-ui-if="basicInfoData.Hierarchy.Hierarchy">
        <div class="row-fluid">
            <div class="span5">

                <cs-input options="$parent.stakeholderModel.Name"
                    ng-model="$parent.WizardData.FinalPostModel.Stakeholder.Name">
                    </cs-input>

            </div>

            <div class="span5" data-ng-show="basicInfoData.Hierarchy.IsUser">

                <cs-input options="$parent.stakeholderModel.UserId"
                    ng-model="$parent.WizardData.FinalPostModel.Stakeholder.ExternalId"
                    ng-change="checkUser($parent.WizardData.FinalPostModel.Stakeholder.ExternalId)">
                </cs-input>

                @*<div class="field-validation-error" data-ng-show="$parent.WizardData.userExists">{{val.AlreadyExist('UserId')}}</div>*@
            </div>
        </div>

        <!--MobileNo and EmailId-->
        <div class="row-fluid">
            <div class="span5">
                <cs-input options="$parent.stakeholderModel.MobileNo"
                    ng-model="$parent.WizardData.FinalPostModel.Stakeholder.MobileNo"></cs-input>
            </div>

            <div class="span5">
                    <cs-input options="$parent.stakeholderModel.Email" 
                        ng-model="$parent.WizardData.FinalPostModel.Stakeholder.EmailId"></cs-input>
            </div>
        </div>


        <div class="row-fluid">
            <!--Reporting to manager-->
            <div class="span5 control-group" data-ng-show="basicInfoData.Hierarchy.ManageReportsTo">

                <label class="control-label" @*data-ng-show="basicInfoData.Hierarchy.IsIndividual "*@
                       data-ng-show="basicInfoData.Hierarchy.Hierarchy!='External'">
                    Line Manager 
                    <label style="font-size: large; color: red">*</label>
                </label>
                <label class="control-label" @*data-ng-hide="basicInfoData.Hierarchy.IsIndividual"*@
                       data-ng-show="basicInfoData.Hierarchy.Hierarchy=='External' &&
                !(basicInfoData.Hierarchy.Designation=='ExternalAgency' || 
                basicInfoData.Hierarchy.Designation =='ManpowerAgency')">
                    Agency Name 
                    <label style="font-size: large; color: red">*</label>

                </label>

                <label class="control-label" data-ng-show="basicInfoData.Hierarchy.Designation=='ExternalAgency' ||
                basicInfoData.Hierarchy.Designation=='ManpowerAgency'">
                    Agency Supervisor
                    <label style="font-size: large; color: red">*</label>
                </label>

                <div class="controls">
                    <select
                        class="input-medium"
                        ui-select2=""
                        data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.ReportingManager"
                        data-ng-required="basicInfoData.Hierarchy.ManageReportsTo">
                        <option></option>
                        <option
                            data-ng-repeat="managers in $parent.WizardData.FinalPostModel.ReportsToList"
                            value="{{managers.Id}}">{{managers.Name}}</option>
                    </select>
                </div>
            </div>

            <div class="span5">
                    <cs-input options="$parent.stakeholderModel.Date" 
                        ng-model="$parent.WizardData.FinalPostModel.Stakeholder.JoiningDate"></cs-input>
            </div>
        </div>
    </div>
</div>




<!--Reports to and Date of Joining-->
@* <div class="row-fluid">
        <div class="span5 control-group" data-ng-show="basicInfoData.Hierarchy.ManageReportsTo">
            <label class="control-label">Reporting Manager</label>
            <div class="controls">*@
@*  <select class="input-medium" data-ui-select2=""
                    data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.ReportsTo"
                    data-ng-required="basicInfoData.Hierarchy.ManageReportsTo">
                <option></option>
                <option data-ng-repeat="managers in $parent.ReportsToList" value="{{managers.Id}}">{{managers.Name}}</option>
            </select>*@
<!--Reports to and Date of leaving-->
@*    
            </div>
        </div>*@
@* </div>*@


<!--  <div data-ng-if="basicInfoData.Hierarchy.Hierarchy != 'External'">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text"
                            data-ng-pattern="/^[a-zA-Z0-9.]+$/"
                            class="input-medium"
                            name="scEmail"
                            data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.EmailId"
                            data-ng-required="basicInfoData.Hierarchy.Hierarchy != 'External'" />
                        <span class="add-on">@@sc.com</span>
                    </div> -->
<!-- <div data-ng-if="basicInfoData.Hierarchy.Hierarchy == 'External'">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="email"
                            class="input-large"
                            data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.EmailId"
                            name="email"
                            data-ng-required="basicInfoData.Hierarchy.Hierarchy == 'External'" />
                    </div> -->

<!--Name-->
@* <div class="span5 control-group">
            <label class="control-label">Name <label style="font-size:large; color:red">*</label></label>
            <div class="controls">
                <input type="text"
                    class="input-large"
                    data-ng-pattern="/^[a-zA-Z ]{1,100}$/"
                    name="Name"
                    data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.Name"
                    data-ng-readonly="basicInfoData.isEditMode"
                    required />*@
@*Name Validation*@
@* <div data-ng-show="basicInfoForm.Name.$dirty">
                    <span class="field-validation-error" data-ng-show="basicInfoForm.Name.$error.required">{{val.Required()}}</span>
                    <span class="field-validation-error" data-ng-show="basicInfoForm.Name.$error.pattern">{{val.OnlyText()}}</span>
                </div>
            </div>
        </div>*@


<!--UserId-->
@* <div class="control-group span5" data-ng-show="basicInfoData.Hierarchy.IsUser">
            <label class="control-label">
                User Id
                <label style="font-size: large; color: red">*</label></label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text"
                        id="UserIdBox"
                        maxlength="7"
                        data-ng-pattern="/^[0-9]{7}$/"
                        data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.ExternalId "
                        name="UserIdBox"
                        data-ng-required="basicInfoData.Hierarchy.IsUser"
                        data-ng-change="checkUser($parent.WizardData.FinalPostModel.Stakeholder.ExternalId)">
                </div>
                <div data-ng-show="basicInfoForm.UserIdBox.$dirty">
                    <div class="field-validation-error" data-ng-show="basicInfoForm.UserIdBox.$error.required">{{val.Required()}}</div>
                    <div class="field-validation-error" data-ng-show="basicInfoForm.UserIdBox.$error.pattern">{{val.Pattern(7)}}</div>
                    <div class="field-validation-error" data-ng-show="$parent.WizardData.FinalPostModel.Stakeholder.ExternalId.length==7 && $parent.WizardData.userExists">{{val.AlreadyExist('UserId')}}</div>
                    <span style="color: grey">(Ex.0000000)</span>
                </div>
            </div>
        </div>*@


@*<div class="span5 control-group">
            <label class="control-label">Mobile No
                <label style="font-size: large; color: red" data-ng-show="basicInfoData.Hierarchy.IsUser">*</label></label>
            <div class="controls">
                <div class="input-prepend ">
                    <span class=" add-on"><i class="icon-phone"></i></span>
                    <span class="add-on">+91</span>
                    <input type="text"
                        class="input-medium"
                        name="mob"
                        maxlength="10"
                        data-ng-pattern="/^[0-9]{10}$/"
                        data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.MobileNo"
                        data-ng-required="basicInfoData.Hierarchy.IsUser" />
                </div>*@

@* mobile validation*@
@*<div data-ng-show=" basicInfoForm.mob.$dirty ">
                    <span class="field-validation-error" data-ng-show="basicInfoForm.mob.$invalid && basicInfoForm.mob.$error.pattern">{{val.Mobile()}}</span>
                </div>
            </div>
        </div>*@




<!--EmailId code-->
@* <div class="span5 control-group">
            <label class="control-label">
                Email Id
                <label style="font-size: large; color: red" data-ng-show="basicInfoData.Hierarchy.IsUser">*</label></label>
            <div class="controls">
                <div class="input-prepend input-append">
                    <!--EmailId-->
                    <div data-ng-if="basicInfoData.Hierarchy.Hierarchy == 'External'">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="email"
                               class="input-large"
                               data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.EmailId"
                               name="email"
                               data-ng-required="basicInfoData.Hierarchy.IsUser" />
                    </div>

                    <!--EmailId for scEmail-->
                    <div data-ng-if="basicInfoData.Hierarchy.Hierarchy != 'External'">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text"
                               data-ng-pattern="/^[a-zA-Z0-9.]+$/"
                               class="input-medium"
                               name="scEmail"
                               data-ng-model="$parent.WizardData.FinalPostModel.EmailId"
                               data-ng-required="basicInfoData.Hierarchy.IsUser" />
                        <span class="add-on">@@sc.com</span>
                    </div>

                </div>
                <!--email validation-->
                <div data-ng-show="basicInfoForm.email.$dirty">
                    <span class="field-validation-error" data-ng-show="basicInfoForm.email.$error.required">{{val.Required()}}</span>
                </div>
                <!--ScEmail Validation-->
                <div data-ng-show="basicInfoForm.scEmail.$dirty ">
                    <span class="field-validation-error" data-ng-show="basicInfoForm.scEmail.$error.required ">{{val.Required()}}</span>
                </div>
            </div>
        </div>*@


<!--Gender and Date of birth-->
@*  <div class="row-fluid" data-ng-show="basicInfoData.Hierarchy.IsIndividual">
            <div class="span5 control-group">
                <label class="control-label">Gender</label>
                <div class="controls">
                    <div class="input-prepend" data-ng-show="!basicInfoData.isEditMode">
                        <span class="add-on">
                            <input type="radio" data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.Gender" checked="checked" value="0"><label>Male</label>
                            <input type="radio" data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.Gender" value="1"><label>Female</label>
                        </span>
                    </div>

                    <div data-ng-show="basicInfoData.isEditMode">
                        {{$parent.WizardData.FinalPostModel.Stakeholder.Gender}}
                    </div>
                </div>
            </div>
            <div class="span5 control-group">
                <label class="control-label">
                    Date of Birth
                <label style="font-size: large; color: red" data-ng-show="basicInfoData.Hierarchy.IsUser">*</label></label>
                <div class="controls">
                    <div class="input-append">
                        <input readonly
                            type="text"
                            name="birthDate"
                            class="input-medium"
                            data-ng-required="basicInfoData.Hierarchy.IsIndividual && basicInfoData.Hierarchy.IsUser"
                            data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.BirthDate"
                            data-date-end-date="-18y"
                            bs-datepicker>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>

                    
                    <div data-ng-show="basicInfoForm.birthDate.$dirty ">
                        <span class="field-validation-error" data-ng-show="basicInfoForm.birthDate.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
        </div>*@



<!--Date of Starting-->
@*<div class="span5 control-group">
                <label class="control-label" data-ng-hide="basicInfoData.Hierarchy.IsEmployee">
                    Date Of Starting
                    <label style="font-size: large; color: red">*</label></label>
                <label class="control-label" data-ng-show="basicInfoData.Hierarchy.IsEmployee">
                    Date Of Joining
                    <label style="font-size: large; color: red">*</label></label>
                <div class="controls">
                    <div class="input-append">
                        <input readonly
                            name="joiningDate"
                            type="text"
                            class="input-medium"
                            data-date-start-date="-1y"
                            data-date-end-date="+1y"
                            data-ng-model="$parent.WizardData.FinalPostModel.Stakeholder.JoiningDate"
                            bs-datepicker required>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                    <!--Date of joining validation-->
                    <div data-ng-show="basicInfoForm.joiningDate.$dirty">
                        <span class="field-validation-error" data-ng-show="basicInfoForm.joiningDate.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>*@