<div class="form-horizontal" data-ng-controller="Registration">
    <div class="row-fluid">
        <div class="span5">
            
                <cs-input options="$parent.stakeholderModel.TAN" 
                               ng-model="$parent.WizardData.FinalPostModel.Registration.TanNo" >
                </cs-input>
           
        </div>
        
        <div class="span5">
            
                <cs-input options="$parent.stakeholderModel.PAN" 
                               ng-model="$parent.WizardData.FinalPostModel.Registration.PanNo" >
                </cs-input>
           
        </div>
    </div>

    <div class="row-fluid">
               <div class="span5">
            
                <cs-input options="$parent.stakeholderModel.RegistrationNo" 
                               ng-model="$parent.WizardData.FinalPostModel.Registration.RegistrationNo" >
                </cs-input>
            
        </div>
       
          <div class="span5">
            
                <cs-input options="$parent.stakeholderModel.ServiceTax" 
                               ng-model="$parent.WizardData.FinalPostModel.Registration.ServiceTaxno" >
                </cs-input>
           
        </div>
    </div>
</div>



@*    <div class="control-group span5">
            <label class="control-label">TAN</label>
            <div class="controls">
                <input 
                    name="tan" 
                    type="text" 
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.TanNo" 
                    data-ng-maxlength="30" 
                    data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" />
                <div class="field-validation-error" data-ng-show="registrationForm.tan.$error.maxlength">{{val.MaxLength(30)}}</div>
                <div class="field-validation-error" data-ng-show="registrationForm.tan.$dirty && registrationForm.tan.$error.pattern">{{val.OnlyNumbers()}}</div>
            </div>
        </div>*@


@*<div class="control-group span5">
            <label class="control-label">PAN</label>
            <div class="controls">
                <input
                    type="text"
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.PanNo"
                    data-ng-required="$parent.Hierarchy.HasRegistration"
                    name="pan"
                    data-ng-pattern="/^([A-Z]{5})(\d{4})([a-zA-Z]{1})$/" />
                <div class="field-validation-error" data-ng-show=" registrationForm.pan.$error.pattern">{{val.Format("AAAAA0000A")}}</div>
                <div>Ex.AAAAA0000A</div>
            </div>
        </div>*@

 @*<div class="control-group span5">
            <label class="control-label">Registration No</label>
            <div class="controls">
                <input
                    type="text"
                    data-ng-maxlength="30"
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.RegistrationNo"
                    name="registration"
                    data-ng-pattern="/^[a-zA-Z0-9]+$/" />
                <div class="field-validation-error" data-ng-show="registrationForm.registration.$error.maxlength ">{{val.MaxLength(30)}}</div>
                <div class="field-validation-error" data-ng-show="registrationForm.registration.$error.pattern">{{val.SpecialCharNotAllow()}}</div>
            </div>
        </div>*@
 @*<div class="control-group span5">
            <label class="control-label">Registration No</label>
            <div class="controls">
                <input
                    type="text"
                    data-ng-maxlength="30"
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.RegistrationNo"
                    name="registration"
                    data-ng-pattern="/^[a-zA-Z0-9]+$/" />
                <div class="field-validation-error" data-ng-show="registrationForm.registration.$error.maxlength ">{{val.MaxLength(30)}}</div>
                <div class="field-validation-error" data-ng-show="registrationForm.registration.$error.pattern">{{val.SpecialCharNotAllow()}}</div>
            </div>
        </div>*@
 @* <div class="control-group span5">
            <label class="control-label">Service Tax</label>
            <div class="controls">
                <input
                    type="text"
                    name="service"
                    data-ng-model="$parent.WizardData.FinalPostModel.Registration.ServiceTaxno"
                    data-ng-maxlength="30"
                    data-ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" />
                <div class="field-validation-error" data-ng-show="registrationForm.service.$error.maxlength">{{val.MaxLength(30)}}</div>
                <div class="field-validation-error" data-ng-show=" registrationForm.service.$error.pattern">{{val.OnlyNumbers()}}</div>
            </div>
        </div>*@