<div style="overflow: auto;">
    <table class="table table-bordered table-hover span12" style="overflow: auto">
        <thead>
            <tr>
                <th>Action</th>
                <th>ValueType</th>
                <th>Position</th>
                <th>OutputPosition</th>
                <th>OutputColumnName</th>
                <th>ActualColumn</th>
                <th>TempColumn</th>
                <th>DefaultValue</th>
                <th>StartDate</th>
                <th>EndDate</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <select data-ng-model="search.ValueType" style="width: 120px"
                        data-ng-options="c for c in datalayer.dldata.valueTypes">
                        <option>Select</option>
                    </select>
                </th>
                <th>
                    <input type="text" data-ng-model="search.Position" style="width: 50px" />
                </th>
                <th>
                    <input type="text" data-ng-model="search.OutputPosition" style="width: 50px" />
                </th>
                <th>
                    <input type="text" data-ng-model="search.OutputColumnName" style="width: 50px" />
                </th>
                <th>
                    <input type="text" data-ng-model="search.ActualColumn" style="width: 100px" />
                </th>
                <th>
                    <input type="text" data-ng-model="search.TempColumn" style="width: 120px" />
                </th>
                <th>
                    <input type="text" data-ng-model="search.DefaultValue" style="width: 120px" />
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="fileMapping in datalayer.dldata.fileMappings | filter:search">
                <td>
                    <div class="btn-group">
                        <i class="btn" data-ng-click="openEditModalPopup('view', fileMapping)"></i>
                        <i class="btn icon-edit" data-ng-click="openEditModalPopup('edit', fileMapping)"></i>
                    </div>
                </td>
                <td>{{fileMapping.ValueType}}</td>
                <td>{{fileMapping.Position}}</td>
                <td>{{fileMapping.OutputPosition}}</td>
                <td>{{fileMapping.OutputColumnName}}</td>
                <td>{{fileMapping.ActualColumn}}</td>
                <td>{{fileMapping.TempColumn}}</td>
                <td>{{fileMapping.DefaultValue}}</td>
                <td>{{fileMapping.StartDate | date : 'yyyy-MM-dd'}}</td>
                <td>{{fileMapping.EndDate | date : 'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
    </table>
</div>
