<form name="formAddfileMapping" class="form-horizontal" novalidate>
    <div class="modal-header">
        {{modelTitle}}
    </div>
    <div class="modal-body">

        <cs-form mode="mode">
            <cs-field data-ng-model="fileMapping.ActualTable" field="fileMappingModel.ActualTable" data-ng-disabled="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.TempTable" field="fileMappingModel.TempTable"  readonly="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.ActualColumn" field="fileMappingModel.ActualColumn"  readonly="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.ValueType"  data-ng-change="changeValueType(fileMapping)" field="fileMappingModel.ValueType"></cs-field>
            <div data-ng-switch on="fileMapping.ValueType">
                <div data-ng-switch-when="ExcelValue">
                   <cs-field data-ng-model="fileMapping.TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" field="fileMappingModel.TempColumn"></cs-field>
                </div>
                <div data-ng-switch-when="MappedValue">
                    <cs-field data-ng-model="fileMapping.TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" field="fileMappingModel.TempColumn"></cs-field>
                </div>
                <div data-ng-switch-when="DefaultValue">
                    <cs-field data-ng-model="fileMapping.DefaultValue" field="fileMappingModel.DefaultValue"></cs-field>
                </div>
                <div data-ng-switch-when="ExpressionValue">
                    <cs-field data-ng-model="fileMapping.ExpressionValue" field="fileMappingModel.ExpressionValue"></cs-field>
                </div>
            </div>
            <cs-field data-ng-model="fileMapping.Position" field="fileMappingModel.Position"></cs-field>
            <cs-field data-ng-model="fileMapping.OutputPosition" field="fileMappingModel.OutputPosition"></cs-field>
            <cs-field data-ng-model="fileMapping.OutputColumnName" field="fileMappingModel.OutputColumnName"></cs-field>
            <cs-field data-ng-model="fileMapping.StartDate" field="fileMappingModel.StartDate"></cs-field>
            <cs-field data-ng-model="fileMapping.EndDate" field="fileMappingModel.EndDate"></cs-field>
        </cs-form>
    </div>

    <div class="modal-footer form-group">
        <div class="controls">
            <button class="btn btn-success" data-ng-show="!isReadOnly" data-ng-click="save(fileMapping)" data-ng-disabled="!formAddfileMapping.$valid">Save</button>
            <button class="btn btn-info" data-ng-show="!isReadOnly" data-ng-click="close('cancel')">Cancel</button>
            <button class="btn btn-info " data-ng-show="isReadOnly" data-ng-click="close('close')">Close</button>
        </div>
    </div>
</form>
