<div style="overflow: auto; height: 450px; width: 100%">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Action</th>
                <th>ValueType</th>
                <th>Position</th>
                <th>OutputPosition</th>
                <th>OutputColumnName</th>
                <th>ActualColumn</th>
                <th>TempColumn</th>
                <th>DefaultValue</th>
                <th>StartDate</th>
                <th>EndDate</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <select data-ng-model="search.ValueType" style="width: 120px"
                        data-ng-options="c for c in datalayer.dldata.valueTypes">
                        <option>Select</option>
                    </select>
                </th>
                <th>
                    <input type="text" class="form-control input-medium" data-ng-model="search.Position" />
                </th>
                <th>
                    <input type="text" class="form-control input-medium" data-ng-model="search.OutputPosition" />
                </th>
                <th>
                    <input type="text" class="form-control input-medium" data-ng-model="search.OutputColumnName" />
                </th>
                <th>
                    <input type="text" class="form-control input-large" data-ng-model="search.ActualColumn" />
                </th>
                <th>
                    <input type="text" class="form-control input-large" data-ng-model="search.TempColumn" />
                </th>
                <th>
                    <input type="text" class="form-control input-large" data-ng-model="search.DefaultValue" />
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="fileMapping in datalayer.dldata.fileMappings | filter:search">
                <td>
                    <div class="btn-group">
                        <i class="btn glyphicon glyphicon-file" data-ng-click="openEditModalPopup('view', fileMapping)"></i>
                        <i class="btn glyphicon glyphicon-edit" data-ng-click="openEditModalPopup('edit', fileMapping)"></i>
                    </div>
                </td>
                <td>{{fileMapping.ValueType}}</td>
                <td>{{fileMapping.Position}}</td>
                <td>{{fileMapping.OutputPosition}}</td>
                <td>{{fileMapping.OutputColumnName}}</td>
                <td>{{fileMapping.ActualColumn}}</td>
                <td>{{fileMapping.TempColumn}}</td>
                <td>{{fileMapping.DefaultValue}}</td>
                <td>{{fileMapping.StartDate | date}}</td>
                <td>{{fileMapping.EndDate | date}}</td>
            </tr>
        </tbody>
    </table>
</div>
