<form name="formAddfileMapping" class="form-horizontal" novalidate>
    <div class="modal-header">
        {{modelTitle}}
    </div>
    <div class="modal-body">

        <cs-field-group mode="mode">
            <cs-field data-ng-model="fileMapping.ActualTable" field="fileMappingModel.ActualTable" data-ng-disabled="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.TempTable" field="fileMappingModel.TempTable"  readonly="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.ActualColumn" field="fileMappingModel.ActualColumn"  readonly="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileMapping.ValueType"  data-ng-change="changeValueType(fileMapping)" field="fileMappingModel.ValueType"></cs-field>
            <div data-ng-switch on="fileMapping.ValueType">
                <div data-ng-switch-when="ExcelValue">
                   <cs-field data-ng-model="fileMapping.TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" field="fileMappingModel.TempColumn"></cs-field>
                </div>
                <div data-ng-switch-when="MappedValue">
                    <cs-field data-ng-model="fileMapping.TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" field="fileMappingModel.TempColumn"></cs-field>
                </div>
                <div data-ng-switch-when="DefaultValue">
                    <cs-field data-ng-model="fileMapping.DefaultValue" field="fileMappingModel.DefaultValue"></cs-field>
                </div>
                <div data-ng-switch-when="ExpressionValue">
                    <cs-field data-ng-model="fileMapping.ExpressionValue" field="fileMappingModel.ExpressionValue"></cs-field>
                </div>
            </div>
            <cs-field data-ng-model="fileMapping.Position" field="fileMappingModel.Position"></cs-field>
            <cs-field data-ng-model="fileMapping.OutputPosition" field="fileMappingModel.OutputPosition"></cs-field>
            <cs-field data-ng-model="fileMapping.OutputColumnName" field="fileMappingModel.OutputColumnName"></cs-field>
            <cs-field data-ng-model="fileMapping.StartDate" field="fileMappingModel.StartDate"></cs-field>
            <cs-field data-ng-model="fileMapping.EndDate" field="fileMappingModel.EndDate"></cs-field>
        </cs-field-group>
    </div>

    <div class="modal-footer control-group">
        <div class="controls">
            <button class="btn btn-success" data-ng-show="!isReadOnly" data-ng-click="save(fileMapping)" data-ng-disabled="!formAddfileMapping.$valid">Save</button>
            <button class="btn btn-info" data-ng-show="!isReadOnly" data-ng-click="close('cancel')">Cancel</button>
            <button class="btn btn-info " data-ng-show="isReadOnly" data-ng-click="close('close')">Close</button>
        </div>
    </div>
</form>



<!--<div class="modal-body">
        <div class="control-group">
            <label class="control-label">Actual Table</label>
            <div class="controls">
                <input type="text" data-ng-model="fileMapping.ActualTable" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Temp Table</label>
            <div class="controls">
                <input type="text" data-ng-model="fileMapping.TempTable" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Actual Column</label>
            <div class="controls">
                <input type="text" data-ng-model="fileMapping.ActualColumn" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Value Type</label>
            <div class="controls">
                <select data-ng-model="fileMapping.ValueType" name="ValueType"
                        data-ng-options="c for c in datalayer.dldata.valueTypes"
                        data-ng-change="changeValueType(fileMapping)"
                        data-ng-disabled="isReadOnly" required>
                    <option value="">-- Select File --</option>
                </select>
                <div data-ng-show="formAddfileMapping.ValueType.$dirty && formAddfileMapping.ValueType.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.ValueType.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <div data-ng-switch on="fileMapping.ValueType">
            <div data-ng-switch-when="ExcelValue" class="control-group">
                <label class="control-label">Temp Column</label>
                <div class="controls">
                    <select data-ng-model="fileMapping.TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" data-ng-disabled="isReadOnly" required>
                        <option value="">-- Select File --</option>
                        <option data-ng-repeat="c in datalayer.dldata.fileColumns | orderBy: 'TempColumnName'">{{c.TempColumnName}}</option>
                    </select>
                    <div data-ng-show="formAddfileMapping.TempColumn.$dirty && formAddfileMapping.TempColumn.$invalid">
                        <span class="field-validation-error" data-ng-show="formAddfileMapping.TempColumn.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="MappedValue" class="control-group">
                <label class="control-label">Temp Column</label>
                <div class="controls">
                    <select data-ng-model="fileMapping.TempColumn" name="TempColumn" data-ng-change="changeFileColumn(fileMapping.TempColumn)" data-ng-disabled="isReadOnly" required>
                        <option value="">-- Select File --</option>
                        <option data-ng-repeat="c in datalayer.dldata.fileColumns | orderBy: 'TempColumnName'">{{c.TempColumnName}}</option>
                    </select>
                    <div data-ng-show="formAddfileMapping.TempColumn.$dirty && formAddfileMapping.TempColumn.$invalid">
                        <span class="field-validation-error" data-ng-show="formAddfileMapping.TempColumn.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="DefaultValue" class="control-group">
                <label class="control-label">Default Value</label>
                <div class="controls">
                    <input type="text" name="DefaultValue" data-ng-model="fileMapping.DefaultValue" data-ng-disabled="isReadOnly" required />
                    <div data-ng-show="formAddfileMapping.DefaultValue.$dirty && formAddfileMapping.DefaultValue.$invalid">
                        <span class="field-validation-error" data-ng-show="formAddfileMapping.DefaultValue.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
            <div data-ng-switch-when="ExpressionValue" class="control-group">
                <label class="control-label">Default Value</label>
                <div class="controls">
                    <input type="text" name="ExpressionValue" data-ng-model="fileMapping.DefaultValue" data-ng-disabled="isReadOnly" required />
                    <div data-ng-show="formAddfileMapping.ExpressionValue.$dirty && formAddfileMapping.ExpressionValue.$invalid">
                        <span class="field-validation-error" data-ng-show="formAddfileMapping.ExpressionValue.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">Position</label>
            <div class="controls">
                <input type="text" name="Position" data-ng-model="fileMapping.Position" readonly="readonly" required />
                <div data-ng-show="formAddfileMapping.Position.$dirty && formAddfileMapping.Position.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.Position.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Output Position</label>
            <div class="controls">
                <input type="text" name="OutputPosition" data-ng-model="fileMapping.OutputPosition" required data-ng-disabled="isReadOnly" />
                <div data-ng-show="formAddfileMapping.OutputPosition.$dirty && formAddfileMapping.OutputPosition.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.OutputPosition.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">OutputColumnName</label>
            <div class="controls">
                <input type="text" name="OutputColumnName" data-ng-model="fileMapping.OutputColumnName" data-ng-change="changeFileColumn(fileMapping.TempColumn)" readonly="readonly" required />
                <div data-ng-show="formAddfileMapping.OutputColumnName.$dirty && formAddfileMapping.OutputColumnName.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.OutputColumnName.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">Start Date</label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="StartDate" class="input-medium" data-ng-disabled="isReadOnly" data-ng-required="true" data-ng-model="fileMapping.StartDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
                <div data-ng-show="formAddfileMapping.StartDate.$dirty && formAddfileMapping.StartDate.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.StartDate.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">End Date</label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="EndDate" class="input-medium" data-ng-disabled="isReadOnly" data-ng-required="true" data-ng-model="fileMapping.EndDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
                <div data-ng-show="formAddfileMapping.EndDate.$dirty && formAddfileMapping.EndDate.$invalid">
                    <span class="field-validation-error" data-ng-show="formAddfileMapping.EndDate.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>
    </div>-->
