<form name="pincodeform">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Pincode</strong>
        </div>
        <div class="panel-body">
            <!-- <div class="container ng-cloak">-->
            <cs-form layout="6.3.7">
                <div data-ng-show="(dldata.States.length>0)">
                        <cs-field data-ng-model="selectedState" field="eGPincodeModel.selectedState" data-ng-change="datalayer.changeState(selectedState)"
                                  value-list="dldata.States"></cs-field>
                    <cs-form layout="7" >
                        <cs-button type="add" text="Add New Pincode" permission="ConfigPincodeAddEdit" data-ng-click="openAddEditModal('add')"></cs-button>
                    </cs-form>
                </div>
            </cs-form>
        </div>
    </div>
    <!-- </div>-->
         <div class="form-horizontal" data-ng-show="(dldata.GPincodes.length>0)">
        <div class="col-md-9">
            <label class="col-md-3 control-label">Total Pincode : {{dldata.GPincodes.length}}</label>
        </div>
        <div class="col-md-9">
            <label class="col-md-3 control-label ">Filter Pincode : {{(dldata.GPincodes | filter:search | orderBy: 'Pincode').length}}</label>
        </div>
        <div class="row" style="overflow: auto; height: 600px">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Pincode</th>
                            <th>Area</th>
                            <th>City</th>
                            <th>City Category</th>
                            <th>District</th>
                            <th>Cluster</th>
                            <th>Region</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="search.Pincode" required />
                            </td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="search.Area" required />
                            </td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="search.City" required />
                            </td>
                            <td>
                                <select data-ng-model="search.CityCategory" class="input-medium" data-ui-select2="{allowClear:true}">
                                    <option value=""></option>
                                    <option data-ng-repeat="category in dldata.CityCategory">{{category}}</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="search.District" required />
                            </td>
                            <td>
                                <select data-ng-model="search.Cluster" class="input-medium" data-ui-select2="{allowClear:true}">
                                    <option value=""></option>
                                    <option data-ng-repeat="c in dldata.stateClusters">{{c}}</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="search.Region" required />
                            </td>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="GPincode in dldata.GPincodes | filter:search | orderBy: 'Pincode'">
                        <td>
                            <div class="btn-group">
                                <icon-btn type="edit" permission="ConfigPincodeAddEdit" data-ng-click="openAddEditModal('edit',GPincode)"></icon-btn>
                            </div>
                        </td>
                        <td>{{GPincode.Pincode}}</td>
                        <td>{{GPincode.Area}}</td>
                        <td>{{GPincode.City}}</td>
                        <td>{{GPincode.CityCategory}}</td>
                        <td>{{GPincode.District}}</td>
                        <td>{{GPincode.Cluster}}</td>
                        <td>{{GPincode.Region}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom" style="height: 50px"></div>
</form>


<!--<div class="form-group col-md-5">
        <label class="control-label">State</label>
        <div class="controls">
            <select data-ng-model="selectedState" class="input-large" data-ng-change="changeState(selectedState)" data-ui-select2="">
                <option value=""></option>
                <option data-ng-repeat="s in dldata.States | orderBy: 'toString()'">{{s}}</option>
            </select>
        </div>
    </div>-->
