<!--Add Modal popUp-->
    <div>
        <div class="modal-header well">
            <h3>Add Pincode</h3>
        </div>
        <div data-ng-form="formEditPincode" class="form-horizontal">
            <div class="modal-body">
                <!--Country-->
                <div class="control-group row-fluid">
                    <label class="control-label">Country </label>
                    <div class="controls">
                        <input type="text" value="India" readonly="readonly" />
                    </div>
                </div>
                <!--Region-->
                <div class="control-group row-fluid">
                    <label class="control-label">Region</label>
                    <div class="controls">
                        <select ui-select2 class="input-large" data-ng-model="dldata.GPincodedata.Region" data-ng-change="datalayer.getData(dldata.GPincodedata.Region);factory.regionChange()"
                            data-ng-required="!dldata.isInEditMode">
                            <option></option>
                            <option data-ng-repeat="region in dldata.RegionList |unique:'Region'">{{region}}</option>
                        </select>
                    </div>
                </div>
                <!--State-->
                <div class="control-group row-fluid">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <select class="input-large" data-ng-model="dldata.GPincodedata.State" ui-select2 data-ng-required="!dldata.isInEditMode"
                            data-ng-disabled="!dldata.GPincodedata.Region" data-ng-change="datalayer.getData(dldata.GPincodedata.State);factory.stateChange()">
                            <option></option>
                            <option data-ng-repeat="s in dldata.StateList |unique:'State'">{{s}}</option>
                        </select>
                    </div>
                </div>
                <!--Cluster-->
                <div class="control-group row-fluid">
                    <label class="control-label">Cluster</label>
                    <div class="controls">
                        <select class="input-large" ui-select2 name="cluster" data-ng-model="dldata.GPincodedata.Cluster" data-ng-required="!dldata.isInEditMode"
                            data-ng-disabled="!dldata.GPincodedata.State" data-ng-change="datalayer.getData(dldata.GPincodedata.Cluster);factory.clusterChange()">
                            <option></option>
                            <option data-ng-repeat="clust in dldata.ClusterList |unique:'Cluster' ">{{clust}}</option>
                        </select>
                    </div>
                </div>
                <!--District-->
                <div class="control-group row-fluid">
                    <label class="control-label">District</label>
                    <div class="controls">
                        <select class="input-large" ui-select2 name="district" data-ng-model="dldata.GPincodedata.District" data-ng-required="!dldata.isInEditMode"
                            data-ng-disabled="!dldata.GPincodedata.Cluster" data-ng-change="datalayer.getData(dldata.GPincodedata.District);factory.districtChange()">
                            <option></option>
                            <option data-ng-repeat="dist in dldata.DistrictList |unique:'District' ">{{dist}}</option>
                        </select>
                    </div>
                </div>
                <!--City-->
                <div class="control-group row-fluid">
                    <label class="control-label">City</label>
                    <div class="controls">
                        <span data-ng-hide="dldata.showTextBox">
                            <select class="input-large" ui-select2 data-ng-model="dldata.GPincodedata.City" data-ng-required="!dldata.isInEditMode"
                                data-ng-disabled="!dldata.GPincodedata.District" data-ng-change="factory.cityChange()">
                                <option></option>
                                <option data-ng-repeat="city in dldata.CityList |unique:'City' ">{{city}}</option>
                            </select>
                        </span>
                        <span data-ng-show="dldata.showTextBox">
                            <input type="text" class="input-large" data-ng-model="dldata.GPincodedata.City" data-ng-required="!dldata.isInEditMode" />
                        </span>
                        <button class="btn btn-success" data-ng-click="factory.addNewCity()" data-ng-hide="dldata.showTextBox" data-ng-disabled="!dldata.citydata">Add New City</button>
                        <button class="btn btn-warning" data-ng-click="factory.cancleAddCity()" data-ng-show="dldata.showTextBox">Not Now</button>
                    </div>
                </div>

                <!--City Category-->
                <div class="control-group row-fluid">
                    <label class="control-label">City Category</label>
                    <div class="controls">
                        <select class="input-large" ui-select2 data-ng-model="dldata.GPincodedata.CityCategory"
                            data-ng-disabled="!dldata.GPincodedata.City" data-ng-required="!dldata.isInEditMode">
                            <option></option>
                            <option data-ng-repeat="category in dldata.CityCategoryList">{{category}}</option>
                        </select>
                    </div>
                </div>
                <!--Area-->
                <div class="control-group row-fluid">
                    <label class="control-label">Area</label>
                    <div class="controls">
                        <input type="text" name="area"
                            data-ng-model="dldata.GPincodedata.Area"
                            required
                            typeahead="c for c in datalayer.pincodeArea($viewValue,dldata.GPincodedata.City)"
                            data-ng-change="areaChange()"
                            data-ng-disabled="!dldata.GPincodedata.CityCategory"
                            data-placeholder="Area" />
                        <div data-ng-show="formEditPincode.area.$dirty">
                            <span class="field-validation-error" data-ng-show="formEditPincode.area.$error.required">{{dldata.val.Required()}}</span>
                        </div>
                    </div>
                </div>
                <!--Pincode-->
                <div class="control-group row-fluid">
                    <label class="control-label">Pincode</label>
                    <div class="controls">
                        <input type="text" name="pincode" data-ng-model="dldata.GPincodedata.Pincode" required data-ng-change="factory.pincodedata(dldata.GPincodedata.Pincode)"
                            data-ng-disabled="!dldata.GPincodedata.Area" data-ng-pattern="/^[0-9]{6}$/"
                            typeahead="c for c in datalayer.missingPincode($viewValue)"/>
                        <div data-ng-show="formEditPincode.pincode.$dirty">
                            <span class="field-validation-error" data-ng-show="formEditPincode.pincode.$error.required && !dldata.alreadyExit">{{dldata.val.Required()}}</span>
                            <div class="field-validation-error" data-ng-show="formEditPincode.pincode.$error.pattern">{{dldata.val.Pattern(6)}}</div>
                            <div class="field-validation-error" data-ng-show="dldata.alreadyExit">{{dldata.val.AlreadyExist(dldata.GPincodedata.Pincode)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer well">
                <button class="btn btn-success" data-ng-click="save()" data-ng-disabled="!formEditPincode.$valid || dldata.alreadyExit">Save</button>
                <button class="btn btn-primary" data-ng-hide="dldata.isInEditMode" data-ng-click="reset()">Reset</button>
                <button class="btn btn-warning" data-ng-click="closeAddModal()">Close</button>
            </div>
        </div>
    </div>
