<div>
    <div class="modal-header">
        <h3>Error Modification</h3>
    </div>
    <div ng-form="errorform" class="form-horizontal">
        <div class="modal-body">
            <div data-ng-repeat="c in serverNgGridOptions.columnDefs">
                <div class="form-group row">
                    <label class="control-label">{{c.displayName}}</label>
                    <div class="controls">
                        <input type="text" data-ng-readonly="c.readOnly" data-ng-model="selectedRow[c.field]" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <label class="text-error">{{errorMessage}}</label>
            <button class="btn btn-success" ng-click="save(true)"
                ng-disabled="!errorform.$valid">
                Validate & Save</button>
            <button class="btn btn-success" ng-click="save(false)"
                ng-disabled="!errorform.$valid">
                Save Invalid</button>
            <button class="btn btn-warning" ng-click="closeModel()">Cancel</button>
        </div>
    </div>
</div>
