<style>
    .somemargin {
        margin-left: 25px;
    }
</style>
<div class="row" style="margin-top: 200px">
    <form name="loginform">
        <div class="col-md-offset-4">
            <section class="loginform cf" data-ng-show="hasForgotPassword != true">
                <div class="text-center">
                    <h4>Login</h4>
                </div>
                <form>
                    <div class="form-group somemargin">
                        <!--<div class="control-label">
                                Username
                            </div>-->
                        <div class="controls">
                            <input type="text" placeholder="User Name" autofocus="autofocus" 
                                   data-ng-model="login.username" ng-focus="true">
                        </div>
                    </div>
                    <div class="form-group somemargin">
                        <!--<div class="control-label">
                                Password
                            </div>-->
                        <div class="controls">
                            <input type="password" placeholder="Password" data-ng-model="login.password">
                        </div>
                    </div>
                    <div class="form-group somemargin">
                        <div class="controls">
                            <span class="alert alert-error" data-ng-show="login.error">{{loginErrorMessage}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group somemargin">
                            <div class="controls">
                                <a style="color: blue" data-ng-click="toggleForgotPassword()">Forgot Password</a>
                            </div>
                        </div>-->
                    <div class="form-group somemargin">
                        <div class="controls">
                            <cs-button type="submit" text="Log In" data-ng-click="loginUser()" permission="All"></cs-button>
                            <a style="color: blue" class="pull-right" data-ng-click="toggleForgotPassword()">Forgot Password</a>
                        </div>
                    </div>
                </form>
            </section>
            <section class="loginform cf" data-ng-show="hasForgotPassword == true">
                <h3 class="somemarginH">Reset Password</h3>
                <div data-ng-form="" name="forgotForm">
                    <div class="form-group somemargin">
                        <div class="control-label">
                            Username
                        </div>
                        <div class="controls">
                            <input name="username" type="text" autofocus="autofocus" data-ng-model="forgot.username"
                                   ng-required="true" ng-maxlength="7" ng-minlength="7" data-ng-pattern="/^[0-9]{7}/"
                                   ng-change="validateUser(forgot)">
                        </div>
                    </div>
                    <div class="form-group somemargin">
                        <div class="controls">
                            <span data-ng-show="forgot.username == null" class="alert alert-error">Username must be of 7 digits!!!</span>
                            <span data-ng-show="forgot.username != null && forgot.isUserValid != true" class="alert alert-error">
                                Username does not exist!!!
                            </span>
                            <span data-ng-show="forgot.passwordResetError" class="alert alert-error">
                                Sorry, could not reset password.
                            </span>
                        </div>
                    </div>
                    <div class="form-group somemargin">
                        <div class="controls">
                            <cs-button type="close" data-ng-click="toggleForgotPassword()">Cancel</cs-button>
                            <cs-button type="reset" text="Reset Password" data-ng-disabled="!forgot.isUserValid"
                                       data-ng-click="resetPassword(forgot)"></cs-button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>


