<form name="Gnotificationsform">
    <cs-form layout="12.0.12">
        <div class="panel panel-default">
            <div class="panel-heading">
               EsclationMatrix Details
            </div>
            <div class="panel-body">
               
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-3">NotificationType</th>
                                <th class="col-md-3">EsclationDays </th>
                                <th class="col-md-3">NotifyHierarchy</th>
                                <th class="col-md-3">Actions {{isEdit.toString()}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="data in eMatrixList">
                                <td>
                                    <cs-field data-ng-model="data.NotificationType" 
                                              field="eMatrix.NotificationType" 
                                              data-ng-disabled="true">
                                    </cs-field>
                                </td>
                                <td>
                                    <cs-field data-ng-model="data.EsclationDays" 
                                              field="eMatrix.EsclationDays" 
                                              data-ng-disabled="!data.isEdit">
                                    </cs-field>
                                </td>
                                <td>
                                    <cs-field data-ng-model="data.NotifyHierarchy" 
                                              field="eMatrix.NotifyHierarchy" 
                                              data-ng-disabled="!data.isEdit" >
                                    </cs-field>
                                </td>
                                <td>
                                    <cs-button2 type="edit" permission="All" data-ng-hide="data.isEdit" 
                                                on-click="toggleEdit(data)"></cs-button2>
                                    <cs-button2 type="save" permission="All" data-ng-show="data.isEdit" 
                                                on-click="save(data,$index)"></cs-button2>
                                    <cs-button2 type="cancel" permission="All" data-ng-show="data.isEdit" 
                                                on-click="toggleEdit(data)"></cs-button2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
    </cs-form>
</form>



