@{
    ViewBag.Title = "Error Data Correction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="csapp" data-ng-controller="errorDataCtrl" data-ng-cloak="">
    <div ng-form="error1" class="form-horizontal">
        <div class="success well-small row-fluid">
            <div class="control-group span5">
                <label class="control-label">File Type</label>
                <div class="controls">
                    <select ng-model="fileDetail" data-ng-change="getDateFileSchedulers(fileDetail)" ng-options="c.AliasDescription for c in fileDetails | orderBy:'AliasName'">
                        <option value="">-- Select Type --</option>
                    </select>
                </div>
            </div>

            <div class="control-group span5">
                <label class="control-label">File Date</label>
                <div class="controls">
                    <select ng-model="fileScheduler" data-ng-change="showErrorGrid(fileScheduler)">
                        <option value="">-- Select File --</option>
                        <option data-ng-repeat="c in dateFileSchedulers" value="{{c}}">{{c.FileDate | date:'yyyy-MM-dd'}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div ui-if="gridReady">
            <div class="row-fluid well-small2">
                <div class="span10">
                    <button class="btn btn-success" data-ng-disabled="serverNgGridOptions.data.length<1" data-ng-click="retryErrorData(fileScheduler)">Retry</button>
                </div>
                <label class="span2">Total Error : {{serverNgGridOptions.data.length}}</label>
            </div>
            <div class="gridStyle" style="height: 400px" ng-grid="gridOptions"></div>
        </div>


        <div modal="showModel" close="closeModel()" options="modelOption">
            <div class="modal-header well">
                <h3>Error Modification</h3>
            </div>
            <div ng-form="errorform" class="form-horizontal">
                <div class="modal-body">
                    <div data-ng-repeat="c in serverNgGridOptions.columnDefs">
                        <div class="control-group row-fluid">
                            <label class="control-label">{{c.displayName}}</label>
                            <div class="controls">
                                <input type="text" data-ng-readonly="c.readOnly" data-ng-model="selectedRow[c.field]" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer well">
                    <label class="error">{{errorMessage}}</label>
                    <button class="btn btn-success" ng-click="saveErrorData(selectedRow,selectedRowIndex,true)" ng-disabled="!errorform.$valid"><i class="icon-save" style="color: blue"></i>Validate & Save</button>
                    <button class="btn btn-success" ng-click="saveErrorData(selectedRow,selectedRowIndex,false)" ng-disabled="!errorform.$valid"><i class="icon-save" style="color: blue"></i>Save Invalid</button>
                    <button class="btn btn-warning" ng-click="closeModel()"><i class="icon-rotate-left" style="color: red"></i>Cancel</button>
                </div>
            </div>
        </div>

        <div modal="showDeleteModel" close="noToDelete()" options="modelOption">
            <div class="modal-header well-small2">
                Confirm to Delete
            </div>
            <div class="modal-body">
                Are you sure to Delete?
            </div>
            <div class="modal-footer well">
                <div class="row-fluid">
                    <span class="left">
                        <input type="button" value="Yes" class="btn btn-success" data-ng-click="yesToDelete()" />
                        <input type="button" value="No" class="btn btn-info" data-ng-click="noToDelete()" />
                    </span>
                </div>
            </div>
        </div>


        <!-- modal popup for progress bar -->
        <div modal="showProgressBar" options="{keyboard: false, backdropClick: false}">
            <div class="modal-header text-center">
                <h3>Retrying Error Data</h3>
            </div>
            <div class="modal-body">
                <progress percent="100" class="progress-striped progress-success active"></progress>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>


@section scripts{
    <link href="~/Content/ng-grid.css" rel="stylesheet" />

    <style type="text/css">
        .gridStyle1 {
            border: 1px solid rgb(212,212,212);
            width: 800px;
            height: 500px;
        }
    </style>

    <script src="~/Scripts/ng-grid-2.0.7.js"></script>

    <script src="~/Areas/ErrorCorrection/ViewModels/errorDataCtrl.js"></script>
}

