<cs-form layout="6.4.8">
    <cs-field data-ng-model="Stakeholder.Hierarchy"
              data-ng-change="changeInHierarchy(Stakeholder.Hierarchy)"
              value-list="hierarchyDisplayList"
              field="stakeholderModels.stakeholder.hierarchy"></cs-field>
    <div data-ng-if="Designation">
        <cs-field data-ng-model="Stakeholder.Designation"
                  value-list="Designation"
                  data-ng-change="assignSelectedHier(Stakeholder.Designation)"
                  field="stakeholderModels.stakeholder.designation"></cs-field>
    </div>
</cs-form>

<!-- <div class="form-group ">
                     <label class="control-label">Designation <label style="font-size:large; color:red">*</label></label>
                     <div class="controls">
                         <select
                             data-ng-model="$parent.WizardData.FinalPostModel.SelHierarchy.Designation"
                             class="input-large"
                             data-ui-select2=""
                             data-ng-required="true"
                             data-ng-change="assignSelectedHier()">
                             <option></option>
                             <option data-ng-repeat="data in HierarchyList | filter : {'Hierarchy' : $parent.WizardData.FinalPostModel.SelHierarchy.Hierarchy } | orderBy: 'PositionLevel'"
                                     value="{{data.Id}}">{{data.Designation}} </option>
                         </select>
                     </div>
                 </div>-->


<!--<div class="form-group">
            <label class="control-label">Hierarchy <label style="font-size:large; color:red">*</label></label>
            <div class="controls">
                <select
                    data-ng-model="$parent.WizardData.FinalPostModel.SelHierarchy.Hierarchy"
                    class="input-large"
                    data-ui-select2=""
                    data-ng-requiered="true"
                    data-ng-change="changeInHierarchy()">
                    <option></option>
                    <option
                        data-ng-repeat="data in HierarchyList | unique : 'Hierarchy'"
                        value="{{data.Hierarchy}}">{{data.Hierarchy}}
                    </option>
                </select>
            </div>
        </div>-->
