<div data-ng-form="adhocPayoutform" class="form-horizontal">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5>Adhoc-Payout Screen</h5>
        </div>
        <div class="panel-body">
            <!--Product and Stakeholder-->
            <cs-form layout="4.3.7">
                
                <cs-field data-ng-model="dldata.selectedProduct" field="adhocPayoutbill.selectedProduct"
                          data-ng-change="datalayer.changeProductCategory()" ng-required="true"></cs-field>
                
                <div data-ng-show="dldata.selectedProduct">
                    <cs-field layout="6.4.8" field="adhocPayoutbill.Stakeholder" data-ng-model="dldata.selectedStkholderId"
                              data-ng-change="factory.showData(dldata.selectedStkholderId)"
                              ng-required="true" value-list="dldata.stakeholderList"></cs-field>
                </div> 
                <div data-ng-show="dldata.selectedProduct && dldata.selectedStkholderId">
                    <button class="btn btn-success " data-ng-click="openmodal()">Add</button>
                </div>
                </cs-form>
        </div>
        <!--Table showing details-->
        <div class="row-fluid" style="width: 100%" data-ng-show="dldata.adhocPayoutList.length>0">
            <table class="table table-bordered" style="overflow: auto">
                <thead>
                    <tr>
                        <th>Stakeholder Name</th>
                        <th>Total Amount</th>
                        <th>IsRecurring</th>
                        <th>IsPretax</th>
                        <th>Transaction Type</th>
                        <th>Reasons</th>
                        <th>Description</th>
                        <th>Start Month</th>
                        <th>End Month</th>
                        <th>Tenure</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="adhocpayouts in dldata.adhocPayoutList">
                        <td>{{adhocpayouts.Stakeholder.Name}}</td>
                        <td>{{adhocpayouts.TotalAmount}}</td>
                        <!--IsRecurring-->
                        <td style="text-align: center">
                            <i data-ng-show="{{adhocpayouts.IsRecurring}}" class="btn btn-primary">Yes</i>
                            <i data-ng-hide="{{adhocpayouts.IsRecurring}}" class="btn ">No</i>
                        </td>
                        <td>{{adhocpayouts.IsPretax}}</td>
                        <!--IsCredit-->
                        <td style="text-align: center">
                            <i data-ng-show="{{adhocpayouts.IsCredit}}" class="btn btn-primary">Credit</i>
                            <i data-ng-hide="{{adhocpayouts.IsCredit}}" class="btn ">Debit</i>
                        </td>
                        <td>{{adhocpayouts.ReasonCode}}</td>
                        <td>{{adhocpayouts.Description}}</td>
                        <td>{{adhocpayouts.StartMonth}}</td>
                        <td>{{adhocpayouts.EndMonth}}</td>
                        <td>{{adhocpayouts.Tenure}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div class="form-group col-md-4">
                <label class="control-label">Product</label>
                <div class="controls">
                    <select class="input-large" data-ng-model="dldata.selectedProduct"
                            data-ng-change="datalayer.changeProductCategory()"
                            required>
                        <option value=""></option>
                        <option data-ng-repeat="c in dldata.productsList">{{c}}</option>
                    </select>
                </div>-->
<!--<label class="control-label">Stakeholder Name</label>
                  <div class="controls">
                      <select class="input-large"
                              data-ng-model="dldata.selectedStkholderId"
                              data-ng-change="factory.showData(dldata.selectedStkholderId)"
                              required>
                          <option></option>
                          <optgroup label="Collector">
                              <option data-ng-repeat="c in dldata.stakeholderList | filter:ShowIndividual" value="{{c.Id}}">{{c.Name}}</option>
                          </optgroup>
                          <optgroup label="Agency">
                              <option data-ng-repeat="c in dldata.stakeholderList | filter:!ShowIndividual" value="{{c.Id}}">{{c.Name}}</option>
                          </optgroup>
                      </select>
                  </div>-->
