@{
    ViewBag.Title = "ColloSys: Upload Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Areas/FileUploader/jsControllers/ClientDataDownload.js"></script>
}

<div class="form-horizontal ng-cloak" data-ng-cloak="" data-ng-form="ClientDataDownloadForm" data-ng-controller="ClientDataDownloadCtrl">
    <!-- header filter row -->
    <div class="row-fluid" style="border-color: gray">
        <!-- main clause -->
        <div class="control-group span2">
            <div class="control-label">Download By</div>
            <div class="controls">
                <select class="input-small" data-ui-select2="" data-ng-model="params.ShowDataBy" data-ng-change="ResetControls('ShowDataBy', params)">
                    <option value=""></option>
                    <option value="Product">Product</option>
                    <option value="System">System</option>
                </select>
            </div>
        </div>

        <!-- product -->
        <div class="control-group span2" data-ng-show="params.ShowDataBy === 'Product'">
            <div class="control-label">Product</div>
            <div class="controls">
                <select class="input-small" data-ui-select2="" data-ng-model="params.SelectedProduct" data-ng-change="ResetControls('Product', params)">
                    <option value=""></option>
                    <option data-ng-repeat="p in ProductList">{{p}}</option>
                </select>
            </div>
        </div>

        <!-- System -->
        <div class="control-group span2" data-ng-show="params.ShowDataBy === 'System'">
            <label class="control-label">System</label>
            <div class="controls">
                <select class="input-small" data-ui-select2="" data-ng-model="params.SelectedSystem" data-ng-change="ResetControls('System', params);">
                    <option value=""></option>
                    <option data-ng-repeat="row in fileDetails | unique: 'ScbSystems' | orderBy: 'ScbSystems'" value="{{row.ScbSystems}}">{{row.ScbSystems}}</option>
                </select>
            </div>
        </div>

        <!-- category for product -->
        <div class="control-group span2" data-ng-show=" params.SelectedProduct !== '' ">
            <div class="control-label">Category</div>
            <div class="controls">
                <select class="input-small" data-ui-select2="" data-ng-model="params.SelectedCategory" data-ng-change="ResetControls('Category', params)">
                    <option value=""></option>
                    <option data-ng-repeat="c in CategoryList">{{c}}</option>
                </select>
            </div>
        </div>

        <!-- category for system -->
        <div class="control-group span2" data-ng-show=" params.SelectedSystem !== '' ">
            <div class="control-label">Category</div>
            <div class="controls">
                <select class="input-small" data-ui-select2="" data-ng-model="params.SelectedCategory" data-ng-change="ResetControls('Category', params)">
                    <option value=""></option>
                    <option data-ng-repeat="row in fileDetails | filter:{ScbSystems: params.SelectedSystem} | unique: 'Category' | orderBy: 'Category'" value="{{row.Category}}">{{row.Category}}</option>
                </select>
            </div>
        </div>

        <!-- date -->
        <div class="control-group span2" data-ng-show=" params.SelectedCategory !== '' ">
            <div class="control-label">Date</div>
            <div class="controls">
                <div class="input-append">
                    <input class="input-small" type="text" data-ng-model="params.SelectedDate"
                        data-ng-change="getPagedDataAsync(params);" data-ng-readonly="true" data-bs-datepicker="">
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- grid -->
    <div class="row-fluid" data-ui-if="gridOptions.showGrid == true">
        @GridShared.DisplayGridOptions()
        <div style="height: 500px" data-ng-grid="gridOptions"></div>
    </div>

</div>

