@{
    ViewBag.Title = "WorkingManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid" data-ng-controller="WorkingDemo">
    <h2>WorkingManage</h2>
    <div>
        <select data-ng-model="locLevel"
            data-ng-change="manageDisplay(locLevel)">
            <option data-ng-repeat="data in locationLevel"
                value="{{data}}">{{data}}</option>
        </select>
        <table>
            <thead class="table table-bordered">
                <tr>
                    <th data-ng-show="displayManager.showCountry">Country</th>
                    <th data-ng-show="displayManager.showRegion">Region</th>
                    <th data-ng-show="displayManager.showState">State</th>
                    <th data-ng-show="displayManager.showCluster">Cluster</th>
                    <th data-ng-show="displayManager.showDistrict">District</th>
                    <th data-ng-show="displayManager.showCity">City</th>
                    
                    @*<th>Area</th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-ng-show="displayManager.showCountry"> 
                        <select ><option>India</option></select></td>
                    <td data-ng-show="displayManager.showRegion">
                        <select data-ng-model="workingModel.SelectedPincodeData.Region" data-ng-change="changed.Region=true;setQueryFor()">
                            <option data-ng-repeat="data in workingModel.ListOfRegions" value="{{data}}">
                                {{data}}
                            </option>
                        </select></td>
                    <td data-ng-show="displayManager.showState">
                        <select data-ng-model="workingModel.SelectedPincodeData.State" data-ng-change="changed.State=true;setQueryFor()">
                            <option data-ng-repeat="data in workingModel.ListOfStates" value="{{data}}">
                                {{data}}
                            </option>
                        </select></td>
                    <td data-ng-show="displayManager.showCluster">
                        <select data-ng-model="workingModel.SelectedPincodeData.Cluster" data-ng-change="changed.Cluster=true;setQueryFor()">
                            <option data-ng-repeat="data in workingModel.ListOfClusters" value="{{data}}">
                                {{data}}
                            </option>
                        </select></td>
                     <td data-ng-show="displayManager.showDistrict">
                         <select data-ng-model="workingModel.SelectedPincodeData.District" data-ng-change="changed.District=true;setQueryFor()">
                            <option data-ng-repeat="data in workingModel.ListOfDistricts" value="{{data}}">
                                {{data}}
                            </option>
                        </select></td>
                    <td data-ng-show="displayManager.showCity">
                        <select data-ng-model="selectedPincode.City" data-ng-change="setQueryFor()">
                            <option data-ng-repeat="data in workingModel.ListOfCities" value="{{data}}">
                                {{data}}
                            </option>
                        </select></td>
                   
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section scripts{
    <script src="~/Areas/Stakeholder2/ViewModels/workingdemo.js"></script>
}