<div data-ng-form="billingpolicyDateRangeForm">
    <cs-form layout="8.4.8">
        <div class="modal-header">
            <h3 class="modal-title">{{pageData.Name}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <cs-field data-ng-disabled="!pageData.ForActive" data-ng-model="pageData.StartDate" ng-required="true" field="BillingPolicy.startdate"
                          data-ng-change="pageData.endDate=null;modelDateValidation(pageData.StartDate,pageData.endDate)"></cs-field>
                <cs-field field="BillingPolicy.enddate" data-ng-model="pageData.endDate"
                          data-ng-change="modelDateValidation(pageData.StartDate,pageData.endDate)"></cs-field>

            </div>
        </div>
        <div class="modal-footer text-right" style="margin-top: 10px">
            <cs-button type="delete" text=" Deactivate" data-ng-show="!pageData.ForActive"
                       data-ng-disabled="payoutpolicyDateRangeForm.$invalid"
                       data-ng-click="deactivateSubPoicy(pageData)"></cs-button>
            <cs-button type="save" text="Activate"
                       data-ng-show="pageData.ForActive"
                       data-ng-disabled="!(payoutpolicyDateRangeForm.$valid && dldata.isModalDateValid) "
                       data-ng-click="activateSubPoicy(pageData)"></cs-button>
            <cs-button type="close" data-ng-click="closeModal()"></cs-button>
        </div>
    </cs-form>
</div>



