<cs-form layout="3.4.8">
    <div data-ng-form="payoutTwoPolicyForm">
        <div class="row">

            <cs-field data-ng-model="billingpolicy.Products" data-ng-change="onProductChange()"
                      field="BillingPolicyModel.Products"></cs-field>

            <cs-field data-ng-show="billingpolicy.Products" data-ng-model="billingpolicy.PolicyType"
                      data-ng-change="onPolicyTypeChange()" field="BillingPolicyModel.PolicyType"></cs-field>

            <cs-field data-ng-show="billingpolicy.Products" data-ng-model="billingpolicy.PolicyFor"
                      field="BillingPolicyModel.PolicyFor" data-ng-change="getStakeholderOrHierarchy(billingpolicy.PolicyFor)"></cs-field>

            <div data-ng-if="billingpolicy.PolicyFor == 'Stakeholder' && billingpolicy.Products">
                <cs-field data-ng-model="billingpolicy.PolicyForId" data-ng-change="getSubpolicyList(billingpolicy.Products)"
                          field="BillingPolicyModel.PolicyForStatkeholder" value-list="policyForList"></cs-field>
            </div>
            <div data-ng-if="billingpolicy.PolicyFor == 'Hierarchy' && billingpolicy.Products">
                <cs-field data-ng-model="billingpolicy.PolicyForId" data-ng-change="getSubpolicyList(billingpolicy.Products)"
                          field="BillingPolicyModel.PolicyForHierarchy" value-list="policyForList"></cs-field>
            </div>

            <div data-ng-if="billingpolicy.PolicyFor == 'Product'" data-ng-init="billingpolicy.PolicyForId = billingpolicy.Products">
                <cs-field data-ng-model="billingpolicy.PolicyForId"
                          field="BillingPolicyModel.PolicyForProduct" data-ng-disabled="true" data-ng-change="getSubpolicyList(billingpolicy.Products)"></cs-field>
            </div>
        </div>
        <!--List-->
        <div class="col-md-9" data-ng-show="billingpolicy.Products">
            <div class="col-md-5">
                <cs-list list-heading="Draft/Expired SubPolicy" value-list="ExpiredAndSubpolicy" text-field="Name"
                         data-ng-model="policy" on-click="displaySubpolicyDetails(policy)"></cs-list>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <cs-list list-heading="Approved/UnApproved SubPolicy" value-list="ApproveUnapproved" text-field="Name"
                         data-ng-model="policy" on-click="displaySubpolicyDetails(policy)"></cs-list>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" data-ng-disabled="direction.up" data-ng-click="moveUp(policy)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                <button class="btn btn-success" data-ng-disabled="direction.down" data-ng-click="moveDown(policy)"><i class="glyphicon glyphicon-arrow-down"></i></button>
            </div>
        </div>
    </div>
</cs-form>