<form class="form-horizontal">
    <div class="panel">
        <div class="panel-heading">Schedule File For Upload</div>
        <!-- System -->
        <cs-field data-ng-model="SelectedSystem" field="fileSchedulerfield.SelectedSystem"
            value-list="datalayer.dldata.fileDetailsScbSystems" data-ng-change="SelectedCategory = '';ResetPage();"></cs-field>

        <!-- Product -->
        <div data-ng-show="SelectedSystem">
            <cs-field data-ng-model="SelectedCategory" field="fileSchedulerfield.SelectedCategory"
                value-list="datalayer.dldata.fileDetailsCategory" data-ng-change="ResetPage();changeSelectedFrequency();"></cs-field>
        </div>

        <!-- upload date -->
        <div data-ng-show="SelectedCategory">
            <div data-ng-show="SelectedFrequency == 'Daily'">
                <cs-field data-ng-model="SelectedDate" field="fileSchedulerfield.SelectedDateDaily"
                    data-ng-change="getFileDetails();"></cs-field>
            </div>
            <div data-ng-show="SelectedFrequency == 'Weekly'">
                <cs-field data-ng-model="SelectedDate" field="fileSchedulerfield.SelectedDateWeekly"
                    data-ng-change="getFileDetails();"></cs-field>
            </div>
            <div data-ng-show="SelectedFrequency == 'Monthly'">
                <cs-field data-ng-model="SelectedDate" field="fileSchedulerfield.SelectedDateMonthly"
                    data-ng-change="getFileDetails();"></cs-field>
            </div>
        </div>

        <!-- Display File Upload Controls -->
        <div data-ng-show="SelectedDate" class="row">
            <div data-ng-show="hasUnscheduledFiles">
                <hr />
                <h5>Files to Schedule</h5>
                <div data-ng-repeat="file in datalayer.dldata.fileScheduleDetails.ScheduleInfo | orderBy : 'FileName' | filter: {IsScheduled: 'false'}">
                    <div class="form-group row">
                        <label class="col-md-3 text-left">{{$index + 1}}. {{file.FileName}}</label>
                        <div data-ng-hide="file.IsUploading">
                            <div class="col-md-4">
                                <input type="file" ng-file-select="onFileSelect(file, $files, $index)" />
                            </div>

                            <div class="offset1 col-md-4">
                                <span data-ng-show="file.HasError">{{file.ErrorMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-6" data-ng-show="file.IsUploading">
                            <progressbar class="progress-striped active" value="file.UploadPercent" type="success"></progressbar>
                        </div>
                    </div>

                </div>
            </div>
            <div data-ng-show="hasScheduledFiles" class="row ">
                <hr />
                <h5>Files Scheduled</h5>
                <table class="table table-condensed table-bordered">
                    <tr data-ng-repeat="file in datalayer.dldata.fileScheduleDetails.ScheduleInfo | orderBy : 'FileName' | filter: {IsScheduled: 'true'}">
                        <td class="col-md-1">{{$index + 1}}.</td>
                        <td class="col-md-3">{{file.FileName.substring(16)}}</td>
                        <td class="col-md-1">{{file.FileSize | bytes}}</td>
                        <td class="col-md-3">Scheduled {{file.ScheduleDate | fromNow}}</td>
                        <td class="col-md-2">{{file.FileStatus}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- immediate -->
        <div data-ng-show="hasUnscheduledFiles">
            <div class="row-fluid">
                <span class="span2">
                    <cs-field data-ng-model="datalayer.dldata.fileScheduleDetails.IsImmediate" field="fileSchedulerfield.IsImmediate"></cs-field>
                </span>
                <span class="span4">
                    <cs-field data-ng-model="datalayer.dldata.fileScheduleDetails.ImmediateReason" field="fileSchedulerfield.ImmediateReason"></cs-field>
                </span>
            </div>
        </div>



        <!-- post the form -->
        <div class="text-center" data-ng-show="hasUnscheduledFiles">
            <hr />
            <button class="btn btn-success" data-ng-disabled="validatePage()" data-ng-click="scheduleFiles()">Schedule Files</button>
        </div>

        <!-- END -->
    </div>
</form>










<!-- <div class="form-group row" data-ng-show="datalayer.dldata.fileDetails">
         <label class="control-label">System</label>
         <div class="controls">
             <select class="input-large" data-ui-select2="" data-ng-model="SelectedSystem" name="SelectedSystem"
                     data-ng-change="SelectedCategory = '';ResetPage();">
                 <option value=""></option>
                 <option data-ng-repeat="row in datalayer.dldata.fileDetails | unique: 'ScbSystems' | orderBy: 'ScbSystems'" value="{{row.ScbSystems}}">{{row.ScbSystems}}</option>
             </select>
         </div>
     </div>-->
<!-- <div class="form-group row" data-ng-show="SelectedSystem">
         <label class="control-label">Product</label>
         <div class="controls">
             <select class="input-large" data-ui-select2="" data-ng-model="SelectedCategory" name="SelectedCategory"
                     data-ng-change="ResetPage();changeSelectedFrequency();">
                 <option value=""></option>
                 <option data-ng-repeat="row in datalayer.dldata.fileDetails | filter:{ScbSystems: SelectedSystem} | unique: 'Category' | orderBy: 'Category'" value="{{row.Category}}">{{row.Category}}</option>
             </select>
         </div>
     </div>-->
<!--<div class="form-group row" data-ng-show="SelectedCategory">
        <label class="control-label">File Date</label>
        <div class="controls">
            <div class="input-append">
                <div data-ng-show="SelectedFrequency == 'Daily'">
                    <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="SelectedDate"
                           data-ng-change="getFileDetails();" data-date-days-of-week-disabled="'0'"
                           data-date-start-date="-15d" data-date-end-date="+5d" data-ng-readonly="true"
                           data-bs-datepicker="">
                    <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div data-ng-show="SelectedFrequency == 'Weekly'">
                    <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="SelectedDate"
                           data-ng-change="getFileDetails();" data-date-days-of-week-disabled="'0'"
                           data-date-start-date="-30d" data-date-end-date="+15d" data-ng-readonly="true"
                           data-bs-datepicker="">
                    <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div data-ng-show="SelectedFrequency == 'Monthly'">
                    <input class="input-medium" type="text" name="ScheduleDate" data-ng-model="SelectedDate"
                           data-ng-change="getFileDetails();" data-date-days-of-week-disabled="'0'"
                           data-date-min-view-mode="1" data-date-format="M-yyyy"
                           data-date-start-date="-80d" data-date-end-date="+30d" data-ng-readonly="true"
                           data-bs-datepicker="">
                    <button type="button" class="btn btn-default" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
            </div>
        </div>
    </div>-->
 <!--<div class="form-group row">
                    <label class="control-label">Select Schedule</label>
                    <div class="controls">
                        <div style="float: left; margin-right: 10px" class="well">
                            <input type="radio" id="Immdediate" value="true" data-ng-model="datalayer.dldata.fileScheduleDetails.IsImmediate" name="IsImmediate">
                            <label for="Immdediate">Immediate</label>
                            <br />
                            <input type="radio" id="Nightly" value="false" data-ng-model="datalayer.dldata.fileScheduleDetails.IsImmediate" name="datalayer.dldata.fileScheduleDetails.IsImmediate" checked="checked">
                            <label for="Nightly">Nightly</label>
                            <br />
                        </div>
                        <div data-ng-show="datalayer.dldata.fileScheduleDetails.IsImmediate == 'true'">
                            <textarea data-ng-model="datalayer.dldata.fileScheduleDetails.immedateReason" placeholder="Enter Reason (min 5 characters)"
                                      name="immedateReason"></textarea>
                        </div>
                    </div>
                </div>-->


