<form name="custInfoform">
    <cs-form layout="4.3.8">
        <cs-field data-ng-model="custInfo.Product" field="custInfoModel.Product"></cs-field>
        <cs-field data-ng-model="custInfo.AccountNo" field="custInfoModel.AccountNo"></cs-field>
        <cs-button2 type="save" text="Get Details" permission="FileCustomerData" 
                    on-click="GetCustomerDetails(custInfo)">
        </cs-button2>

    </cs-form>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">CustInfo</div>
        <div class="panel-body">
            <cs-form layout="6.4.8" mode="'view'">
                <cs-field data-ng-model="customerInfos.CustInfo.CustomerName"
                          value-list="customerInfos.CustInfo.CustomerName"
                          field="custInfoModel.CustomerName"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.TotalDue"
                          value-list="customerInfos.CustInfo.TotalDue"
                          field="custInfoModel.TotalDue"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.Cycle"
                          value-list="customerInfos.CustInfo.Cycle"
                          field="custInfoModel.Cycle"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.Bucket"
                          value-list="customerInfos.CustInfo.Bucket"
                          field="custInfoModel.Bucket"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.Pincode"
                          value-list="customerInfos.CustInfo.Pincode"
                          field="custInfoModel.Pincode"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.CustStatus"
                          value-list="customerInfos.CustInfo.CustStatus"
                          field="custInfoModel.CustStatus"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.IsReferred"
                          field="custInfoModel.IsReferred"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.NoAllocResons"
                          value-list="customerInfos.CustInfo.NoAllocResons"
                          field="custInfoModel.NoAllocResons"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.AllocStartDate"
                          value-list="customerInfos.CustInfo.AllocStartDate"
                          field="custInfoModel.AllocStartDate"></cs-field>

                <cs-field data-ng-model="customerInfos.CustInfo.AllocEndDate"
                          value-list="customerInfos.CustInfo.AllocEndDate"
                          field="custInfoModel.AllocEndDate"></cs-field>
            </cs-form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Payment</strong></div>
        <div class="panel-body">
            <div style="overflow: scroll; height: 200px; width: 100%">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>TransCode</th>
                            <th>TransDate</th>
                            <th>TransAmount</th>
                            <th>IsDebit</th>
                        </tr>
                        <tr>
                            <th>
                                <input type="text" class="form-control" data-ng-model="custInfo.TransCode"/>
                            </th>
                            <th>
                                <input type="text" class="form-control" data-ng-model="custInfo.TransDate"/>
                            </th>
                            <th>
                                <input type="text" class="form-control" data-ng-model="custInfo.TransAmount"/>
                            </th>
                            <th>
                                <input type="text" class="form-control" data-ng-model="custInfo.IsDebit"/>
                            </th>
                    </thead>
                    <tbody>
                        <tr>
                        <tr data-ng-repeat="custPayment in customerInfos.Payments">
                            <td>{{custPayment.TransCode}}</td>
                            <td>{{custPayment.TransDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{custPayment.TransAmount}}</td>
                            <td>{{custPayment.IsDebit}}</td>
                        </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>