<div class="panel panel-default">
    <div class="panel-heading">Tax Component List</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Applicable To</th>
                    <th>Industry Zone</th>
                    <th>Apply On</th>
                    <th>TOT Source</th>
                    <th>Description</th>
                </tr>

                <tr>
                    <th class="text-center">
                        <icon-btn type="add" permission="ConfigTaxlistAddEdit" data-ng-click="showAddEditPopup('add')"></icon-btn>
                    </th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.TaxName" /></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.TaxType" /></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.ApplicableTo" /></th>
                    <th></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.ApplyOn" /></th>
                    <th>
                        <input type="text" class="form-control" data-ng-model="search.TotSource" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="tax in taxList | filter: search">
                    <td>
                        <div class="btn-group" style="width: 80px">
                            <icon-btn type="view" permission="ConfigTaxlist" data-ng-click="showAddEditPopup('view', tax)"></icon-btn>
                            <icon-btn type="edit" permission="ConfigTaxlistAddEdit" data-ng-click="showAddEditPopup('edit', tax)"></icon-btn>
                        </div>
                    </td>
                    <td>{{tax.TaxName}}</td>
                    <td>{{tax.TaxType}}</td>
                    <td>{{tax.ApplicableTo}}</td>
                    <td>{{tax.IndustryZone}}</td>
                    <td>{{tax.ApplyOn}}</td>
                    <td>{{tax.TotSource}}</td>
                    <td>{{tax.Description}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row text-center tax-list-box-no-data" data-ng-hide="taxList.length>0">
            <label>No Tax added in list</label>
        </div>
    </div>
</div>
