<tr data-ng-repeat="data in filteredTodos | filter:search">

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.Cycle}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.Cycle}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.AccountNo}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.AccountNo}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.CustomerName}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.CustomerName}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.Pincode}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.Pincode}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.Product}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.Product}}</td>

    <td>{{data.AmountDue}}</td>
    <td>{{data.StartDate | date}}</td>
    <td>{{data.EndDate | date}}</td>
    <td>{{data.IsAllocated}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.ELiner.AllocStatus}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.EWriteoff.AllocStatus}}</td>
</tr>
