<tr data-ng-repeat="data in filteredTodos | filter:search">

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.Cycle}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.Cycle}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.AccountNo}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.AccountNo}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.CustomerName}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.CustomerName}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.Pincode}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.Pincode}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.Product}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.Product}}</td>

    <td>{{data.AmountDue}}</td>
    <td>{{data.StartDate | date}}</td>
    <td>{{data.EndDate | date}}</td>
    <td>{{data.IsAllocated}}</td>

    <td data-ng-show="BulkAllocationModel.Category=='Liner'">{{data.RLiner.AllocStatus}}</td>
    <td data-ng-show="BulkAllocationModel.Category=='Writeoff'">{{data.RWriteoff.AllocStatus}}</td>
</tr>
