<table class="table table-bordered table-hover">
    <thead>
        <tr class="success">
            <th>View
            </th>
            <th>Approve
            </th>
            <th>Reject
            </th>
            <th>Name
            </th>
            <th>Vertical
            </th>
            <th>Designation
            </th>
            <th>Addresses
            </th>
            <th>Payments
            </th>
            <th>Workings
            </th>
        </tr>
        <tr class="success">
            <th></th>
            <th></th>
            <th></th>
            <th style="margin: 0; padding: 0;">
                <div class="input-append">
                    <input type="text" class="input-medium" data-ng-model="search.Name" placeholder="Search by Name">
                    <span class="add-on"><i class="icon-search"></i></span>
                </div>
                @*<input type="search" class="input-medium" data-ng-model="search.Name"/>*@
            </th>
            <th style="margin: 0; padding: 0;">
                <div class="input-append">
                    <input type="text" class="input-medium" data-ng-model="search.Hierarchy" placeholder="Search by Hierarchy">
                    <span class="add-on"><i class="icon-search"></i></span>
                </div>
            </th>
            <th style="margin: 0; padding: 0;">
                <div class="input-append">
                    <input type="text" class="input-medium" data-ng-model="search.Designation" placeholder="Search by Designation">
                    <span class="add-on"><i class="icon-search"></i></span>
                </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="info" ng-repeat="data in listOfStakeholders | filter:search">
            <td>
                <div class="btn-group">
                    <i class="btn icon-edit" data-ng-click="getStakeholder(data,$index)"></i>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <i class="btn icon-check" data-ng-click="showApproveModelFun(data,$index)"></i>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <i class="btn icon-remove" data-ng-click="showRejectModelFun(data, $index)"></i>
                </div>
            </td>
            <td>{{data.Name}}
            </td>
            <td>{{data.Hierarchy}}
            </td>
            <td>{{data.Designation}}
            </td>
            <td>
                @*  <div class="btn-group">
                          <i class="btn icon-edit" data-ng-click="getStakeholderForMulti($index,'Address')"></i>
                      </div>*@
                {{data.GAddress.length}}
            </td>
            <td>
                @*  <div class="btn-group">
                          <i class="btn icon-edit" data-ng-click="getStakeholderForMulti($index,'Payments')"></i>
                      </div>*@
                {{data.StkhPayments.length}}
            </td>
            <td>
                @* <div class="btn-group">
                          <i class="btn icon-edit" data-ng-click="getStakeholderForMulti($index,'Working')"></i>
                      </div>*@
                {{data.StkhWorkings.length}}
            </td>
        </tr>
    </tbody>
</table>

<div modal="showApproveModel" close="noToApprove()" options="modelOption">
    <div class="modal-header well-small2">
        Confirm to Approve
    </div>
    <div class="modal-body">
        Are you sure to Approve?
    </div>
    <div class="modal-footer well">
        <div class="row-fluid">
            <span class="left">
                <input type="button" value="Yes" class="btn btn-success" ng-click="yesToApprove()" />
                <input type="button" value="No" class="btn btn-info" ng-click="noToApprove()" />
            </span>
        </div>
    </div>
</div>

<!-- model for address-->
<div modal="showRejectModel" close="closeModel()" options="modelOption">
    <div class="modal-header well-small2">
        Rejection Reason
    </div>
    <div class="modal-body" ng-form="formReason">
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <textarea required="" ng-model="Description" rows="3" cols="150"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer well">
        <div class="row-fluid">
            <span class="left">
                <input type="button" value="Submit" ng-disabled="!formReason.$valid" class="btn btn-info" ng-click="reject(Stakeholder)" />
                <input type="button" value="Cancel" class="btn btn-danger" ng-click="closeModel()" />
            </span>
        </div>
    </div>
</div>

