 @*<fieldset>
     <legend class="well-small2">Working Details</legend>*@
<div class="span12" data-ng-form="formWorking">
     <!--Row for display lables on top of dropdowns-->
                        <div class="row-fluid">
                            <div class="span2">
                                <label>Product</label>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Country'">
                                <label>Country</label>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Region'">
                                <label>Region</label>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='State'">
                                <label>State</label>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Cluster'">
                                <label>Cluster</label>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='City'">
                                <label>City(Pincode)</label>
                            </div>
                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Area'">
                                <label>Area(Pincode)</label>
                            </div>
                            <div class="span1"></div>
                            <div class="span2" data-ng-show="Hierarchy.HasBuckets">
                                <label>Bucket</label>
                            </div>
                        </div>

                        <!---row contains dropdowns-->
                        <div class="row-fluid">
                            <div class="span2">
                                <select id="product" class="select-working" data-ng-required="Hierarchy.HasWorking" data-ng-model="Stakeholder.Working.Products" data-ng-options="c for c in ProductList">
                                </select>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Country'">
                                <input type="text" value="India" class="input-small" readonly="readonly" />
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Region'">
                                <select id="Region" class="select-working" data-ng-required="Stakeholder.LocationLevel=='Region'" data-ng-model="Stakeholder.Working.Region">
                                    <option>North India</option>
                                    <option>East India</option>
                                    <option>Central India</option>
                                    <option>South India</option>
                                    <option>West India</option>
                                </select>
                            </div>
                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='State'">
                                <select id="state1" class="select-working" data-ng-required="Stakeholder.LocationLevel=='State'" data-ng-model="Stakeholder.Working.State" data-ng-options="c for c in StateList | unique"></select>
                            </div>

                           @* <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Cluster'">
                                <select id="state2" class="select-working" data-ng-required="Stakeholder.LocationLevel=='Cluster'" data-ng-model="Stakeholder.Working.State" data-ng-options="c for c in StateList | unique"></select>
                            </div>*@

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Cluster'">
                                @* <select id="Cluster" class="select-working" data-ng-required="Stakeholder.LocationLevel=='Cluster'" data-ng-model="Stakeholder.Working.Cluster">
                                    <option>North</option>
                                    <option>East</option>
                                    <option>South</option>
                                    <option>West</option>
                                    <option>Central</option>
                                </select>*@
                                 <input type="text" id="Cluster" class="select-working"
                                        data-ng-required="SelLocationLevel=='Cluster'"
                                        data-ng-model="Cluster"
                                        typeahead="c.Cluster for c in Clusters($viewValue)"
                                        typeahead-wait-ms="400">
                                </input>
                            </div>

                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='City'">
                                <input type="text" data-ng-required="Stakeholder.LocationLevel=='City'" class="input-medium" data-ng-model="Pincode" typeahead="c.City for c in Pincodes($viewValue, 'City') " data-ng-change="setLocationCity(Pincode)">
                            </div>
                            
                            <div class="span2" data-ng-show="Stakeholder.LocationLevel=='Area'">
                                <input type="text" data-ng-required="Stakeholder.LocationLevel=='Area'" class="input-medium" data-ng-model="Pincode" typeahead="c.Area for c in Pincodes($viewValue, 'Area')" data-ng-change="setLocationArea(Pincode)">
                            </div>
                            <div class="span1"></div>
                            <div class="span2" data-ng-show="Hierarchy.HasBuckets">
                                <select data-ui-select2="" class="select-working" multiple="multiple" data-ng-required="Hierarchy.HasBuckets" data-ng-model="Stakeholder.BucketStart">
                                    <option value="1">1(0-29)</option>
                                    <option value="2">2(30-59)</option>
                                    <option value="3">3(60-89)</option>
                                    <option value="4">4(90-119)</option>
                                    <option value="5">5(120-149)</option>
                                    <option value="6">6(150-179)</option>
                                    <option value="7">>6(180+)</option>
                                </select>
                            </div>

                            <div class="span2">
                                <input type="button" data-ng-disabled="!formWorking.$valid" value="Add Working" class="btn btn-success" data-ng-click="AddWorking(Stakeholder,Hierarchy)" />
                            </div>
                        </div>

                        <!--row for table to show working list-->
                        <div class="row-fluid" data-ng-show="Stakeholder.StkhWorkings.length>0">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>Delete</th>
                        <th>Product</th>
                        <th>Country</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='Region'">Region</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='Cluster'">State</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='Cluster'">Cluster</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='State' || Stakeholder.LocationLevel=='City' || Stakeholder.LocationLevel=='Area'">State</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='City' || Stakeholder.LocationLevel=='Area'">District</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='City' || Stakeholder.LocationLevel=='Area'">City</th>
                        <th data-ng-show="Stakeholder.LocationLevel=='Area'">Area</th>
                        <th data-ng-show="Hierarchy.HasBuckets">Bucket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="data in Stakeholder.StkhWorkings" class="info">
                        <td>
                            <div class="btn-group" data-ng-show="Stakeholder.StkhWorkings.length>1">
                                <i class="btn icon-trash" data-ng-click="DeleteWorking($index)"></i>
                            </div>
                        </td>
                        <td>
                            {{data.Products}}
                        </td>   
                        <td>
                            {{data.Country}}
                        </td> 
                        <td data-ng-show="Stakeholder.LocationLevel=='Region'">
                            {{data.Region}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='Cluster'">
                            {{data.State}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='Cluster'">
                            {{data.Cluster}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='State'|| Stakeholder.LocationLevel=='City' || Stakeholder.LocationLevel=='Area'">
                            {{data.State}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='City'|| Stakeholder.LocationLevel=='Area'">
                            {{data.District}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='City'|| Stakeholder.LocationLevel=='Area'">
                            {{data.City}}
                        </td>
                        <td data-ng-show="Stakeholder.LocationLevel=='Area'">
                            {{data.Area}}
                        </td>
                        <td data-ng-show="Hierarchy.HasBuckets"> 
                            {{data.BucketStart}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    @*<div class="row-fluid">
        <!--Row for display lables on top of dropdowns-->
        <div class="row-fluid">
            
            <div class="span2">
                <label>Product</label>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Country'">
                <label>Country</label>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Region'">
                <label>Region</label>
            </div>
                        
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Cluster' || Hierarchy.LocationLevel=='State'">
                <label>State</label>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Cluster'">
                <label>Cluster</label>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='City'">
                <label>City</label>
            </div>
            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Area'">
                <label>City</label>
            </div>
            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Area'">
                <label>Area</label>
            </div>

            <div class="span2" data-ng-show="Hierarchy.HasBuckets">
                <label>Bucket</label>
            </div>
        </div>
                        
        <!---row contains dropdowns-->
        <div class="row-fluid" >
            <div class="span2">
                <select id="product" class="select-working" ng-required="Hierarchy.HasWorking"  ng-model="Stakeholder.Working.Products" ng-options="c for c in ProductList" >
                </select>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Country'">
                <input type="text" value="India" class="input-small" readonly="readonly"/>
            </div>
                            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Region'">
                <select id="Region" class="select-working" ng-required="Hierarchy.LocationLevel=='Region'" ng-model="Stakeholder.Working.Region" >
                    <option ng-repeat="data in LocationList | unique:'Region'" value="{{data.Region}}">{{data.Region}}</option>
                </select>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='State'">
                <select id="state" class="select-working" ng-required="Hierarchy.LocationLevel=='State'" ng-model="Stakeholder.Working.State" ng-options="c.State for c in LocationList | unique:'State'"></select>
            </div>

            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Cluster'">
                <select id="state" class="select-working" ng-required="Hierarchy.LocationLevel=='Cluster'" ng-model="Stakeholder.Working.State" ng-options="c.State for c in LocationList | unique:'State'"></select>
            </div>
                                                                                    
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Cluster'">
                <select id="Cluster" class="select-working" ng-required="Hierarchy.LocationLevel=='Cluster'" ng-model="Stakeholder.Working.Cluster" ng-options="c.Cluster for c in LocationList | unique:'Cluster'">
                </select>
            </div>
                            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='City'">
                <select id="City" class="select-working" ng-required="Hierarchy.LocationLevel=='City'" ng-model="Stakeholder.Working.City" ng-options="c.City for c in LocationList | unique:'City'" >
                </select>
            </div>
            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Area'">
                <select id="City" class="select-working" ng-required="Hierarchy.LocationLevel=='Area'" ng-model="Stakeholder.Working.City" ng-options="c.City for c in LocationList | unique:'City'" >
                </select>
            </div>
            
            <div class="span2" data-ng-show="Hierarchy.LocationLevel=='Area'">
                <select id="Area" class="select-working" ng-required="Hierarchy.LocationLevel=='Area'" ng-model="Stakeholder.Working.Area" ng-options="c.Area for c in LocationList | filter:Stakeholder.Working.City | unique:'Area'" >
                </select>
            </div>
                            
            <div class="span2" data-ng-show="Hierarchy.HasBuckets">
               
                <select id="Bucket" ui-select2 class="select-working" multiple="multiple" ng-required="Hierarchy.HasBuckets" ng-model="Stakeholder.BucketStart">
                    <option value="1">1(0-29)</option>
                    <option value="2">2(30-59)</option>
                    <option value="3">3(60-89)</option>
                    <option value="4">4(90-119)</option>
                    <option value="5">5(120-149)</option>
                    <option value="6">6(150-179)</option>
                    <option value="7">>6</option>
                </select>
            </div>

            <div class="span2">
                <input type="button" ng-disabled="!formWorking.$valid" value="Add Working" class="btn btn-success" ng-click="AddWorking(Stakeholder)" />
            </div>
        </div>
                      
        <!--row for table to show working list-->
        <div class="row-fluid" data-ng-show="Stakeholder.StkhWorkings.length>0">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>Delete</th>
                        <th>Product</th>
                        <th>Country</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='Region'">Region</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='Cluster'">Cluster</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='State' || Hierarchy.LocationLevel=='City'">State</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='City'">District</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='City'">City</th>
                        <th data-ng-show="Hierarchy.LocationLevel=='Area'">Area</th>
                        <th data-ng-show="Hierarchy.HasBuckets">Bucket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in Stakeholder.StkhWorkings" class="info">
                        <td>
                            <div class="btn-group" data-ng-show="Stakeholder.StkhWorkings.length>1">
                                <i class="btn icon-trash" data-ng-click="DeleteWorking($index)"></i>
                            </div>
                        </td>
                        <td>
                            {{data.Products}}
                        </td>   
                        <td>
                            {{data.Country}}
                        </td> 
                        <td data-ng-show="Hierarchy.LocationLevel=='Region'">
                            {{data.Region}}
                        </td>
                        <td data-ng-show="Hierarchy.LocationLevel=='Cluster'">
                            {{data.Cluster}}
                        </td>
                        <td data-ng-show="Hierarchy.LocationLevel=='State' || Hierarchy.LocationLevel=='City'">
                            {{data.State}}
                        </td>
                        <td data-ng-show="Hierarchy.LocationLevel=='City'">
                            {{data.District}}
                        </td>
                        <td data-ng-show="Hierarchy.LocationLevel=='City'">
                            {{data.City}}
                        </td>
                        <td data-ng-show="Hierarchy.LocationLevel=='Area'">
                            {{data.Area}}
                        </td>
                        <td data-ng-show="Hierarchy.HasBuckets"> 
                            {{data.BucketStart}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> *@
</div>   
     @*</fieldset>*@