

    <!-- Row 1 tan no and pan no -->
    <div class="row-fluid">
        <div class="control-group span6">
           <label class="control-label">TAN:</label>
            <div class="controls">
                <input type="text" readonly  ng-model="Stakeholder.StkhRegistrations[0].TanNo"/>
            </div>
        </div>
        <div class="control-group span6">
           <label class="control-label">PAN:</label>
            <div class="controls">
                <input type="text" readonly ng-model="Stakeholder.StkhRegistrations[0].PanNo"/>
            </div>
        </div>
    </div>
                    
    <!-- Row 2  registration no and service tax no-->
    <div class="row-fluid">
       <div class="control-group span6">
           <label class="control-label">Registration:</label>
            <div class="controls">
                <input type="text" readonly ng-model="Stakeholder.StkhRegistrations[0].RegistrationNo"/>
            </div>
        </div>
        <div class="control-group span6">
           <label class="control-label">Service Tax:</label>
            <div class="controls">
                <input type="text" readonly ng-model="Stakeholder.StkhRegistrations[0].ServiceTaxno"/>
            </div>
        </div>
    </div>
