
 <div class="span12" ng-form="formAddress">
 <div class="row-fluid">
     <div class="row-fluid">
         <div class="control-group span6">
             <label class="control-label">Address Type:</label>
             <div class="controls">
                 <select id="addressType" required ng-model="Stakeholder.Address.AddressType" style="min-width: 200px;">
                     <option value="Head Office">Head Office</option>
                     <option value="Local Office">Local Office</option>
                     <option value="Registered Office">Registered Office</option>
                 </select>
             </div>
         </div>
     </div>

     <div class="row-fluid">
         
         <div class="control-group span6">
             <label class="control-label">Line 1:</label>
             <div class="controls">
                 <input type="text" required ng-model="Stakeholder.Address.Line1"/>
             </div>
         </div>
         <div class="control-group span6">
             <label class="control-label">Line 2:</label>
            
             <div class="controls">
                 <input type="text" ng-model="Stakeholder.Address.Line2"/>
             </div>
         </div>
     </div>

     <div class="row-fluid">
         <div class="control-group span6">
         <label class="control-label">Line 3:</label>
            
             <div class="controls">
                 <input type="text" ng-model="Stakeholder.Address.Line3"/>
             </div>
         </div>
     </div>

     <div class="row-fluid">
         <div class="control-group span6">
             <label class="control-label">Landline no:</label>
            
             <div class="controls">
                 <input type="text" ng-model="Stakeholder.Address.LandlineNo"/>
             </div>
         </div>
         <div class="control-group span6">
             <label class="control-label">Pincode:</label>
          
             <div class="controls">
                 <input type="text" required ng-pattern="/^[0-9][0-9][0-9][0-9][0-9][0-9]$/" ng-model="Stakeholder.Address.Pincode"/>
             </div>
         </div>
     </div>
     
     <div class="control-group span6">
         <div class="controls">
             <input type="button" ng-show="!Hierarchy.HasMultipleAddress" ng-disabled="!formAddress.$valid || addressCount >0" value="Add Address" class="btn btn-success" ng-click="AddAddressSingleIndividual(Stakeholder,Hierarchy.HasMultipleAddress)"/>
         </div>
     </div>

     @*</fieldset>*@

     <!--table for displaying added addresses-->
     <div class="row-fluid" ng-show="Stakeholder.GAddress.length>0">
         <table class="table table-bordered table-hover">
             <thead>
                 <tr class="success">
                     <th>Address Type</th>
                     <th>Is Official</th>
                     <th>Line 1</th>
                     <th>Line 2</th>
                     <th>Line 3</th>
                     <th>Landline No</th>
                     <th>Pincode</th>
                 </tr>
             </thead>
             <tbody>
                 <tr class="info" ng-repeat="c in Stakeholder.GAddress">
                     <td>{{c.AddressType}}</td>
                     <td>{{c.IsOfficial}}</td>
                     <td>{{c.Line1}}</td>
                     <td>{{c.Line2}}</td>
                     <td>{{c.Line3}}</td>
                     <td>{{c.LandlineNo}}</td>
                     <td>{{c.Pincode}}</td>
                 </tr>
             </tbody>
         </table>
     </div>
 </div>
     </div>