@{
    ViewBag.Title = "DownLoadDatabaseTables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="databaseTablesCtrl">
    <div class="row-fluid form-horizontal">
        <div>
             <button class="btn btn-warning" data-ng-click="downloadTables()">Download</button>
            <ul style="height:200px">
                <li data-ng-repeat="table in ckbTables">
                    <label>
                        <input type="checkbox" data-ng-model="table.Checked">
                        {{table.Name}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div>
    </div>

</div>


@section scripts{
<script src="~/Areas/Developer/ViewModels/DatabaseTablesCtrl.js"></script>
}