@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Areas/Generic/ViewModels/stakePermission.js"></script>
}

<div data-ng-controller="stkPermissionCtrl" data-ng-cloak="" data-ng-form="frmPermission" class="form-horizontal">
    <!-- hierarchies part -->
    <div class="row-fluid">
        <div class="panel">
            <div class="panel-heading">Designation</div>
            <div class="row-fluid">
                <div class="control-group span5">
                    <label class="control-label">Vertical</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.Vertical" class="input-large"
                            data-ng-change="clearOnVertical(SelectedHier)" data-ui-select2="">
                            <option value="Field">Field</option>
                            <option value="Telecalling">Telecalling</option>
                            <option value="BackOffice">BackOffice</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span7">
                    <label class="control-label">Designation</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.HierarchyId" class="input-xlarge"
                            data-ui-select2="" data-ng-change="changeHierarchy(SelectedHier)">
                            <option value=""></option>
                            <option data-ng-repeat="row in stakeHierarchy | filter : {'Hierarchy' : SelectedHier.Vertical } | orderBy: 'PositionLevel'"
                                value="{{row.Id}}">{{row.Designation}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- permissions part -->
    <div data-ng-show="Hierarchy">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="input-medium">Activity </th>
                <th class="input-medium">Escalation Days</th>
                <th class="input-medium">{{Hierarchy.Designation}}
                </th>
            </tr>
            <tr data-ng-repeat="activity in Activities">
                <td class="alert alert-info">{{activity}}</td>
                <td>
                    <input data-ng-init="escalationDays=getEscalationDays(activity)"
                        type="number"
                        data-ng-model="escalationDays"
                        data-ng-change="changeDays(activity,escalationDays)"
                        class="input-medium" />
                </td>
                <td>
                    <select data-ng-init="SelectPermission=getPermission(activity)"
                        data-ng-model="SelectPermission"
                        data-ng-change="changePermission(activity,SelectPermission,escalationDays)"
                        data-ng-options="c for c in enumPermission"
                        class="input-medium">
                    </select>
                </td>
            </tr>
        </table>
        <hr />
        <div class="text-center">
            <button class="btn btn-success" data-ng-click="SavePermissions()">Save</button>
        </div>
    </div>
</div>
