@{
    ViewBag.Title = "PermissionScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PermissionScreen</h2>
@section scripts{
    <script src="~/Areas/Generic/ViewModels/PermissionScreenJS.js"></script>

}

<div data-ng-controller="stkPermissionCtrl" data-ng-cloak="" data-ng-form="frmPermission" class="form-horizontal">
    <!-- hierarchies part -->
    <div class="row-fluid">
        <div class="panel">
            <div class="panel-heading">Designation</div>
            <div class="row-fluid">

                <div class="control-group span5">
                    <label class="control-label">Activity</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.Activity" class="input-xlarge"
                            data-ui-select2="" data-ng-change="changeActivity()">
                            <option value=""></option>
                            <option data-ng-repeat="activity in Activities">{{activity}}</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span7">
                    <label class="control-label">Vertical</label>
                    <div class="controls">
                        <select data-ng-model="SelectedHier.Vertical" class="input-large"
                            data-ng-change="clearOnVertical(SelectedHier.Vertical);setFinalPermission(SelectedHier.Vertical,SelectedHier.Activity)" data-ui-select2="">
                            <option value="Field">Field</option>
                            <option value="Telecalling">Telecalling</option>
                            <option value="BackOffice">BackOffice</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- permissions part -->
    <div data-ng-if="designationshow" style="overflow: auto; height: 500px">
        <form name="permissionForm">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Designation</th>
                    <th>Permission</th>
                    <th>Escalation Days</th>
                </tr>
                <tr data-ng-repeat="row in SortedHierarchyList">
                    <td>{{row.Designation}}</td>
                    <td>
                        <select data-ng-init="SelectPermission[$index]=getPermission(row.Id,SelectedHier.Activity)"
                            data-ng-model="SelectPermission[$index]"
                            data-ng-change="changePermission1(SelectedHier.Activity,SelectPermission[$index],row,$index)"
                            data-ng-options="c for c in enumPermission"
                            data-ng-disabled="enableSelect(row.PositionLevel,selectedposition,$index)"
                            class="input-medium">
                        </select>
                    </td>
                    <td>
                        <select data-ui-select2=""
                            data-ng-disabled="enableEscalation(row,SelectedHier.Activity,$index)" 
                            @*data-ng-required="SelectPermission[$index]==='Approve'"*@
                            class="input-mini"
                            data-ng-model="eccalationDays[$index]"
                            data-ng-change="assignEscalationDay(eccalationDays[$index],row)">
                            <option></option>
                            <option data-ng-repeat="data in escDate">{{data}}</option>
                        </select></td>
                </tr>
            </table>
            <hr />
            <div class="text-center">
                <button data-ng-disabled="permissionForm.$invalid" class="btn btn-success" data-ng-click="SavePermission()">Save</button>
            </div>
        </form>
    </div>
</div>
@*<div data-ng-show="Hierarchy">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="input-medium">Designation </th>
                <th class="input-medium">Escalation Days</th>
                <th class="input-medium">{{Hierarchy.Designation}}
                </th>
            </tr>
            <tr data-ng-repeat="activity in Activities">
                <td class="alert alert-info">{{activity}}</td>
                <td>
                    <input data-ng-init="escalationDays=getEscalationDays(activity)"
                        type="number"
                        data-ng-model="escalationDays"
                        data-ng-change="changeDays(activity,escalationDays)"
                        class="input-medium" />
                </td>
                <td>
                    <select data-ng-init="SelectPermission=getPermission(activity)"
                        data-ng-model="SelectPermission"
                        data-ng-change="changePermission(activity,SelectPermission,escalationDays)"
                        data-ng-options="c for c in enumPermission"
                        class="input-medium">
                    </select>
                </td>
            </tr>
        </table>
        <hr />
        <div class="text-center">
            <button class="btn btn-success" data-ng-click="SavePermissions()">Save</button>
        </div>
    </div>*@