<div class="form-horizontal">
    <form name="changepasswordform">
        <div class="panel panel-default">
            <div class="panel-heading">ChangePassword</div>
            <div class="panel-body">
                <div class="row">
                    <!-- Name -->
                    <div class="col-md-8" style="margin-bottom: 7px">
                        <label class="col-md-3 control-label">UserName</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" data-ng-model="UserName" readonly />
                        </div>
                    </div>

                    <!-- current password -->
                    <div class="col-md-8" style="margin-bottom: 7px">
                        <label class="col-md-3 control-label">Enter current password</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" data-ng-model="changepassword.Currentpassword"
                                data-ng-minlength="8" data-ng-maxlength="20" required="true" />
                            <!--currentpassword Validation-->
                            <div data-ng-show="changepasswordform.currentpassword.$dirty && changepasswordform.currentpassword.$invalid">
                                <span class="field-validation-error" data-ng-show="changepasswordform.currentpassword.$error.required">{{val.Required()}}</span>
                            </div>
                        </div>
                    </div>


                    <!-- New password -->
                    <div class="col-md-8" style="margin-bottom: 7px">
                        <label class="col-md-3 control-label">New password</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="Newpassword"
                                data-ng-model="changepassword.Newpassword"
                                data-ng-minlength="8" data-ng-maxlength="20"
                                required="true" />
                            <span class="help-block">Length between 8-20 characters</span>
                            <!--Newpassword Validation-->
                            <div data-ng-show="changepasswordform.Newpassword.$dirty && changepasswordform.Newpassword.$invalid">
                                <span class="field-validation-error" data-ng-hide="changepasswordform.Newpassword.$error.required">{{val.Required()}}</span>
                            </div>
                        </div>
                    </div>


                    <!-- Confirm password -->
                    <div class="col-md-8" style="margin-bottom: 7px">
                        <label class="col-md-3 control-label">Confirm password</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="confirm_password"
                                data-ng-model="changepassword.Confirmpassword"
                                data-ng-minlength="8" data-ng-maxlength="20"
                                ui-validate="{'match' : '$value==changepassword.Newpassword' }"
                                ui-validate-watch=" 'Newpassword' "
                                required="true" />
                        </div>
                    </div>

                    <div class="text-center col-md-7">
                        <cs-button type="save" text="Change" data-ng-click="SavePassword(changepassword)"
                            data-ng-disabled="!changepasswordform.$valid"></cs-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
