<div class="form-horizontal">
    <div data-ng-form="changepasswordform">
        <div class="panel">
            <div class="panel-heading">ChangePassword</div>


            <!-- Name -->
            <div class="control-group row-fluid">
                <label class="control-label">UserName</label>
                <div class="controls">
                    <input type="text" class="input-large" data-ng-model="UserName" readonly />
                </div>
            </div>

            <!-- current password -->
            <div class="control-group row-fluid">
                <label class="control-label">Enter current password</label>
                <div class="controls">
                    <input type="password" class="input-large" data-ng-model="changepassword.Currentpassword"
                        data-ng-minlength="8" data-ng-maxlength="20" required="true" />
                    <!--currentpassword Validation-->
                    <div data-ng-show="changepasswordform.currentpassword.$dirty && changepasswordform.currentpassword.$invalid">
                        <span class="field-validation-error" data-ng-show="changepasswordform.currentpassword.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>

            <!-- New password -->
            <div class="control-group row-fluid">
                <label class="control-label">New password</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="password" class="input-large" name="Newpassword"
                               data-ng-model="changepassword.Newpassword"
                               data-ng-minlength="8" data-ng-maxlength="20" required="true" />
                        <!--Newpassword Validation-->
                        <div data-ng-show="changepasswordform.Newpassword.$dirty && changepasswordform.Newpassword.$invalid">
                            <span class="field-validation-error" data-ng-show="changepasswordform.Newpassword.$error.required">{{val.Required()}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Confirm password -->
            <div class="control-group row-fluid">
                <label class="control-label">Confirm password</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="password" class="input-large" name="confirm_password"
                            data-ng-model="changepassword.Confirmpassword"
                            data-ng-minlength="8" data-ng-maxlength="20"
                            ui-validate="{'match' : '$value==changepassword.Newpassword' }"
                            ui-validate-watch=" 'Newpassword' "
                            required="true" />
                    </div>
                </div>
            </div>

            <div class="controls">
                <button class="btn btn-success" data-ng-click="SavePassword(changepassword)"
                    data-ng-disabled="!changepasswordform.$valid">
                    Change</button>
            </div>


        </div>
    </div>
</div>
