<div class="row">
    <div class="alert alert-info" style="word-wrap:normal;">
        <label style="padding-left: 15px;" data-ng-repeat="d in tokens.selected track by $index">{{d.text| changetext}}</label>
    </div>
    <div class="row" data-ng-show="tokens.error">
        <div class="alert alert-warning">
            <label>{{tokens.error}}</label>
        </div>
    </div>
    <div class="row" data-ng-form="addForm">

        <div class="col-md-pull-7">
            <input type="text" data-ng-model="filter.filterString"
                   typeahead="c.value as c.text for c in tokens.tokensList | filter:{text:$viewValue} | limitTo:8"
                   typeahead-min-length="0"
                   typeahead-on-select="addToken($item,$model,$label)" class="form-control">
        </div>
        <div class="col-md-pull-4">
            <input type="submit" value="Add Value"
                   data-ng-click="addValue(filter.filterString)"
                   class="btn btn-default">
            <input type="button"
                   class="btn btn-default"
                   value="Reset"
                   data-ng-click="reset()" />
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td class="col-md-3">Type:</td>
            <td class="col-md-9">{{type}}</td>
        </tr>
        <tr>
            <td>Last Selected Token</td>
            <td>{{tokens.lastToken.text}}</td>
        </tr>
        <tr>
            <td>Second Last Selected Token:</td>
            <td>{{tokens.secondLastToken.text}}</td>
        </tr>
        <tr>
            <td>
                Added Tokens List
            </td>
            <td>
                <table class="table table-bordered">
                    <tr data-ng-repeat="d in tokens.selected">
                        <td>
                            {{d.text}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Total Tokens Available</td>
            <td>{{tokens.tokensList.length}}</td>
        </tr>
    </table>
</div>