<form name="confimationform">
    <div class="modal-header">
        <h4>{{modalOptions.headerText}}</h4>
    </div>
    <div class="modal-body">
        <p>{{modalOptions.bodyText}}</p>
    </div>
    <div class="modal-footer">
        <cs-button type="cancel" text="{{modalOptions.closeButtonText}}"
            data-ng-click="modalOptions.close()">
            {{modalOptions.closeButtonText}}</cs-button>
        <cs-button type="ok" text="{{modalOptions.actionButtonText}}"
            data-ng-click="modalOptions.ok();">
            {{modalOptions.actionButtonText}}</cs-button>
    </div>
</form>
