<style>
    .somemargin {
        margin-left: 50px;
        color: white;
    }
</style>
<div>
    <div style="height: 50px"></div>
    <div class="row">
        <div class="offset1 span4">
            <img style="width: 90%" src="/Content/images/stanc/SCBLoginImage.gif" />
        </div>
        <div class="span4" style="background-color: #0094D2;">
            <h3 class="somemargin">Please Log In</h3>
            <form>
                <div class="control-group somemargin">
                    <div class="control-label">
                        Username
                    </div>
                    <div class="controls">
                        <input type="text" autofocus="autofocus" data-ng-model="login.username">
                    </div>
                </div>
                <div class="control-group somemargin">
                    <div class="control-label">
                        Password
                    </div>
                    <div class="controls">
                        <input type="password" data-ng-model="login.password">
                    </div>
                </div>
                <div class="control-group somemargin">
                    <div class="controls">
                        <span class="alert alert-error" data-ng-show="login.error">{{loginErrorMessage}}</span>
                    </div>
                </div>
                <div class="control-group somemargin">
                    <div class="controls">
                        <a style="color: blue">Forgot Password</a>
                    </div>
                </div>
                <div class="control-group somemargin">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" data-ng-click="loginUser(login)">
                            Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="height: 50px"></div>
</div>
