<div class="row">
    <div class="centered">
        <div class="col-lg-7">
            <img src="/Content/images/stanc/SCBLoginImage.gif" />
        </div>
        <div class="col-lg-5">
            <h3>Please Log In</h3>
            <form role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">Username</label>
                    <input type="text" class="form-control" id="inputUsernameEmail">
                </div>
                <div class="form-group">
                    <a class="pull-right" href="#">Forgot password?</a>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn btn-primary">
                    Log In
                </button>
            </form>
        </div>
    </div>
</div>
