<nav class="navbar" data-ng-show="$csAuthFactory.hasLoggedIn()">
    <div class=" navbar-inner">
        <a class="brand" ng-href="/">ColloSys</a>
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File Upload<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/fileupload/filedetail">File Detail</a></li>
                    <li><a href="/fileupload/filecolumn">File Column</a></li>
                    <li><a href="/fileupload/filemapping">File Mapping</a></li>
                    <li><a href="/fileupload/filescheduler">Upload Data</a></li>
                    <li><a href="/fileupload/filestatus">Check Status</a></li>
                    <li><a href="/fileupload/clientdatadownload">Data Download</a></li>
                    <li><a href="/fileupload/customerinfo">Customer Info</a></li>
                    <li><a href="/fileupload/paymentchanges">Payment Changes</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stakeholder<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/stakeholder/add">Add</a></li>
                    <li><a href="/stakeholder/view">View</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Allocation<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/allocation/policy">Policy</a></li>
                    <li><a href="/allocation/subpolicy">Subpolicy</a></li>
                    <li><a href="/allocation/viewapprove">View/Approve</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/billing/policy">Policy</a></li>
                    <li><a href="/billing/subpolicy">Subpolicy</a></li>
                    <li><a href="/billing/formula">Formula</a></li>
                    <li><a href="/billing/matrix">Matrix</a></li>
                    <li><a href="/billing/adhoc">AdHoc</a></li>
                    <li><a href="/billing/readybilling">Ready Billing</a></li>
                    <li><a href="/billing/status">Status</a></li>
                    <li><a href="/billing/summary">Summary</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/generic/hierarchy/add">Add Hierarchy</a></li>
                    <li><a href="/generic/hierarchy">View/Edit Hierarchy</a></li>
                    <li><a href="/generic/permissionscreen">PermissionsScreen</a></li>
                    <li><a href="/generic/product">Products</a></li>
                    <li><a href="/generic/keyvalue">KeyValue</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dev Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/developer/logdownload">System Explorer</a></li>
                    <li><a href="/developer/generatedb">Generate DB</a></li>
                    <li><a href="/developer/viewdbtables">DB Tables</a></li>
                    <li><a href="/developer/queryexecuter">Execute Query</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="color: green " data-toggle="dropdown">Welcome, {{$csAuthFactory.getUsername()}}!!!<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/generic/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>            
        </ul>
    </div>
</nav>
