<div data-ng-form="formAddfileColumn" class="form-horizontal">

    <div class="modal-header">
        {{modelTitle}} 
    </div>

    <div class="modal-body">
        <cs-field-group mode="mode">
            <cs-field data-ng-model="fileColumn.FileColumnName" field="fileColumnModel.FileColumnName" data-ng-disabled="isReadOnly"></cs-field>
            <cs-field data-ng-model="fileColumn.Position" field="fileColumnModel.Position"></cs-field>
            <cs-field data-ng-model="fileColumn.Length" field="fileColumnModel.Length"></cs-field>
            <cs-field data-ng-model="fileColumn.ColumnDataType" field="fileColumnModel.ColumnDataType"></cs-field>
            <cs-field data-ng-model="fileColumn.TempColumnName" field="fileColumnModel.TempColumnName"></cs-field>
             <cs-field data-ng-model="fileColumn.ColumnDataType" field="fileColumnModel.ColumnDataType"></cs-field>
            <div data-ng-show="isDateTypeColumn(fileColumn.ColumnDataType)">
                <cs-field data-ng-model="fileColumn.DateFormat" field="fileColumnModel.DateFormat"></cs-field>
            </div>
            <cs-field data-ng-model="fileColumn.StartDate" field="fileColumnModel.StartDate"></cs-field>
            <cs-field data-ng-model="fileColumn.EndDate" field="fileColumnModel.EndDate"></cs-field>
        </cs-field-group>
    </div>

    <div class="modal-footer control-group">
        <div class="controls">
            <button class="btn btn-success" data-ng-show="!isReadOnly" data-ng-click="add(fileColumn,fileDetail)" data-ng-disabled="!formAddfileColumn.$valid">Save</button>
            <button class="btn btn-info" data-ng-show="!isReadOnly" data-ng-click="close()">Cancel</button>
        </div>
    </div>

</div>


<!-- <div class=" row-fluid control-group">
            <label class="control-label">Excel Column Name </label>
            <div class="controls">
                <input type="text" name="ColumnName" data-ng-model="fileColumn.FileColumnName" data-ng-disabled="isReadOnly" data-ng-required="true" placeholder="Enter File Column Name" />
                <div data-ng-show="form.ColumnName.$dirty && form.ColumnName.$invalid">
                    <span class="field-validation-error" data-ng-show="form.ColumnName.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

      
        <div class="row-fluid control-group">
            <label class="control-label">Position </label>
            <div class="controls">
                <input type="number" name="Position" min="0" max="{{fileDetail.FileColumns.length}}" data-ng-model="fileColumn.Position" data-ng-disabled="isReadOnly" data-ng-required="true" placeholder="Enter the Column Position" />
                <div data-ng-show="form.Position.$dirty && form.Position.$invalid">
                    <span class="field-validation-error" data-ng-show="form.Position.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

       
        <div class="row-fluid control-group">
            <label class="control-label">Length </label>
            <div class="controls">
                <input type="number" min="0" name="Length" data-ng-model="fileColumn.Length" data-ng-required="true" placeholder="Enter the Column Length" />
                <div data-ng-show="form.Length.$dirty && form.Length.$invalid">
                    <span class="field-validation-error" data-ng-show="form.Length.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

       
        <div class="row-fluid control-group">
            <label class="control-label">Column Data Type </label>
            <div class="controls">
                <select class="input-medium" data-ng-model="fileColumn.ColumnDataType" name="ColumnDataType" data-ng-required="true" data-placeholder="Select Column Type">
                    <option value=""></option>
                    <option data-ng-repeat="type in datalayer.dldata.dataTypes">{{type}}</option>
                </select>
                <div data-ng-show="form.ColumnDataType.$dirty && form.ColumnDataType.$invalid">
                    <span class="field-validation-error" data-ng-show="form.ColumnDataType.$error.required">{{val.Required()}}</span>
                </div>
            </div>
        </div>

      
        <div class="row-fluid control-group">
            <label class="control-label">DB Column Name </label>
            <div class="controls">
                <input type="text" data-ng-model="fileColumn.TempColumnName" data-ng-pattern="/^\w*$/" data-ng-required="true" placeholder="Enter Temporary Column Name" />
            </div>
        </div>

      
        <div class="row-fluid control-group" data-ng-show="factory.isDateTypeColumn(fileColumn.ColumnDataType)">
            <label class="control-label">Date Format </label>
            <div class="controls">
                <select class="input-medium" data-ng-required="factory.isDateTypeColumn(fileColumn.ColumnDataType)" 
                    data-ng-model="fileColumn.DateFormat" data-placeholder="Select Date Format">
                    <option value=""></option>
                    <option data-ng-repeat="format in factory.dateFormats">{{format}}</option>
                </select>
            </div>
        </div>

       
        <div class="row-fluid control-group">
            <label class="control-label">Start Date </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="StartDate" class="input-medium" data-ng-required="true" 
                        data-ng-model="fileColumn.StartDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    <div data-ng-show="form.StartDate.$dirty && form.StartDate.$invalid">
                        <span class="field-validation-error" data-ng-show="form.StartDate.$error.required">{{val.Required()}}</span>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="row-fluid control-group">
            <label class="control-label">End Date </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="EndtDate" data-date-start-date="factory.getEndDate(fileColumn.StartDate)" 
                        class="input-medium" data-ng-model="fileColumn.EndDate" bs-datepicker />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>

        
        <div class="row-fluid control-group">
            <label class="control-label">Description </label>
            <div class="controls">
                <input type="text" data-ng-model="fileColumn.Description" placeholder="Enter Description" />
            </div>
        </div>-->
