<div class="row" data-ng-form="fileColumngrid" style="overflow: scroll; height: 400px;" data-ng-show="fileAliasName">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><i class="btn icon-plus" data-ng-click="showAddSingleColumnModal()"></i></th>
                <th>File Column Name </th>
                <th>Position </th>
                <th>Length</th>
                <th>Data Type</th>
                <th>DB Column Name </th>
                <th>Date Format </th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="column in datalayer.dldata.fileDetail.FileColumns | orderBy: 'Position'" data-ng-animate="{ enter: 'animation-enter', leave: 'animation-leave'} ">
                <td>
                    <div>
                        <div class="btn-group">
                            <i class="btn icon-trash" data-ng-click="showDeleteModal(column,$index)"></i>
                            <i class="btn icon-arrow-up" data-ng-disabled="$index==0"
                                data-ng-click="factory.moveUpward($index, datalayer.dldata.fileDetail.FileColumns)"></i>
                            <i class="btn icon-arrow-down" data-ng-disabled="$index==fileDetail.FileColumns.length-1"
                                data-ng-click="factory.moveDownward($index, datalayer.dldata.fileDetail.FileColumns)"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <input type="text" data-ng-model="column.FileColumnName" data-ng-disabled="true" />
                </td>
                <td>
                    <input type="number" class="input-mini" data-ng-disabled="true" min="0" data-ng-model="column.Position" />
                </td>
                <td>
                    <input type="number" class="input-mini" min="0" data-ng-model="column.Length" />
                </td>
                <td>
                    <select class="input-medium" name="ColumnDataType" data-ng-model="column.ColumnDataType" >
                        <option value=""></option>
                        <option data-ng-repeat="type in dldata.dataTypes">{{type}}</option>
                    </select>
                </td>
                <td>
                    <input type="text" data-ng-model="column.TempColumnName" data-ng-pattern="/^\w*$/" />
                </td>
                <td>
                    <select class="input-medium" name="DateFormat" data-ng-show="factory.isDateTypeColumn(column.ColumnDataType)" data-ng-model="column.DateFormat" data-placeholder="Select Date Format">
                        <option value=""></option>
                        <option data-ng-repeat="format in factory.dateFormats">{{format}}</option>
                    </select>
                </td>
                <td>
                    <!--Start Date -->
                    <div class="input-append">
                        <input type="text" name="StartDate" class="input-medium" data-ng-model="column.StartDate" bs-datepicker />
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </td>

                <td>
                    <!--End Date -->
                    <div class="input-append">
                        <input type="text" name="EndtDate" class="input-medium" ui-validate=" '$value > column.StartDate'" data-ng-model="column.EndDate" bs-datepicker />
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </td>
                <td>
                    <input type="text" class="input-medium" data-ng-model="column.Description" placeholder="Enter Description" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row text-center">
    <button class="btn btn-success" data-ng-show="datalayer.dldata.fileDetail.FileColumns.length>0"
        data-ng-click="datalayer.SaveMulti()">
        Save All Columns</button>
</div>

