<form name="performancemanagementForm">
    <cs-form>
        <div class="col-md-10">
            <cs-field field="PerformanceModel.Product" ng-model="PerformParam.Products" ng-change="productChange()" ng-required="true"></cs-field>
            <cs-field field="PerformanceModel.ParamsOn" ng-model="PerformParam.ParamsOn" ng-change="onParamChange(PerformParam.Products)" ng-required="true"></cs-field>

            <div data-ng-if="PerformParam.ParamsOn == 'Product'" data-ng-init="PerformParam.ParamsOnvalue = PerformParam.Products">
                <cs-field field="PerformanceModel.ParamsForProduct" ng-model="PerformParam.ParamsOnvalue" ng-change="fetchParams(PerformParam.Products)" ng-required="true"></cs-field>

            </div>
            <div data-ng-if="PerformParam.ParamsOn == 'Stakeholder' && PerformParam.Products ">
                <cs-field field="PerformanceModel.ParamsForStatkeholder" ng-model="PerformParam.ParamsOnvalue" ng-change="fetchParams(PerformParam.Products)" ng-required="true"></cs-field>

            </div>
            <div data-ng-if="PerformParam.ParamsOn == 'Hierarchy' && PerformParam.Products ">
                <cs-field field="PerformanceModel.ParamsForHierarchy" ng-model="PerformParam.ParamsOnvalue" ng-change="fetchParams(PerformParam.Products)" ng-required="true"></cs-field>

            </div>
            <cs-field field="PerformanceModel.StartDate" ng-model="PerformParam.StartDate" ng-change="PerformParam.EndDate == null" ng-required="true"></cs-field>
            <cs-field field="PerformanceModel.EndDate" ng-model="PerformParam.EndDate"></cs-field>

        </div>
        <div class="col-md-10" data-ng-show="PerformParam.ParamsOnvalue">
            <table class="table table-bordered table-hover table-condensed ">
                <thead>
                    <tr>
                        <td>select</td>
                        <td>Params</td>
                        <td>Weightage</td>
                        <td>Parametar Type</td>
                        <td>Target On</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in performanceMgt">
                        <td>
                            <cs-field field="PerformanceModel.SelectParam" ng-model="performanceMgt[$index].Ischeck" no-label="true"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.Param" no-label="true" ng-model="performanceMgt[$index].Param"
                                      ng-disabled="true"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.Weightage" no-label="true" ng-model="performanceMgt[$index].Weightage"
                                      ng-change="totalWeightage(performanceMgt)" ng-disabled="!performanceMgt[$index].Ischeck"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.ParameterType" no-label="true" ng-model="performanceMgt[$index].ParameterType" ng-change="setTargetOn($index)"
                                      ng-disabled="!performanceMgt[$index].Ischeck"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.TargetOn" no-label="true" ng-model="performanceMgt[$index].TargetOn"
                                      ng-disabled="!performanceMgt[$index].Ischeck || performanceMgt[$index].ParameterType === 'RankBased'"></cs-field>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="2">Total</td>
                        <td colspan="3">
                            <cs-field field="PerformanceModel.Weightage" no-label="true" ng-model="PerformParam.total"
                                      ng-disabled="true" validation="off"></cs-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10 text-right" data-ng-show="PerformParam.ParamsOnvalue">
            <cs-button2 type="save" permission="all" on-click="save(performanceMgt)"></cs-button2>
            <cs-button2 type="cancel" permission="all" on-click="cancel()"></cs-button2>
        </div>
    </cs-form>
</form>