<form name="performancemanagementForm">
    <cs-form>
        <cs-field field="PerformanceModel.Product" ng-model="PerformParam.Products" ng-change="fetchParams(PerformParam.Products)" ng-required="true"></cs-field>
        <div class="col-md-7" data-ng-show="PerformParam.Products">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>select</td>
                        <td>Params</td>
                        <td>Weightage</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in performanceMgt">
                        <td>
                            <cs-field field="PerformanceModel.SelectParam" ng-model="performanceMgt[$index].Ischeck"  no-label="true"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.Param" no-label="true" ng-model="performanceMgt[$index].Param"
                                      ng-disabled="true"></cs-field>
                        </td>
                        <td>
                            <cs-field field="PerformanceModel.Weightage" no-label="true" ng-model="performanceMgt[$index].Weightage"
                                      ng-change="totalWeightage(performanceMgt)" ng-disabled="!performanceMgt[$index].Ischeck"></cs-field>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td></td>
                        <td>Total</td>
                        <td>
                            <cs-field field="PerformanceModel.Weightage" no-label="true" ng-model="PerformParam.total"
                                      ng-disabled="true" validation="off"></cs-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7 text-right" data-ng-show="PerformParam.Products">
            <cs-button2 type="save" permission="all" on-click="save(performanceMgt)"></cs-button2>
            <cs-button2 type="cancel" permission="all" on-click="cancel()"></cs-button2>
        </div>
    </cs-form>
</form>