@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    @using (Html.BeginForm("Upload", "UploadActualData", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel">
            <div class="panel-heading">Upload file to Temp</div>
            <!--Designation and Hierarchy-->
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label">Select File:</label>
                    <div class="controls">
                        <input type="file" id="uploadFile" name="uploadFile" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group span6">
                    <div class="controls">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
            </div>

            @if (ViewBag.Success != null)
            {
                <div class="offset1 span4 alert-success">
                    <span>@ViewBag.Success</span>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="offset1 span4 alert-error">
                    <span>@ViewBag.Error</span>
                </div>
            }
        </div>
    }

</div>
