@{
    ViewBag.Title = "AddStakeholder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div data-ng-app="stkHrchyApp" data-ng-controller="stkHrchyCtrl">   
    <div>
        <table class="table table-bordered table-hover" style="width: 90%">
            <thead>
                <tr>
                    <th>
                        <div class="btn-toolbar">
                            <i class="btn icon-plus" data-ng-click="openModel()"></i>
                        </div>
                    </th>
                    <th>Designation</th>
                    <th>Hierarchy</th>
                    <th>Location Level</th>
                    <th>Reports To</th>
                    <th>IsEmployee</th>
                    <th>Registration</th>
                    <th>Address</th>
                    <th>Working</th>
                    <th>Payment</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input type="text" data-ng-model="search.Designation" style="width: 120px" />
                    </th>
                    <th>
                        <input type="text" data-ng-model="search.Hierarchy" style="width: 100px" />
                    </th>
                    <th>
                        <input type="text" data-ng-model="search.LocationLevel" style="width: 100px" />
                    </th>
                    <th>
                        <input type="text" data-ng-model="search.ReportsTo" style="width: 120px" /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="hierarchy in stkhierarchys | filter:search">
                    <td>
                        <div class="buttonBar">
                            <div class="btn-group">
                                <i class="btn icon-edit" data-ng-click="openModelData(hierarchy)"></i>
                                <i class="btn icon-remove" data-ng-click="deleteHierarchy(hierarchy.Id)"></i>
                            </div>
                        </div>
                    </td>
                    <td>{{hierarchy.Designation}}</td>
                    <td>{{hierarchy.Hierarchy}}</td>
                    <td>{{hierarchy.LocationLevel}}</td>
                    <td>{{hierarchy.ReportsTo}}</td>
                    <td>
                        <showboolean value="hierarchy.HasEmployeeId"></showboolean>
                    </td>
                    <td>
                        <showboolean value="hierarchy.HasRegistration"></showboolean>
                    </td>
                    <td>
                        <showboolean value="hierarchy.HasAddress"></showboolean>
                    </td>
                    <td>
                        <showboolean value="hierarchy.HasWorking"></showboolean>
                    </td>
                    <td>
                        <showboolean value="hierarchy.HasPayment"></showboolean>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div style="width: 300px">
        <form name="form" class="css-form" novalidate>
            <div ng-form='step1form'>
               @* <button class="btn" ng-click="openModel()">Add Hierarchy</button>*@

                <div modal="shouldBeOpen" close="closeModel()" options="modelOption">
                    <div class="modal-header">
                        <h3>Add New Hierarchy</h3>
                    </div>
                    <div class="modal-body">

                        <labeltext text="Designation" ngbind="stkHcy.Designation"></labeltext>

                        <div class="row-fluid" style="margin-left: 10px">
                            <div class="span6">
                                <label>Hierarchy</label>
                            </div>
                            <div class="span6">
                                <select ng-model="stkHcy.Hierarchy" ng-options="c for c in hierarchys" required>
                                    <option value="">-- Select Hierarchy --</option>
                                </select>
                            </div>
                        </div>

                        <div class="row-fluid" style="margin-left: 10px">
                            <div class="span6">
                                <label>Location Level</label>
                            </div>
                            <div class="span6">
                                <select ng-model="stkHcy.LocationLevel" ng-options="c for c in locationLevels" required>
                                    <option value="">-- Select Location --</option>
                                </select>
                            </div>
                        </div>

                        <div class="row-fluid" style="margin-left: 10px">
                            <div class="span6">
                                <label>Reports To</label>
                            </div>
                            <div class="span6">
                                <select ng-model="selectedReportsTo" ng-change="getReportTo(selectedReportsTo)" ng-options="c as c.Designation for c in stkhierarchys" required>
                                    <option value="">-- Select Reports To --</option>
                                </select>
                                {{stkHcy.ReportsTo}}
                            </div>
                        </div>

                        <switchyesno text="Employee Id" ngbind="stkHcy.HasEmployeeId"></switchyesno>
                        <switchyesno text="Mobile No" ngbind="stkHcy.HasMobileNo"></switchyesno>
                        <switchyesno text="Registration" ngbind="stkHcy.HasRegistration"></switchyesno>

                        <switchyesno text="Address" ngbind="stkHcy.HasAddress"></switchyesno>
                        <div data-ng-show="stkHcy.HasAddress" class="well">
                            <fieldset>
                                <switchyesno text="Multiple Address" ngbind="stkHcy.HasMultipleAddress"></switchyesno>
                            </fieldset>
                        </div>

                        <switchyesno text="Working Details" ngbind="stkHcy.HasWorking"></switchyesno>
                        <div data-ng-show="stkHcy.HasWorking" class="well">
                            <switchyesno text="Buckets" ngbind="stkHcy.HasBuckets"></switchyesno>
                        </div>
                        <switchyesno text="Payment Details" ngbind="stkHcy.HasPayment"></switchyesno>
                        <div data-ng-show="stkHcy.HasPayment" class="well">
                            <switchyesno text="Bank Details" ngbind="stkHcy.HasBankDetails"></switchyesno>
                            <switchyesno text="Mobile Travel Elg." ngbind="stkHcy.HasMobileTravel"></switchyesno>
                            <switchyesno text="Variable Payment" ngbind="stkHcy.HasVarible"></switchyesno>
                            <switchyesno text="Fixed Payment Individual" ngbind="stkHcy.HasFixedIndividual"></switchyesno>
                            <switchyesno text="Fixed Summary" ngbind="stkHcy.HasFixedSummary"></switchyesno>
                            <switchyesno text="Service Charge" ngbind="stkHcy.HasServiceCharge"></switchyesno>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success save" ng-click="saveHierarchy(stkHcy)" ng-disabled="!form.$valid">Save</button>
                        <button class="btn btn-warning cancel" ng-click="closeModel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@section scripts{
    <link href="~/ViewModel/boolean.css" rel="stylesheet" />
    <link href="~/ViewModel/checkbox.css" rel="stylesheet" />

    <style type="text/css">
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 400px;
            height: 300px;
        }
    </style>

    <script src="~/ViewModel/stakeHierarchy.js"></script>
}
