<div class="form-horizontal">
    <form name="uploadpincodeform">

        <cs-form layout="12.3.6">
            <cs-field data-ng-model="selected.Product" field="selectedfield.Product"
                      data-ng-change="setPattern(selected.Product)"></cs-field>
        </cs-form>

        <!-- download -->
        <div class="panel panel-default" data-ng-show="selected.Product">
            <div class="panel-heading">Download Missing {{mode.toUpperCase()}}</div>
            <div class="text-center panel-body">
                <cs-button type="add" text="Download" value="Download" data-ng-click="download(selected.Product)" ></cs-button>
            </div>
        </div>

        <!-- upload button -->
        <div ng-form="" name="uploadpincodeform">
            <div class="panel panel-default" data-ng-show="selected.Product">
                <div class="panel-heading">Update Customer {{mode.toUpperCase()}}</div>
                <div class="panel-body">
                    <cs-file-upload ng-model="selected.filename" file-info="selected.fileInfo"
                        validations="fileValidations"></cs-file-upload>
                    <div class="text-center">
                        <cs-button type="add" text="Upload" data-ng-disabled="uploadpincodeform.$invalid" data-ng-click="upload()"></cs-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<!--  <div class="form-group">
          <div class="control-label">Product</div>
          <div class="controls">
              <select data-ui-select2="" class="input-large" data-ng-model="selected.Product" data-ng-change="setPattern(selected.Product)">
                  <option value=""></option>
                  <option data-ng-repeat="p in dldata.ProductList | orderBy:'toString()'" value="{{p}}">{{p}}</option>
              </select>
          </div>
      </div>-->
<!--data-ng-show="dldata.ProductList"-->
