<cs-form>
    <form>
        <div data-ng-if="selectedHierarchy.HasFixed || true">
            <h5 class="modal-header"><b>Fixed Pay</b></h5>
            <!--Basic-->
            <cs-field
                data-ng-model="Payment.FixpayBasic"
                data-ng-required="selectedHierarchy.HasFixed"
                data-ng-change="TotalPayment(Payment.FixpayBasic,Payment.FixpayHra,Payment.FixpayOther)"
                field="paymentModel.FixpayBasic">
            </cs-field>
            <!--HRA-->
            <div  data-ng-show="selectedHierarchy.HasFixedIndividual || true">
                <cs-field
                    data-ng-model="Payment.FixpayHra"
                    data-ng-required="selectedHierarchy.HasFixedIndividual"
                    data-ng-change="TotalPayment(Payment.FixpayBasic,Payment.FixpayHra,Payment.FixpayOther)"
                    field="paymentModel.FixpayHra"></cs-field>
            </div>
        </div>

        <div class="clearfix"></div>

        <div   data-ng-if="selectedHierarchy.HasFixedIndividual ||true">
            <cs-field
                field="paymentModel.FixpayOther"
                data-ng-required="selectedHierarchy.HasFixedIndividual"
                data-ng-change="TotalPayment(Payment.FixpayBasic,Payment.FixpayHra,Payment.FixpayOther)"
                data-ng-model="Payment.FixpayOther">
            </cs-field>
        </div>

        <div class="clearfix"></div>

        <div data-ng-show="selectedHierarchy.HasFixedIndividual || true">
            <table class="table table-bordered table-hover" data-ng-show="Payment.FixpayBasic">
                <thead>
                    <tr>
                        <th data-ng-show="Payment.FixpayBasic">Basic</th>
                        <th data-ng-show="Payment.FixpayBasic">Total ESIC</th>
                        <th data-ng-show="Payment.FixpayHra && Payment.FixpayOther">Allowances</th>
                        <th data-ng-show="Payment.FixpayBasic">Employee PF</th>
                        <th data-ng-show="Payment.FixpayBasic">Employer PF</th>
                        <th>Employee ESIC</th>
                        <th>Employer ESIC</th>
                        <th>Service Charge</th>
                        <th>Service Tax</th>
                        <th>Gross Pay</th>
                    </tr>
                    <tr>
                        <th data-ng-show="Payment.FixpayBasic"></th>
                        <th data-ng-show="Payment.FixpayBasic">Basic + HRA + Other</th>
                        <th data-ng-show="Payment.FixpayHra && Payment.FixpayOther">HRA + Other</th>
                        <th data-ng-show="Payment.FixpayBasic">Basic * {{FixedPay.EmployeePF}}%</th>
                        <th data-ng-show="Payment.FixpayBasic">Basic * {{FixedPay.EmployerPF}}%</th>
                        <th>Total ESIC * {{FixedPay.EmployeeESIC}}%</th>
                        <th>Total ESIC * {{FixedPay.EmployerESIC}}% </th>
                        <th>Basic * {{FixedPay.ServiceCharge}}%</th>
                        <th>Basic * {{FixedPay.ServiceTax}}% </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-ng-show="Payment.FixpayBasic">{{Payment.FixpayBasic}}</td>
                        <td data-ng-show="Payment.FixpayBasic">{{SalDetails.totalNotEsic}}</td>
                        <td data-ng-show="Payment.FixpayHra && Payment.FixpayOther">{{Payment.FixpayHra + Payment.FixpayOther}} </td>
                        <td data-ng-show="Payment.FixpayBasic">{{(SalDetails.pf*1)}}</td>
                        <td data-ng-show="Payment.FixpayBasic">{{(SalDetails.employerPf*1)}}</td>
                        <td>{{SalDetails.esicEmployee}}</td>
                        <td>{{SalDetails.esicEmployer}}</td>
                        <td>{{SalDetails.ServiceCharge}}</td>
                        <td>{{SalDetails.serviceTax}}</td>
                        <td>{{SalDetails.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

        <div  data-ng-show="selectedHierarchy.HasMobileTravel || true">
            <h5  class="modal-header" ><b>Reimbursement elgibility</b></h5>
            <cs-field
                data-ng-required="selectedHierarchy.HasMobileTravel"
                data-ng-model="Payment.MobileElig"
                field="paymentModel.MobileElig"></cs-field>
            <cs-field
                data-ng-required="selectedHierarchy.HasMobileTravel"
                data-ng-model="Payment.TravelElig"
                field="paymentModel.TravelElig"></cs-field>
        </div>
        
        
        <div class="clearfix"></div>

        <div  data-ng-show="selectedHierarchy.HasServiceCharge || true">
            <h5 class="modal-header"><b>Other Charges</b></h5>
            <cs-field
                data-ng-required="selectedHierarchy.HasServiceCharge"
                data-ng-model="Payment.ServiceCharge" 
                field="paymentModel.ServiceCharge">
            </cs-field>
        </div>
        <cs-button 
            type="save"
            permission="Stakeholder,Stakeholder,AddEdit"
            data-ng-click="savePayment(Payment)">
        </cs-button>
    </form>
</cs-form>


<!--<cs-field field="paymentModel.Products"
                      data-ng-model="Payment.Products"></cs-field>
            <cs-field field="paymentModel.BankAccNo"
                      data-ng-model="Payment.BankAccNo"></cs-field>
            <cs-field field="paymentModel.BankAccName"
                      data-ng-model="Payment.BankAccName"></cs-field>
            <cs-field field="paymentModel.BankIfscCode"
                      data-ng-model="Payment.BankIfscCode"></cs-field>
            <cs-field field="paymentModel.FixpayTotal"
                      data-ng-model="Payment.FixpayTotal"></cs-field>
            <cs-field field="paymentModel.StartDate"
                      data-ng-model="Payment.StartDate"></cs-field>
            <cs-field field="paymentModel.EndDate"
                      data-ng-model="Payment.EndDate"></cs-field>-->
