<div data-ng-controller="databaseTablesCtrl">
    <form name="downloadtablesform">
        <div class="row form-horizontal">
            <div>
                <cs-button2 type="save" text="Download" permission="DeveloperDbTables" on-click="downloadTables()"></cs-button2>
                <ul style="height: 200px">
                    <li data-ng-repeat="table in ckbTables">
                        <label>
                            <input type="checkbox" data-ng-model="table.Checked">
                            {{table.Name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

