<div>
    <div class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-3 control-label">Tables</label>
            <div class="col-md-6">
                <select data-ng-model="selectedTable" class="input-large" data-ng-change="fetchData()" data-ui-select2="">
                    <option value=""></option>
                    <option data-ng-repeat="s in dbTables | orderBy: 'toString()'">{{s}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" data-ui-if="gridOptions.showGrid == true">
        <div data-ng-include=" baseUrl + 'Generic/csgrid/grid-buttons.html'"></div>
        <div style="height: 500px" data-ng-grid="gridOptions"></div>
    </div>
</div>
